/*
	Rectangle Template
	http://www.templatemo.com/preview/templatemo_439_rectangle
*/


@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

.green {
	color: #9F3;
}

.orange {
	color: #FC0;
}

.blue {
	color: #06C;
}

/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  display: block;
}

body {
  line-height: 1;
  display: table;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-family: 'robotolight';
}

a {
  color: #5cb48e;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
a:hover {
  color: #333333;
}

h1, h2, h3, h4, h5 {
  color: #333333;
}

::-webkit-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

.site-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
	top: 0;
  left: 0;
  background-image: url(../images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-bg-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(92, 100, 100, 0.4);
}



#page-content {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  top: 3%;
  background-color: transparent;
}



@media screen and (max-width: 992px) {
  #page-content {
    margin-top: 0;
  }
}

#row-content {
  height: 100%;
}


#colonnaSx {
  margin-left: 0%;
  height: 100%;
}

@media screen and  (max-width: 992px) {
  #colonnaSx {
    height: 0%;
  }
}

#colonnaCentrale {
    height: 100%;

}

@media screen and  (max-width: 992px) {
  #colonnaCentrale {
    height: 100%;
    margin-top: 10%;
  }
}

#menu-container {
  height: 100%;
}

.homepage {
  margin-top: 10%;
  height: 100%;
}

.content {
  display: none;
}
#content {
    margin-top: 5%;
}

.box-content {
  background: white;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.box-content .widget-title {
  font-size: 22px;
  color: #333;
  font-family: 'robotolight';
  margin-bottom: 30px;
}

#logo-azienda {
    height: 70px;
    width: 200px;
}
/*Contenuto HomePage*/

.welcome-text {
  position: relative;
  height: 80%;
  text-align: center;
  margin-right: 0;
  margin-left: 0;

}

.righe-homepage {
    position:relative;
    width: 100%;
    overflow: hidden;
}

.welcome-text h2 {
  margin-top: 2%;
  font-size: 35px;
  font-family: 'robotolight';
  margin-bottom: 30px;
  color: white;
  font-weight: bold;

}
.welcome-text p {
  font-size: 18px;
  font-family: 'robotolight';
}



#noteDipendenti {
  position: relative;
  margin-top: 3%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#noteDipendenti::-webkit-scrollbar {
  display: none;
}



/* Contenuto pagina calendario */

.calendario-section {

  height: 80%;
  width: 70%;
  margin-top: 5%;
}

#calendar {
  position: relative;
  height: 100%;
}

.fc-view-container {
  background-color: white;
  margin-top: 10%;
}



.fc-view-container a {
  color: black;

}

.fc-view-container span{
  color: black;

}

.fc-list-item {
  color: black;

}

.fc-day-header span {
  color: black;

}

.fc-day-header a {
  color: black;

}

.fc-header-toolbar {
  height: 50px;
}

.fc-left {
  height: 100%;
}

.fc-center h2 {
  font-size: 40px;
}

/* Menu barra laterale sinistra e menu per piccoli schermi */

#nav {
  margin-top: 30%;
  position: absolute;
  height: 85%;
  overflow-y: scroll;
}

#nav::-webkit-scrollbar {
  display: none;
}

#nav a {
  display: block;
  width: 170px;
  height: 170px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 0 auto;
}



#nav li {
  margin-bottom: 30px;
}

#nav i {
  padding-top: 50px;
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
}


.homebutton {
  background: #004200;
}

.calendarButton {
  background: #008000;

}

.gestioneDipButton {
  /*background: #5c9faf;*/
  background: #00603C;
}

.cercaDipButton{
  background: #002041;
}

.profiloDipButton{
  background: #002F80;

}

.contactbutton {
  background: #40005F;
}

.responsive-menu {
  position: relative;
  text-align: center;
  z-index: 99;
  margin-top: 60px;
  margin-bottom: 60px;
}

.toggle-menu {
  color: white !important;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: 'robotoregular';
  display: inline-block;
}
.toggle-menu i {
  margin-right: 15px;
}

.show-menu {
  background: rgba(92, 180, 142, 0.5);
  display: none;
}
.show-menu li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.show-menu li:last-child {
  border-bottom: 0;
}
.show-menu a {
  padding: 15px 20px;
  display: inline-block;
  width: 90%;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  background: transparent;
}
.show-menu a i {
  margin-right: 15px;
}
