
.profiloDip-section {
    margin-top: 20%;
    height: 600px;
}

#container-profiloDip {
  height: 100%;
  background-color: white;
  overflow: hidden;
}



.profiloDip-divFoto {
  height: 100%;
}


.profiloDip-divFoto img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 300px;
  width: 300px;

}

.profiloDip-divDescrizione {
  height: 100%;
  font-size: 130%;
  color: black;
  text-align: center;
  overflow-y: scroll;
}

.profiloDip-divDescrizione::-webkit-scrollbar {
  display: none;
}


.label-grassetto {
  font-weight: bold;
  font-size:  140%;
  padding-right: 20px;
}

#uploadImg {
    display: none;
}

table.month {
    width: unset;
}

.editProfilo {
    font-size: 0.4em;
}