

.noteArtigiano{
    width: 20% !important;
}

.headerDelHeader {
    height: 45px;
}

.primaCol{
    width: 7% !important;
    cursor: unset !important;
    border-right-color: #ffffff00 !important;
}
