[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
Flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]
