
body {
    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

#page-container{
  background: rgba(88, 77, 103, 0.4);
  z-index: 1
  position: fixed;
  height: 100%;
}



div#row-pagina {
    height: 100%;
}


.col-right {

}

ul#elementi_header{

    width: 100%;
}

div#note_space {
    height: 70%;
}

div#title_space {
    height: 20%;
    text-align: center;
}

.orange {
    color: #FC0;
}

div#title_space h2 {
    margin-top: 2%;
    font-size: 46px;
    font-family: 'robotolight';
    margin-bottom: 30px;
    color: #271515;
    /*font-weight: bold;*/
    display: block;
    width: 100%;
}

div#title_space p {
    display: block;
    width: 100%;
    font-size: 25px;
    font-family: 'robotolight';
}


a.nav-link {
    color: #ffcc00;
    text-align: center;
}

li.nav-item:hover {
    background: #26527e;
}

button.navbar-toggler {
    color: white;
}

div#navbarNavDropdown {
    position: absolute;
    z-index: 1;
    background: #235f94c2;
    width: 30%;
    right: 32%;
}

nav#miniscreen-base_activity > div {
    width: 10%;
    margin: 0 auto;
}