
.colMedium {
    width: 120px !important;
    min-width: 120px !important;
}

.numberInput {
    width: 40% !important;
}



#fornitoreSelect{
    width: 100%;
}



.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}