#dropDownTipologia span{
  //  background-color: green;
    width: 100%;
   // z-index: 0;
}


.colLongString {
    width: 200px !important;
    min-width: 200px !important;
}

.colShortString {
    width: 100px !important;
    min-width: 100px !important;
}

.colNumSmall {
    width: 80px !important;
    min-width: 80px !important;
}

.colNumBig {
    width: 90px !important;
    min-width: 90px !important;
}

.numberInput {
    width: 40% !important;
}



#fornitoreSelect{
    width: 100%;
}



.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

#prezzario {
    font-size: 10px;
}