div#divIntestazione {
    height: 15% !important;
}

div#tabellaContainer{
    height: 80% !important;
}

.whiteBorder {
    border-color: white !important;
}

.numberInput {
    width: 40% !important;
}

.colMedium {
    width: 120px !important;
    min-width: 120px !important;
}

.colBigMedium {
    width: 180px !important;
    min-width: 180px !important;
}

.rowPrimoGruppo {
    text-align: left !important;
    height: 50px;
    font-size: x-large !important;
    padding-left: 3%;
}