
#paginaFornitori{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
}

#divIntestazione{
    height: 15%;
}

#divIntestazione > span {
    padding-bottom: 2%;
}

#tableSection{
    display: block;
    position: relative;
    height: 75%;
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;
    overflow-y: scroll;
    border-radius: 0;
}

#tableSection::-webkit-scrollbar {
    width: 12px;

}

/* Track */
#tableSection::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#tableSection::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,101,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#tableSection::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,101,0.4);
}

.whiteBorder {
    border-color: white !important;
}

.numberInput {
    width: 40% !important;
}

.colMedium {
    width: 120px !important;
    min-width: 120px !important;
}

.colBigMedium {
    width: 180px !important;
    min-width: 180px !important;
}

.rowPrimoGruppo {
    text-align: left !important;
    height: 50px;
    font-size: x-large !important;
    padding-left: 3%;
}

#spanAddFornitore{
    height: 100%;
    display: inline-block;
    margin-right: 3%
}

#spanBackTo{
    height: 100%;
    display: inline-block;
    margin-right: 3%
}


#searchContainer{
   margin-left: 42%;
   height: 30%;
}

#searchFornitore {
    height: 100%;
}

#searchFornitore input[type="text"] {
    background: #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width: 200px;
    height: 100%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#searchFornitore input[type="text"]:focus {
    background:  #fcfcfc;
    color: #6a6f75;
    width: 250px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadoackground-: #3e8e41w: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#addFornitore{
    margin-right: 2%;
    font-size: 2em;
    cursor: pointer;
    color: #e6e6e6;
}


#addFornitore:hover {
    color: #ffc107;
}

#back {
    margin-right: 2%;
    font-size: 2em;
    cursor: pointer;
    color: #e6e6e6;
}

#back:hover{
    color: #ffc107;
}

.tabContainer{
    width: 50%;
    margin-left: 25%;
    border-radius: 16px;
    overflow: hidden;
}

.tableFornitore {

    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 13px;

}


.tableFornitore th{

    text-align: center;
    text-transform: uppercase;

}

.tableFornitore tr{

    height: 40px;

}

.headFornitore{
        background-color: #002933;
}

.bodyFornitore {
    background-color: #DDDDDD;
    color: #4B4B4B;
}

.bodyFornitore td{
    width: 25%;
}

.modificaPagamenti {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.modificaPagamenti:hover{
    color: #ffc107;

}



.intestazioneBlu {
    background-color: blue !important;
}

.intestazioneRosso {
    background-color: red !important;
}

.intestazioneArancio {
    background-color: orange !important;
}

.intestazioneVerde{
    background-color: green !important;
}

.intestazioneOliva{
    background-color: #808000 !important;
}

.intestazioneNocciola{
    background-color: #A13F00 !important;
}

.intestazionePino{
    background-color: #37605E !important;
}

/* Antiman */

.button {
	//float: left;
	min-width: 150px;
	max-width: 250px;
	//display: block;
	//margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}


.button--antiman {
	background: none;
	border: none;
	//height: 60px;
}
.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman > span {
	padding-left: 0.35em;
}
.button--antiman::before,
.button--antiman::after {
	content: '';
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
	border: 2px solid #37474f;
	opacity: 0;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}
.button--antiman.button--border-thin::before {
	border-width: 1px;
}
.button--antiman.button--border-medium::before {
	border-width: 2px;
}
.button--antiman.button--border-thick::before {
	border-width: 3px;
}
.button--antiman.button--inverted::before {
	border-color: #7986cb;
}
.button--antiman.button--inverted-alt::before {
	border-color: #3f51b5;
}
.button--antiman::after {
	background: #fff;
}
.button--antiman.button--inverted::after {
	background: #7986cb;
}
.button--antiman.button--inverted-alt::after {
	background: #3f51b5;
}
.button--antiman.button--inverted:hover {
	color: #7986cb;
}
.button--antiman.button--inverted-alt:hover {
	color: #3f51b5;
}
.button--antiman:hover::before {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
	opacity: 0;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

.button--round-l {
	border-radius: 40px;
}


.firstCtrlBtn {
    margin-left: 0%;
}

.ctrlBtn {
    font-size: 2em;
    color: #e6e6e6;
    margin-right: 1%;
    cursor: pointer;
}

.ctrlBtn:hover{
    color: #ffc107;
}

.sweet-alert {
    left: 37% !important;
}

div.swal-form label{
    margin-right: 5%;
}

input#trasporto {
    width: 20%;
}

input#imballo {
    width: 20%;
}

input#montaggio {
    width: 20%;
}

