
.header_home {
    margin-bottom: 50px;
}

.header_home .container {
    margin: 0;
}

div#header_left {
    width: 60%;
    height: 50px;
    display: inline-block;
}

div#header_right {
    height: 50px;
    width: 85%;

}


div.nav-item:hover{
    /*margin-left: 20%;*/
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    /* z-index: 0; */
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 2px;


}

a.nav-link.headerItem {
    color: white;
    font-size: 25px;
    cursor: pointer;
}




#logoAzienda > img {
    width: 170px;
    cursor: pointer;
}

#logoAzienda > img:hover {
    background-color: #00000000 !important;
}


#header_left a {
    font-size: 30px;
}

.header-section .nav-item{
    display: inline-block;

}

#header_left .nav-item {
    margin-left: 18px;

}

.raggruppamento-nav-item{
    display: inline-block;
}

div#raggruppamento-header-right {
    float: right;
}

.btn-outline-success {
    color: #feca08;
    border-color: #feca08;
}

.btn-outline-success:hover {
    background: #feca08;
    border-color: #feca08;
}



div#areaNotifiche {
    width: 15%;
    height: 0px;
    background: white;
    position: absolute;
    top: 50px;
    right: -4px;
    animation-duration: 2s;
    z-index: 2;
    border-radius: 2%;
}

#zonaTitolo_areaAlertChatHeader {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #edb75554;
    margin: 0;
    padding: 10px;
}

#zonaTitolo_areaAlertChatHeader label {
    color: #4c4c4c;
    font-family: 'robotolight';
    font-size: 14px;
    margin: 0 auto;
    overflow-y: auto;
}

div#zonaContenuto_areaAlertChatHeader {
    margin: 0;
    width: 100%;
    height: 80%;
}