
    <div class="container-contact100 container-completaProfilo" id="container-contact100">
        <div class="wrap-contact100" id="wrap-contact100">

			<form  id="form-regCli" class="contact100-form validate-form" method="post" action="{{url_for('accoglienza', error=0)}}">
                {{form.hidden_tag()}}

				<span class="contact100-form-title">
					Accoglienza cliente
				</span>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Nome<span class="asteriscoRosso">*</span></span>
					{{form.nome}}
				</div>

                <div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Cognome<span class="asteriscoRosso">*</span></span>
			        {{form.cognome}}
				</div>

                <div class="wrap-input100 " >
					<span class="label-input100">Indirizzo<span class="asteriscoRosso">*</span></span>
		            {{form.indirizzo}}
				</div>

                <div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Telefono<span class="asteriscoRosso">*</span></span>
			        {{form.telefono}}
				</div>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Email</span>
				    {{form.email}}
				</div>

                <div class="radioLeft wrap-contact100-form-radio">
                    {{form.difficolta}}

                </div>

                <div class="radioLeft wrap-contact100-form-radio">

                    {{form.tipologia}}

                </div>

                <div class="radioLeft wrap-contact100-form-radio">

                    {{form.referenza}}

                </div>

                <div class="wrap-contact100-form-check">
                    <div class="contact100-form-check m-t-15">
                        {{form.sopraluogo}}
                        <label class="label-check100" for="sopraluogo">
                           <span>Necessario sopralluogo</span>
                        </label>
                    </div>
                </div>

				<div class="wrap-input100" >
					<span class="label-input100">Lavorazione<span class="asteriscoRosso">*</span></span>
					{{form.lavorazione}}
				</div>


			</form>
            <div class="container-contact100-form-btn">
                <button id="btnRegCli" class="contact100-form-btn">
                    <span>
							Registra cliente

						</span>
                </button>
            </div>
		</div>
    </div>
    <script>
                $.getScript("{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}");
                $.getScript("{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}");
                $.getScript("{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}");
                $.getScript("{{url_for('static', filename='form/vendor/select2/select2.min.js') }}");
                $.getScript("{{url_for('static', filename='form/js/main.js')}}");
    </script>

    <script>
        $("#form-regCli input").addClass("input100");
        $("textarea").addClass("input100");

        $("ul#difficolta").prepend("<span class='radio-label label-input100'>Difficoltà cliente: </span>");
        $("ul#difficolta li").addClass("figliDifficolta");
        $(".figliDifficolta input").addClass("input-radio100");
        $(".figliDifficolta label").addClass("label-radio100");
        $(".figliDifficolta").wrap("<div class='contact100-form-radio'></div>");
        $("#difficolta-0").attr("checked", "checked");

        $("ul#tipologia").prepend("<span class='radio-label label-input100'>Tipologia cliente: </span>");
        $("ul#tipologia li").addClass("figliTipologia");
        $(".figliTipologia input").addClass("input-radio100");
        $(".figliTipologia label").addClass("label-radio100");
        $(".figliTipologia").wrap("<div class='contact100-form-radio'></div>");
        $("#tipologia-0").attr("checked", "checked");

        $("ul#referenza").prepend("<span class='radio-label label-input100'>Referenza: </span>");
        $("ul#referenza li").addClass("figliReferenza");
        $(".figliReferenza input").addClass("input-radio100");
        $(".figliReferenza label").addClass("label-radio100");
        $(".figliReferenza").wrap("<div class='contact100-form-radio'></div>");
        $("#referenza-0").attr("checked", "checked");

        $('input#sopraluogo').addClass("input-check100");


      $('form#form-regCli').on('submit',function(e){
            e.preventDefault();
            $.ajax({
                type     : "POST",
                cache    : false,
                url      : $(this).attr('action'),
                data     : $(this).serialize(),
                success  : function(data) {
                   $(".accoglienza-section").load("{{url_for('accoglienza', error=1)}}");

                }
            });

        });

        function registraClienteAlert(){

            var form=$('form#form-regCli');
            var nomeCliente = $('input#nome').val();
            var cognomeCliente = $('input#cognome').val();
            var indirizzoCliente = $('input#indirizzo').val();

			 swal({
              title: "Registrazione cliente",
              text: "Si sta per registrare un nuovo cliente,\n"+
			            "passare alla pagina del preventivo al termine?",
              type: 'info',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: "procedere col preventivo",
              cancelButtonText: "registra soltanto",
            }).then((result) => {
              if (result.value) {

                /*  var url='apriPaginaClienteAccoglienza/'+nomeCliente+ '/'+cognomeCliente;
                  console.log(url + "  dai" );
                  form.submit();
                  window.location=url;*/
                  form.submit();

              }else {
                form.submit();

              }
            });


		}


		$('#btnRegCli').attr('onclick', 'registraClienteAlert()');


    </script>

    <script>

    function stampaErrori(){
            /*
            Questo script permette di stampare gli errori di compilazione del form rilevati nel lato server.
            Poichè lo script viene modificato da flask è necessario inserirlo qua.
        */

           function showValidate(input) {
                var thisAlert = $(input).parent();

                $(thisAlert).addClass('alert-validate');

                $(thisAlert).append('<span class="btn-hide-validate">&#xf136;</span>')
                $('.btn-hide-validate').each(function(){
                    $(this).on('click',function(){
                       hideValidate(this);
                    });
                });
            }

            function hideValidate(input) {
                var thisAlert = $(input).parent();
                $(thisAlert).removeClass('alert-validate');
                $(thisAlert).find('.btn-hide-validate').remove();
            }

        /*Variabile necessaria per evitare che nel ciclo for di flask venga continuamente aggiunta
        classe "validate-input" ai tag input*/
            var notValidated;

    /*=================================Imposta stampa errore nome=====================================================*/
         console.log("ci provo");
            notValidated=true;
            {% for error in form.nome.errors %}
             console.log("c'è un errore o forsde no");
            if(notValidated){
                $("div:has(> input#nome)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#nome)").attr("data-validate", "{{error}}");
            showValidate($("input#nome"));

            {% endfor %}

    /*====================================================================================================================*/
    /*=================================Imposta stampa errore cognome=====================================================*/

            notValidated=true;
            {% for error in form.cognome.errors %}

            if(notValidated){
                $("div:has(> input#cognome)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#cognome)").attr("data-validate", "{{error}}");
            showValidate($("input#cognome"));

            {% endfor %}

    /*====================================================================================================================*/
    /*=================================Imposta stampa errore indirizzo=====================================================*/

            notValidated=true;
            {% for error in form.indirizzo.errors %}

            if(notValidated){
                $("div:has(> input#indirizzo)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#indirizzo)").attr("data-validate", "{{error}}");
            showValidate($("input#indirizzo"));

            {% endfor %}

    /*====================================================================================================================*/
    /*=================================Imposta stampa errore telefono=====================================================*/

            notValidated=true;
            {% for error in form.telefono.errors %}

            if(notValidated){
                $("div:has(> input#telefono)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#telefono)").attr("data-validate", "{{error}}");
            showValidate($("input#telefono"));

            {% endfor %}


    /*====================================================================================================================*/


    /*=================================Imposta stampa errore email=====================================================*/

            notValidated=true;
            {% for error in form.email.errors %}

            if(notValidated){
                $("div:has(> input#email)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#email)").attr("data-validate", "{{error}}");
            showValidate($("input#email"));

            {% endfor %}

    /*====================================================================================================================*/

    /*=================================Imposta stampa errore lavorazione=====================================================*/

            notValidated=true;
            {% for error in form.lavorazione.errors %}

            if(notValidated){
                $("div:has(> input#lavorazione)").addClass("validate-input");
                notValidated=false;
            }
            $("div:has(> input#lavorazione)").attr("data-validate", "{{error}}");
            showValidate($("input#lavorazione"));

            {% endfor %}

    /*====================================================================================================================*/
    }

    stampaErrori();
    </script>

