    <div class="container-contact100 container-completaProfilo" id="container-contact100">
        <div class="wrap-contact100" id="wrap-contact100">

			<form  id="form-regCli" class="contact100-form validate-form" method="post" action="accoglienza">
                {{form.hidden_tag()}}

				<span class="contact100-form-title">
					Accoglienza cliente
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nome<span class="asteriscoRosso">*</span></span>
					{{form.nome}}
				</div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Cognome<span class="asteriscoRosso">*</span></span>
			        {{form.cognome}}
				</div>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Indirizzo<span class="asteriscoRosso">*</span></span>
		            {{form.indirizzo}}
				</div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Telefono<span class="asteriscoRosso">*</span></span>
			        {{form.telefono}}
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span>
				    {{form.email}}
				</div>

                <div class="wrap-contact100-form-radio">
                    {{form.difficolta}}

                </div>

                <div class="wrap-contact100-form-radio">

                    {{form.tipologia}}

                </div>

                <div class="wrap-contact100-form-radio">

                    {{form.referenza}}

                </div>

                <div class="wrap-contact100-form-check">
                    <div class="contact100-form-check m-t-15">
                        {{form.sopraluogo}}
                        <label class="label-check100" for="sopraluogo">
                           <span>Necessario sopraluogo</span>
                        </label>
                    </div>
                </div>

				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100">Lavorazione<span class="asteriscoRosso">*</span></span>
					{{form.lavorazione}}
				</div>


			</form>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    {{form.submit}}
                </button>
            </div>
		</div>
    </div>

    <script>
        $("input").addClass("input100");
        $("textarea").addClass("input100");

        $("ul#difficolta").prepend("<span class='radio-label label-input100'>Difficoltà cliente: </span>");
        $("ul#difficolta li").addClass("figliDifficolta");
        $(".figliDifficolta input").addClass("input-radio100");
        $(".figliDifficolta label").addClass("label-radio100");
        $(".figliDifficolta").wrap("<div class='contact100-form-radio'></div>");
        $("#difficolta-0").attr("checked", "checked");

        $("ul#tipologia").prepend("<span class='radio-label label-input100'>Tipologia cliente: </span>");
        $("ul#tipologia li").addClass("figliTipologia");
        $(".figliTipologia input").addClass("input-radio100");
        $(".figliTipologia label").addClass("label-radio100");
        $(".figliTipologia").wrap("<div class='contact100-form-radio'></div>");
        $("#tipologia-0").attr("checked", "checked");

        $("ul#referenza").prepend("<span class='radio-label label-input100'>Referenza: </span>");
        $("ul#referenza li").addClass("figliReferenza");
        $(".figliReferenza input").addClass("input-radio100");
        $(".figliReferenza label").addClass("label-radio100");
        $(".figliReferenza").wrap("<div class='contact100-form-radio'></div>");
        $("#referenza-0").attr("checked", "checked");

        $('input#sopraluogo').addClass("input-check100");


        function registraClienteAlert(){

            var form=$('form#form-regCli');
            var nomeCliente = $('input#nome').attr('value');
            var cognomeCliente = $('input#cognome').attr('value');

			swal({

			title: "Registrazione cliente " + nomeCliente,
			text: "Si sta per registrare un nuovo cliente,\n"+
			            "passare alla pagina del preventivo al termine?",
			type: "info",
			showCloseButton: true,
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "procedere col preventivo",
			cancelButtonText: "registra soltanto",
			 },
			function(isConfirm){
				if (isConfirm)
				{
					form.submit();


				}
				else {
					swal("", "Operazione Annullata", "error");

				} });


		}

		$('input#submit').attr('onclick', 'registraClienteAlert()');

    </script>