{% extends "paginaBase.html" %}

{% block content %}

    <script>

        $(window).on('load', function(){
            swal({
                title: "Operazione completata",
                text: "username: {{username}}\npassword: {{password}}",
                icon: "success",
                type: "success",
                confirmButtonText: "Ok",
                closeOnConfirm: true
                },
                function(){
                    window.location.href = "{{url_for('login')}}"
                }
             );
         });

    </script>

    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://debtux:80/notifica');

        socket.on('connect', function() {
            console.log('connected');
            socket.emit('registrazione_effettuata',   {'dipendente_registrato': '{{username}}', 'responsabile': '{{creatoreCredenziali}}'} );
        });



    </script>
{% endblock %}
