{% extends "paginaBase.html" %}

{% block content %}

    <script  type="text/javascript" charset="utf-8">

        var socket = io.connect("{{sockUrl}}"+'/notifica');

        $(window).on('load', function(){

            swal({
                title: "Operazione completata",
                text: "username: {{username}}\npassword: {{password}}",
                type: "success",
                confirmButtonText: "Ok",
            }).then((result) => {

                    window.location.href = "{{url_for('login')}}"
                    {% if creatoreCredenziali %}

                        socket.emit('registrazione_effettuata',   {'dipendente_registrato': '{{username}}', 'responsabile': '{{creatoreCredenziali}}'} );

                    {% endif %}
            });

         });

    </script>


{% endblock %}
