<div class="row " id="container-gestioneDip">
    <span class="contact100-form-title">
        Gestione Dipendenti
    </span>

    <div id="nuovoDipendenteBar">
        <form>
            <div class="field">
                <select style="display:none">
                    <option>Commerciale</option>
                    <option>Tecnico</option>
                    <option>Capocantiere</option>
                </select>
                <div class="visible-select">
                    <a class="chosen-one">
                       <span>Commerciale</span>
                       <i class="fa fa-angle-down"></i>
                    </a>

                    <div class="select-options">
                        <ul class="options-list">
                            <li class="option-el">Commerciale</li>
                            <li class="option-el">Tecnico</li>
                            <li class="option-el">Capocantiere</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="field"><input id="dir" type="checkbox"><label for="dir">Dirigente</label></div>
            <div class="field">
                <input type="text" placeholder="Email a cui inviare le credenziali">
            </div>
            <div class="field"><button>Genera credenziali</button></div>
        </form>
    </div>

    <div class="wrap-contact100" id="contenutoGestDip">

        <div class="row" id="rigaCredenziali">

            <form id="formTipoDip" class="contact100-form validate-form" method="post" action="gestioneDip">

                    {{form.hidden_tag()}}



                <div class="wrap-input100 input100-select bg1" data-validate="Campo obbligatorio">
                    <span class="label-input100">Tipologia dipendente</span>
                    <div>
                        {{form.tipo_dip}}
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1" data-validate="Campo obbligatorio">
                    <span class="label-input100">Email dipendente</span>
                    <div>
                        {{form.email_dip}}

                    </div>
                </div>


                <div class="wrap-contact100-form-check">
                    <div class="contact100-form-check m-t-15">
                         {{form.dirigente}}
                        <label class="label-check100" for="dirigente">
                           <span class="white">Dirigente</span>
                        </label>
                    </div>
			    </div>

                        {{form.username}}
                        {{form.password}}


            </form>
            <span class="contact100-form-title button-title">
                Genera credenziali
            </span>

            <button onclick="newDipFittAllert()" id="generaCredenziali"></button>


        </div>
    </div>


</div>

<!-- Common Vendors
<script src="{{url_for('static', filename='vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{url_for('static', filename='vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js') }}"></script>
<script src="{{url_for('static', filename='vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
<script src="{{url_for('static', filename='vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
<script src="{{url_for('static', filename='vendors/bower_components/ng-table/dist/ng-table.min.js') }}"></script>
 -->
<script type="text/javascript">

    form= $('#formTipoDip');
    form.addClass("bella");
    $('input#dirigente').addClass("input-check100");
    $('select#tipo_dip').addClass("js-select2");
    $('input#username').hide();
    $('input#password').hide();
    $('input#username').attr("value", "{{form.username.data}}");
    $('input#password').attr("value",  "{{form.password.data}}");

    var username = $('input#username').attr("value");
    var password = $('input#password').attr("value");


    function newDipFittAllert(){
        var classe=$('select#tipo_dip option:selected').text();
        if($('input#dirigente').is(':checked')){
            classe= classe + " dirigente"
        }
        swal({   title: "Stai per aggiungere un nuovo dipendente\n"+ classe,
            text: "Sei sicuro di voler procedere?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sono sicuro!",
            cancelButtonText: "Ho sbagliato...",
            closeOnConfirm: false,
        }, function(isConfirm) {
            if (isConfirm) {
                    swal({
                        title: "Operazione eseguita!",
                        text: "username: "+username+"\npassword: "+password,
                        icon: "success",
                        type: "success",
                        confirmButtonText: "ok",
                    }, function(isConfirm){
                        form.submit();
                    });


            }else {
              swal("", "Operazione Annullata", "error");
            }
        });


      /*  ).then((result) => {
              if (result.value) {
                     swal({
                    title: "Operazione eseguita!",
                    text: "username: "+username+"\npassword: "+password,
                    icon: "success",
                    type: "success",
                    confirmButtonText: "ok",
                    }).then((result) => {
                        form.submit();
                    });


              }else {
                swal("", "Operazione Annullata", "error");
              }
            });*/

    }


	//	$('input#submit').attr('onclick', 'JSalert()');

    $.getScript("{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}");
    $.getScript("{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}");
    $.getScript("{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}");
    $.getScript("{{url_for('static', filename='form/vendor/select2/select2.min.js') }}");
    $.getScript("{{url_for('static', filename='form/js/main.js')}}");
</script>