<ul class="header-inner">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><img id="logo-azienda" src="{{url_for('static', filename='images/logo-azienda.png') }}"></a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li id="top-search">
                <a class="tm-search" href="" data-ng-click="hctrl.openSearch()"></a>
            </li>

            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-notification" href=""><i class="tmn-counts">0</i></a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" >
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="{{url_for('static', filename='images/sys_notifica.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Notifica di sistema</div>
                                        <small class="lv-small"></small>
                                    </div>
                                </div>
                                <div class="add-tl-actions">
                                  <a class="zmdi zmdi-close" data-tl-action="dismiss" data-ng-click="tctrl.addTodoStat = false; $event.stopPropagation()"></a>
                                </div>
                            </a>
                        </div>
                        
                        <div class="clearfix"></div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>

            <li class="hidden-xs" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
                <a class="tm-chat" href=""></a>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <input type="text" placeholder="Cerca qua i tuoi clienti...">
    <i id="top-search-close" data-ng-click="hctrl.closeSearch()">&times;</i>
</div>
