
<ul class="header-inner">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><img id="logo-azienda" src="{{url_for('static', filename='images/logo-azienda.png') }}"></a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li id="top-search">
                <a class="tm-search" href="" data-ng-click="hctrl.openSearch()"></a>
            </li>


            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-notification" href=""><i id="counterNotifiche" class="tmn-counts">{{numNotifiche}}</i></a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                          {% raw %}
                        <div id="corpoNote" class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        {% endraw %}
                                        <img class="lv-img-sm" ng-src="{{url_for('static', filename='images/sys_notifica.png') }}" alt="">
                                        {% raw %}
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.titolo }}</div>
                                        <small class="lv-small">{{ w.contenuto }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>
            {% endraw %}
            <li class="hidden-xs" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
                <a class="tm-chat" href=""></a>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <input type="text" placeholder="Cerca qua i tuoi clienti...">
    <i id="top-search-close" data-ng-click="hctrl.closeSearch()">&times;</i>
</div>
<!--================================= JS Form =================================================================-->
       <script src="{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}"></script>
       <script src="{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}"></script>
       <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
       <script src="{{url_for('static', filename='form/vendor/select2/select2.min.js') }}"></script>
<!--===========================================================================================================-->

<!--
<script type="text/javascript" charset="utf-8">

    function aggiornaNotifiche(){

        counter = 0;

        {% for note in notifiche %}
            counter +=1;
            console.log();

            titolo="{{note.titolo}}"
            contenuto="{{note.contenuto}}"


            console.log(titolo );

            $('div#corpoNote').append(
              " <a class=\"lv-item\" ng-href=\"\" >" +
                               " <div class=\"media\"> " +
                                  "  <div class=\"pull-left\"> " +
                                      "  <img class=\"lv-img-sm\" ng-src=\"{{url_for('static', filename='images/sys_notifica.png') }}\" alt=\"\"> " +
                                   " <\/div> "+
                                    "<div class=\"media-body\">"+
                                       " <div class=\"lv-title\">" + titolo + "<\/div> " +
                                     "   <small class=\"lv-small\">"+ contenuto +"<\/small> " +
                                   " <\/div> " +
                                "<\/div>"+
                            "<\/a>"
             );





        {% endfor %}




        $('i#numeroNotifiche').text(counter);


    }

    aggiornaNotifiche()


</script>
-->