
<ul class="header-inner">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a href="{{url_for('homepage')}}" ><img id="logo-azienda" src="{{url_for('static', filename='images/logo-azienda.png') }}"></a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li id="top-search">
                <a class="tm-search" href="" data-ng-click="hctrl.openSearch()"></a>
            </li>


            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-notification" href=""><i id="counterNotifiche" class="tmn-counts">{{numNotifiche}}</i></a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                        </div>
                          {% raw %}
                        <div id="corpoNote" class="lv-body">
                            <a onclick="gestioneNotifica($(this));" class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        {% endraw %}
                                        <img class="lv-img-sm" ng-src="{{url_for('static', filename='images/sys_notifica.png') }}" alt="">

                                        {% raw %}
                                    </div>
                                    <div class="media-body {{ w.tipologia }} {{w.numero_nota}}">
                                        <div class="lv-title">{{ w.titolo }}</div>
                                        <small class="lv-small">{{ w.contenuto }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>
            {% endraw %}
            <li>
                <a id="full-screen" class="full-screen"></a>
            </li>

        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <form  method="post" action="apriPaginaCliente">
        {{form.hidden_tag()}}

        {{form.nome_cognome_indirizzo(list='clienti', autocomplete="off")}}
       <!-- <input type="text"  list="clienti"  placeholder="Cerca qua i tuoi clienti..."> -->
        <i id="top-search-close" data-ng-click="hctrl.closeSearch()">&times;</i>
                 <datalist  id="clienti">

                     {% for cliente in listaClienti %}
                        <option value="{{cliente.cognome}} . {{cliente.nome}} . {{cliente.indirizzo}}" >
                     {% endfor %}

                </datalist>

    </form>

</div>
<!--================================= JS Form =================================================================-->
       <script src="{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}"></script>
       <script src="{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}"></script>
       <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
       <script src="{{url_for('static', filename='form/vendor/select2/select2.min.js') }}"></script>
<!--===========================================================================================================-->
    <script>
      /*  var socketHome = io.connect("{{sockUrl}}"+'/home');

        socketHome.on('connect', function() {
            console.log('connected');


            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });*/

        var socketNotifica = io.connect("{{sockUrl}}"+'/notifica');

        $("input#nome_cognome_indirizzo").attr("list", "clienti");
        $("input#nome_cognome_indirizzo").attr("placeholder", "Cerca qua i tuoi clienti...");


        $(".full-screen").click(function(){
            var elem = document.documentElement;
            if (elem.webkitRequestFullscreen) {
              elem.webkitRequestFullscreen();
            }

            $(this).css('background-image', '{{url_for("static", filename="headerAndForm/img/icons/fullscreen-my-white-close.png") }}')
        });

        $('.lv-item').mouseover(function(){
            alert('dai');
        });

        var gestioneNotifica= function($this){

            //alert($this.html());

            $('#corpoNote').on( 'scroll', function(){
                $('.Hunter-pop-up').remove();
            });

            var typeOfNote=$this.children('.media').children('.media-body').attr('class').split(' ')[1];
            var numOfNote=$this.children('.media').children('.media-body').attr('class').split(' ')[2];

            var content='';
            var titolo=''

            if( typeOfNote == 'richiestaFerie' )
            {

                content='<div class="panel-heading subtitle"> Nota aggiuntiva ( opzionale ) </div> \
                 <div class="panel-body form-inline dept1"> \
                    <textarea id="notaVersoDipendente"></textarea> \
                    <div id="divCtrlButtonNotifica"><button id="accettaRichiestaFerie">Accetta</button><button id="declinaRichiestaFerie">Declina</button></div>\
                 </div>';

                 titolo="Risposta a richiesta ferie";

            }
            else if( typeOfNote == 'commonNote' )
            {

                content='<div class="panel-heading subtitle"> Eliminare la nota? <div id="divCtrlButtonCommonNotifica"> <button id="eliminaNota">Elimina</button> </div></div>';

                 titolo="Opzioni nota";

            }


            $('body').append(
                '<div id="popupEvent-notifica" style="display:none"> \
                    <div> \
                        <div class="panel panel-default">'+
                         content +
                        '</div> \
                    </div> \
                </div>'
            );

            var popupEvent= function(){

                if( typeOfNote == 'richiestaFerie' )
                {

                    $("#accettaRichiestaFerie").click(function(){
                        var notaDirigente=$('#notaVersoDipendente').val();


                        socketNotifica.emit("accetta_ferie",
                                            {
                                                "dirigente": "{{dipendente.username}}",
                                                "numero_notifica": numOfNote,
                                                "nota_dirigente": notaDirigente
                                            });


                        $('.Hunter-pop-up').remove();



                    });

                    $("#declinaRichiestaFerie").click(function(){

                        var notaDirigente=$('#notaVersoDipendente').val();


                        socketNotifica.emit("declina_ferie",
                                            {
                                                "dirigente": "{{dipendente.username}}",
                                                "numero_notifica": numOfNote,
                                                "nota_dirigente": notaDirigente
                                            });


                        $('.Hunter-pop-up').remove();
                    });


                }
                else if( typeOfNote == 'commonNote' )
                {
                    $('#eliminaNota').click(function(){

                        socketNotifica.emit("elimina_nota",
                                             {
                                                "dipendente": "{{dipendente.username}}",
                                                "numero_notifica": numOfNote

                                             });

                        //elimino la nota dall'elenco delle note e decremento il relativo counter
                        $this.remove();

                        var oldNumNote=parseInt( $('#counterNotifiche').text() );

                        $('#counterNotifiche').text(oldNumNote-1)

                        $('.Hunter-pop-up').remove();

                    });

                }

            };

            $this.hunterPopup({

                width: '320px',
                height: '200px',
                title: titolo,
                content: $('#popupEvent-notifica'),
                placement: 'right',
                event: popupEvent

            });

            $this.trigger('launch-popup-click');

        };
    </script>