{% extends "paginaBase.html" %}

{% block content %}

<div id="page-wrapper">


  <div class="visible-xs visible-sm responsive-menu">
    <a href="#" class="toggle-menu">
        <i class="fa fa-bars"></i> Show Menu
    </a>
    <div class="show-menu">
      <ul class="main-menu">
        <li>
            <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
        </li>
        <li>
            <a class="show-2 calendarButton" href="#"><i class="fa fa-book"></i>Agenda</a>
        </li>
          {% if dipendente.dirigente%}
        <li>
            <a class="show-3 gestioneDipButton" href="#"><i class="fa fa-user-plus"></i>Gestione <br/> Dipendenti</a>
        </li>
          {% endif %}
          {% if dipendente.classe == 'commerciale' or  dipendente.dirigente %}
        <li>
            <a class="show-4 accoglienzaButton" href="#"><i class="fa fa-address-book-o"></i>Accogli <br/> Cliente</a>
        </li>
          {% endif %}

        <li>
            <a class="show-5 profiloDipButton" href="#"><i class="fa fa-address-card"></i> Profilo Personale </a>
        </li>
        <li>
            <a class="show-6 contactbutton" href="#"><i class="fa fa-envelope"></i>Invia un email</a>
        </li>
      </ul>
    </div>
  </div>


<!--==================================================================================================-->


  <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
  <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

  <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

  <section id="main">
    <section id="content">
      <div class="container" id="page-content">

        <div class="row" id="row-content">

          <div id="colonnaSx" class="col-md-2 hidden-sm">

            <nav id="nav" class="main-navigation hidden-xs hidden-sm">
              <ul class="main-menu">
                <li>
                    <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a class="show-2 calendarButton" href="#"><i class="fa fa-book"></i>Agenda</a>
                </li>
                {% if dipendente.dirigente%}
                <li>
                    <a class="show-3 gestioneDipButton" href="#"><i class="fa fa-user-plus"></i>Gestione <br/> Dipendenti</a>
                </li>
                {% endif %}

                {% if dipendente.classe == 'commerciale' or  dipendente.dirigente  %}
                <li>
                    <a class="show-4 accoglienzaButton" href="#"><i class="fa fa-address-book-o"></i>Accogli <br/> Cliente</a>
                </li>
                {% endif %}
            <!--      <li>
                    <a class="show-4 cercaDipButton" href="#"><i class="fa fa-search"></i>Cerca <br/> Dipendente</a>
                </li>
              <li>
                    <a class="show-5 profiloDipButton" href="#"><i class="fa fa-address-card"></i> Profilo Personale </a>
                </li>-->
                <li>
                    <a class="show-6 contactbutton" href="#"><i class="fa fa-envelope"></i>Invia un email</a>
                </li>
              </ul>
            </nav>

          </div> <!-- fine colonnaSx -->


          <div class="col-md-8 col-sm-12 content-holder" id="colonnaCentrale">
            <div id="menu-container">

              <div id="menu-1" class="row homepage home-section text-center">
                <div class="welcome-text col-md-12 col-sm-12">

                  <h2>Welcome  <span class="red"> {{dipendente.nome}} {{dipendente.cognome}}</span></h2>
                  <p> <span class="orange">{{dipendente.classe}}
                  {%if dipendente.dirigente%} dirigente {% endif %}</span></p>

                    <div id="noteDipendenti"  class="row">


            <div class="row righe-homepage">
              <div class="col-md-3"></div>
              <div class="col-sm-12 col-md-6">
                {% raw %}
                  <!-- Todo Lists -->
                  <div id="todo-lists" data-ng-controller="todoCtrl as tctrl">
                    <div class="tl-header">
                        <h2>Impegni lavorativi</h2>
                        <small>Memorandum degli impegni di lavoro</small>

                    </div>

                    <div class="clearfix"></div>

                    <div class="tl-body">


                        <div id="add-tl-item" data-ng-class="{ 'toggled': tctrl.addTodoStat }" data-ng-click="tctrl.addTodoStat = true">
                            <i class="add-new-item zmdi zmdi-plus" data-ng-click="tctrl.addTodo($event)"></i>

                            <div class="add-tl-body">
                                <textarea id="textImpegno" placeholder="Testo..." data-ng-model="tctrl.todo"></textarea>

                                <div class="add-tl-actions">

                                    {% if dipendente.dirigente %}
                                    <select id="dipImpegni">
                                        <option>Personale</option>
                                        <option>matteo_cittadini</option>
                                        <option>Franzo</option>
                                    </select>
                                    {% endif %}

                                    <a class="zmdi zmdi-close" data-tl-action="dismiss" data-ng-click="tctrl.addTodoStat = false; $event.stopPropagation()"></a>
                                    <a id="addImpegno" class="zmdi zmdi-check" data-tl-action="save" data-ng-click="tctrl.addTodoStat = false; $event.stopPropagation()"></a>
                                </div>

                            </div>
                        </div>


                        <div id="contentImpegni" class="checkbox media" >
                        <!--    <div class="pull-right">
                                <a id="delImpegno" href="" > × </a>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input id="checkImpegni" type="checkbox">
                                    <i class="input-helper"></i>
                                    <span> &emsp;</span>
                                </label>
                            </div> -->
                        </div>

                    </div>
                  </div>
                {% endraw %}
              </div>
              <div class="col-md-3"></div>
            </div>


                    </div>

                </div> <!-- fine welcome-text -->

              </div> <!-- fine homepage -->

    <!--============================ Sezioni "chiamate" via Ajax =====================================-->

              <div id="menu-2" class="row content calendario-section col-md-6 col-sm-12">
                  <div id='calendar' data-full-calendar></div>

              </div>

              <div id="menu-3" class="content gestioneDip-section col-sm-12">

              </div>

              <div id="menu-4" class="content accoglienza-section col-sm-12">

              </div>

              <div id="menu-5" class="content profiloDip-section col-sm-12">

              </div>


    <!--==============================================================================================-->

            </div> <!-- fine menu-container -->
          </div> <!-- fine colonnaCentrale -->




        </div> <!-- fine row-content -->
      </div> <!-- fine page content -->

    </section>
  </section>

<!--===================================================================================================-->

</div> <!-- fine page-wrapper -->

<script>

 /* Collego i bottoni alle pagine che devono ritornare */

	$(".main-menu a").click(function(){
		var id =  $(this).attr('class');
		id = id.split('-');
		$('a.active').removeClass('active');
	  	$(this).addClass('active');
		$("#menu-container .content").slideUp('slow');
		$("#menu-container .homepage").slideUp('slow');
		$("#menu-container #menu-"+id[1]).slideDown('slow');

		return false;
	});


	$(".main-menu a.homebutton").click(function(){
		//	$("#menu-container .content").slideUp('slow');
			$("#menu-container .homepage").slideDown('slow');

			return false;
	});
/*
	$(".main-menu a.registraDipButton").click(function(){
			$(".registraDip-section").load("static/templates/registraDip.html #container-contact100");
			//$("#menu-container .content").slideUp('slow');
			$("#menu-container .registraDip-section").slideDown('slow');



			$.getScript("static/form/js/main.js");
			return false;
	});
*/
	$(".main-menu a.calendarButton").click(function(){
		//	$("#menu-container .content").slideUp('slow');
			$("#menu-container .calendario-section").slideDown('slow');
			$("#calendar").fullCalendar("render");
			return false;
	});


	 $(".main-menu a.profiloDipButton").click(function(){
			$(".profiloDip-section").load("{{url_for('paginaProfilo')}} #container-profiloDip");
    	    $("#menu-container .profiloDip-section").slideDown('slow');

			return false;
	 });

	 $(".main-menu a.gestioneDipButton").click(function(){
			$(".gestioneDip-section").load("{{url_for('gestioneDip')}}");
		//	$("#menu-container .content").slideUp('slow');
	    	$("#menu-container .gestioneDip-section").slideDown('slow');

			return false;
	 });

	$(".main-menu a.accoglienzaButton").click(function(){
			$(".accoglienza-section").load("{{url_for('accoglienza', error=0)}}");
			//$("#menu-container .content").slideUp('slow');
			$("#menu-container .accoglienza-section").slideDown('slow');



			$.getScript("static/form/js/main.js");
			return false;
	});


</script>

<script type="text/javascript" charset="utf-8">


    var socketHome = io.connect("{{sockUrl}}"+'/home');

    socketHome.on('connect', function() {
        console.log('connected');


        socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
    });


</script>

<script>

    $('#contentImpegni').load('listImpegni');
    var socketImpegni = io.connect("{{sockUrl}}"+'/impegni');

    socketImpegni.on('aggiornaImpegni', function(){
        $('#contentImpegni').load('listImpegni');
    });

    {% if dipendente.dirigente %}
        $('#addImpegno').click(function(){


            newImpegno = $('#textImpegno').val();
            selectImpegno = $('#dipImpegni').val();

            // se non viene inserito nulla nel campo di testo
            if( newImpegno == "" )
                return;

            if( selectImpegno == "Personale" )
            {
                socketImpegni.emit('registraImpegno', {'testo': newImpegno, 'dip': '{{dipendente.username}}', 'dir': "" });
            }
            else
                socketImpegni.emit('registraImpegno', {'testo': newImpegno, 'dip': selectImpegno, 'dir': '{{dipendente.username}}'});



        });
    {% else %}

        $('#addImpegno').click(function(){


            newImpegno = $('#textImpegno').val();

            // se non viene inserito nulla nel campo di testo
            if( newImpegno == "" )

            socketImpegni.emit('registraImpegno', {'testo': newImpegno, 'dip': '{{dipendente.username}}', 'dir': "" });

        });



    {% endif %}



</script>


{% endblock %}