{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaFornitori">

        <div id="divIntestazione" >
            <span class="contact100-form-title">
               Scheda Fornitori
            </span>
            <div id="searchContainer">
                <span id="spanBackTo"><a id="back" class="fa fa-reply"></a></span>
                <button id="submitFormFornitore" class="button button--antiman button--text-thick button--text-upper button--size-s button--inverted-alt button--round-l button--border-thick"><i class="button__icon icon icon-plus"></i><span>Aggiungi</span></button>
            </div>

        </div>

        <div id="tableSection" >
            <div class="tabContainer">
                <form id="formFornitore" method="post" action="schedaFornitori">
                    {{form.hidden_tag()}}

                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th class="centerText" colspan="4">Dati Fornitore</th>
                            </tr>

                            <tr>
                                <th>Primo gruppo</th>
                                <th>Sotto gruppo</th>
                                <th>Settore merceologico</th>
                                <th>Stato</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>{{form.gruppo_azienda(placeholder="primo gruppo", list="listaFornitori", autocomplete="nope")}}</td>
                                  <datalist id="listaFornitori">
                                          {% for fornitore in listaFornitoriPrimoGruppo %}
                                            {% if fornitore.nome_gruppo == sottoGruppoSelected.gruppo_azienda %}
                                                <option value="{{fornitore.nome_gruppo}}" selected="selected"></option>
                                            {% else %}
                                                <option value="{{fornitore.nome_gruppo}}"></option>
                                            {% endif %}
                                          {% endfor %}
                                  </datalist>
                                <td >{{form.nomeFornitore(placeholder="sotto gruppo", value=sottoGruppoSelected.nome)}}</td>
                                <td >{{form.settoreMerceologico( placeholder="settore")}}</td>
                                <td>{{form.stato}}</td>
                            </tr>
                        </tbody>

                    </table>

                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th class="intestazionePino" colspan="4">Recapito azienda</th>
                            </tr>

                            <tr>
                                <th class="intestazionePino">Indirizzo</th>
                                <th class="intestazionePino">Provincia</th>
                                <th class="intestazionePino">Telefono</th>
                                <th class="intestazionePino">Sito</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>{{form.indirizzo(placeholder="indirizzo")}}</td>
                                <td>{{form.provincia(placeholder="provincia")}}</td>
                                <td>{{form.telefono(placeholder="telefono")}}</td>
                                <td>{{form.sito(placeholder="sito")}}</td>
                            </tr>
                        </tbody>

                    </table>

                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th class="intestazioneOliva" colspan="3">Rappresentante</th>
                            </tr>

                            <tr>
                                <th class="intestazioneOliva" >Nominativo</th>
                                <th class="intestazioneOliva" >Telefono</th>
                                <th class="intestazioneOliva" >Email</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>{{form.nomeRappresentante(placeholder="referente")}}</td>
                                <td>{{form.telefonoRappresentante(placeholder="telefono referente")}}</td>
                                <td>{{form.emailRappresentante(placeholder="email referente")}}</td>
                            </tr>
                        </tbody>

                    </table>
                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th class="intestazioneNocciola" colspan="3">Sconti</th>
                            </tr>

                            <tr>
                                <th class="intestazioneNocciola">Standard</th>
                                <th class="intestazioneNocciola">Extra 1</th>
                                <th class="intestazioneNocciola">Extra 2</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>{{form.scontoStandard(placeholder="standard")}} %</td>
                                <td>{{form.scontoExtra1(placeholder="extra 1")}} %</td>
                                <td>{{form.scontroExtra2(placeholder="extra 2")}} %</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th  class="intestazioneBlu" colspan="3">Pagamenti</th>
                            </tr>

                            <tr>
                                <th class="intestazioneBlu">Giorni</th>
                                <th class="intestazioneBlu">Modalità</th>
                                <th class="intestazioneBlu">Tipologia</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>
                                    <a id="giorniPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>
                                    {{form.giorniPagamenti(placeholder="giorni pagamento", list="listaGiorniPagamento", autocomplete="nope")}}
                                    <datalist id="listaGiorniPagamento">
                                    {% for giorno in giorniPagamento %}
                                    <option value="{{giorno.nome}}"></option>
                                    {% endfor %}
                                    </datalist>
                                </td>
                                <td>
                                    <a id="modalitaPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>
                                    {{form.modalitaPagamenti( placeholder="modalita pagamento", list="listaModalitaPagamento", autocomplete="nope")}}
                                        <datalist id="listaModalitaPagamento">
                                              {% for modalita in modalitaPagamento %}
                                              <option value="{{modalita.nome}}"></option>
                                              {% endfor %}
                                        </datalist>
                                </td>
                                <td>
                                    <a id="tipologiaPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>
                                    {{form.tipologiaPagamenti(placeholder="tipologia pagamento", list="listaTipologiaPagamento", autocomplete="nope")}}
                                       <datalist id="listaTipologiaPagamento">
                                              {% for tipologia in tipologiaPagamento %}
                                              <option value="{{tipologia.nome}}"></option>
                                              {% endfor %}
                                       </datalist>
                                 </td>
                            </tr>
                        </tbody>

                    </table>
                    <table class="tableFornitore">
                        <thead class="headFornitore">

                            <tr>
                                <th class="intestazioneRosso" >Tempi di consegna</th>
                                <th class="intestazioneRosso">Prezzi netti</th>
                                <th class="intestazioneRosso">Trasporto</th>
                            </tr>

                        </thead>
                        <tbody class="bodyFornitore">
                            <tr>
                                <td>{{form.tempiDiConsegna(placeholder="tempi di consegna")}}</td>
                                <td>{{form.prezziNetti}}</td>
                                <td>{{form.trasporto(placeholder="costo di trasporto")}} {{form.trasportoUnitaMisura}}</td>
                            </tr>
                        </tbody>

                    </table>
                </form>
            </div>
        </div>

    </div>

    <script>

        $('#back').click(function(){
            window.location="{{url_for('schedaFornitori')}}"
        });

        $('#submitFormFornitore').click(function(){
            $('#formFornitore').submit();
        });



        $('#giorniPagamentiBtn').click(function(){

             var giorniPagamentoOptions=[];
             $('#listaGiorniPagamento').children().each(function(){
                giorniPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
             });



             swal.withFormAsync({
                title: 'Modifica/elimina <br/> giorno pagamento',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: false,
                formFields: [

                  {
                    id: 'select',
                    type: 'select',
                    options: giorniPagamentoOptions

                  },

                 { name: 'modDel', value: 'modifica', type: 'radio' },
                 { name: 'modDel', value: 'elimina', type: 'radio' },


                ]
             }).then(function (context) {

                var giornoSelected=context.swalForm['select'];

                if(context._isConfirm){

                    if( context.swalForm['modDel'] == 'modifica' ){
                        swal.withFormAsync({
                            title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            cancelButtonText: 'annulla',
                            closeOnConfirm: true,
                            formFields: [

                             { name: 'toMod', value: giornoSelected, placeholder: 'Modifica campo: ' + giornoSelected },


                            ]
                        }).then(function (context) {
                            if(context._isConfirm){
                                socketFornitore.emit("modifica_giornoPagamento", { "dip": "{{dipendente.username}}",
                                               "oldNome": giornoSelected, "newNome": context.swalForm['toMod'] } );

                            }
                        });
                    }
                    else if( context.swalForm['modDel'] == 'elimina' ) {
                         socketFornitore.emit("elimina_giornoPagamento", { "dip": "{{dipendente.username}}",
                                               "nome": giornoSelected } );
                         swal({
                            title: 'Campo eliminato',
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            closeOnConfirm: true
                         });

                    }


                }

             });

        });



        $('#modalitaPagamentiBtn').click(function(){

             var modalitaPagamentoOptions=[];
             $('#listaModalitaPagamento').children().each(function(){
                modalitaPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
             });



             swal.withFormAsync({
                title: 'Modifica/elimina <br/> modalità pagamento',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: false,
                formFields: [

                  {
                    id: 'select',
                    type: 'select',
                    options: modalitaPagamentoOptions

                  },

                 { name: 'modDel', value: 'modifica', type: 'radio' },
                 { name: 'modDel', value: 'elimina', type: 'radio' },


                ]
             }).then(function (context) {

                var modalitaSelected=context.swalForm['select'];

                if(context._isConfirm){

                    if( context.swalForm['modDel'] == 'modifica' ){
                        swal.withFormAsync({
                            title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            cancelButtonText: 'annulla',
                            closeOnConfirm: true,
                            formFields: [

                             { name: 'toMod', value: modalitaSelected, placeholder: 'Modifica campo: ' + modalitaSelected },


                            ]
                        }).then(function (context) {
                            if(context._isConfirm){
                                socketFornitore.emit("modifica_modalitaPagamento", { "dip": "{{dipendente.username}}",
                                               "oldNome": modalitaSelected, "newNome": context.swalForm['toMod'] } );

                            }
                        });
                    }
                    else if( context.swalForm['modDel'] == 'elimina' ) {
                         socketFornitore.emit("elimina_modalitaPagamento", { "dip": "{{dipendente.username}}",
                                               "nome": modalitaSelected } );
                         swal({
                            title: 'Campo eliminato',
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            closeOnConfirm: true
                         });

                    }


                }

             });

        });

        $('#tipologiaPagamentiBtn').click(function(){

             var tipologiaPagamentoOptions=[];
             $('#listaTipologiaPagamento').children().each(function(){
                tipologiaPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
             });



             swal.withFormAsync({
                title: 'Modifica/elimina <br/> tipologia pagamento',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: false,
                formFields: [

                  {
                    id: 'select',
                    type: 'select',
                    options: tipologiaPagamentoOptions

                  },

                 { name: 'modDel', value: 'modifica', type: 'radio' },
                 { name: 'modDel', value: 'elimina', type: 'radio' },


                ]
             }).then(function (context) {

                var tipologiaSelected=context.swalForm['select'];

                if(context._isConfirm){

                    if( context.swalForm['modDel'] == 'modifica' ){
                        swal.withFormAsync({
                            title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            cancelButtonText: 'annulla',
                            closeOnConfirm: true,
                            formFields: [

                             { name: 'toMod', value: tipologiaSelected, placeholder: 'Modifica campo: ' + tipologiaSelected },


                            ]
                        }).then(function (context) {
                            if(context._isConfirm){
                                socketFornitore.emit("modifica_tipologiaPagamento", { "dip": "{{dipendente.username}}",
                                               "oldNome": tipologiaSelected, "newNome": context.swalForm['toMod'] } );

                            }
                        });
                    }
                    else if( context.swalForm['modDel'] == 'elimina' ) {
                         socketFornitore.emit("elimina_tipologiaPagamento", { "dip": "{{dipendente.username}}",
                                               "nome": tipologiaSelected } );
                         swal({
                            title: 'Campo eliminato',
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Ok',
                            closeOnConfirm: true
                         });

                    }


                }

             });

        });


        {% if error %}
              swal({
                title: "{{errorMessage}}",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });
               $('#addFornitore').trigger('click');
        {% endif %}
    </script>

{% endblock %}