{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Prezzario Prodotti
            </span>



            <form   class="contact100-form validate-form">

                <div class="row divFormContainer">
                    <div id="buttonsSelect" class="col-md-2 ">
                        <a id="addTipologiaProdotto" class="fa fa-plus"></a>
                    </div>

                    <div id="divTipologia" class="wrap-form input100-select bg1 fieldSelect col-md-10">
                        <span class="label-input100">Tipologia Prodotti</span>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="settoriDisponibili">
                                {% for tipo in tipoProdotto %}

                                    {% if tipo.nome == tipoToSel %}
                                        <option selected="selected">{{tipo.nome}}</option>
                                    {% else %}
                                <option>{{tipo.nome}}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                           <div id="dropDownTipologia" class="dropDownSelect2 row"></div>

                        </div>
                    </div>

                </div>
            </form>
            <button id="addModello" onclick="nuovoModello();" class="button button--antiman button--text-thick button--text-upper button--size-s button--inverted-alt button--round-l button--border-thick"><i class="button__icon icon icon-plus"></i><span>Aggiungi modello</span></button>


        </div>

        <div id="tabellaContainer" class="row">

                <table id="prezzario">
                    <thead id="headPrezzario">

                       <tr id="headerIntestazioneProdotti">
                            <th  class="tableIntestazione colLongString" data-column="column1"></th>
                            <th  class="tableIntestazione colLongString"  data-column="column2"></th>
                            <th  class="tableIntestazione colShortString" data-column="column3"></th>
                            <th  class="tableIntestazione colShortString" data-column="column4"></th>
                            <th  class="tableIntestazione colShortString" data-column="column5"></th>
                            <th  class="tableIntestazione colShortString" data-column="column6"></th>

                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column7"> </th>
                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column8"></th>

                            <th  class="tableIntestazione  intestazioneRosso" colspan="3" data-column="column9">AZIENDA</th>

                            <th  class="tableIntestazione intestazioneBlu " colspan="5" data-column="column12">FORNITORE</th>

                           <th  class="tableIntestazione colNumBig intestazioneOliva" data-column="column17"></th>

                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column18"></th>
                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column19"></th>

                            <th  class="tableIntestazione colNumSmall" data-column="colum20"></th>
                            <th  class="tableIntestazione colNumSmall" data-column="column21"> </th>
                       </tr>
                       <tr id="trIntestazione">
                            <th  class="tableIntestazione colLongString" data-column="column1"><a id="showForm" class="fa fa-plus"></a></th>
                            <th  class="tableIntestazione colLongString"  data-column="column2">Nome prodotto</th>
                            <th  class="tableIntestazione colShortString" data-column="column3">Marchio</th>
                            <th  class="tableIntestazione colShortString" data-column="column4">Modello</th>
                            <th  class="tableIntestazione colShortString" data-column="column5">Codice</th>
                            <th  class="tableIntestazione colShortString" data-column="column6">Fornitore</th>

                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column7"> &euro; Listino<br/> (F+P)</th>
                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column8"> &euro; Listino<br/> (F)</th>

                            <th  class="tableIntestazione colNumSmall intestazioneRosso" data-column="column9">  (+%) </th>
                            <th  class="tableIntestazione colNumSmall intestazioneRosso" data-column="column10"> Trasporto </th>
                            <th  class="tableIntestazione colNumSmall intestazioneRosso" data-column="column11"> Imballo </th>

                            <th  class="tableIntestazione colNumSmall intestazioneBlu" data-column="column12"> Sconto </th>
                            <th  class="tableIntestazione colNumSmall intestazioneBlu" data-column="column13">ex.1</th>
                            <th  class="tableIntestazione colNumSmall intestazioneBlu" data-column="column14">ex.2</th>
                            <th  class="tableIntestazione colNumSmall intestazioneBlu" data-column="column15">Trasporto</th>
                            <th  class="tableIntestazione colNumSmall intestazioneBlu" data-column="column16">Imballo</th>
                            <th  class="tableIntestazione colNumBig   intestazioneOliva" data-column="column17"> Posa <br/> +<input id="rincaroPosaInput" class="numberInput colorBlack" type="number" name="rincaroPosa" placeholder="percentuale rincaro posa" min=0 max=100 value=50> % </th>

                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column18"> &euro; netto <br/> U.S. <br/> (F)</th>
                            <th  class="tableIntestazione colNumSmall intestazioneOliva" data-column="column19"> &euro; netto<br/> U.S.  <br/>(F+P)</th>

                            <th  class="tableIntestazione colNumSmall" data-column="column20">Rincaro</th>
                            <th  class="tableIntestazione colNumSmall" data-column="column21">Totale <br/> cliente</th>
                        </tr>
                        <tr id="trForm">
                            <th  class="tableForm colLongString" data-column="column1"><a id="hideForm" class="fa fa-angle-double-up"></a><button  id="registraProdotto" class="buttonPrezzario" type="button">Inserisci</button></th>
                            <th  class="tableForm colLongString"  data-column="column2"><input id="nomeProdottoInput" type="text" name="nomeProdotto" placeholder="Inserire il nome del prodotto"></th>
                            <th  class="tableForm colShortString" data-column="column3"><input id="marchioInput" type="text" name="marchio" placeholder="Inserire il marchio"> </th>
                            <th  class="tableForm colShortString" data-column="column4">
                                <select id="modelloSelect" name="fornitore">

                                </select>

                            </th>


                            <th  class="tableForm colShortString" data-column="column4"><input id="codiceInput" type="text" name="codice" placeholder="Inserire il codice"> </th>

                            <th id="fornitoreTh" class="tableForm colShortString" data-column="column5">

                                <select id="fornitoreSelect" name="fornitore">
                                    {% for fornitore in fornitori %}
                                         <option>{{fornitore.gruppo_azienda}} - {{fornitore.nome}}</option>

                                    {% endfor %}
                                </select>

                            </th>
                            <th  id="listinoFornituraPosaTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column6"></th>
                            <th  id="listinoFornituraTh"  class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column7"><input id="listinoFornituraInput" class="numberInput colorBlack" type="number" name="listinoFornitura" placeholder="listino fornitura" step="0.01" value=0.00> &euro; </th>

                            <th  id="scontiRincariAziendaClose" class="tableForm colorWhite intestazioneRosso" colspan="3" data-column="column8"></th>
                            <th  id="scontiRincariFornitoreClose" class="tableForm  colorWhite intestazioneBlu" colspan="5" data-column="column11"></th>

                            <th  class="tableIntestazione colNumBig  intestazioneOliva" data-column="column16"><input id="posaInput" class="numberInput colorBlack" type="number" name="posa" placeholder="costo posa" step="0.01" value=0.00> &euro; </th>


                            <th  id="nettoUsFTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column18"><input id="nettoUsFInput" class="numberInput colorBlack" type="number" name="nettoUsF" placeholder="netto US fornitura" step="0.01" value=0.00> &euro; </th>
                            <th  id="nettoUsFPTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column19"></th>


                            <th  class="tableForm colNumSmall colorWhite" data-column="column20"><input id="rincaroInput"  class="numberInput colorBlack" type="number" name="rincaro" placeholder="rincaro" value=0>%</th>
                            <th  id="totaleClienteTh" class="tableForm colorWhite colNumSmall" data-column="column21"></th>

                        </tr>
                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>


                </table>

        </div>

    </div>
   <script>

            function inserisciModelliPerTipologia(){
                console.log('prima del ciclo');
                {% for modello in modelli %}
                    console.log('durante il ciclo '+$('#selectTipologia').val() + '{{modello.tipologia}}' );
                    if( '{{modello.tipologia}}' ==  $('#selectTipologia').val() ){
                        console.log('entro????');
                        $('#modelloSelect').append('<option>{{modello.nome}}</option>');
                    }
                {% endfor %}
            }
            inserisciModelliPerTipologia();

            var rappresentanteDaRegistrare = false;

            var socketHome = io.connect("{{sockUrl}}"+'/home');


            socketHome.on('connect', function() {

                socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
            });

            var socketProdotto= io.connect("{{sockUrl}}"+'/prezzarioProdotti');


            function nuovoModello(){
                 swal.withFormAsync({
                    title: 'Aggiungi nuovo modello',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [

                                 { name: 'modello',  placeholder: 'Aggiungi nuovo modello' },


                                ]

                 }).then(function (context) {
                    if(context._isConfirm){
                        socketProdotto.emit('aggiungi_modello_prodotto', { 'dip': '{{dipendente.username}}','nome': context.swalForm['modello'], 'tipologia': $('#selectTipologia').val() });
                    }
                 });
            }

           //Script necessario per renderizzare corretamente il tag select di "settore"
            $.getScript("{{url_for('static', filename='form/js/main.js')}}");

            /*Aggiungo funzionalità ai bottoni visualizza/nascondi form*/
            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
                $(showForm).addClass('fa');
                $(showForm).addClass('fa-plus');
                $('#bodyPrezzario').css('height', '88%');

            });

            $('#showForm').click(function(){
                $('#trForm').show();
                $(this).removeClass('fa');
                $(this).removeClass('fa-plus');
                $('#bodyPrezzario').css('height', '81%');

            });


            //funzione che inserisce nel #bodyPrezzario il sibolo "-" al posto di valori numerici nulli
            function stampaValore(valore, colonna, unita,   classValues){

                 var where="column"+colonna

                 if( valore == 0 || valore == "None" )
                    return '<td  class="'+ classValues +'" data-column="'+where+'"> - </td>';
                 else
                    if( unita == "%" )
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ valore  + ' ' + unita + '</td>';
                    else
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ unita + ' ' + valore  +'</td>';


            }

            //codice per riempire il #bodyPrezzario
            {% for prodotto in prodotti %}
                if( "{{prodotto.tipologia}}" == $("#selectTipologia").val()) {

                    {% if prodotto.daVerificare %}
                        var classiTr="rowBodyTab daVerificare" ;
                    {% else %}
                        var classiTr="rowBodyTab";

                    {% endif %}

                    var rowToAdd =  '<tr class="'+ classiTr +'"> \
                                     <td class="controlCol colLongString" data-column="column1"> \
                                     <div class="iconsDiv row"> \
                                        <div class="col-md-4 iconContainer firstIconContainer" > \
                                            <a class="fa fa-trash iconsTab delProdotto"></a> \
                                        </div> \
                                        <div class="col-md-4 iconContainer"> \
                                            <a  class="fa fa-edit iconsTab modProdotto"></a> \
                                        </div> \
                                        <div class="col-md-4 iconContainer"> \
                                            <a  class="fa fa-warning iconsTab segnalaProdotto"></a> \
                                        </div> \
                                        <button class="button settaCapitolatoButton">Setta capitolato</button> \
                                     </div> \
                                     </td> \
                                     <td  class="nome_prodotto colLongString" data-column="column2">{{prodotto.nome}}</td> \
                                     <td  class="numColMedium colShortString" data-column="column3">{{prodotto.marchio}}</td> \
                                     <td  class="modello_prodotto numColMedium colShortString" data-column="column4">{{prodotto.modello}}</td> \
                                     <td  class="numColMedium colShortString" data-column="column5">{{prodotto.codice}}</td> \
                                     <td  class="colMedium colShortString" data-column="column6">{{prodotto.fornitore_primo_gruppo}} - {{prodotto.fornitore_sotto_gruppo}}</td> '+
                                     stampaValore( '{{prodotto.prezzoListinoFornituraPosa}}', 7, "&euro;", "colNumSmall" )+
                                     stampaValore( '{{prodotto.prezzoListinoFornitura}}', 8, "&euro;", "colNumSmall" )+
                                     stampaValore( '{{prodotto.rincaroAzienda}}', 9, "%", "colNumSmall" )+
                                     stampaValore( '{{prodotto.trasportoAzienda}}', 10, "%", "colNumSmall" )+
                                     stampaValore( '{{prodotto.imballoAzienda}}', 11, "&euro;", "colNumSmall" );

                    if("{{prodotto.versoDiLettura}}" == "True"){
                           {% for fornitore in fornitori %}
                                if("{{fornitore.nome}}" == "{{prodotto.fornitore_sotto_gruppo}}" && "{{fornitore.gruppo_azienda}}" == "{{prodotto.fornitore_primo_gruppo}}" ){

                                    rowToAdd += stampaValore( '{{fornitore.scontoStandard}}', 12, "%", "colNumSmall" ) +
                                                stampaValore( '{{fornitore.scontoExtra1}}', 13, "%", "colNumSmall" ) +
                                                stampaValore( '{{fornitore.scontoExtra2}}', 14, "%", "colNumSmall" ) +
                                                stampaValore( '{{fornitore.trasporto}}', 15, "&euro;", "colNumSmall" ) +
                                                stampaValore( '{{fornitore.imballo}}', 16, "&euro;", "colNumSmall" );

                                }
                           {% endfor %}
                    }
                    else{
                        rowToAdd += '<td  class="colNumSmall" data-column="column12">-</td> \
                                    <td  class="colNumSmall" data-column="column13">-</td> \
                                    <td  class="colNumSmall" data-column="column14">-</td> \
                                    <td  class="colNumSmall" data-column="column15">-</td> \
                                    <td  class="colNumSmall" data-column="column16">-</td>';

                    }


                    rowToAdd +=   stampaValore( '{{prodotto.posa}}', 17, '&euro;', 'colNumBig')+
                                  stampaValore( '{{prodotto.nettoUsFornitura}}', 18, "&euro;","colNumSmall"  )+
                                  stampaValore( '{{prodotto.nettoUsFornituraPosa}}', 19, "&euro;","colNumSmall"  )+
                                  stampaValore( '{{prodotto.rincaroCliente}}', 20, "%","colNumSmall"  );

                    if( parseFloat('{{prodotto.nettoUsFornituraPosa}}') == 0  || '{{prodotto.nettoUsFornituraPosa}}' == 'None'){
                        rowToAdd += '<td  class="colNumSmall" data-column="column21">&euro; '+Math.round((parseFloat('{{prodotto.nettoUsFornitura}}')+(parseFloat('{{prodotto.nettoUsFornitura}}')*parseInt('{{prodotto.rincaroCliente}}')/100))*100 )/100+'</td>'+
                                    '</tr>';

                    }
                    else{
                        rowToAdd += '<td  class="colNumSmall" data-column="column21">&euro; '+Math.round((parseFloat('{{prodotto.nettoUsFornituraPosa}}')+(parseFloat('{{prodotto.nettoUsFornituraPosa}}')*parseInt('{{prodotto.rincaroCliente}}')/100))*100)/100+'</td>'+
                                        '</tr>';

                    }

                    $("#bodyPrezzario").append(rowToAdd);


                }

                $('.settaCapitolatoButton').click(function(){
                     var parentRow=$(this).parent().parent();
                     var nome_prodotto=parentRow.children('.nome_prodotto').text();
                     var modello=parentRow.children('.modelloProdotto');
                     var tipologia=$('#selectTipologia').val();


                     swal({
                        title: "Impostare il prodotto come capitolato?",
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Ok',
                        closeOnConfirm: true

                      }, function (isConfirm) {

                        if (isConfirm) {
                            socketProdotto.emit('setta_capitolato', {'nome_prodotto' : nome_prodotto, 'modello' : modelllo, 'tipologia': tipologia});
                        }
                      });

                });

            {% endfor %}



        socketProdotto.on('aggiornaPagina', function() {
            location.reload();


        });


        //Seguono due metodi diversi per stampare l'alert "prodotto già inserito"
        {% if rigaPresente %}
              swal({
                title: "{{tabellaRigaPresente}}" + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });

        {% endif %}

        socketProdotto.on('rigaPresente', function(message) {

              console.log("allora");
              swal({
                title: message['who'] + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });


        });

        $('#selectTipologia').change( function() {

          socketProdotto.emit('cambia_tipologia_prezzario', {"dip": "{{dipendente.username}}", "tipologia": $(this).val() })


        });


        $('#addTipologiaProdotto').click(function(){

               swal.withForm({
                title: 'Aggiungi una nuova tipologia di prodotto',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                  { id: 'newTipologia', placeholder: 'Inserire il nome della nuova tipologia' }


                ]
              }, function (isConfirm) {

                      if (isConfirm) {
                            var form=this.swalForm;
                            socketProdotto.emit("registra_tipologiaProdotto",
                               { 'dip': '{{dipendente.username}}', 'nomeTipo': form['newTipologia'] });


                      }

              })
        });






      function calcolaTotaleCliente(valore){
            var rincaroCliente=parseFloat($('#rincaroInput').val());

            var totale = valore + (valore*rincaroCliente/100);

            $('#totaleClienteTh').html( '&euro; '+ Math.round(totale*100)/100);


      }

      function calcolaUnionServiceToListino(){
            /*
                Il parametro posa e' un booleano, vero in caso si sia cominciato a scrivere da listinoFornituraPosaInput

            */

             var prezzoFinale = 0;
             var rincaro = parseFloat($('#rincaroAziendaInput').val());
             var trasporto = parseFloat($('#trasportoAziendaInput').val());
             var imballo = parseFloat($('#imballoAziendaInput').val());
             var montaggio = parseFloat($('#posaInput').val());
             var rincaroMontaggio = parseFloat($('#rincaroPosaInput').val());


             prezzoFinale = parseFloat($('#nettoUsFInput').val());


             calcolaTotaleCliente(prezzoFinale);

             prezzoFinale += (prezzoFinale*rincaro/100);

             prezzoFinale += trasporto + imballo;

             $('#listinoFornituraTh').html('&euro; '+ Math.round(prezzoFinale*100)/100);


             var incrementoMontaggio = montaggio*rincaroMontaggio/100;
             prezzoFinale += montaggio+incrementoMontaggio;
             $('#listinoFornituraPosaTh').html('&euro; '+ Math.round(prezzoFinale*100)/100);

             var prezzoUs = parseFloat($('#nettoUsFInput').val());
             prezzoUs  += montaggio+incrementoMontaggio;
             $('#nettoUsFPTh').html("&euro; "+ Math.round(prezzoUs*100)/100);


            calcolaTotaleCliente(prezzoFinale);

      }

      function calcolaListinoToUnionService(){
            /*
                Il parametro posa e' un booleano, vero in caso si sia cominciato a scrivere da listinoFornituraPosaInput

            */
            var fornitoreSelected=$('#fornitoreSelect').val();
            var primo_gruppo=fornitoreSelected.split(' - ')[0];
            var sotto_gruppo=fornitoreSelected.split(' - ')[1];


            {% for fornitore in fornitori %}
                if( '{{fornitore.nome}}' == sotto_gruppo && '{{fornitore.gruppo_azienda}}' == primo_gruppo ){
                    console.log('faccio il calcolo');
                    var prezzoFinale = 0;
                    var scontoStandard = parseFloat('{{fornitore.scontoStandard}}');
                    var scontoExtra1 = parseFloat('{{fornitore.scontoExtra1}}');
                    var scontoExtra2 = parseFloat('{{fornitore.scontroExtra2}}');
                    var imballo = parseFloat('{{fornitore.imballo}}');
                    var trasporto = parseFloat('{{fornitore.trasporto}}');
                    var montaggio = parseFloat($('#posaInput').val());
                    var rincaroMontaggio = parseFloat($('#rincaroPosaInput').val());


                    prezzoFinale = parseFloat($('#listinoFornituraInput').val());

                    if( scontoStandard != 'None' && scontoStandard > 0 ){

                        prezzoFinale -= (prezzoFinale*scontoStandard/100);

                        if( scontoExtra1 != 'None' && scontoExtra1 > 0 ){
                            prezzoFinale -= (prezzoFinale*scontoExtra1/100);
                            if( scontoExtra2 != 'None' && scontoExtra2 > 0){
                                prezzoFinale -= (prezzoFinale*scontoExtra2/100);
                            }
                        }
                    }

                    prezzoFinale += imballo+trasporto;

                    $('#nettoUsFTh').html("&euro; "+ Math.round(prezzoFinale*100)/100);

                    var incremetoMontaggio = montaggio*rincaroMontaggio/100;
                    prezzoFinale += montaggio+incremetoMontaggio;

                    $('#nettoUsFPTh').html("&euro; "+ Math.round(prezzoFinale*100)/100);

                    var prezzoListino = parseFloat($('#listinoFornituraInput').val());
                    prezzoListino += montaggio+incremetoMontaggio;
                    $('#listinoFornituraPosaTh').html('&euro; '+ Math.round(prezzoListino*100)/100);

                    calcolaTotaleCliente(prezzoListino);


                }
            {% endfor %}
      }




      var isActiveAzienda=false;

      function unionServiceToListino(new_val){

            if( new_val == 0 ){ //se il suo valore e' gia' stato cambiato e torna a zero
                $('#rincaroAziendaTh').remove();
                $('#imballoAziendaTh').remove();
                $('#trasportoAziendaTh').remove();

                $('<th id="scontiRincariAziendaClose" class="tableForm colNumBig colorWhite intestazioneRosso" colspan="3" data-column="column8"></th>').insertAfter('#listinoFornituraTh');

                $('#listinoFornituraPosaTh').html('');
                $('#listinoFornituraTh').html('<input id="listinoFornituraInput" class="numberInput colorBlack" type="number" name="listinoFornitura" placeholder="listino fornitura" step="0.01" value=0.00> &euro;');


                $('#nettoUsFTh').html('<input id="nettoUsFInput" class="numberInput colorBlack" type="number" name="nettoUsF" placeholder="netto US fornitura" step="0.01" value=0.00> &euro;');
                $('#nettoUsFInput').change(function(){
                  unionServiceToListino($('#nettoUsFInput').val() );
                });



               //se listinoFornitura o listinoFornituraPosa cambia fa apparire/scomparire specifici campi aggiuntivi
               $('#listinoFornituraInput').change(function(){
                 listinoToUnionService( $('#listinoFornituraInput').val());
               });

               $('#totaleClienteTh').html('');

                isActiveAzienda=false;
            }
            else if(!isActiveAzienda){
                isActiveAzienda=true;
                $('#scontiRincariAziendaClose').remove();

                $(' <th  id="rincaroAziendaTh" class="tableForm colNumSmall colorWhite intestazioneRosso" data-column="column8">  <input id="rincaroAziendaInput" class="numberInput colorBlack" type="number" name="rincaroAzienda" placeholder="rincaro azienda" value=0> %  </th> \
                    <th  id="trasportoAziendaTh" class="tableForm colNumSmall colorWhite intestazioneRosso" data-column="column9"> <input id="trasportoAziendaInput" class="numberInput colorBlack" type="number" name="trasportoAzienda" placeholder="trasporto azienda" step="0.01" value=0.00> &euro;  </th> \
                    <th  id="imballoAziendaTh" class="tableForm colNumSmall colorWhite intestazioneRosso" data-column="column10"> <input id="imballoAziendaInput"  class="numberInput colorBlack" type="number" name="imballoAzienda" placeholder="imballo azienda" step="0.01" value=0.00> &euro; </th> ' ).insertAfter('#listinoFornituraTh');

                $('#rincaroAziendaInput').change(function(){
                    calcolaUnionServiceToListino();
                });

                $('#trasportoAziendaInput').change(function(){
                    calcolaUnionServiceToListino();
                });

                $('#imballoAziendaInput').change(function(){
                    calcolaUnionServiceToListino();
                });


                $('#listinoFornituraTh').html('');
                $('#listinoFornituraPosaTh').html('');

                calcolaUnionServiceToListino();
            }
            else{
                calcolaUnionServiceToListino();
            }
      }

       //se prezzoNettoUsF cambia fa apparire/scomparire specifici campi aggiuntivi
       $('#nettoUsFInput').change(function(){
         unionServiceToListino($('#nettoUsFInput').val() );
       });




         //funzione che inserisce nel #bodyPrezzario il sibolo "-" al posto di valori numerici nulli
        function stampaValoreTh(valore, colonna, unita,   classValues, id){

             var where="column"+colonna

             if( valore == 0 || valore == 'None' )
                return '<th id="'+id+'" class="'+ classValues +'" data-column="'+where+'"> - </th>';
             else
                if( unita == "%" )
                 return '<th id="'+id+'" class="'+ classValues +'" data-column="'+where+'">'+ valore  + ' ' + unita + '</th>';
                else
                 return '<th id="'+id+'" class="'+ classValues +'" data-column="'+where+'">&'+ unita + '; ' + valore  +'</th>';


        }


      var isActiveFornitore=false;
      function listinoToUnionService( new_val){
            /*
                Il parametro new_val contiene il valore dell'input che triggera questa funziona.
                Visto che i possibili input tag sono due (#listinoFornituraInput e #listinoFornituraPosaInput),
                passando il valore per parametro non devo distinguere "troppo" i due casi nel codice.
            */

            if( new_val == 0 ){
                $('#scontoStandardFornitoreTh').remove();
                $('#scontoEx1FornitoreTh').remove();
                $('#scontoEx2FornitoreTh').remove();
                $('#imballoFornitoreTh').remove();
                $('#trasportoFornitoreTh').remove();

                $('<th  id="scontiRincariFornitoreClose" class="tableForm  colorWhite intestazioneBlu" colspan="5" data-column="column11"></th>').insertAfter('#scontiRincariAziendaClose');
                $('#nettoUsFTh').html('<input id="nettoUsFInput" class="numberInput colorBlack" type="number" name="nettoUsF" placeholder="netto US fornitura" step="0.01" value=0.00> &euro;');
                $('#nettoUsFPTh').html('<input id="nettoUsFPInput" class="numberInput colorBlack" type="number" name="nettoUsFP" placeholder="netto US fornitura+posa" step="0.01" value=0.00> &euro;');



                //se prezzoNettoUsF cambia fa apparire/scomparire specifici campi aggiuntivi
                $('#nettoUsFInput').change(function(){
                  unionServiceToListino( $('#nettoUsFInput').val() );
                });

                $('#nettoUsFPInput').change(function(){
                  unionServiceToListino( $('#nettoUsFPInput').val() );
                });

                $('#totaleClienteTh').html('');

                isActiveFornitore=false;

            }
            else if(!isActiveFornitore){
                isActiveFornitore=true;
                var fornitoreSelected=$('#fornitoreSelect').val();
                var primo_gruppo=fornitoreSelected.split(' - ')[0];
                var sotto_gruppo=fornitoreSelected.split(' - ')[1];
                $('#scontiRincariFornitoreClose').remove();

                {% for fornitore in fornitori %}
                    if( '{{fornitore.nome}}' == sotto_gruppo && '{{fornitore.gruppo_azienda}}' == primo_gruppo ){


                        $( stampaValoreTh( '{{fornitore.scontoStandard}}', 11, '%', 'tableForm colNumSmall colorWhite intestazioneBlu', 'scontoStandardFornitoreTh' )+
                           stampaValoreTh( '{{fornitore.scontoExtra1}}', 12, '%', 'tableForm colNumSmall colorWhite intestazioneBlu', 'scontoEx1FornitoreTh' )+
                           stampaValoreTh( '{{fornitore.scontoExtra2}}', 13, '%', 'tableForm colNumSmall colorWhite intestazioneBlu', 'scontoEx2FornitoreTh' )+
                           stampaValoreTh( '{{fornitore.trasporto}}', 14, '{{fornitore.trasportoUnitaMisura}}', 'tableForm colNumSmall colorWhite intestazioneBlu', 'trasportoFornitoreTh' )+
                           stampaValoreTh( '{{fornitore.imballo}}', 15, '{{fornitore.imballoUnitaMisura}}', 'tableForm colNumSmall colorWhite intestazioneBlu', 'imballoFornitoreTh' ) ).insertAfter('#scontiRincariAziendaClose');


                    }

                {% endfor %}

                $('#nettoUsFTh').html('');
                $('#nettoUsFPTh').html('');


                calcolaListinoToUnionService();

            }
            else{
                calcolaListinoToUnionService();
            }

      }

       //se listinoFornitura cambia fa apparire/scomparire specifici campi aggiuntivi
       $('#listinoFornituraInput').change(function(){
         listinoToUnionService($('#listinoFornituraInput').val());
       });



       $('#rincaroInput').change(function(){

            var prezzo = parseFloat($('#listinoFornituraPosaTh').html().split(' ')[1]);
            calcolaTotaleCliente(prezzo);


       });


       $('#posaInput').change(function(){
            if( isActiveAzienda ){

               unionServiceToListino($('#nettoUsFInput').val() );

            }
            else if( isActiveFornitore ){
               listinoToUnionService($('#listinoFornituraInput').val());
            }
       });



        //variabili globale per il meccanismo di modifica dei prodotti
        var modificaAttiva=false;
        var oldProdottoDaModificare ="";


        /*funzione lanciata all'evento click del pulsante "inserisci fornitore"*/

       $('#registraProdotto').click( function() {


            if(modificaAttiva)
            {
                titleTxt="Si sta per modificare una voce prodotto già presente";
            }else
                titleTxt='Si sta per aggiungere un nuovo prodotto';

          swal({
            title: titleTxt,
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var inputOfProdotti =  [];
                        var selectOfProdotti = [];
                        var firstSelect = true;
                        var modelloProdotto="";


                        $("#trForm input").each(function(index){
                            inputOfProdotti.push($(this).val());

                        });

                        $("#trForm select").each(function(index){

                            if(firstSelect){
                                modelloProdotto=$(this).val();
                                firstSelect=false;
                            }
                            else{
                                selectOfProdotti=$(this).val().split('-');

                                /*tolgo degli spazi extra*/

                                selectOfProdotti[0]=selectOfProdotti[0].substring(0, selectOfProdotti[0].length-1 );
                                selectOfProdotti[1]=selectOfProdotti[1].substring(1, selectOfProdotti[1].length );


                            }

                        });


                         //se non è stato impostato il nome o tipo del prodotto non fare nulla
                        if( inputOfProdotti[0] == "" )
                            return;

                        if(isActiveAzienda){
                            var versoDiLettura=false;
                            var listinoFornitura = parseFloat($('#listinoFornituraTh').text().split(' ')[1]);

                            var listinoFornituraPosa = $('#listinoFornituraTh').text();

                            if(listinoFornituraPosa == ''){
                                listinoFornituraPosa = 0;
                            }

                            listinoFornituraPosa = parseFloat(listinoFornituraPosa.split(' ')[1]);



                            if(!modificaAttiva){
                                socketProdotto.emit("registra_prodotto", { "dip": "{{dipendente.username}}", "tipologia":  $('#selectTipologia').val(),
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                           "modello": modelloProdotto,
                                                                           "fornitore_primo_gruppo": selectOfProdotti[0],
                                                                           "fornitore_sotto_gruppo": selectOfProdotti[1],

                                                                           "prezzoListinoFornituraPosa": listinoFornituraPosa,
                                                                           "prezzoListinoFornitura": listinoFornitura,
                                                                           "rincaroAzienda":  inputOfProdotti[3],
                                                                           "trasportoAzienda": inputOfProdotti[4],
                                                                           "imballoAzienda": inputOfProdotti[5],
                                                                           "posa": inputOfProdotti[6],
                                                                           "nettoUsFornitura" : inputOfProdotti[7],
                                                                           "nettoUsFornituraPosa" : parseFloat($('#nettoUsFPTh').html().split(' ')[1]),
                                                                           "rincaroCliente": inputOfProdotti[8],
                                                                           "versoDiLettura": versoDiLettura } );
                            }
                            else{
                                socketProdotto.emit("modifica_prodotto", { "dip": "{{dipendente.username}}",
                                                                               "old_nome": oldProdottoDaModificare,
                                                                               "tipologia":  $('#selectTipologia').val(),
                                                                               "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                               "codice" : inputOfProdotti[2],
                                                                               "modello": modelloProdotto,
                                                                               "fornitore_primo_gruppo": selectOfProdotti[0],
                                                                               "fornitore_sotto_gruppo": selectOfProdotti[1],

                                                                               "prezzoListinoFornituraPosa": listinoFornituraPosa,
                                                                               "prezzoListinoFornitura": listinoFornitura,
                                                                               "rincaroAzienda":  inputOfProdotti[3],
                                                                               "trasportoAzienda": inputOfProdotti[4],
                                                                               "imballoAzienda": inputOfProdotti[5],
                                                                               "posa": inputOfProdotti[6],
                                                                               "nettoUsFornitura" : inputOfProdotti[7],
                                                                               "nettoUsFornituraPosa" : parseFloat($('#nettoUsFPTh').html().split(' ')[1]),
                                                                               "rincaroCliente": inputOfProdotti[8],
                                                                               "versoDiLettura": versoDiLettura } );

                            }

                        }
                        else if( isActiveFornitore){
                            var versoDiLettura=true;
                            var nettoUsFornitura = parseFloat($('#nettoUsFTh').text().split(' ')[1]);
                            var nettoUsFornituraPosa = $('#nettoUsFPTh').text();

                            nettoUsFornituraPosa = parseFloat(nettoUsFornituraPosa.split(' ')[1]);


                            if(!modificaAttiva){
                                socketProdotto.emit("registra_prodotto", { "dip": "{{dipendente.username}}", "tipologia":  $('#selectTipologia').val(),
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                           "modello": modelloProdotto,
                                                                           "fornitore_primo_gruppo": selectOfProdotti[0],
                                                                           "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                           "prezzoListinoFornituraPosa" : parseFloat($('#listinoFornituraPosaTh').html().split(' ')[1]),
                                                                           "prezzoListinoFornitura" : inputOfProdotti[3],
                                                                           "posa" : inputOfProdotti[4],
                                                                           "nettoUsFornitura" : nettoUsFornitura,
                                                                           "nettoUsFornituraPosa" : nettoUsFornituraPosa,
                                                                           "rincaroCliente": inputOfProdotti[5],
                                                                           "versoDiLettura": versoDiLettura } );
                            }
                            else{
                                socketProdotto.emit("modifica_prodotto", { "dip": "{{dipendente.username}}",
                                                                           "old_nome": oldProdottoDaModificare,
                                                                           "tipologia":  $('#selectTipologia').val(),
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                           "modello": modelloProdotto,
                                                                           "fornitore_primo_gruppo": selectOfProdotti[0],
                                                                           "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                           "prezzoListinoFornituraPosa" : parseFloat($('#listinoFornituraPosaTh').html().split(' ')[1]),
                                                                           "prezzoListinoFornitura" : inputOfProdotti[3],
                                                                           "posa" : inputOfProdotti[4],
                                                                           "nettoUsFornitura" : nettoUsFornitura,
                                                                           "nettoUsFornituraPosa" : nettoUsFornituraPosa,
                                                                           "rincaroCliente": inputOfProdotti[5],
                                                                           "versoDiLettura": versoDiLettura } );

                            }

                        }

                  }

          })
       });

       $('.delProdotto').click(function(){

            var tipoProdotto = $('#selectTipologia').val();
            var prodotto = $(this).closest('.rowBodyTab').children('.nome_prodotto').text();
            swal({
                title: 'Eliminazione prodotto '+ prodotto,
                text: 'sicuro di voler procedere?',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,

            }, function (isConfirm) {

                  if (isConfirm) {

                         socketProdotto.emit('elimina_prodotto', {'dip': '{{dipendente.username}}', 'prodotto': prodotto,
                                                   'tipologia': tipoProdotto });

                  }

            })

       });

       $('.segnalaProdotto').click(function(){

            var tipo = $('#selectTipologia').val();
            var prodotto = $(this).closest('.rowBodyTab').children('.nome_prodotto').text();


            if(!$(this).closest('tr').hasClass('daVerificare') ){

                socketProdotto.emit('settaProdottoDaVerificare', {'dip': '{{dipendente.username}}', 'tipo': tipo,
                                                           'prodotto': prodotto, 'valore': true});
            }
            else {
                socketProdotto.emit('settaProdottoDaVerificare', {'dip': '{{dipendente.username}}', 'tipo': tipo,
                                                       'prodotto': prodotto, 'valore': false});

            }

       });

       $('.modProdotto').click(function(){

           //se qualche altro prodotto e' gia' stato selezionato per la modifica deselezionalo
           if( modificaAttiva ){
                $('.inModifica').removeClass('inModifica');


           }
            else {

                modificaAttiva=true;
                $('#trForm').show();
                $('#showForm').removeClass('fa');
                $('#showForm').removeClass('fa-plus');
                /*$('#bodyPrezzario').css('height', '81%');*/
           }


           $(this).closest('tr').addClass("inModifica");

           var datiProdotto=[];

           $(".inModifica td").each(function(index){

               if( $(this).text() == " - " )
                datiProdotto.push(0);
               else
                datiProdotto.push($(this).text());

           });

            console.log(datiProdotto);

            oldProdottoDaModificare = datiProdotto[1];

            {% for prodotto in prodotti %}
                if('{{prodotto.nome}}' == datiProdotto[1] && '{{prodotto.tipologia}}' ==  $('#selectTipologia').val() ){

                    //resetto le variabili necessarie e i tag input necessari
                    isActiveAzienda=false;
                    isActiveFornitore=false;
                    typeOfInput = 'None';
                    campoPosa=false;

                    $('#listinoFornituraPosaTh').remove();
                    $('#listinoFornituraTh').remove();
                    $('#scontiRincariAziendaClose').remove();
                    $('#scontiRincariFornitoreClose').remove();
                    $('#nettoUsFTh').remove();
                    $('#nettoUsFPTh').remove();

                    /*non e' detto che ci siano questi campi; per sicurezza rimuoviamo tutto il possibile*/
                    $('#scontoStandardFornitoreTh').remove();
                    $('#scontoEx1FornitoreTh').remove();
                    $('#scontoEx2FornitoreTh').remove();
                    $('#trasportoFornitoreTh').remove();
                    $('#imballoFornitoreTh').remove();
                    $('#montaggioFornitoreTh').remove();
                    $('#rincaroAziendaTh').remove();
                    $('#trasportoAziendaTh').remove();
                    $('#imballoAziendaTh').remove();
                    $('#montaggioAziendaTh').remove();




                     $( '   <th  id="listinoFornituraPosaTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column6"><input id="listinoFornituraPosaInput" class="numberInput colorBlack" type="number" name="listinoFornituraPosa" placeholder="listino fornitura posa" step="0.01" value=0.00> &euro; </th> \
                            <th  id="listinoFornituraTh"  class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column7"><input id="listinoFornituraInput" class="numberInput colorBlack" type="number" name="listinoFornitura" placeholder="listino fornitura" step="0.01" value=0.00> &euro; </th> \
                            <th  id="scontiRincariAziendaClose" class="tableForm colorWhite intestazioneRosso" colspan="4" data-column="column8"></th>  \
                            <th  id="scontiRincariFornitoreClose" class="tableForm  colorWhite intestazioneBlu" colspan="6" data-column="column12"></th> \
                            <th  id="nettoUsFTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column18"><input id="nettoUsFInput" class="numberInput colorBlack" type="number" name="nettoUsF" placeholder="netto US fornitura" step="0.01" value=0.00> &euro; </th> \
                            <th  id="nettoUsFPTh" class="tableForm colNumSmall colorWhite intestazioneOliva" data-column="column19"><input id="nettoUsFPInput" class="numberInput colorBlack" type="number" name="nettoUsFP" placeholder="netto US fornitura+posa" step="0.01" value=0.00> &euro; </th> ').insertAfter('#fornitoreTh');

                      /*Poichè sono stati inseriti nuovi campi input bisogna riassociare gli eventi ad essi */
                       $('#listinoFornituraInput').change(function(){
                         listinoToUnionService(false, $('#listinoFornituraInput').val());
                       });

                       $('#listinoFornituraPosaInput').change(function(){
                         listinoToUnionService(true, $('#listinoFornituraPosaInput').val());
                       });

                       $('#nettoUsFInput').change(function(){
                         unionServiceToListino(false, $('#nettoUsFInput').val() );
                       });

                       $('#nettoUsFPInput').change(function(){
                         unionServiceToListino(true, $('#nettoUsFPInput').val());
                       });


                    $("#nomeProdottoInput").val('{{prodotto.nome}}');
                    $("#marchioInput").val('{{prodotto.marchio}}');
                    $("#codiceInput").val('{{prodotto.codice}}');
                    $("#fornitoreSelect").val(datiProdotto[4]);

                    {% if prodotto.versoDiLettura %}

                        {% if prodotto.prezzoListinoFornituraPosa != 0 and prodotto.prezzoListinoFornituraPosa is not none %}
                             $("#listinoFornituraPosaInput").val(parseFloat('{{prodotto.prezzoListinoFornituraPosa}}'));
                               $("#listinoFornituraPosaInput").trigger('change');
                        {% else %}
                            $("#listinoFornituraInput").val(parseFloat('{{prodotto.prezzoListinoFornitura}}'));
                            $("#listinoFornituraInput").trigger('change');
                        {% endif %}

                        $("#rincaroInput").val(datiProdotto[19]);

                    {% endif %}
                }
            {% endfor %}

         /*   $("#nomeProdottoInput").val( datiProdotto[1]);
            $("#marchioInput").val(datiProdotto[2]);
            $("#codiceInput").val(datiProdotto[3]);
            $("#fornitoreSelect").val(datiProdotto[4]);
            $("#listinoFornituraPosaInput").val(datiProdotto[5]);


            $("#listinoNettoInput").val(datiProdotto[6]);
            $("#scontoPercentualeInput").val(datiProdotto[7]);
            $("#nettoUsInput").val(datiProdotto[8]);
            $("#trasportoInput").val(datiProdotto[9]);
            $("#montaggioInput").val(datiProdotto[10]);
            $("#scontoInput").val(datiProdotto[11]);
            $("#ex1Input").val(datiProdotto[12]);
            $("#ex2Input").val(datiProdotto[13]);
            $("#imballoInput").val(datiProdotto[14]);
            $("#trasportoExtraInput").val(datiProdotto[15]);
            $("#rincaroInput").val(datiProdotto[16]);*/




            $(this).closest('tr').removeClass("inModifica");

       });



    </script>



{% endblock %}