<div class="inner">

    <span id="titlePagamentiSpan">
        <span><h2>Pagamenti</h2></span>

        <span id="ctrlSpanPagamenti">

            <select id="pagamentiSelect" >

                {% for prev in preventiviEdili_distinti %}
                <option class="numeroPreventivo-{{prev[2]}}">{{prev[0]}} - US{{prev[1]}}</option>
                {% endfor %}

            </select>

        </span>

    </span>


</div>
<script>

    var numPrevSelected =  $('#pagamentiSelect option:selected').attr('class').split('-')[1]

    var strToAdd='';

    {% for pagamento in pagamenti %}

        if( numPrevSelected == '{{pagamento.numero_preventivo}}' ){

            alert('mmm ' + numPrevSelected + ' {{pagamento.numero_preventivo}}')
            strToAdd ='<div class="features">'

            var totale = parseFloat('') + parseFloat('') + parseFloat('');

            if( totale > 15000 )
            {
                strToAdd= '<ul> \
                                <li>Acconto: &euro; {{pagamento.acconto}} <input type="checkbox" class="pagamentoCheckbox acconto num_prev-'+numPrevSelected+'"></li>  \
                                <li>Prima Rata: &euro; {{pagamento.prima_rata}} <input type="checkbox" class="pagamentoCheckbox prima_rata num_prev-'+numPrevSelected+'"><</li> \
                                <li>Saldo: {{pagamento.saldo}} %</li> \
                            </ul>'
            }
            else{

                strToAdd= '<ul> \
                                <li>Acconto: &euro; {{pagamento.acconto}} <input type="checkbox" class="pagamentoCheckbox acconto num_prev-'+numPrevSelected+'"><</li>  \
                                <li>Prima Rata: &euro; {{pagamento.prima_rata}} <input type="checkbox" class="pagamentoCheckbox prima_rata num_prev-'+numPrevSelected+'"><</li> \
                                <li>Seconda Rata: &euro; {{pagamento.seconda_rata}} <input type="checkbox" class="pagamentoCheckbox seconda_rata num_prev-'+numPrevSelected+'"><</li> \
                                <li>Terza Rata: &euro; {{pagamento.terza_rata} <input type="checkbox" class="pagamentoCheckbox terza_rata num_prev-'+numPrevSelected+'"><}</li> \
                                <li>Saldo: {{pagamento.saldo}} %</li> \
                            </ul>'

            }

        }
    {% endfor %}

    $(strToAdd).insertAfter("#titlePagamentiSpan");

</script>