

<div class="row wrap-contact100" id="container-profiloDip">
		<span class="contact100-form-title">
			Profilo Mario Rossi
		</span>

  <div class="col-md-5 col-sm-5 profiloDip-divFoto">

			<img src="static/images/1.jpg">
			<button class="spin circle" id="modificaProfiloButton" href="#" > Modifica  </button>

  </div>

  <div class="col-md-7 col-sm-7 profiloDip-divDescrizione">
			Codice Fiscale: <span class="label-grassetto">Mario</span><br/><br/>
			Sesso:<span class="label-grassetto"> Maschio</span><br/><br/>
			Data di nascita: <span class="label-grassetto">12/03/1978</span><br/><br/>
			Indirizzo: <span class="label-grassetto"> via moie 7, 37135, Verona</span> <br/><br/>
			Telefono: <span class="label-grassetto">335670988</span> <br/><br/>
			Email: <span class="label-grassetto"> mario.rossi@gmail.com</span> <br/><br/>
			IBAN: <span class="label-grassetto"> 24hi3bi32b4523543j2b234n32ni23442jhb42 </span> <br/><br/>
			Tipo dipendente:  <span class="label-grassetto"> Tecnico </span> Costo: <span class="label-grassetto"> 15 euro/h</span> <br/><br/>
			Tipo contratto:  <span class="label-grassetto"> Full-Time </span> <br/><br/>
			Data scadenza contratto:  <span class="label-grassetto"> 01/01/2040 </span> <br/><br/>
			Disponibilità settimanale: </br>
			<span class="label-grassetto"> Lunedì, Martedì, Giovedì, Venerdì </span> <br/><br/>

	  </div>

</div>

