<div class="inner">

    <span id="titlePreventivoSpan">
        <span><h2><a id="newPreventivo" class="fa fa-plus-circle expandPreventivoIcon"></a> Preventivi Edile</h2></span>

        {% if countPreventivi > 0 %}

            <span id="ctrlSpanPreventivo">
                <span class="aCtrlPreventivo">
                </span>
                <select id="preventivoSelect" >
                    {% for prev in preventivi_distinti %}
                        {% if prev[2] == lastPreventivo[0].numero_preventivo %}
                            <option class="numeroPreventivo-{{prev[2]}}" selected="selected">{{prev[0]}} - US{{prev[1]}}E</option>
                        {% else %}
                            <option class="numeroPreventivo-{{prev[2]}}">{{prev[0]}} - US{{prev[1]}}E</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id="dataSelect" >
                </select>


            </span>
        {% endif %}
    </span>


</div>
<script>

    var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoEdile');
    var numPrevSelected;
    var dataPrevSelected;

    function calcolaTotalePreventivo(numero_preventivo, data){
        var totale = 0;

        {% for preventivo in preventivi %}
            if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].data}}"  == data ){
                {% for lavorazione in preventivo[1][1] %}
                    totale += parseFloat('{{lavorazione[2]}}');
                {% endfor %}
            }

        {% endfor %}

        $('#totalePrev').html( '<button style="display:none" id="btnPrev">Preventivo</button><button style="display:none" id="btnBudget">Budget</button><span>Totale: &euro; '+ totale +'</span>');

    }

    /*Stampa l'antemprima del preventivo edile*/
    function stampaRiassuntoPreventivo( numero_preventivo, data ){

                    $('section#one').children('.inner').children('.features').remove();

                    strToAdd = '';
                    {% for preventivo in preventivi %}
                        if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].data}}"  == data ){
                            strToAdd = '<div class="features"> \
                                            <div id="tabFatturaPaginaCliente" class="table-wrapper"> \
                                                    <table class="alt"> \
                                                        <thead> \
                                                            <tr> \
                                                                <th class="tdTipoLav">Lavorazione</th> \
                                                                <th class="tdQuantita">Quantità</th> \
                                                                <th class="tdUnitaMisura">Unità</th> \
                                                                <th class="tdTotale">Totale</th> \
                                                            </tr> \
                                                        </thead> \
                                                    </table>';


                            {% for settore in preventivo[1][0] %}
                                strToAdd += '<table class="alt"> \
                                            <tbody> \
                                                <tr> \
                                                    <td colspan="4">{{settore}}</td> \
                                                </tr>';

                                {% for lavorazione in preventivo[1][1] %}
                                    {% if lavorazione[0].settore == settore %}
                                        var roundedQuantita = Math.round(parseFloat('{{lavorazione[1]}}')*100)/100;
                                        var roundedTotale =  Math.round(parseFloat('{{lavorazione[2]}}')*100)/100;
                                        strToAdd +=	'<tr> \
                                                        <td class="tdTipoLav">{{lavorazione[0].tipologia_lavorazione}}</td> \
                                                        <td class="tdQuantita">'+roundedQuantita+'</td> \
                                                        <td class="tdUnitaMisura">{{lavorazione[0].unitaMisura}}</td> \
                                                        <td class="tdTotale">&euro; '+roundedTotale+'</td> \
                                                     </tr>';
                                    {% endif %}
                                {% endfor %}

                                strToAdd +=	'</tbody> \
                                            </table>';
                            {% endfor %}

                            strToAdd += '<div id="totalePrev"> \
                                                    <span>Totale: </span> \
                                                </div> \
                                            </div> \
                                        </div>';
                        }
                    {% endfor %}

                    $(strToAdd).insertAfter("#titlePreventivoSpan");
                    calcolaTotalePreventivo(numero_preventivo, data);

    }

    function impostaSelectDataPreventivoEdile(numero_preventivo){

        var firstCycle=true;
        var preventivoStatus = true;

        //resetto il select togliendo tutti i tag option
        $('#dataSelect').html('');

        {% for preventivo in preventivi %}
            var optionElement = "";

            // di default setto come data quella piu' recente del piu' recente preventivo
            // generato per questo cliente
            if( "{{preventivo[0].numero_preventivo}}" == numero_preventivo ){
                if( firstCycle ){
                    optionElement = '<option selected="selected" value="{{preventivo[0].data}}">{{preventivo[0].data}}</option>';
                    firstCycle=false;
                }
                else
                    optionElement = '<option value="{{preventivo[0].data}}">{{preventivo[0].data}}</option>';

                {% if not preventivo[0].stato %}

                    $('.aCtrlPreventivo').children('a').hide();
                    preventivoStatus = false;

                {% else %}

                    $('.aCtrlPreventivo').children('a').show();


                {% endif %}

                numPrevSelected = '{{preventivo[0].numero_preventivo}}';
                dataPrevSelected = '{{preventivo[0].data}}';


            }


            $('#dataSelect').append( optionElement );






        {% endfor %}

        return preventivoStatus;
    }


    var mostraBudgetBtn = function(numero_preventivo, data){
        $('#totalePrev').css('height', 'unset');
        $('#btnBudget').show();
        $('#btnPrev').show();

        $('#btnBudget').unbind('click').click(function(){
            socketPreventivo.emit('stampa_budget', {
                'dip' : '{{dipendente.username}}',
                'numero_preventivo' : numero_preventivo,
                'data' : data
            });
        });

        $('#btnPrev').unbind('click').click(function(){

            window.open('/downloadPreventivoEdileChiuso/'+numero_preventivo, '_blank');
        });

    }

    var nascondiBudgetBtn = function(){
        $('#totalePrev').css('height', '40px');
        $('#btnBudget').hide();
        $('#btnPrev').hide();

    }


    {% if countPreventivi > 0 %}

        $('.aCtrlPreventivo').html(
                '<a id="modificaPreventivo" class="fa fa-edit expandPreventivoIcon"></a>'+
                '<a id="cancellaPreventivo" class="fa fa-trash expandPreventivoIcon"></a>'
        );

        /*$('#modificaPreventivo').click(function(){
            var selPrev = $('#preventivoSelect option:selected');
            var selDate = $('#dataSelect').val();

            socketPreventivo.emit('modifica_preventivo_edile', {'dip': '{{dipendente.username}}',
                                                          'numero_preventivo': selPrev,
                                                          'data': selDate });
        });*/

        $('#cancellaPreventivo').click(function(){
             var selPrev = $('#preventivoSelect option:selected').attr('class').split('-')[1];
             var selData = $('#dataSelect').val();
             socketPreventivo.emit('elimina_preventivo', {'dip': '{{dipendente.username}}',
                                                          'numero_preventivo': selPrev,
                                                           'data': selData });


        });


        var statusPreventivo = impostaSelectDataPreventivoEdile('{{lastPreventivo[0].numero_preventivo}}');
        stampaRiassuntoPreventivo('{{lastPreventivo[0].numero_preventivo}}', '{{lastPreventivo[0].data}}');

        if( !statusPreventivo ){
            mostraBudgetBtn('{{lastPreventivo[0].numero_preventivo}}', '{{lastPreventivo[0].data}}');
        }
        else{
            nascondiBudgetBtn();
        }

    {% endif %}


    $('#newPreventivo').click(function(){

        swal.withFormAsync({
            title: 'Inserire i dati della commessa:',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true,
            formFields: [

             { id: 'intervento', label: 'Tipologia intervento:', name: 'intervento',  placeholder: 'tipologia intervento' },
             { id: 'indirizzo',  label: 'Indirizzo:', name: 'indirizzo',  placeholder: 'indirizzo' },
             { id: 'comune', label: 'Comune:', name: 'comune',  placeholder: 'comune' }


            ]
        }).then(function (context) {

            if(context._isConfirm){

                socketPreventivo.emit('registra_nuovo_preventivo',
                                        { 'dip': '{{dipendente.username}}',
                                          'nome_cliente' : '{{cliente.nome}}',
                                          'cognome_cliente' : '{{cliente.cognome}}',
                                          'indirizzo_cliente' : '{{cliente.indirizzo}}',
                                          'intervento_commessa' : context.swalForm['intervento'],
                                          'indirizzo_commessa' : context.swalForm['indirizzo'],
                                          'comune_commessa' : context.swalForm['comune']}
                                     );

            }
        });


    });


    $('#modificaPreventivo').click(function(){

        var selectedPreventivo = $('#preventivoSelect option:selected').attr('class').split('-')[1];
        var selDate = $('#dataSelect').val();

        socketPreventivo.emit('modifica_preventivo_edile', {'numero_preventivo': selectedPreventivo, 'data': selDate,
                                                            'dip': '{{dipendente.username}}' });
    });


    $('#preventivoSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoSelect option:selected').attr('class').split('-')[1]);

        var statusPreventivo =impostaSelectDataPreventivoEdile(selectedPreventivo);

        var selectedData = $('#dataSelect').val();
        stampaRiassuntoPreventivo(selectedPreventivo, selectedData);

        if( !statusPreventivo ){
            mostraBudgetBtn(selectedPreventivo, selectedData);
        }
        else{
            nascondiBudgetBtn();
        }

    });

    $('#dataSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoSelect option:selected').attr('class').split('-')[1]);
        var selectedData = $('#dataSelect').val();
        stampaRiassuntoPreventivo(selectedPreventivo, selectedData);

    });



</script>