<div class="inner">

    <span id="titlePreventivoSpan">
        <span><h2><a id="newPreventivo" class="fa fa-plus-circle expandPreventivoIcon"></a> Preventivi Edile</h2></span>

        {% if countPreventivi > 0 %}

            <span id="ctrlSpanPreventivo">
                <span class="aCtrlPreventivo">
                </span>
                <select id="preventivoSelect" >
                    {% for prev in preventivi_distinti %}
                        {% if prev[2] == lastPreventivo[0].numero_preventivo %}
                            <option class="numeroPreventivo-{{prev[2]}}" selected="selected">{{prev[0]}} - US{{prev[1]}}E - {{prev[4]}} </option>
                        {% else %}
                            <option class="numeroPreventivo-{{prev[2]}}">{{prev[0]}} - US{{prev[1]}}E - {{prev[4]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id="revisioneSelect" >
                </select>


            </span>
        {% endif %}
    </span>


</div>
<script>

    var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoEdile');
    var numPrevSelected;
    var revisionePrevSelected;

    var revisionaPreventivo = function(){


        var selectedPreventivo = $('#preventivoSelect option:selected').attr('class').split('-')[1];
        var selRevisione = $('#revisioneSelect').val();


        socketPreventivo.emit('revisiona_preventivo_edile', {'numero_preventivo': selectedPreventivo, 'revisione': selRevisione,
                                                            'dip': '{{dipendente.username}}' });


    }

    function calcolaTotalePreventivo(numero_preventivo, revisione){
        var totale = 0;

        {% for preventivo in preventivi %}
            if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].revisione}}"  == revisione ){
                {% for lavorazione in preventivo[1][1] %}

                    var totLav = parseFloat('{{lavorazione[2]}}');


                    totale += totLav;
                {% endfor %}
            }

        {% endfor %}

        totale = Math.round( totale*100 )/100;
        $('#totalePrev').html( '<button style="display:none" id="btnPrev">Preventivo</button><button style="display:none" id="btnBudget">Budget</button><button onclick="revisionaPreventivo();" style="display:none" id="btnRevisione">Revisiona</button><span>Totale: &euro; '+ totale +'</span>');

    }

    /*Stampa l'antemprima del preventivo edile*/
    function stampaRiassuntoPreventivo( numero_preventivo, revisione ){

                    $('section#one').children('.inner').children('.features').remove();

                    strToAdd = '';
                    {% for preventivo in preventivi %}
                        if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].revisione}}"  == revisione ){

                            var labelUltimaModifica;

                            {% if preventivo[0].stato %}
                                labelUltimaModifica = '<label id="labelUltimaModifica">Ultima modifica: {{preventivo[0].data_ultima_modifica}}</label>';
                            {% else %}
                                labelUltimaModifica = '<label id="labelUltimaModifica">Data chiusura: {{preventivo[0].data_ultima_modifica}}</label>';
                            {% endif %}

                            strToAdd = '<div class="features">'+
                                           labelUltimaModifica +
                                            '<div id="tabFatturaPaginaCliente" class="table-wrapper"> \
                                                    <table class="alt"> \
                                                        <thead> \
                                                            <tr> \
                                                                <th class="tdTipoLav">Lavorazione</th> \
                                                                <th class="tdQuantita">Quantità</th> \
                                                                <th class="tdUnitaMisura">Unità</th> \
                                                                <th class="tdTotale">Totale</th> \
                                                            </tr> \
                                                        </thead> \
                                                    </table>';


                            {% for settore in preventivo[1][0] %}
                                strToAdd += '<table class="alt"> \
                                            <tbody> \
                                                <tr> \
                                                    <td colspan="4">{{settore}}</td> \
                                                </tr>';

                                {% for lavorazione in preventivo[1][1] %}
                                    {% if ( lavorazione[0].settore == settore and not lavorazione[0].copia ) or
                                            lavorazione[0].settore_lav_copia == settore and lavorazione[0].copia %}
                                        var roundedQuantita = Math.round(parseFloat('{{lavorazione[1]}}')*100)/100;
                                        var roundedTotale =  Math.round(parseFloat('{{lavorazione[2]}}')*100)/100;


                                        strToAdd +=	'<tr> \
                                                        <td class="tdTipoLav">{{lavorazione[0].nome_modificato}}</td> \
                                                        <td class="tdQuantita">'+roundedQuantita+'</td> \
                                                        <td class="tdUnitaMisura">{{lavorazione[0].unitaMisura}}</td> \
                                                        <td class="tdTotale">&euro; '+roundedTotale+'</td> \
                                                     </tr>';
                                    {% endif %}
                                {% endfor %}

                                strToAdd +=	'</tbody> \
                                            </table>';
                            {% endfor %}

                            strToAdd += '<div id="totalePrev"> \
                                                    <span>Totale: </span> \
                                                </div> \
                                            </div> \
                                        </div>';
                        }
                    {% endfor %}

                    $(strToAdd).insertAfter("#titlePreventivoSpan");
                    calcolaTotalePreventivo(numero_preventivo, revisione);

    }

    function impostaSelectRevisionePreventivoEdile(numero_preventivo){

        var firstCycle=true;
        var preventivoStatus = true;

        //resetto il select togliendo tutti i tag option
        $('#revisioneSelect').html('');

        {% for preventivo in preventivi %}
            var optionElement = "";

            // di default setto come revisione quella piu' recente del piu' recente preventivo
            // generato per questo cliente
            if( "{{preventivo[0].numero_preventivo}}" == numero_preventivo ){

                var revisioneToPrint;

                {% if preventivo[0].revisione == 1 %}
                    revisioneToPrint = 'originale';
                {% else %}
                    var numRev = parseInt('{{preventivo[0].revisione}}')-1;
                    revisioneToPrint = 'revisione #'+numRev;
                {% endif %}

                if( firstCycle ){
                    optionElement = '<option selected="selected" value="{{preventivo[0].revisione}}">'+revisioneToPrint+'</option>';
                    firstCycle=false;

                    {% if not preventivo[0].stato %}

                        $('.aCtrlPreventivo').children('a').hide();
                        preventivoStatus = false;

                    {% else %}

                        $('.aCtrlPreventivo').children('a').show();


                    {% endif %}

                    numPrevSelected = '{{preventivo[0].numero_preventivo}}';
                    revisionePrevSelected = '{{preventivo[0].revisione}}';


                }
                else
                    optionElement = '<option value="{{preventivo[0].revisione}}">'+revisioneToPrint+'</option>';



            }


            $('#revisioneSelect').append( optionElement );






        {% endfor %}

        return preventivoStatus;
    }


    var mostraBudgetBtn = function(numero_preventivo, revisione){
        $('#totalePrev').css('height', 'unset');
        $('#btnBudget').show();
        $('#btnPrev').show();
        $('#btnRevisione').show();

        $('#btnBudget').unbind('click').click(function(){

            var budget_salvato = 0;
            {% for preventivo in preventivi %}
                if( "{{preventivo[0].numero_preventivo}}" == numero_preventivo ){
                    if( "{{preventivo[0].revisione}}" == revisione ){

                        budget_salvato = parseFloat("{{preventivo[0].budget_imprevisti}}");
                    }
                }

            {% endfor %}

            swal.withFormAsync({
                title: 'Inserire budget imprevisti',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                 { id: 'imprevisti', type: 'number',  value: budget_salvato, name: 'imprevisti', placeholder: 'budget...' }

                ]
            }).then(function (context) {

                if(context._isConfirm){

                    socketPreventivo.emit('imposta_budget_imprevisti', {
                        'dip': '{{dipendente.username}}',
                        'numero_preventivo': numero_preventivo,
                        'revisione': revisione,
                        'budget' : context.swalForm['imprevisti']

                    });

                }
            });


        });

        $('#btnPrev').unbind('click').click(function(){

            swal.withFormAsync({
                title: 'Selezionare il tipo di preventivo:',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                 { id: 'tipoPrev', type: 'select',  name: 'tipoPrev', options: [
                      {value: '1', text: 'preventivo a corpo'},
                      {value: '2', text: 'preventivo su misura'},
                    ]},



                ]
            }).then(function (context) {

                if(context._isConfirm){

                    var scelta = parseInt( context.swalForm['tipoPrev'])

                    window.open('/downloadPreventivoEdile/'+numero_preventivo+'/'+revisione+'/'+scelta, '_blank');


                }
            });



        });

    }

    var nascondiBudgetBtn = function(){
        $('#totalePrev').css('height', '40px');
        $('#btnBudget').hide();
        $('#btnPrev').hide();
        $('#btnRevisione').hide();

    }


    {% if countPreventivi > 0 %}

        $('.aCtrlPreventivo').html(
                '<a id="modificaPreventivo" class="fa fa-edit expandPreventivoIcon"></a>'+
                '<a id="cancellaPreventivo" class="fa fa-trash expandPreventivoIcon"></a>'
        );


        $('#cancellaPreventivo').click(function(){


             var selPrev = $('#preventivoSelect option:selected').attr('class').split('-')[1];
             var selRevisione = $('#revisioneSelect').val();
             var codicePreventivo =  $('#preventivoSelect option:selected').text().split(' - ')[1];

             var selRevToPrint = parseInt(selRevisione)-1

             swal({
                title: 'Si sta per la cancellare il preventivo '+ codicePreventivo +' rev.' + selRevToPrint,
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'Annulla',
                closeOnConfirm: true,

             }, function(isConfirm){
                  if (isConfirm) {
                    socketPreventivo.emit('elimina_preventivo', {'dip': '{{dipendente.username}}',
                                                          'numero_preventivo': selPrev,
                                                           'revisione': selRevisione});
                  }
             });


        });


        var statusPreventivo = impostaSelectRevisionePreventivoEdile('{{lastPreventivo[0].numero_preventivo}}');
        stampaRiassuntoPreventivo('{{lastPreventivo[0].numero_preventivo}}', '{{lastPreventivo[0].revisione}}');

        if( !statusPreventivo ){
            mostraBudgetBtn('{{lastPreventivo[0].numero_preventivo}}', '{{lastPreventivo[0].revisione}}');
        }
        else{
            nascondiBudgetBtn();
        }

    {% endif %}


    $('#newPreventivo').click(function(){

        swal.withFormAsync({
            title: 'Inserire i dati della commessa:',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true,
            formFields: [

             { id: 'intervento', label: 'Tipologia intervento:', name: 'intervento',  placeholder: 'tipologia intervento' },
             { id: 'indirizzo',  label: 'Indirizzo:', name: 'indirizzo',  placeholder: 'indirizzo' },
             { id: 'comune', label: 'Comune:', name: 'comune',  placeholder: 'comune' }


            ]
        }).then(function (context) {

            if(context._isConfirm){

                socketPreventivo.emit('registra_nuovo_preventivo',
                                        { 'dip': '{{dipendente.username}}',
                                          'nome_cliente' : '{{cliente.nome}}',
                                          'cognome_cliente' : '{{cliente.cognome}}',
                                          'indirizzo_cliente' : '{{cliente.indirizzo}}',
                                          'intervento_commessa' : context.swalForm['intervento'],
                                          'indirizzo_commessa' : context.swalForm['indirizzo'],
                                          'comune_commessa' : context.swalForm['comune']}
                                     );

            }
        });


    });


    $('#modificaPreventivo').click(function(){

        var selectedPreventivo = $('#preventivoSelect option:selected').attr('class').split('-')[1];
        var selRevisione = $('#revisioneSelect').val();

        var codicePreventivo =  $('#preventivoSelect option:selected').text().split(' - ')[1];
        var interventoCommessa = $('#preventivoSelect option:selected').text().split(' - ')[0];

        var indirizzo_commessa, comune_commessa;

        {% for commessa in commesse_distinte %}
            if( '{{commessa.numero_preventivo}}' == selectedPreventivo &&
                    '{{commessa.intervento}}' == interventoCommessa ){
                indirizzo_commessa = '{{commessa.indirizzo}}';
                comune_commessa = '{{commessa.comune}}';
            }
        {% endfor %}

        var selRevToPrint = parseInt(selRevisione)-1

        swal.withFormAsync({
            title: 'Si sta per modificare il preventivo ' + codicePreventivo + ' rev.'+selRevToPrint,
            text: 'I dati della commessa sono:',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true,
            formFields: [

             { id: 'intervento', label: 'Tipologia intervento:', value: interventoCommessa, name: 'intervento',  placeholder: 'tipologia intervento' },
             { id: 'indirizzo',  label: 'Indirizzo:', value: indirizzo_commessa, name: 'indirizzo',  placeholder: 'indirizzo' },
             { id: 'comune', label: 'Comune:', value: comune_commessa, name: 'comune',  placeholder: 'comune' }


            ]
        }).then(function (context) {

            if(context._isConfirm){

                socketPreventivo.emit('modifica_preventivo_edile',
                    {
                        'numero_preventivo': selectedPreventivo,
                        'revisione': selRevisione,
                        'vecchio_intervento_commessa' : interventoCommessa,
                        'nuovo_intervento_commessa' : context.swalForm['intervento'],
                        'indirizzo_commessa' : context.swalForm['indirizzo'],
                        'comune_commessa' : context.swalForm['comune'],
                        'dip': '{{dipendente.username}}'
                    });


            }
        });


    });


    $('#preventivoSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoSelect option:selected').attr('class').split('-')[1]);

        var statusPreventivo =impostaSelectRevisionePreventivoEdile(selectedPreventivo);

        var selectedRevisione = $('#revisioneSelect').val();
        stampaRiassuntoPreventivo(selectedPreventivo, selectedRevisione);

        if( !statusPreventivo ){
            mostraBudgetBtn(selectedPreventivo, selectedRevisione);
        }
        else{
            nascondiBudgetBtn();
        }

    });

    $('#revisioneSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoSelect option:selected').attr('class').split('-')[1]);
        var selectedRevisione = parseInt($('#revisioneSelect').val());
        stampaRiassuntoPreventivo(selectedPreventivo, selectedRevisione);

        statusPreventivo = true;

        {% for preventivo in preventivi %}

            if( parseInt('{{preventivo[0].numero_preventivo}}') == selectedPreventivo ){

                if( parseInt('{{preventivo[0].revisione}}') == selectedRevisione ){

                    statusPreventivo = '{{preventivo[0].stato}}';

                    if( statusPreventivo == 'True' )
                        statusPreventivo = true;
                    else
                        statusPreventivo = false;

                }
            }


        {% endfor %}

        if( !statusPreventivo ){
            $('.aCtrlPreventivo').children('a').hide();
            mostraBudgetBtn( selectedPreventivo, selectedRevisione);
        }
        else{
            $('.aCtrlPreventivo').children('a').show();
            nascondiBudgetBtn();
        }

    });



</script>