<div class="inner">

    <span id="titlePreventivoVariantiSpan">
        <span><h2><a id="newPreventivoVarianti" class="fa fa-plus-circle expandPreventivoIcon"></a>Preventivo varianti</h2></span>

        {% if countPreventiviVarianti > 0 %}

            <span id="ctrlSpanPreventivoVarianti">
                <span class="aCtrlPreventivoVarianti">
                </span>
                <select id="preventivoVariantiSelect" >
                    {% for prev in preventiviVarianti_distinti %}
                        {% if prev[2] == lastPreventivoVarianti[0].numero_preventivo %}
                            <option class="numeroPreventivoVarianti-{{prev[2]}}" selected="selected">{{prev[0]}} - US{{prev[1]}}V</option>
                        {% else %}
                            <option class="numeroPreventivoVarianti-{{prev[2]}}">{{prev[0]}} - US{{prev[1]}}V</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id="dataVariantiSelect" >
                </select>


            </span>
        {% endif %}
    </span>


</div>
<script>

    var socketVarianti= io.connect("{{sockUrl}}"+'/preventivoVarianti');


    function calcolaTotalePreventivoVarianti(numero_preventivo, data){
        var totale = 0;

        {% for preventivo in preventiviVarianti %}
            if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].data}}"  == data ){
                {% for lavorazione in preventivo[1][1] %}
                    totale += parseFloat('{{lavorazione[2]}}');
                {% endfor %}
            }

        {% endfor %}

        $('#totalePrevVarianti').html( '<span>Totale: &euro; '+ Math.round(totale*100)/100 +'</span>');

    }

    /*Stampa l'antemprima del preventivo varianti*/
    function stampaRiassuntoPreventivoVarianti( numero_preventivo, data ){

                    $('section#three').children('.inner').children('.features').remove();

                    strToAdd = '';
                    {% for preventivo in preventiviVarianti %}
                        if( "{{preventivo[0].numero_preventivo}}"  == numero_preventivo &&  "{{preventivo[0].data}}"  == data ){
                            strToAdd = '<div class="features"> \
                                            <div id="tabVariantiPaginaCliente" class="table-wrapper"> \
                                                    <table class="alt"> \
                                                        <thead> \
                                                            <tr> \
                                                                <th class="tdTipoLav">Lavorazione</th> \
                                                                <th class="tdQuantita">Quantità</th> \
                                                                <th class="tdUnitaMisura">Unità</th> \
                                                                <th class="tdTotale">Totale</th> \
                                                            </tr> \
                                                        </thead> \
                                                    </table>';


                            {% for settore in preventivo[1][0] %}
                                strToAdd += '<table class="alt"> \
                                            <tbody> \
                                                <tr> \
                                                    <td colspan="4">{{settore}}</td> \
                                                </tr>';

                                {% for lavorazione in preventivo[1][1] %}
                                    {% if lavorazione[0].settore == settore %}
                                        roundedQuantita = Math.round(parseFloat('{{lavorazione[1]}}')*100)/100
                                        totaleLav = Math.round(parseFloat('{{lavorazione[2]}}')*100)/100;
                                        strToAdd +=	'<tr> \
                                                        <td class="tdTipoLav">{{lavorazione[0].tipologia_lavorazione}}</td> \
                                                        <td class="tdQuantita">'+roundedQuantita+'</td> \
                                                        <td class="tdUnitaMisura">{{lavorazione[0].unitaMisura}}</td> \
                                                        <td class="tdTotale">&euro; '+totaleLav+'</td> \
                                                     </tr>';
                                    {% endif %}
                                {% endfor %}

                                strToAdd +=	'</tbody> \
                                            </table>';
                            {% endfor %}

                            strToAdd += '<div id="totalePrevVarianti"> \
                                                    <span>Totale: </span> \
                                                </div> \
                                            </div> \
                                        </div>';
                        }
                    {% endfor %}

                    $(strToAdd).insertAfter("#titlePreventivoVariantiSpan");
                    calcolaTotalePreventivoVarianti(numero_preventivo, data);

    }

    function impostaSelectDataPreventivoVarianti(numero_preventivo){

        var firstCycle=true;

        //resetto il select togliendo tutti i tag option
        $('#dataVariantiSelect').html('');

        {% for preventivo in preventiviVarianti %}
            var optionElement = "";

            // di default setto come data quella piu' recente del piu' recente preventivo
            // generato per questo cliente
            if( "{{preventivo[0].numero_preventivo}}" == numero_preventivo ){
                if( firstCycle ){
                    optionElement = '<option selected="selected" value="{{preventivo[0].data}}">{{preventivo[0].data}}</option>';
                    firstCycle=false;
                }
                else
                    optionElement = '<option value="{{preventivo[0].data}}">{{preventivo[0].data}}</option>';
            }


            $('#dataVariantiSelect').append( optionElement );


        {% endfor %}
    }

    {% if countPreventiviVarianti > 0 %}
        $('.aCtrlPreventivoVarianti').html(
                '<a id="modificaPreventivoVarianti" class="fa fa-edit expandPreventivoIcon"></a>'+
                '<a id="cancellaPreventivoVarianti" class="fa fa-trash expandPreventivoIcon"></a>'
        );

        $('#modificaPreventivoVarianti').click(function(){
            var selPrev = $('#preventivoVariantiSelect option:selected');
            var selData = $('#dataVariantiSelect').val();

            socketVarianti.emit('modifica_preventivo_varianti', {'dip': '{{dipendente.username}}',
                                                          'numero_preventivo': selPrev,
                                                          'data': selData });
        });

        $('#cancellaPreventivoVarianti').click(function(){
             var selPrev = $('#preventivoVariantiSelect option:selected').attr('class').split('-')[1];
             var selData = $('#dataVariantiSelect').val();
             socketVarianti.emit('elimina_preventivo', {'dip': '{{dipendente.username}}',
                                                          'numero_preventivo': selPrev,
                                                           'data': selData });


        });

        impostaSelectDataPreventivoVarianti('{{lastPreventivoVarianti[0].numero_preventivo}}');
        stampaRiassuntoPreventivoVarianti('{{lastPreventivoVarianti[0].numero_preventivo}}', '{{lastPreventivoVarianti[0].data}}');
    {% endif %}


    $('#newPreventivoVarianti').click(function(){

        swal.withFormAsync({
            title: 'Selezionare una commessa:',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true,
            formFields: [

                { id: 'select', type: 'select',
                    options: [
                    {% for prev in preventiviEdili_distinti %}
                        {value: '{{prev[0]}}-{{prev[2]}}', text: '{{prev[0]}} - US{{prev[1]}}E'},
                    {% endfor %}

                    ]
                }

            ]
        }).then(function (context) {
            if(context._isConfirm){

                    socketVarianti.emit('registra_nuovo_preventivo',
                                        { 'dip': '{{dipendente.username}}',
                                          'numero_preventivo': context.swalForm['select'].split('-')[1]
                                        }
                              );

            }
        });

    });

    $('#modificaPreventivoVarianti').click(function(){

        var selPrev = $('#preventivoVariantiSelect option:selected').attr('class').split('-')[1];
        var selData = $('#dataVariantiSelect').val();

        socketVarianti.emit('modifica_preventivo_varianti', {'dip': '{{dipendente.username}}',
                                                      'numero_preventivo': selPrev,
                                                      'data': selData });
    });


    $('#preventivoVariantiSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoVariantiSelect option:selected').attr('class').split('-')[1]);

        impostaSelectDataPreventivoVarianti(selectedPreventivo);

        var selectedData = $('#dataVariantiSelect').val();
        stampaRiassuntoPreventivoVarianti(selectedPreventivo, selectedData);


    });

    $('#dataVariantiSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoVariantiSelect option:selected').attr('class').split('-')[1]);
        var selectedData = $('#dataVariantiSelect').val();
        stampaRiassuntoPreventivoVarianti(selectedPreventivo, selectedData);
    });




</script>