<div class="inner">

    <span id="titlePreventivoSpan">
        <span><h2><a id="newPreventivoFiniture" class="fa fa-plus-circle expandPreventivoIcon"></a> Scelta finiture</h2></span>

        {% if countPreventivi > 0 %}

            <span id="ctrlSpanPreventivo">
                <span class="aCtrlPreventivo">
                </span>
                <select id="preventivoFinitureSelect" >
                    {% for prev in preventivi_distinti %}
                        {% if prev[2] == lastPreventivo[0].numero_preventivo %}
                            <option class="numeroPreventivo-{{prev[2]}}" selected="selected">{{prev[0]}} - US{{prev[1]}}F</option>
                        {% else %}
                            <option class="numeroPreventivo-{{prev[2]}}">{{prev[0]}} - US{{prev[1]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select id="dataFinitureSelect" >
                </select>


            </span>
        {% endif %}
    </span>


</div>
<script>

    var socketFiniture= io.connect("{{sockUrl}}"+'/preventivoFiniture');


    $('#newPreventivoFiniture').click(function(){
        
        socketFiniture.emit('registra_nuovo_preventivo',
                                        { 'dip': '{{dipendente.username}}',
                                          'nome_cliente' : '{{cliente.nome}}',
                                          'cognome_cliente' : '{{cliente.cognome}}',
                                          'indirizzo_cliente' : '{{cliente.indirizzo}}',
                                        }
                              );


    });


/*
    $('#modificaPreventivo').click(function(){

        var selectedPreventivo = $('#preventivoFinitureSelect option:selected').attr('class').split('-')[1];
        console.log("cliccato "+ selectedPreventivo);
        socketPreventivo.emit('modifica_preventivo_edile', {'numero_preventivo': selectedPreventivo, 'dip': '{{dipendente.username}}' });
    });


    $('#preventivoFinitureSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoFinitureSelect option:selected').attr('class').split('-')[1]);

        impostaSelectDataPreventivoEdile(selectedPreventivo);

        var selectedData = $('#dataFinitureSelect').val();
        stampaRiassuntoPreventivo(selectedPreventivo, selectedData);


    });

    $('#dataFinitureSelect').change(function(){
        var selectedPreventivo = parseInt($('#preventivoFinitureSelect option:selected').attr('class').split('-')[1]);
        var selectedData = $('#dataFinitureSelect').val();
        stampaRiassuntoPreventivo(selectedPreventivo, selectedData);
    });
*/



</script>