{% extends "paginaClienteBase.html" %}

{% block content %}

<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a></h2>
            <div id="divFattura" class="features row">
                <div class="col-md-4">
                    <span>Settore di Lavorazione</span></br>
                    <div>
                        <select id="selectSettore" class="js-select2" name="service">
                            {% for settore in settori %}
                                <option>{{settore.nome}}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo di dati che voglio -->
                    <div id="memoriaLavorazioniAggiunte">
                        {% for settore in settori %}
                            <div id="memoriaLavorazioniAggiunte-{{settore.nome}}" class="settoreMemorizzato">
                            <!--
                                Esempio struttura di #memoriaLavorazioniAggiunte

                                '<div class="<id-del-bottone>">'+
                                    '<span class="classeToAdd">aggiunto-'+count+'</span>'+
                                '</div>'
                             -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div  id="divElementFattura" class="features col-md-8">
                    <ul id="listaElementFattura">

                    </ul>

                </div>


            </div>
            <div id="tabContainer" class="features">
                <div id="tabFattura" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
            <div id="divTotale" >
                
            </div>
            <div id="divSalvaPreventivo" class="features">
                <a id="saveButton">Salva</a>
            </div>
        </div>
    </section>
</div>

<script>

        var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoEdile');

        var count=1;

        function rienumeraMemoriaLavorazioni(){
            var counter = 1;
            $('#memoriaLavorazioniAggiunte').children('.settoreMemorizzato').each(function(){
                $(this).children('div').each(function(){
                    $(this).text('aggiunto-'+counter);
                    counter+=1;
                });

            });

        }

        function rienumeraPagina(){
            var counter = 1;
            var oldNum="";

            //rinomino tutti gli id degli elementi per non rischiare di
            //averne due uguali nella renumerazione.
            $('.trBody').each(function(){
                var idThisFirstPart = $(this).attr('id').split('-')[0];
                var settore=idThisFirstPart.split('_')[0];

                oldNum = $(this).attr('id').split('-')[1]
                $(this).attr('id', idThisFirstPart+'-old'+oldNum);

                $('.'+settore+'_trAdded-'+oldNum).addClass(settore+'_trAdded-old'+oldNum);
                $('.'+settore+'_trAdded-'+oldNum).removeClass(settore+'_trAdded-'+oldNum);

                $(this).next('.trFoot'+oldNum).addClass('trFoot-old'+oldNum);
                $(this).next('.trFoot'+oldNum).removeClass('trFoot'+oldNum);

                /* nel caso vi siano righe aggiunte il next non recupera il "trFoor" specifico;
                  con questo comando si previene questa eventualita' */
                $("."+settore+"_trFoot").each(function(){
                    if($(this).hasClass('trFoot'+oldNum)){
                        $(this).addClass('trFoot-old'+oldNum);
                        $(this).removeClass('trFoot'+oldNum);

                    }
                });


                $(this).children('.firstCol'+oldNum).addClass('firstCol-old'+oldNum);
                $(this).children('.firstCol'+oldNum).removeClass('firstCol'+oldNum);
                $(this).children('.firstCol-old'+oldNum).children('.add-'+oldNum).addClass('add-old'+oldNum);
                $(this).children('.firstCol-old'+oldNum).children('.add-'+oldNum).removeClass('add-'+oldNum);

                /*modifico i pulsanti "aggiungi elemento" degli elementi presenti*/
                $('.aggiunto-'+oldNum).addClass('aggiunto-old'+oldNum);
                $('.aggiunto-'+oldNum).removeClass('aggiunto-'+oldNum);
            });


            $('.trBody').each(function(){
                var idThisFirstPart = $(this).attr('id').split('-')[0];
                var settore=idThisFirstPart.split('_')[0];
                oldNum =  $(this).attr('id').split('-old')[1];

                $('.aggiunto-old'+oldNum).addClass('aggiunto-'+counter);
                $('.aggiunto-old'+oldNum).removeClass('aggiunto-old'+oldNum);

                $(this).attr('id', idThisFirstPart+'-'+counter);

                $(this).children('.firstCol-old'+oldNum).addClass('firstCol'+counter);
                $(this).children('.firstCol-old'+oldNum).removeClass('firstCol-old'+oldNum);

                $(this).children('.firstCol'+counter).children('label').text(counter);
                $(this).children('.firstCol'+counter).children('.add-old'+oldNum).addClass('add-'+counter);
                $(this).children('.firstCol'+counter).children('.add-old'+oldNum).removeClass('add-old'+oldNum);

                $(this).children('.inputField').children('.inputPrev-'+oldNum).removeClass('inputPrev-'+oldNum);
                $(this).children('.inputField').children('.numInput').addClass('inputPrev-'+counter);

                $oldAddedRows=$('.'+settore+'_trAdded-old'+oldNum);

                $oldAddedRows.children('.inputField').children('.numInput').removeClass('inputPrevAdded-'+oldNum);
                $oldAddedRows.children('.inputField').children('.numInput').addClass('inputPrevAdded-'+counter);

                $oldAddedRows.each(function(){
                    $(this).removeClass(settore+'_trAdded-old'+oldNum);
                    var oldAddedRowClasses=$(this).attr('class');
                    $(this).removeClass(oldAddedRowClasses);
                    $(this).addClass(settore+'_trAdded-'+counter);
                    $(this).addClass(oldAddedRowClasses);
                });

                $(this).next('.trFoot-old'+oldNum).addClass('trFoot'+counter);
                $(this).next('.trFoot-old'+oldNum).removeClass('trFoot-old'+oldNum);

                /* nel caso vi siano righe aggiunte il next non recupera il "trFoor" specifico;
                  con questo comando si previene questa eventualita' */
                $("."+settore+"_trFoot").each(function(){
                    if($(this).hasClass('trFoot-old'+oldNum)){
                        $(this).addClass('trFoot'+counter);
                        $(this).removeClass('trFoot-old'+oldNum);

                    }
                });

                var unitaMisura = $(this).children(".unitaMisuraElement").text();
                console.log('sono unitaMisura: '+unitaMisura);

                socketPreventivo.emit("modifica_ordine_lavorazione",
                                {
                                    "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                    "data" : "{{preventivo.data}}",
                                    "unitaMisura" : unitaMisura,
                                    "ordineVecchio": oldNum,
                                    "ordineNuovo" : counter

                                }
                      );
                counter+=1;
            });




            rienumeraMemoriaLavorazioni();

        }

        function calcolaTotalePreventivo(){
            var totale = 0;

            $('.trBody').each(function(){
                if($(this).hasClass('haveFooter')){
                    var numEl = $(this).attr('id').split('-')[1];
                    totale+=parseFloat($('.trFoot'+numEl).children('.footTot').text().split(' ')[1]);

                }
                else
                {
                    totale+=parseFloat($(this).children('.addedTotal').text().split(' ')[1]);
                }
            });

            $('#divTotale').html('<span><u>Totale:</u> &euro; ' + Math.round(totale*100)/100 + '</span>' );
        }

        function calcolaTotaleParziale(settore, numOfEl){
            if( $('#'+settore+'_trBody-'+numOfEl).hasClass('haveFooter') ){
                var total = parseFloat($('#'+settore+'_trBody-'+numOfEl).children('.addedTotal').text().split(' ')[1]);
                var quantita = parseFloat($('#'+settore+'_trBody-'+numOfEl).children('.totDimensioni').text());

                $('.'+settore+'_trAdded-'+numOfEl).each(function(){
                    total+=parseFloat($(this).children('.addedTotal').text().split(' ')[1]);
                    quantita+=parseFloat($(this).children('.totDimensioni').text());
                });

                $('.trFoot'+numOfEl).children('.footTot').html("&euro; "+ Math.round(total*100)/100 );
                $('.trFoot'+numOfEl).children('.quantita').html(quantita);
            }

            calcolaTotalePreventivo()
        }


        function calcolaTotaleRiga(idElemento, prezzoBase){

            $('#'+idElemento).each(function(){

                var totalePrezzo=prezzoBase;
                var quantita=1;

                $(this).children('td.inputField').each(function(){
                   quantita=quantita*parseFloat($(this).children('input').val());

                });

                totalePrezzo=parseFloat(totalePrezzo)*quantita;

                $(this).children('td.totDimensioni').text( Math.round(quantita*100)/100 );
                $(this).children('td.addedTotal').html( "&euro; " + Math.round(totalePrezzo*100)/100 );

            });

            calcolaTotaleParziale(idElemento.split('_')[0], idElemento.split('-')[1]);
        }

        function calcolaTotaleRigaAdded(classeElemento, numRigaAdded, prezzoBase){

            $('.'+classeElemento).each(function(){


                if($(this).hasClass(numRigaAdded)){
                    var totalePrezzo=prezzoBase;
                    var quantita=1;

                    $(this).children('td.inputField').each(function(){
                       quantita=quantita*parseFloat($(this).children('input').val());

                    });

                    totalePrezzo=parseFloat(totalePrezzo)*quantita;


                    $(this).children('td.totDimensioni').text( Math.round(quantita*100)/100 );
                    $(this).children('td.addedTotal').html( "&euro; " + Math.round(totalePrezzo*100)/100 );
                }
            });

            calcolaTotaleParziale(classeElemento.split('_')[0], classeElemento.split('-')[1]);
        }


        function settaLastElement(settore){

            $('tr[id^='+settore+'_trBody]').last().addClass(settore+'_lastAdded');
        }

        function righeDimensioniAdded(unita, prezzoBase, numElement){

            if( unita == "cad" ){

                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if ( unita == "ml" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if ( unita == "mq" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="H" value=1.00></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if( unita == "mc" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="H" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+' inputPrevAdded"><input class="numInput inputPrevAdded-'+numElement+'" type="number" step="0.01" name="L" placeholder="P" value=1.00></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'

            }
        }

        function righeDimensioni(unita, prezzoBase){

            if( unita == "cad" ){

                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input  class="numInput inputPrev-'+count+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if ( unita == "ml" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input  class="numInput inputPrev-'+count+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if ( unita == "mq" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input  class="numInput inputPrev-'+count+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="H" value=1.00></td>'+
                        '<td class="tdPreventivo numColSmall"></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
            else if( unita == "mc" ){
                return  '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input  class="numInput inputPrev-'+count+'" type="number" name="numero" placeholder="numero" value=1></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="L" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="H" value=1.00></td>'+
                        '<td class="tdPreventivo inputField numColSmall basePrezzo-'+prezzoBase+'"><input class="numInput inputPrev-'+count+'" type="number" step="0.01" name="L" placeholder="P" value=1.00></td>'+
                        '<td class="tdPreventivo totDimensioni colSmall"></td>'
            }
        }

        function aggiungiRiga($this){
                 if( $this.hasClass('aggiunto') ){
                    console.log( "Devo prendere: " + $this.attr('class').split(" ")[1] + " riga num: " + $this.attr('class').split(" ")[3].split("-")[1] );
                 }else{
                     {% for prezzario in prezzarioEdile %}
                        if( "{{prezzario.tipologia_lavorazione}}" ==  $this.text() ){
                            $this.addClass("aggiunto-"+count);
                            $this.addClass("aggiunto");

                            /*memorizzo nel apposita sezione l'aggiunta della classe "aggiunto-"+count al bottone*/
                            $("#memoriaLavorazioniAggiunte-{{prezzario.settore}}").append(
                                '<div class="'+$this.attr('id')+'">'+
                                    '<span class="classeToAdd">aggiunto-'+count+'</span>'+
                                '</div>'

                            );



                            var sezioneSettore =  $('#bodyPreventivo').children('.{{prezzario.settore}}');

                            if( !sezioneSettore.length ){

                                $('#bodyPreventivo').append(

                                    '<tr class="trHead {{prezzario.settore}}">'+
                                        '<td  colspan="10"  class="titleSettoreTd">{{prezzario.settore}}</td>'+
                                    '</tr>'+
                                    '<tr class="trHead {{prezzario.settore}}_head">'+
                                        '<th class="thPreventivo"></th>'+
                                        '<th class="thPreventivo"></th>'+
                                        '<th class="thPreventivo numColSmall">N</th>'+
                                        '<th class="thPreventivo numColSmall">L</th>'+
                                        '<th class="thPreventivo numColSmall">H</th>'+
                                        '<th class="thPreventivo numColSmall">P</th>'+
                                        '<th class="thPreventivo colSmall">Quantità</th>'+
                                        '<th class="thPreventivo numColSmall">Unità</th>'+
                                        '<th class="thPreventivo colSmall">Prezzo unitario</th>'+
                                        '<th class="thPreventivo">Totale</th>'+
                                    '</tr>'

                                );
                            }



                            var rowsToAdd='<tr id="{{prezzario.settore}}_trBody-'+count+'" class="trBody {{prezzario.settore}}_lastAdded">'+
                                        '<td class="firstCol'+count+' firstCol"></td>'+
                                        '<td class="tdPreventivo tdLavorazione"><textarea>{{prezzario.tipologia_lavorazione}}</textarea></td>'+
                                        righeDimensioni("{{prezzario.unitaMisura}}", "{{prezzario.prezzoMax}}")+
                                        '<td class="tdPreventivo numColSmall unitaMisuraElement">{{prezzario.unitaMisura}}</td>'+
                                        '<td class="tdPreventivo prezzoBase colSmall">&euro; {{prezzario.prezzoMax}}</td>'+
                                        '<td class="addedTotal"></td>'+
                                    '</tr>';

                            if($(".{{prezzario.settore}}_lastAdded").hasClass('haveFooter')){
                                $(".{{prezzario.settore}}_lastAdded").removeClass("{{prezzario.settore}}_lastAdded");
                                $('.{{prezzario.settore}}_trFoot').last().after( rowsToAdd );
                            }
                            else if( $(".{{prezzario.settore}}_lastAdded").hasClass("{{prezzario.settore}}_lastAdded") ){
                                $lastEl=$(".{{prezzario.settore}}_lastAdded");

                                $lastEl.after(rowsToAdd);
                                $lastEl.removeClass("{{prezzario.settore}}_lastAdded");
                            }
                            else{
                                $('.{{prezzario.settore}}_head').after( rowsToAdd  );
                            }

                            calcolaTotaleRiga('{{prezzario.settore}}_trBody-'+count, parseFloat('{{prezzario.prezzoMax}}') );


                            /*Ogni volta che un inputField viene modificato: ricalcola il totale della riga */
                            $('.inputPrev-'+count).on('input', function(){
                                    calcolaTotaleRiga($(this).parent().parent().attr('id'), parseFloat($(this).parent().attr('class').split(' ')[3].split('-')[1]) );
                            });

                            $('tr.trBody').draggable({ helper: "clone"});


                            /*registro la riga nel database*/
                            socketPreventivo.emit("add_nuova_lavorazione",
                                                    {
                                                        "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                                        "data" : "{{preventivo.data}}",
                                                        "settore" : "{{prezzario.settore}}",
                                                        "lavorazione" : "{{prezzario.tipologia_lavorazione}}",
                                                        "unitaMisura" : "{{prezzario.unitaMisura}}",
                                                        "ordine": count,
                                                        "prezzoUnitario" : "{{prezzario.prezzoMax}}"

                                                    }

                                                  );

                            /*ad ogni nuova aggiunta di elemento rinumera tuttoquanto*/
                            rienumeraPagina()

                           /* var ordineElemento = 0;
                            $('tr[id^={{prezzario.settore}}_trBody]').each(function(){
                                if( $(this).children('.tdLavorazione').children('textarea').val() == "{{prezzario.tipologia_lavorazione}}" )
                                {
                                    console.log("Ehi ho trovato il mio numero "+ $(this).attr('id').split('-')[1] );
                                    ordineElemento = parseInt($(this).attr('id').split('-')[1]);
                                }
                            });*/



                            $('.trBody').each(function(){

                                var numEl = $(this).attr('id').split('-')[1];
                                $(this).children('td.firstCol').html( '<label>'+ numEl + '</label><br/><a class="delElement fa fa-trash"></a><a class="ctrButton addSameElement fa fa-plus add-'+numEl+'">' );

                                $(this).children('td.firstCol').children('a.delElement').click(function(){
                                    var idElementToDel=$(this).parent().parent().attr('id');
                                    var numEl = idElementToDel.split('-')[1];
                                    var settore =idElementToDel.split('_')[0];
                                    var lastEl = $('#'+idElementToDel).hasClass(settore+'_lastAdded'); //variabile booleana

                                    $('#'+idElementToDel).remove();
                                    $('.'+settore+'_trAdded-'+numEl).remove();
                                    $('.trFoot'+numEl).remove();

                                    $('#memoriaLavorazioniAggiunte-'+settore).children('div').each(function(){
                                        if( $(this).text() == 'aggiunto-'+numEl )
                                            $(this).remove();
                                    });

                                    $('.aggiunto-'+numEl).removeClass('aggiunto');
                                    $('.aggiunto-'+numEl).removeClass('aggiunto-'+numEl);

                                    rienumeraPagina()

                                    if( lastEl ){
                                        settaLastElement(settore);
                                    }

                                    calcolaTotalePreventivo();
                                });

                                $(this).children('td.firstCol').children('a.add-'+numEl).click( function(){

                                    var settore= $(this).parent().parent().attr('id').split('_')[0];
                                    var numElement = $(this).attr('class').split(' ')[4].split('-')[1];



                                    /* se non sono state gia' aggiunte altre sottorighe inserisci prima
                                        un foot */
                                    if( !$('#'+settore+"_trBody-"+numElement).hasClass('haveFooter') ){

                                        var unitMis=$('#'+settore+"_trBody-"+numElement).children('.unitaMisuraElement').text();
                                        var prezzoBase=$('#'+settore+"_trBody-"+numElement).children('.prezzoBase').text();

                                        $('#'+settore+"_trBody-"+numElement).addClass('haveFooter');
                                        $('#'+settore+"_trBody-"+numElement).children('.prezzoBase').text('');


                                        $('#'+settore+"_trBody-"+numElement).after(
                                                    '<tr class="trFoot'+numElement+' trFoot '+settore+'_trFoot unitaMisura-'+unitMis+'">'+
                                                        '<td colspan="6"></td>'+
                                                        '<td class="quantita colSmall"></td>'+
                                                        '<td>'+ unitMis +'</td>'+
                                                        '<td class="prezzoUnitario colSmall">'+ prezzoBase +'</td>'+
                                                        '<td class="footTot"> </td>'+
                                                    '</tr>'
                                        );
                                    }

                                    var unitaMisura = $('.trFoot'+numElement).attr('class').split(' ')[3].split('-')[1];

                                    var prezzoUnitarioWithEuro = $('.trFoot'+numElement).children('.prezzoUnitario').text();
                                    var prezzoUnitario = $('.trFoot'+numElement).children('.prezzoUnitario').text().split(' ')[1];

                                    //Aggiungo una nuova riga prima del totale parziale ( rappresentato dalla classe trFoot )
                                    $('.trFoot'+numElement).before(
                                        '<tr class="'+settore+'_trAdded-'+numElement+'">'+
                                            '<td colspan="2"><a class="delSameElement fa fa-trash"></a></td>'+
                                            righeDimensioniAdded( unitaMisura, prezzoUnitario, numElement)+
                                           '<td class="tdPreventivo numColSmall">'+unitaMisura+'</td>'+
                                            '<td class="tdPreventivo colSmall"></td>'+
                                            '<td class="addedTotal"></td>'+
                                        '</tr>'

                                    );

                                    calcolaTotaleParziale(settore, numElement);

                                    $('.delSameElement').on( 'click', function(){

                                        var addedElementCommonClass=$(this).parent().parent().attr('class').split(' ')[0];
                                        $(this).parent().parent().remove();


                                        //rienumero i sottoelementi restanti
                                        var aux=0;
                                        $('.'+addedElementCommonClass).each(function(){
                                            $(this).removeClass();
                                            $(this).addClass(addedElementCommonClass);
                                            $(this).addClass('addedNum'+aux);
                                            aux+=1;
                                        });

                                        // se non ci sono piu' sottoelementi rimuovi il footer
                                        if( aux == 0  && $('#'+settore+'_trBody-'+numElement).hasClass('haveFooter')){

                                           var sett=addedElementCommonClass.split('_')[0];
                                           var num=addedElementCommonClass.split('-')[1];
                                           $('#'+sett+'_trBody-'+num).children('.prezzoBase').html( '&euro; ' + $('#'+sett+'_trBody-'+num).children('td.inputField').first().attr('class').split(' ')[3].split('-')[1] );
                                           $('.trFoot'+num).remove();
                                           $('#'+sett+'_trBody-'+num).removeClass('haveFooter');
                                           calcolaTotalePreventivo();

                                        }
                                        else{
                                            var sett=addedElementCommonClass.split('_')[0];
                                            var num=addedElementCommonClass.split('-')[1];
                                            calcolaTotaleParziale(sett, num);
                                        }

                                    });


                                    //numero ogni "sottoriga aggiunta" e calcolo il totale della riga
                                    var aux=0;
                                    var prezzoBase=$('.trFoot'+numElement).children('.prezzoUnitario').text().split(' ')[1];

                                    $('.'+settore+'_trAdded-'+numElement).each(function(){

                                        $(this).addClass('addedNum'+aux);
                                        calcolaTotaleRigaAdded( settore+'_trAdded-'+numElement, 'addedNum'+aux ,parseFloat(prezzoBase));
                                        aux+=1;
                                    });



                                   $('.inputPrevAdded-'+numElement).on('input', function(){

                                        var classesOfRow = $(this).parent().parent().attr('class').split(' ');
                                        calcolaTotaleRigaAdded(classesOfRow[0], classesOfRow[1], prezzoBase);

                                   });

                                   socketPreventivo.emit("add_nuova_sottolavorazione",
                                        {
                                            "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                            "data" : "{{preventivo.data}}",
                                            "ordine": numElement

                                        }

                                      );

                                });

                            });


                            count+=1;




                        }
                    {% endfor %}

                 }
        }

        var counter=0;

       {% for elemento in prezzarioEdile %}
          if( "{{elemento.settore}}" == $('#selectSettore').val() ){
            $('#listaElementFattura').append(

                 '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementFattura {{elemento.settore}}"><label for="button'+ counter +'">{{elemento.tipologia_lavorazione}}</label></button></li>'
            );
            counter+=1;
          }
       {% endfor %}

       $('#selectSettore').change(function(){

            counter=0;
            $('#listaElementFattura').html("");
            {% for elemento in prezzarioEdile %}

              if( "{{elemento.settore}}" == $('#selectSettore').val() ){

                var classesToAdd='';

                /*Riaggiungo le classi dinamiche che il change() toglierebbe*/
                $('#memoriaLavorazioniAggiunte-{{elemento.settore}}').children('div').each(function(){
                    if($(this).hasClass('button'+counter)){
                        classesToAdd="aggiunto "+ $(this).text();
                    }

                });


                $('#listaElementFattura').append(

                     '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementFattura {{elemento.settore}} '+classesToAdd+'"><label for="button'+ counter +'">{{elemento.tipologia_lavorazione}}</label></button></li>'
                );
                counter+=1;

              }

           {% endfor %}


       });


</script>

{% endblock %}