{% extends "paginaClienteBase.html" %}

{% block content %}

<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo US{{codicePreventivo}}E <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a></h2>
            <div id="divFattura" class="features row">
                <div class="col-md-4">
                    <span>Settore di Lavorazione</span></br>
                    <div>
                        <select id="selectSettore" class="js-select2" name="service">

                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo di dati che voglio -->
                    <div id="memoriaLavorazioniAggiunte">
                          <!--
                                Esempio struttura di #memoriaLavorazioniAggiunte
                                <div id="memoriaLavorazioniAggiunte-1" class="settoreMemorizzato">
                                    <div class="<id-del-bottone>">
                                       <span class="classeToAdd">aggiunto-'+count+'</span>
                                    </div>
                                </div>

                             -->

                    </div>
                </div>
                <div  id="divElementFattura" class="features col-md-8">
                    <ul id="listaElementFattura">

                    </ul>

                </div>


            </div>
            <div id="tabContainer" class="features">
                <div id="tabFattura" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
            <div id="divTotale" >

            </div>
            <div id="divSalvaPreventivo" class="features">
                <a onclick="stampaPreventivo({{dipendente.username}})" id="printButton">STAMPA</a>
            </div>
            <div id="divTitoloNote" >
                <span>Note:</span>
            </div>
            <div id="divNote" class="features">
                <textarea oninput="aggiungiNote($(this))" id="note"></textarea>
            </div>
        </div>
    </section>
</div>

<script>
        var socketHome = io.connect("{{sockUrl}}"+'/home');

        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoEdile');

        socketPreventivo.on( 'procediADownload', function(){
            window.open('{{url_for("downloadPreventivoEdile")}}', '_blank');
        });


        /**** popolo la lista delle lavorazioni per settore ******/

        var listaLavorazioni=[];
        var indexSettore =0;

        {% for settore in settori %}

            var listaLavorazioniPerSettore=[];

            {% for lavorazione in lavorazioni %}

                {% if lavorazione.settore == settore.nome %}

                    listaLavorazioniPerSettore.push("{{lavorazione.tipologia_lavorazione}}")
                {% endif %}
            {% endfor %}

            if( listaLavorazioniPerSettore.length > 0 )
                listaLavorazioni.push(['{{settore.nome}}', listaLavorazioniPerSettore]);

        {% endfor %}


        aggiungiSettoriELavorazioni(listaLavorazioni)

        /********************************************************/

        $('button.elementFattura').click(function(){

            /* i replace all'interno del codice servono perchè gli apostrofi
                dei nomi recuperati dal database vengono ritornati con il
                loro codice e non con il simbolo che li rappresenta */

            var settore = $('#selectSettore option:selected').text();
            var tipologia = $(this).text();

            {% for lavorazione in lavorazioni %}

                var settoreToCompare = '{{lavorazione.settore}}'.replace(/&#39;/g, "'");

                if( settoreToCompare == settore )
                {
                    var lavorazioneToCompare = '{{lavorazione.tipologia_lavorazione}}'.replace(/&#39;/g, "'");

                    if( lavorazioneToCompare == tipologia){


                        aggiungiRiga( $(this), "{{preventivo.numero_preventivo}}", "{{preventivo.data}}",
                                settoreToCompare, lavorazioneToCompare,
                                parseFloat('{{lavorazione.prezzoMax}}'), parseInt('{{prezzarioEdile.ricaricoAzienda}}'),
                                '{{lavorazione.unitaMisura}}' );
                    }
                }

            {% endfor %}
        });

        /**********************************************************/

        /* Questa funzione 'fa qualcosa' quando la pagina e' aperta in modalita' modifica */

        var costruisciPreventivo =function(){

            var lastLavAdded = "";
            {% for settore in infoPreventivo[0] %}

                var rowsToAdd = "";

                {% for lavorazione in infoPreventivo[1] %}

                    {% if lavorazione[0].settore == settore %}


                        //trovo il numero che indica l'ordine nel select del bottone
                        //associato alla lavorazione

                        var ordineBottone = 0;
                        var stopFor = false;


                        {% for lavSelect in lavorazioni %}

                            {% if lavSelect.tipologia_lavorazione != lavorazione[0].tipologia_lavorazione and lavSelect.settore == settore %}
                                if( !stopFor ){
                                    ordineBottone++;

                                }

                            {% elif lavSelect.tipologia_lavorazione == lavorazione[0].tipologia_lavorazione %}
                               if( !stopFor ){
                                    stopFor = true;

                                }

                            {% endif %}
                        {% endfor %}

                        var settore = '{{settore}}'.replace(/&#39;/g, "'");
                        var tipologia_lavorazione ='{{lavorazione[0].tipologia_lavorazione}}'.replace(/&#39;/g, "'");
                        var unitaMisura = '{{lavorazione[0].unitaMisura}}'


                        var classSettore = trovaClassSettore(settore);
                        var idButton = trovaIdButtonLavorazione(classSettore, tipologia_lavorazione);

                        $('#selectSettore').val(settore);

                        settaDisabilitaSocketio(true);

                        $('#'+idButton).trigger('click');

                        var firstSottolav = true

                        {% for sottolavorazione in lavorazione[3] %}

                            if( !firstSottolav ){
                                $('#'+classSettore+'_trBody-{{lavorazione[0].ordine}} td.firstCol').children('a.addElement').trigger('click');
                            }
                            else{
                                firstSottolav=false;
                            }

                            $('tr.'+classSettore+'_trSottolavorazione-{{lavorazione[0].ordine}}.sottolavNum-{{sottolavorazione.ordine_sottolavorazione}}').each(function(){

                                $(this).children('td.inputField').each(function(){
                                    $(this).children('input').each(function(){

                                        if( $(this).hasClass('numero') ){
                                            $(this).val('{{sottolavorazione.numero}}');
                                            $(this).trigger('input');
                                        }
                                        else if( $(this).hasClass('larghezza') ){
                                            $(this).val('{{sottolavorazione.larghezza}}');
                                            $(this).trigger('input');
                                        }
                                        else if( $(this).hasClass('altezza') ){
                                            $(this).val('{{sottolavorazione.altezza}}');
                                            $(this).trigger('input');
                                        }
                                        else if( $(this).hasClass('profondita') ){
                                            $(this).val('{{sottolavorazione.profondita}}');
                                            $(this).trigger('input');
                                        }

                                    });
                                });
                            });


                        {% endfor %}

                        settaDisabilitaSocketio(false);

                    {% endif %}
                {% endfor %}

            {% endfor %}

        }

        /************************************************************/

        $(function(){
            costruisciPreventivo();

        });

</script>

{% endblock %}