{% extends "paginaClienteBase.html" %}

{% block content %}

<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a></h2>
            <div id="divFattura" class="features row">
                <div class="col-md-4">
                    <span>Settore di Lavorazione</span></br>
                    <div>
                        <select id="selectSettore" class="js-select2" name="service">
                            {% for settore in settori %}
                                <option>{{settore.nome}}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <div  id="divElementFattura" class="features col-md-8">
                    <ul id="listaElementFattura">

                    </ul>

                </div>


            </div>
            <div id="tabContainer" class="features">
                <div id="tabFattura" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
        </div>
    </section>
</div>

<script>

        function aggiungiRiga($this){
                 {% for prezzario in prezzarioEdile %}
                    if( "{{prezzario.tipologia_lavorazione}}" ==  $this.text() ){

                        var sezioneSettore =  $('#bodyPreventivo').children('.{{prezzario.settore}}');

                        if( !sezioneSettore.length ){

                            $('#bodyPreventivo').append(

                                '<tr class="trBody {{prezzario.settore}}">'+
                                    '<td  colspan="9"  class="titleSettoreTd">{{prezzario.settore}}</td>'+
                                '</tr>'+
                                '<tr class="trHead {{prezzario.settore}}_head">'+
                                    '<th class="thPreventivo"></th>'+
                                    '<th class="thPreventivo numColSmall">N</th>'+
                                    '<th class="thPreventivo numColSmall">L</th>'+
                                    '<th class="thPreventivo numColSmall">H</th>'+
                                    '<th class="thPreventivo numColSmall">P</th>'+
                                    '<th class="thPreventivo numColSmall">Quantità</th>'+
                                    '<th class="thPreventivo numColSmall">Unità</th>'+
                                    '<th class="thPreventivo">Prezzo unitario</th>'+
                                    '<th class="thPreventivo">Totale</th>'+
                                '</tr>'
                            );
                        }

                        $('.{{prezzario.settore}}_head').after(

                            '<tr class="trBody">'+

                                '<td class="tdPreventivo"><textarea>{{prezzario.tipologia_lavorazione}}</textarea></td>'+
                                '<td class="tdPreventivo numColSmall"><input class="numInput" type="number" name="N" placeholder="N" value=1></td>'+
                                '<td class="tdPreventivo numColSmall"><input class="numInput" type="number" name="L" placeholder="L" value=0></td>'+
                                '<td class="tdPreventivo numColSmall"><input class="numInput" type="number" name="H" placeholder="H" value=0></td>'+
                                '<td class="tdPreventivo numColSmall"><input class="numInput" type="number" name="P" placeholder="P" value=0></td>'+


                                '<td class="tdPreventivo numColSmall"><input  class="numInput" type="number" name="quantita" placeholder="quantita" value=1></td>'+
                                '<td class="tdPreventivo numColSmall">'+
                                    '<select>'+
                                        '<option> mL </option>'+
                                        '<option> mQ </option>'+
                                        '<option> mC </option>'+
                                        '<option> cad </option>'+
                                    '</select>'+
                                '</td>'+
                                '<td class="tdPreventivo"></td>'+
                                '<td></td>'+

                            '</tr>'+
                            '<tr class="trFoot">'+
                                '<td colspan="7"></td>'+
                                '<td>{{prezzario.prezzoMax}}</td>'+
                                '<td></td>'+

                            '</tr>'
                        );
                    }
                {% endfor %}
        }

        var counter=0;

       {% for elemento in prezzarioEdile %}
          if( "{{elemento.settore}}" == $('#selectSettore').val() ){
            $('#listaElementFattura').append(

                 '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementFattura"><label for="button'+ counter +'">{{elemento.tipologia_lavorazione}}</label></button></li>'
            );
            counter+=1;
          }
       {% endfor %}

       $('#selectSettore').change(function(){

            counter=0;
            $('#listaElementFattura').html("");
            {% for elemento in prezzarioEdile %}
              if( "{{elemento.settore}}" == $('#selectSettore').val() ){
                $('#listaElementFattura').append(

                     '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementFattura"><label for="button'+ counter +'">{{elemento.tipologia_lavorazione}}</label></button></li>'
                );
                counter+=1;
              }

           {% endfor %}

            $('.elementFattura').click(function(){
console.log("almeo queoi");
                {% for prezzario in prezzarioEdile %}
                    console.log("{{prezzario.tipologia_lavorazione}}" );
                    if( "{{prezzario.tipologia_lavorazione}}" ==  $(this).text() ){
                        console.log("almeo queoi");
                    }
                {% endfor %}
            });
       });
</script>

{% endblock %}