{% extends "paginaClienteBase.html" %}

{% block content %}

<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo US{{codicePreventivo}}E <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a>
                <input onchange="espandiTabella()" type="checkbox" value="true" id="cbx" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label>
            </h2>
            <div id="divFattura" class="features row">
                <div class="col-md-4">
                    <span>Settore di Lavorazione</span></br>
                    <div>
                        <select id="selectSettore" class="js-select2" name="service">

                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo di dati che voglio -->
                    <div id="memoriaLavorazioniAggiunte">
                          <!--
                                Esempio struttura di #memoriaLavorazioniAggiunte
                                <div id="memoriaLavorazioniAggiunte-1" class="settoreMemorizzato">
                                    <div class="<id-del-bottone>">
                                       <span class="classeToAdd">aggiunto-'+count+'</span>
                                    </div>
                                </div>

                             -->

                    </div>

                    <div id="ricarichiSection" style="display:none">
                        <div id="ricaricoGeneraleSpanContainer">
                            <span id="ricaricoGeneraleSpan">Ricarico generale</span>
                        </div>
                        <div id="ricaricoExtraSpanContainer">
                            <span id="ricaricoExtraSpan">Ricarico extra</span>
                        </div>
                        <br/>

                        <div id="ricaridoGeneraleContainer">
                            <div id="ricaricoGeneraleBordo" class="features">
                                <div id="ricaricoGeneraleDiv">
                                    <input id="inputRicaricoGenerale" oninput="modificaRicaricoGenerale($(this));" class="ricaricoPrezzario-{{prezzarioEdile.ricaricoAzienda}}" type="number" min="0" max="100" value="{{prezzarioEdile.ricaricoAzienda}}">
                                    <label class="percLabelRincaro">%</label>
                                </div>
                            </div>
                        </div>


                        <div id="ricaricoExtraContainer">
                            <div id="ricaricoExtraBordo" class="features">
                                <div id="ricaricoExtraDiv">
                                    <input id="inputRicaricoExtra" oninput="modificaRicaricoExtra($(this));" class="ricaricoPrezzario-{{preventivo.ricarico_extra}}" type="number" min="0" max="100" value="{{preventivo.ricarico_extra}}">
                                    <label class="percLabelRincaro">%</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div  id="divElementFattura" class="features col-md-8">
                    <ul id="listaElementFattura">

                    </ul>

                </div>


            </div>


            <div id="tabContainer" class="features">
                <div id="tabFattura" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>

            <div id="divTotale" ></div>
            <div id="divTotaleRicaricoExtra" style="display:none"></div>

            <div id="divSalvaPreventivo" class="features">
                <a onclick="stampaPreventivo('{{dipendente.username}}')" id="printButton">STAMPA</a>
            </div>
            <div id="divTitoloNote" >
                <span>Note:</span>
            </div>
            <div id="divNote" class="features">
                <textarea oninput="aggiungiNote($(this))" id="note"></textarea>
            </div>

        </div>
    </section>
</div>

<script>
        var socketHome = io.connect("{{sockUrl}}"+'/home');

        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoEdile');

        socketPreventivo.on( 'procediADownload', function(msg){

            var scelta;
            if( msg['sumisura'] )
                scelta = 1;
            else
                scelta = 2;

            window.open('/downloadPreventivoEdile/'+msg['numero_preventivo']+'/'+msg['revisione']+'/'+scelta, '_blank');


            if( msg['chiudiPreventivo'] )
                window.location  = "{{url_for('clientBack')}}";

        });

        socketPreventivo.on( 'errore_commessa_incompleta', function(){

            alert('Impossibile chiudere il preventivo: completare la commessa');
        });


        /**** popolo la lista delle lavorazioni per settore ******/

        var listaLavorazioni=[];
        var indexSettore =0;

        {% for settore in settori %}

            var listaLavorazioniPerSettore=[];

            {% for lavorazione in lavorazioni %}

                {% if lavorazione.settore == settore.nome %}

                    listaLavorazioniPerSettore.push("{{lavorazione.tipologia_lavorazione}}")
                {% endif %}
            {% endfor %}

            if( listaLavorazioniPerSettore.length > 0 )
                listaLavorazioni.push(['{{settore.nome}}', listaLavorazioniPerSettore]);

        {% endfor %}


        aggiungiSettoriELavorazioni(listaLavorazioni)

        /********************************************************/

        $('button.elementFattura').click(function(){

            /* i replace all'interno del codice servono perchè gli apostrofi
                dei nomi recuperati dal database vengono ritornati con il
                loro codice e non con il simbolo che li rappresenta */

            var settore = $('#selectSettore option:selected').text();
            var tipologia = $(this).text();
            var assistenzeDistinte = [];

            assistenzeDistinte.push("No assistenza");

            {% for assistenza in assistenzeDistinte %}
                {% if assistenza != '' %}
                    assistenzeDistinte.push("{{assistenza}}");
                {% endif %}
            {% endfor %}


            {% for lavorazione in lavorazioni %}

                var settoreToCompare = '{{lavorazione.settore}}'.replace(/&#39;/g, "'");

                if( settoreToCompare == settore )
                {
                    var lavorazioneToCompare = '{{lavorazione.tipologia_lavorazione}}'.replace(/&#39;/g, "'");

                    if( lavorazioneToCompare == tipologia){


                        var nome_assistenza, costoAssistenza, tipoCostoAssistenza;

                        {% for assistenza in assistenze %}
                            {% if assistenza.settore == lavorazione.settore  and
                                assistenza.tipologia_lavorazione == lavorazione.tipologia_lavorazione %}

                                nome_assistenza = '{{assistenza.nome}}';
                                costoAssistenza = parseFloat('{{assistenza.costo}}');

                                if( '{{assistenza.prezzoPercentuale}}' == 'True' ){
                                   tipoCostoAssistenza  = true;
                                }
                                else
                                    tipoCostoAssistenza = false;

                                if( nome_assistenza == '' )
                                {
                                    nome_assistenza = 'No assistenza';
                                    costoAssistenza =0;
                                }

                            {% endif %}
                        {% endfor %}

                        aggiungiRiga( $(this), "{{preventivo.numero_preventivo}}", "{{preventivo.revisione}}",
                                settoreToCompare, lavorazioneToCompare,
                                parseFloat('{{lavorazione.prezzoMax}}'),
                                '{{lavorazione.unitaMisura}}', nome_assistenza, costoAssistenza, tipoCostoAssistenza,
                                 assistenzeDistinte, false);
                    }
                }

            {% endfor %}
        });

        /**********************************************************/

        var applicaModificheRegistrate = function(){

            {% for lavorazione in infoPreventivo[1] %}

                var nome_modificato = '{{lavorazione[0].nome_modificato}}'.replace(/&#39;/g, "'");

                $('tr.trBody').each(function(){

                    if( $(this).children('td.firstCol').children('label').text() == '{{lavorazione[0].ordine}}' ){

                        var idSettore = $(this).attr('id').split('_trBody-')[0];
                        var idLavorazione = $(this).attr('id').split('_trBody-')[1];

                        /* modifico il nome della lavorazione */
                        $(this).children('td.tdLavorazione').children('textarea').val(nome_modificato);

                        /*modifico l'assistenza*/

                        $(this).children('td.tdCostoAssistenza').children('div').children('input').val('{{lavorazione[0].costo_assistenza}}');

                        {% if lavorazione[0].tipo_costo_assistenza %}
                            $(this).children('td.tdCostoAssistenza').children('div').children('div').children('input.radioPerc').trigger('click');
                        {% else %}
                            $(this).children('td.tdCostoAssistenza').children('div').children('div').children('input.radioEuro').trigger('click');
                        {% endif %}

                        {% if lavorazione[0].assistenza == '' %}
                            $(this).children('td.tdLavorazione').children('div').children('select').val('No assistenza');
                        {% else %}
                            $(this).children('td.tdLavorazione').children('div').children('select').val('{{lavorazione[0].assistenza}}');

                        {% endif %}

                        $(this).children('td.tdLavorazione').children('div').children('select').trigger('change');
                        $(this).children('td.tdCostoAssistenza').children('div').children('input').trigger('input');


                    }

                });

            {% endfor %}

            if( '{{preventivo.note}}' != 'None' )
                $('#divNote').children('textarea').val('{{preventivo.note}}')


        }

        /**********************************************************/

        /* Questa funzione 'fa qualcosa' quando la pagina e' aperta in modalita' modifica */

        var costruisciPreventivo =function(){

            var primoGiro = true;
            var lastLavAdded = "";


            {% for settore in infoPreventivo[0] %}

                if( primoGiro ){
                    primoGiro = false;
                    $('#inputRicaricoGenerale').val('{{infoPreventivo[2]}}');
                }

                var rowsToAdd = "";

                {% for lavorazione in infoPreventivo[1] %}

                    {% if (lavorazione[0].settore == settore and not lavorazione[0].copia ) or
                           (lavorazione[0].settore_lav_copia == settore and lavorazione[0].copia ) %}

                        {% if not lavorazione[0].copia %}

                            //trovo il numero che indica l'ordine nel select del bottone
                            //associato alla lavorazione

                            var ordineBottone = 0;
                            var stopFor = false;


                            {% for lavSelect in lavorazioni %}

                                {% if lavSelect.tipologia_lavorazione != lavorazione[0].tipologia_lavorazione and lavSelect.settore == settore %}
                                    if( !stopFor ){
                                        ordineBottone++;

                                    }

                                {% elif lavSelect.tipologia_lavorazione == lavorazione[0].tipologia_lavorazione %}
                                   if( !stopFor ){
                                        stopFor = true;

                                    }

                                {% endif %}
                            {% endfor %}

                            var settore = '{{settore}}'.replace(/&#39;/g, "'");
                            var tipologia_lavorazione ='{{lavorazione[0].tipologia_lavorazione}}'.replace(/&#39;/g, "'");
                            var unitaMisura = '{{lavorazione[0].unitaMisura}}'


                            var classSettore = trovaClassSettore(settore);
                            var idButton = trovaIdButtonLavorazione(classSettore, tipologia_lavorazione);

                            $('#selectSettore').val(settore);
                            $('#selectSettore').trigger('change');


                            $('#'+idButton).trigger('click');

                        {% else %}

                            //recupero il costo della lavorazione senza ricarichi
                            var costoUs = parseFloat('{{lavorazione[0].prezzoUnitario}}');
                            var ricaricoGenerale = parseInt('{{preventivo.ricarico_generale}}');
                            var ricaricoExtra = parseInt('{{preventivo.ricarico_extra}}');

                            costoUs = costoUs*100/(100+ricaricoExtra);
                            costoUs = costoUs*100/(100+ricaricoGenerale);

                            //creo l'array assistenzeDistinte da passare come parametro
                             var assistenzeDistinte = [];

                             assistenzeDistinte.push("No assistenza");

                             {% for assistenza in assistenzeDistinte %}
                                 {% if assistenza != '' %}
                                     assistenzeDistinte.push("{{assistenza}}");
                                 {% endif %}
                             {% endfor %}

                             {% if lavorazione[0].tipo_costo_assistenza %}
                                var costo_assistenza = true;
                             {% else %}
                                var costo_assistenza = false;
                             {% endif %}

                            var classSettore = '';
                            $('#selectSettore option').each(function(){
                                if( $(this).text() == '{{lavorazione[0].settore_lav_copia}}' )
                                {
                                    classSettore = $(this).attr('class');
                                }

                            });

                            aggiungiRigaCopia( '{{lavorazione[0].numero_preventivo}}', '{{lavorazione[0].revisione}}',
                                                    '{{lavorazione[0].settore}}', '{{lavorazione[0].tipologia_lavorazione}}',
                                                     costoUs, '{{lavorazione[0].unitaMisura}}', '{{lavorazione[0].assistenza}}',
                                                         '{{lavorazione[0].costo_assistenza}}', costo_assistenza,
                                                          assistenzeDistinte, classSettore,
                                                            '{{lavorazione[0].ordine_lav_originale}}')

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}



        }

        /***************************************************************/
        /*Questa funzione implementa il corpo effettivo di aggiugiSottolavorazioni;
          poiche' l'aggiunta di una sottolavorazione puo' modificare il contenuto
          di lavToCtrl poichè si possono modificare gli ordini di riga, tale funzione
          deve essere interrompibile, salvando accuratamente l'indice di stop e
          ripartendo dallo stesso punto ma ciclando sul nuovo lavToCtrl*/

        var aggiungiSottolavorazioniAux = function(starting_index){
            var firstTime =true;
            var indexReturned =0;


            $.each(lavToCtrl, function(index, lav){

                if( lavToCtrl_changed ){

                    if( firstTime ){
                        firstTime = false;
                        indexReturned =index;
                        return;
                    }
                }
                else if( index >= starting_index ){
                    var idLav = lav[0];
                    var settore = lav[1];
                    var firstSottolav = true;
                    var idLavSplitted = idLav.split('_trBody-');
                    var classSettore = idLavSplitted[0];
                    var ordineLav = idLavSplitted[1];

                    {% for lavorazione in infoPreventivo[1] %}

                        if('{{lavorazione[0].settore}}' == settore ){
                            if('{{lavorazione[0].ordine}}' == ordineLav ){
                                {% for sottolavorazione in lavorazione[3] %}

                                    if( !firstSottolav ){

                                        $('#'+idLav+' td.firstCol').children('a.addElement').trigger('click');

                                    }
                                    else{

                                        firstSottolav=false;
                                    }

                                    $('tr.'+classSettore+'_trSottolavorazione-'+ordineLav+'.sottolavNum-{{sottolavorazione.ordine_sottolavorazione}}').each(function(){


                                        $(this).children('td.inputField').each(function(){
                                            $(this).children('input').each(function(){

                                                if( $(this).hasClass('numero') ){
                                                    $(this).val('{{sottolavorazione.numero}}');
                                                    $(this).trigger('input');
                                                }
                                                else if( $(this).hasClass('larghezza') ){
                                                    $(this).val('{{sottolavorazione.larghezza}}');
                                                    $(this).trigger('input');
                                                }
                                                else if( $(this).hasClass('altezza') ){
                                                    $(this).val('{{sottolavorazione.altezza}}');
                                                    $(this).trigger('input');
                                                }
                                                else if( $(this).hasClass('profondita') ){
                                                    $(this).val('{{sottolavorazione.profondita}}');
                                                    $(this).trigger('input');
                                                }

                                            });
                                        });

                                        $(this).children('td.tdNomeSottolavorazione').children('textarea').val('{{sottolavorazione.nome_modificato}}');
                                        $(this).children('td.tdNomeSottolavorazione').children('textarea').trigger('input');
                                    });

                                {% endfor %}

                            }
                        }

                    {% endfor %}



                    if( index == lavToCtrl.length-1 ){
                        indexReturned= index+1;
                    }
                }

            });

            return indexReturned;
        }

        /************************************************************/

        /*poiche' le lavorazioni sono aggiunte con l'evento click e questo
            a volte non si completa prima che venga generato il bottone
            da cliccare per le sottolavorazioni relative, si aspetta che
            tutta la pagina venga caricata prima di aggiungere le sottolavorazioni */



        var aggiungiSottolavorazioni = function(){

            setTimeout( function(){
                settaDisabilitaSocketio(true);

                var indexReturned = 0;
                var lastIndex = lavToCtrl.length;

                while( indexReturned < lastIndex ){
                    indexReturned = aggiungiSottolavorazioniAux(indexReturned);
                    lavToCtrl_changed = false;
                    lastIndex = lavToCtrl.length;
                }

                applicaModificheRegistrate();
                settaDisabilitaSocketio(false);


            }, 50);
        }

        /************************************************************/
        $(function(){
            settaDisabilitaSocketio(true);
            costruisciPreventivo();
            settaDisabilitaSocketio(false);
            aggiungiSottolavorazioni();

            $('input').on('mouseover', function(){
                $(this).focus();
            });

        });

</script>

{% endblock %}