{% extends "paginaClienteBase.html" %}

{% block content %}


<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo US{{codicePreventivo}}F <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a></h2>
            <div id="divFattura" class="features row">
                <div class="row rowSelect">
                    <div class="col-md-4">
                        <span>Tipologie prodotto</span></br>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="service">
                                {% for tipologia in tipologie %}
                                    <option>{{tipologia.nome}}</option>
                                {% endfor %}
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Marchio prodotto</span></br>
                        <div>
                            <select id="selectMarchio" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Modello prodotto</span></br>
                        <div>
                            <select id="selectModello" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo i dati che voglio -->
                    <div id="memoriaProdottiAggiunti">
                        {% for tipologia in tipologie %}
                          <!--
                                Esempio struttura di #memoriaProdottiAggiunti

                                '<div class="<id-del-bottone>">'+
                                    '<span class="classeToAdd">aggiunto-'+count+'</span>'+
                                '</div>'
                             -->
                            <div id="memoriaProdottiAggiunti-{{tipologia.nome}}" class="tipologiaMemorizzata">

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row rowProdotti">

                    <div  id="divProdottiPreventivo" class="features col-md-4">
                        <ul id="listaElementPreventivo">

                        </ul>

                    </div>


                </div>
            </div>


            <div id="tabContainer" class="features">

                <div id="tabPreventivo" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
            <div id="divTotale" >

            </div>
            <div id="divSalvaPreventivo" class="features">
                <a id="printButton">STAMPA</a>
            </div>
        </div>
    </section>
</div>

<script>

    function popolaSelectFields(){

        var marchiGiaPresenti = [];

        {% for modello in modelliProdotto %}
            var marchioPresente = false;
            if( "{{modello.tipologia}}" == $('#selectTipologia').val() ){

                /*evito i duplicati */
                for( i = 0; i < marchiGiaPresenti.length; i++){
                    if( marchiGiaPresenti[i] ==  '{{modello.marchio}}' )
                        marchioPresente = true;

                }

                if( ! marchioPresente ){
                    $('#selectMarchio').append('<option>{{modello.marchio}}</option>');
                    marchiGiaPresenti.push('{{modello.marchio}}');
                }

            }

        {% endfor %}

        var modelliGiaPresenti = [];

        {% for modello in modelliProdotto %}
            var modelloPresente = false;
            if( "{{modello.tipologia}}" == $('#selectTipologia').val() && "{{modello.marchio}}" == $('#selectMarchio').val() ){

                /* evito i duplicati */
                for( i =0; i < modelloPresente.length; i++){
                    modelloPresente = true;
                }

                if( ! modelloPresente){
                    $('#selectModello').append('<option>{{modello.nome}}</option>');
                    modelliGiaPresenti.push('{{modello.nome}}');
                }
            }
        {% endfor %}

        var counter=0;

        {% for modello in modelliProdotto %}

            if( "{{modello.tipologia}}" == $('#selectTipologia').val() &&
                    "{{modello.marchio}}" == $('#selectMarchio').val() &&
                        "{{modello.nome}}" == $('#selectModello').val() ){

                $('#listaElementPreventivo').append(

                     '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementPreventivo {{modello.tipologia}}"><label for="button'+ counter +'">{{modello.prodotto}}</label></button></li>'
                );
                counter+=1;
            }

        {% endfor %}
    }

    popolaSelectFields();

    $('#selectTipologia').change(function(){
        $('#selectMarchio').html('');
        $('#selectModello').html('');
        $('#listaElementPreventivo').html('');
        popolaSelectFields();
    });

    $('#selectMarchio').change(function(){
        $('#selectModello').html('');
        $('#listaElementPreventivo').html('');
        var modelliGiaPresenti = [];

        {% for modello in modelliProdotto %}
            var modelloPresente = false;
            if( "{{modello.tipologia}}" == $('#selectTipologia').val() && "{{modello.marchio}}" == $('#selectMarchio').val() ){

                /* evito i duplicati */
                for( i =0; i < modelloPresente.length; i++){
                    modelloPresente = true;
                }

                if( ! modelloPresente){
                    $('#selectModello').append('<option>{{modello.nome}}</option>');
                    modelliGiaPresenti.push('{{modello.nome}}');
                }
            }
        {% endfor %}

        var counter=0;

        {% for modello in modelliProdotto %}

            if( "{{modello.tipologia}}" == $('#selectTipologia').val() &&
                    "{{modello.marchio}}" == $('#selectMarchio').val() &&
                        "{{modello.nome}}" == $('#selectModello').val() ){

                console.log( "almeno qua entro" );
                $('#listaElementPreventivo').append(

                     '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementPreventivo {{modello.tipologia}}"><label for="button'+ counter +'">{{modello.prodotto}}</label></button></li>'
                );
                counter+=1;
            }

        {% endfor %}
    });

    $('#selectModello').change(function(){
        $('#listaElementPreventivo').html('');
        var counter=0;

        {% for modello in modelliProdotto %}

            if( "{{modello.tipologia}}" == $('#selectTipologia').val() &&
                    "{{modello.marchio}}" == $('#selectMarchio').val() &&
                        "{{modello.nome}}" == $('#selectModello').val() ){

                console.log( "almeno qua entro" );
                $('#listaElementPreventivo').append(

                     '<li><button id="button'+ counter +'" onclick="aggiungiRiga($(this))" class="elementPreventivo {{modello.tipologia}}"><label for="button'+ counter +'">{{modello.prodotto}}</label></button></li>'
                );
                counter+=1;
            }

        {% endfor %}
    });


    var socketHome = io.connect("{{sockUrl}}"+'/home');


    socketHome.on('connect', function() {

        socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
    });


    var socketPreventivo= io.connect("{{sockUrl}}"+'/preventivoFiniture');

    function rienumeraMemoriaLavorazioni(){

        var counter = 1;
        $('#memoriaProdottiAggiunti').children('.tipologiaMemorizzata').each(function(){
            $(this).children('div').each(function(){
                $(this).text('aggiunto-'+counter);
                counter+=1;
            });

        });
    }


    function rienumeraPagina(){

        var counter = 1;
        var oldNum="";

        //rinomino tutti gli id degli elementi per non rischiare di
        //averne due uguali nella renumerazione.
        $('.trBody').each(function(){
            var idThisFirstPart = $(this).attr('id').split('-')[0];
            var tipologia=idThisFirstPart.split('_')[0];



            oldNum = $(this).attr('id').split('-')[1]

            $(this).attr('id', idThisFirstPart+'-old'+oldNum);

            $(this).children('.firstCol'+oldNum).addClass('firstCol-old'+oldNum);
            $(this).children('.firstCol'+oldNum).removeClass('firstCol'+oldNum);

            /*modifico i pulsanti "aggiungi elemento" degli elementi presenti*/
            $('.aggiunto-'+oldNum).addClass('aggiunto-old'+oldNum);
            $('.aggiunto-'+oldNum).removeClass('aggiunto-'+oldNum);
        });


        $('.trBody').each(function(){
            var idThisFirstPart = $(this).attr('id').split('-')[0];
            var settore=idThisFirstPart.split('_')[0];
            oldNum =  $(this).attr('id').split('-old')[1];

            $('.aggiunto-old'+oldNum).addClass('aggiunto-'+counter);
            $('.aggiunto-old'+oldNum).removeClass('aggiunto-old'+oldNum);

            $(this).attr('id', idThisFirstPart+'-'+counter);

            $(this).children('.firstCol-old'+oldNum).addClass('firstCol'+counter);
            $(this).children('.firstCol-old'+oldNum).removeClass('firstCol-old'+oldNum);

            $(this).children('.firstCol'+counter).children('label').text(counter);



            socketPreventivo.emit("modifica_ordine_lavorazione",
                            {
                                "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                "data" : "{{preventivo.data}}",
                                "ordineVecchio": oldNum,
                                "ordineNuovo" : counter

                            }
                  );
            counter+=1;
        });

        rienumeraMemoriaLavorazioni();

    }

    function settaLastElement(tipologia){

            $('tr[id^='+tipologia+'_trBody]').last().addClass(tipologia+'_lastAdded');
    }

    function countProdottiPerTipologia(tipologia){
            var counter=0;
            $('tr[id^='+tipologia+'_trBody]').each(function(){
                counter++;
            });

            return counter;
    }

    function calcolaTotalePreventivo(){

        var totale =0;
        $('.tdDiffCapitolato').each(function(){
            var costo = $(this).html();

            if( costo == "-" ){

                costo = 0;
            }
            else {
                costo = parseFloat(costo.split(' ')[1]);
            }

            totale += costo;
        });

        $('#divTotale').html("&euro; "+ totale);
    }


    /* variabile globale usata per tener conto del numero dell'ultima lavorazione aggiunta */
    var ordineProdotti = 1;

    function aggiungiRiga($this){
        if( $this.hasClass('aggiunto') ){
            console.log( "Il prodotto e' stato aggiunto" );
        }else{

            {% for modello in modelliProdotto %}

                /* seleziono il prodotto richiesto */
                if( "{{modello.prodotto}}" ==  $this.text() &&
                        "{{modello.tipologia}}" == $('#selectTipologia').val() &&
                            "{{modello.marchio}}" == $('#selectMarchio').val() &&
                                "{{modello.nome}}" == $('#selectModello').val()){


                    /* seleziono il relativo capitolato del prodotto richiesto */
                    {% for prodotto in prezzarioProdotti %}
                        {% if modello.prodotto == prodotto.nome and modello.tipologia == prodotto.tipologia %}

                            {% for capitolato in modelliProdotto %}

                                {% if capitolato.nome == prodotto.capitolato_modello and
                                        capitolato.marchio == prodotto.capitolato_marchio and
                                            capitolato.tipologia == prodotto.tipologia and
                                                capitolato.prodotto == prodotto.nome %}


                                    //Segno nel bottono cliccato che e' una lavorazione aggiunto
                                    $this.addClass("aggiunto");
                                    $this.addClass("aggiunto-"+ordineProdotti);

                                    /*memorizzo nel apposita sezione l'aggiunta della classe "aggiunto-"+ordineProdotti al bottone*/
                                    $("#memoriaProdottiAggiunti-{{prodotto.tipologia}}").append(
                                        '<div class="'+$this.attr('id')+'">'+
                                            '<span class="classeToAdd">aggiunto-'+ordineProdotti+'</span>'+
                                        '</div>'

                                    );


                                    var tipologiaProdotto =  $('#bodyPreventivo').children('.{{prodotto.tipologia}}');

                                    var diffCapitolato = Math.abs( parseFloat('{{capitolato.prezzoListinoFornituraPosa}}') - parseFloat('{{modello.prezzoListinoFornituraPosa}}') )

                                    if( diffCapitolato == 0 ){
                                        diffCapitolato = '-';
                                    }
                                    else
                                        diffCapitolato = '&euro; '+diffCapitolato;

                                    //Preparo la riga del prodotto
                                    var rowsToAdd='<tr id="{{modello.tipologia}}_trBody-'+ordineProdotti+'" class="trBody {{modello.tipologia}}_lastAdded">'+
                                                    '<td class="firstCol'+ordineProdotti+' firstCol"></td>'+
                                                    '<td class="tdPreventivo tdProdotto"><textarea>{{modello.prodotto}}</textarea></td>'+
                                                    '<td class="tdPreventivo tdModello">{{modello.nome}}</td>'+
                                                    '<td class="tdPreventivo tdCodice">{{modello.codice}}</td>'+
                                                    '<td class="tdPreventivo numColSmall"><input class="numInput numero" type="number" name="numero" placeholder="quantità" value=1></td>'+
                                                    '<td class="tdPreventivo numColSmall"><input name="unitaMisura" placeholder="unita misura" value="cad"></td>'+
                                                    '<td class="tdPreventivo numColSmall tdDiffCapitolato">'+diffCapitolato+'</td>'+
                                                '</tr>';

                                    //se non e' gia' stata aggiunta una sezione lo faccio e subito sotto metto il prodotto
                                    if( !tipologiaProdotto.length ){

                                        $('#bodyPreventivo').append(

                                            '<tr class="trHead {{modello.tipologia}}">'+
                                                '<td  colspan="7"  class="titleTipologiaTd">{{modello.tipologia}}</td>'+
                                            '</tr>'+
                                            '<tr class="trHead {{modello.tipologia}}_head">'+
                                                '<th class="thPreventivo"></th>'+
                                                '<th class="thPreventivo">Nome prodotto</th>'+
                                                '<th class="thPreventivo">Modello</th>'+
                                                '<th class="thPreventivo">Codice</th>'+
                                                '<th class="thPreventivo numColSmall">Quantità</th>'+
                                                '<th class="thPreventivo numColSmall">Unità <br/> misura</th>'+
                                                '<th class="thPreventivo">diff. CAPITOLATO</th>'+
                                            '</tr>'+
                                            rowsToAdd

                                        );

                                    }
                                    else{

                                        var ultimoProdottoInserito=$(".{{modello.tipologia}}_lastAdded");

                                        ultimoProdottoInserito.removeClass("{{modello.tipologia}}_lastAdded");

                                        ultimoProdottoInserito.after( rowsToAdd );
                                    }

                                    $('tr.trBody').draggable({ helper: "clone"});

                                    /*ad ogni nuova aggiunta di elemento rinumera tuttoquanto*/
                                    rienumeraPagina();


                                    //Aggiungo funzionalita' ai "bottoni" nelle righe del preventivo e i bottoni stessi...
                                    $('.trBody').each(function(){

                                      var numEl = $(this).attr('id').split('-')[1];

                                      //aggiungo il bottoni di cancellazioni e il numero elemento
                                      $(this).children('td.firstCol').html( '<label>'+ numEl + '</label><br/><a class="delElement fa fa-trash"></a>' );


                                      //aggiungo la funzione 'cancellaLavorazione' al relativo bottone
                                      $(this).children('td.firstCol').children('a.delElement').click(function(){
                                            var idElementToDel=$(this).parent().parent().attr('id');
                                            var numEl = idElementToDel.split('-')[1];
                                            var tipologia =idElementToDel.split('_')[0];
                                            var lastEl = $('#'+idElementToDel).hasClass(tipologia+'_lastAdded'); //variabile booleana


                                            $('#'+idElementToDel).remove();

                                            $('#memoriaProdottiAggiunti-'+tipologia).children('div').each(function(){
                                                if( $(this).text() == 'aggiunto-'+numEl )
                                                    $(this).remove();
                                            });

                                            $('.aggiunto-'+numEl).removeClass('aggiunto');
                                            $('.aggiunto-'+numEl).removeClass('aggiunto-'+numEl);

                                            socketPreventivo.emit("elimina_prodotto",
                                                            {
                                                                "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                                                "data" : "{{preventivo.data}}",
                                                                "ordine": numEl,

                                                            }

                                            );

                                            rienumeraPagina();

                                            if( lastEl ){
                                                settaLastElement(tipologia);
                                            }

                                            // se non ci sono piu' prodotti per la relativo tipologia
                                            // elimina l'intestazione
                                            countProd = countProdottiPerTipologia(tipologia);

                                            if( countProd == 0 ){

                                                $('.'+tipologia).each(function(){
                                                    if($(this).hasClass('trHead'))
                                                        $(this).remove();
                                                });

                                                $('.'+tipologia+'_head').remove();

                                            }
                                      });

                                    });

                                    ordineProdotti++;

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                }
            {% endfor %}

        }
    }

  /*******************************************************************************************************************/

    function aggiungiRiga2($this){
         console.log( "Sto Per aggiungere...." );

         if( $this.hasClass('aggiunto') ){
            console.log( "Il prodotto e' stato aggiunto" );
         }else{
            {% for prodotto in prezzarioProdotti %}

                if( "{{prodotto.nome}}" ==  $this.text() ){

                    {% for modello in modelliProdotto %}

                        if( '{{modello.nome}}' == "{{prodotto.capitolato}}" ){

                            //Segno nel bottono cliccato che e' una lavorazione aggiunto
                            $this.addClass("aggiunto");
                            $this.addClass("aggiunto-"+ordineProdotti);


                            /*memorizzo nel apposita sezione l'aggiunta della classe "aggiunto-"+ordineProdotti al bottone*/
                            $("#memoriaProdottiAggiunti-{{prodotto.tipologia}}").append(
                                '<div class="'+$this.attr('id')+'">'+
                                    '<span class="classeToAdd">aggiunto-'+ordineProdotti+'</span>'+
                                '</div>'

                            );

                            var tipologiaProdotto =  $('#bodyPreventivo').children('.{{prodotto.tipologia}}');

                            //Preparo la riga della lavorazione
                            var rowsToAdd='<tr id="{{prodotto.tipologia}}_trBody-'+ordineProdotti+'" class="trBody {{prodotto.tipologia}}_lastAdded">'+
                                            '<td class="firstCol'+ordineProdotti+' firstCol"></td>'+
                                            '<td class="tdPreventivo tdProdotto"><textarea>{{modello.prodotto}}</textarea></td>'+
                                            '<td class="tdPreventivo tdModello">'+
                                            '<select id="selectModello">';

                            {% for modelloDaSelezionare in modelliProdotto %}
                                if('{{modelloDaSelezionare.tipologia}}' == $('#selectTipologia').val() && '{{modelloDaSelezionare.prodotto}}' == '{{prodotto.nome}}' ){
                                    {% if modelloDaSelezionare.nome == modello.nome %}
                                        rowsToAdd+='<option selected="selected">{{modello.nome}}</option>';
                                    {% else %}
                                        rowsToAdd+='<option >{{modelloDaSelezionare.nome}}</option>';
                                    {% endif %}
                                }
                            {% endfor %}

                            rowsToAdd+='</select>'+
                                        '<td class="tdPreventivo numColSmall"><input class="numInput numero" type="number" name="numero" placeholder="quantità" value=1></td>'+
                                        '<td class="tdPreventivo numColSmall"><input name="unitaMisura" placeholder="unita misura" value="cad"></td>'+
                                        '<td class="tdPreventivo numColSmall tdDiffCapitolato">-</td>'+
                                    '</tr>';


                            console.log('Allora dai '+tipologiaProdotto.length);
                            //se non e' gia' stata aggiunta una sezione lo faccio e subito sotto metto il prodotto
                            if( !tipologiaProdotto.length ){

                                $('#bodyPreventivo').append(

                                    '<tr class="trHead {{prodotto.tipologia}}">'+
                                        '<td  colspan="6"  class="titleTipologiaTd">{{prodotto.tipologia}}</td>'+
                                    '</tr>'+
                                    '<tr class="trHead {{prodotto.tipologia}}_head">'+
                                        '<th class="thPreventivo"></th>'+
                                        '<th class="thPreventivo">Nome prodotto</th>'+
                                        '<th class="thPreventivo">Modello</th>'+
                                        '<th class="thPreventivo numColSmall">Quantità</th>'+
                                        '<th class="thPreventivo numColSmall">Unità <br/> misura</th>'+
                                        '<th class="thPreventivo">diff. CAPITOLATO</th>'+
                                    '</tr>'+
                                    rowsToAdd

                                );

                            }
                            else{

                                var ultimoProdottoInserito=$(".{{prodotto.tipologia}}_lastAdded");

                                ultimoProdottoInserito.removeClass("{{prodotto.tipologia}}_lastAdded");

                                ultimoProdottoInserito.after( rowsToAdd );
                            }


                            $('tr.trBody').draggable({ helper: "clone"});

                            /*ad ogni nuova aggiunta di elemento rinumera tuttoquanto*/
                            rienumeraPagina();

                            //Aggiungo funzionalita' ai "bottoni" nelle righe del preventivo e i bottoni stessi...
                             $('.trBody').each(function(){

                                  var numEl = $(this).attr('id').split('-')[1];

                                  //aggiungo il bottoni di cancellazioni e il numero elemento
                                  $(this).children('td.firstCol').html( '<label>'+ numEl + '</label><br/><a class="delElement fa fa-trash"></a>' );


                                  //aggiungo la funzione 'cancellaLavorazione' al relativo bottone
                                  $(this).children('td.firstCol').children('a.delElement').click(function(){
                                        var idElementToDel=$(this).parent().parent().attr('id');
                                        var numEl = idElementToDel.split('-')[1];
                                        var tipologia =idElementToDel.split('_')[0];
                                        var lastEl = $('#'+idElementToDel).hasClass(tipologia+'_lastAdded'); //variabile booleana


                                        $('#'+idElementToDel).remove();

                                        $('#memoriaProdottiAggiunti-'+tipologia).children('div').each(function(){
                                            if( $(this).text() == 'aggiunto-'+numEl )
                                                $(this).remove();
                                        });

                                        $('.aggiunto-'+numEl).removeClass('aggiunto');
                                        $('.aggiunto-'+numEl).removeClass('aggiunto-'+numEl);

                                        socketPreventivo.emit("elimina_prodotto",
                                                        {
                                                            "numero_preventivo" : "{{preventivo.numero_preventivo}}",
                                                            "data" : "{{preventivo.data}}",
                                                            "ordine": numEl,

                                                        }

                                        );

                                        rienumeraPagina();

                                        if( lastEl ){
                                            settaLastElement(tipologia);
                                        }

                                        // se non ci sono piu' prodotti per la relativo tipologia
                                        // elimina l'intestazione
                                        countProd = countProdottiPerTipologia(tipologia);

                                        if( countProd == 0 ){

                                            $('.'+tipologia).each(function(){
                                                if($(this).hasClass('trHead'))
                                                    $(this).remove();
                                            });

                                            $('.'+tipologia+'_head').remove();

                                        }
                                  });

                             });

                             $('#selectModello').change(function(){
                                {% for modelloDaSelezionare in modelliProdotto %}
                                    if('{{modelloDaSelezionare.tipologia}}' == $('#selectTipologia').val() && '{{modelloDaSelezionare.prodotto}}' == '{{prodotto.nome}}' ){
                                        if( '{{modelloDaSelezionare.nome}}' == $('#selectModello').val() ){

                                            console.log("Allora dai fammi vedere: {{modelloDaSelezionare.prezzoListinoFornituraPosa}} ##### {{modello.prezzoListinoFornituraPosa}}");

                                            var diffCapitolato = parseFloat('{{modelloDaSelezionare.prezzoListinoFornituraPosa}}')-parseFloat('{{modello.prezzoListinoFornituraPosa}}');

                                            if(diffCapitolato > 0){
                                                 $('#{{prodotto.tipologia}}_trBody-'+ordineProdotti).children('.tdDiffCapitolato').html("&euro; "+diffCapitolato);
                                            }
                                            else if(diffCapitolato < 0){
                                                diffCapitolato=-diffCapitolato;
                                                $('#{{prodotto.tipologia}}_trBody-'+ordineProdotti).children('.tdDiffCapitolato').html("&euro; "+diffCapitolato);
                                            }
                                            else if(diffCapitolato == 0)
                                                $('#{{prodotto.tipologia}}_trBody-'+ordineProdotti).children('.tdDiffCapitolato').html("-");

                                        }
                                    }
                                {% endfor %}

                                calcolaTotalePreventivo();
                             });

                             ordineProdotti++;
                        }
                    {% endfor %}
                }

            {% endfor %}

         }

    } // FINE AGGIUNGI RIGA



</script>

{% endblock %}