{% extends "paginaClienteBase.html" %}

{% block content %}


<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo US{{codicePreventivo}}F <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a>
                <input onchange="espandiTabella()" type="checkbox" value="true" id="cbx" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label></h2>
            <div id="divFattura" class="features row">

                <div class="row rowSelect">
                    <div class="col-md-4">
                        <span>Tipologie prodotto</span></br>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Marchio prodotto</span></br>
                        <div>
                            <select id="selectMarchio" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Modello prodotto</span></br>
                        <div>
                            <select id="selectModello" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo i dati che voglio -->
                    <div id="memoriaProdottiAggiunti">

                    </div>
                </div>
                <div class="row rowProdotti">

                    <div  id="divProdottiPreventivo" class="features col-md-4">
                        <ul id="listaElementPreventivo">

                        </ul>

                    </div>


                </div>
            </div>


            <div id="tabContainer" class="features">

                <div id="tabPreventivo" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
            <div id="divTotale" >

            </div>
            <div id="divSalvaPreventivo" class="features">
                <a onclick="stampaPreventivo('{{dipendente.username}}')" id="printButton">STAMPA</a>
            </div>
            <div id="divTitoloNote" >
                <span>Note:</span>
            </div>
            <div id="divNote" class="features">
                <textarea oninput="aggiungiNote($(this))" id="note"></textarea>
            </div>
        </div>
    </section>
</div>

<script>
    var socketHome = io.connect("{{sockUrl}}"+'/home');

    socketHome.on('connect', function() {

        socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
    });


    var socketFiniture= io.connect("{{sockUrl}}"+'/preventivoFiniture');

    socketFiniture.on( 'procediADownload', function(){
        window.open('{{url_for("downloadPreventivoFiniture")}}', '_blank');
    });

    /****** Popolo la lista dei prodotti dati dai select **************************/


    var listProdottiPerTipologia = [];
    var listMarchi =[];
    var listModelli =  [];

    {% for tipologia in tipologie %}

        //suddivido i prodotti per tipologia

        var listProdotti = [];

        {% for modelloProdotto in modelliProdotto %}
            {% if modelloProdotto.tipologia == tipologia.nome %}

                listProdotti.push(['{{modelloProdotto.marchio}}'.replace(/&#39;/g, "'"), '{{modelloProdotto.nome}}'.replace(/&#39;/g, "'"),
                                        '{{modelloProdotto.prodotto}}'.replace(/&#39;/g, "'")]);

            {% endif %}
        {% endfor %}

        listProdottiPerTipologia.push(['{{tipologia.nome}}'.replace(/&#39;/g, "'"), listProdotti ]);

    {% endfor %}


    {% for modelloProdotto in modelliProdotto %}
        // costruisco le liste dei distinti modelli e marchi esistenti

        var modelloToIns = true;
        var marchioToIns = true;

        listModelli.forEach(function(modello){

            if( modello == '{{modelloProdotto.nome}}'.replace(/&#39;/g, "'") ){

                modelloToIns = false;

            }
        });


        listMarchi.forEach(function(marchio){

            if( marchio == '{{modelloProdotto.marchio}}'.replace(/&#39;/g, "'") ){

                marchioToIns = false;

            }
        });

        if( marchioToIns ){

            listMarchi.push('{{modelloProdotto.marchio}}'.replace(/&#39;/g, "'"));
        }

        if( modelloToIns ){

            listModelli.push('{{modelloProdotto.nome}}'.replace(/&#39;/g, "'"));
        }

    {% endfor %}



    aggiungiProdottiToSelectElement(listProdottiPerTipologia, listMarchi, listModelli);

    /********************************************************/

    $('button.elementFattura').click(function(){

        /* i replace all'interno del codice servono perchè gli apostrofi
            dei nomi recuperati dal database vengono ritornati con il
            loro codice e non con il simbolo che li rappresenta */

        var tipologia = $('#selectTipologia option:selected').text();
        var marchio = $('#selectMarchio option:selected').text();
        var modello = $('#selectModello option:selected').text();
        var modelloClass = $('#selectModello option:selected').attr('class');

        var prodotto = $(this).text();

        var capitolatoTipologia;
        var capitolatoMarchio;
        var capitolatoModello;
        var capitolatoProdotto;
        var capitolatoCosto;

        /* Cerco il capitolato della relativa tipologia di prodotti */

        {% for capitolato in capitolatiProdotto %}

            if( '{{capitolato.tipologia}}' == tipologia ){


                capitolatoTipologia = '{{capitolato.tipologia}}'.replace(/&#39;/g, "'");
                capitolatoMarchio = '{{capitolato.marchio}}'.replace(/&#39;/g, "'");
                capitolatoModello = '{{capitolato.modello}}'.replace(/&#39;/g, "'");
                capitolatoProdotto = '{{capitolato.nome}}'.replace(/&#39;/g, "'");

                /*cerco il costo del capitolato*/
                {% for modelloProdotto in modelliProdotto %}

                    {% if modelloProdotto.tipologia == capitolato.tipologia %}

                        {% if modelloProdotto.marchio == capitolato.marchio %}

                            {% if modelloProdotto.nome == capitolato.modello %}

                                {% if modelloProdotto.prodotto == capitolato.nome %}


                                    capitolatoCosto = calcolaPrezzoProdotto('{{modelloProdotto.prezzoListinoFornitura}}', '{{modelloProdotto.posa}}',
                                                        '{{modelloProdotto.posaPerc}}', '{{modelloProdotto.rincaroCliente}}');


                                {% endif %}

                            {% endif %}

                        {% endif %}

                    {% endif %}

                {% endfor %}

            }

        {% endfor %}



        /*Aggiungo la riga richiesta */

        {% for modelloProdotto in modelliProdotto %}

            var tipologiaToCompare = '{{modelloProdotto.tipologia}}'.replace(/&#39;/g, "'");
            var marchioToCompare = '{{modelloProdotto.marchio}}'.replace(/&#39;/g, "'");
            var modelloToCompare = '{{modelloProdotto.nome}}'.replace(/&#39;/g, "'");
            var prodottoToCompare = '{{modelloProdotto.prodotto}}'.replace(/&#39;/g, "'");

            if( tipologiaToCompare == tipologia )
            {
                if( marchioToCompare == marchio ){

                    if( modelloToCompare == modello ){

                        if( prodottoToCompare == prodotto ){

                            var costoProdotto = calcolaPrezzoProdotto('{{modelloProdotto.prezzoListinoFornitura}}', '{{modelloProdotto.posa}}',
                                                        '{{modelloProdotto.posaPerc}}', '{{modelloProdotto.rincaroCliente}}');

                            var codiceProdotto = '{{modelloProdotto.codice}}';


                            var nettoUsProdotto = calcolaPrezzoProdotto('{{modelloProdotto.nettoUsFornitura}}', '{{modelloProdotto.posa}}',
                                                        '{{modelloProdotto.posaPerc}}', 0 );

                            aggiungiRiga($(this), "{{preventivo.numero_preventivo}}", "{{preventivo.data}}",
                                tipologiaToCompare, marchioToCompare, modelloToCompare, prodottoToCompare,
                                modelloClass, codiceProdotto, costoProdotto, capitolatoCosto, nettoUsProdotto );

                        }

                    }

                }

            }

        {% endfor %}
    });

    /**********************************************************/

    var applicaModificheRegistrate = function(){

        {% for prodotto in prodottiPreventivo[1] %}

            var quantitaProdotto = parseFloat('{{prodotto.quantita}}');
            var nome_modificato = '{{prodotto.nome_modificato}}';
            var unita = '{{prodotto.unitaMisura}}';


            $('tr.trBody').each(function(){

                if( $(this).children('td.firstCol').children('label').text() == '{{prodotto.ordine}}' ){

                    $(this).children('td.tdQuantita').children('input').val(quantitaProdotto);
                    $(this).children('td.tdQuantita').children('input').trigger('input');

                    $(this).children('td.tdProdotto').children('textarea').val(nome_modificato);
                    $(this).children('td.tdUnita').children('input').val(unita);

                }
            });


        {% endfor %}

        if( '{{preventivo.note}}' != 'None' )
            $('#divNote').children('textarea').val('{{preventivo.note}}')
    }

    /**********************************************************/

    var costruisciPreventivo = function(){

        {% for tipologia in prodottiPreventivo[0] %}


            $('#selectTipologia').val('{{tipologia}}');
            $('#selectTipologia').trigger('change');


            {% for prodotto in prodottiPreventivo[1] %}

                {% if prodotto.tipologia == tipologia %}

                    $('#selectMarchio').val('{{prodotto.marchio}}');
                    $('#selectMarchio').trigger('change');

                    $('#selectModello').val('{{prodotto.modello}}');
                    $('#selectModello').trigger('change');

                    var modelloClass =  $('#selectModello').children('option:selected').attr('class');


                    $('button.elementFattura').each(function(){

                        if( $(this).attr('id').startsWith(modelloClass) ){

                            if( $(this).children('label').text() == '{{prodotto.nome_prodotto}}' ){

                                $(this).trigger('click');

                                /* ricorda di disabilitare il socketio e dopo l'aggiunta del bottone e di
                                 di modificare il nome con il nome modificato */
                            }

                        }

                    });




                {% endif %}

            {% endfor %}

        {% endfor %}



    }

    /****************************************************************/

    $(function(){

        settaDisabilitaSocketio(true);
        costruisciPreventivo();
        applicaModificheRegistrate();
        settaDisabilitaSocketio(false);

    });
</script>

{% endblock %}