{% extends "paginaClienteBase.html" %}

{% block content %}


<div id="wrapper" class="col-md-8">
    <section id="one" class="wrapper style2 spotlights">
        <div class="inner innerPreventivo">
            <h2 class="titleInCentro">Preventivo US{{codicePreventivo}}F <a href="{{url_for('clientBack')}}" class="fa fa-compress expandPreventivoIcon"></a><input type="checkbox" value="true" id="cbx" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label></h2>
            <div id="divFattura" class="features row">

                <div class="row rowSelect">
                    <div class="col-md-4">
                        <span>Tipologie prodotto</span></br>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Marchio prodotto</span></br>
                        <div>
                            <select id="selectMarchio" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <span>Modello prodotto</span></br>
                        <div>
                            <select id="selectModello" class="js-select2" name="service">

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                    <!-- Serve un metodo per ricordare le classi aggiunte dinamicamente ai bottoni
                       del "dropDownSelect2"; per far cio' creo un div perennemente invisibile
                        in cui memorizzo i dati che voglio -->
                    <div id="memoriaProdottiAggiunti">
                        {% for tipologia in tipologie %}
                          <!--
                                Esempio struttura di #memoriaProdottiAggiunti

                                '<div class="<id-del-bottone>">'+
                                    '<span class="classeToAdd">aggiunto-'+count+'</span>'+
                                '</div>'
                             -->
                            <div id="memoriaProdottiAggiunti-{{tipologia.nome}}" class="tipologiaMemorizzata">

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row rowProdotti">

                    <div  id="divProdottiPreventivo" class="features col-md-4">
                        <ul id="listaElementPreventivo">

                        </ul>

                    </div>


                </div>
            </div>


            <div id="tabContainer" class="features">

                <div id="tabPreventivo" class="table-wrapper">
                        <table class="alt">
                           <tbody id="bodyPreventivo">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
            </div>
            <div id="divTotale" >

            </div>
            <div id="divSalvaPreventivo" class="features">
                <a id="printButton">STAMPA</a>
            </div>
            <div id="divTitoloNote" >
                <span>Note:</span>
            </div>
            <div id="divNote" class="features">
                <textarea id="note"></textarea>
            </div>
        </div>
    </section>
</div>

<script>
    var socketHome = io.connect("{{sockUrl}}"+'/home');

    socketHome.on('connect', function() {

        socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
    });


    var socketFiniture= io.connect("{{sockUrl}}"+'/preventivoFiniture');


    /****** Popolo la lista dei prodotti dati dai select **************************/


    var listProdottiPerTipologia = [];
    var listMarchi =[];
    var listModelli =  [];

    {% for tipologia in tipologie %}

        //suddivido i prodotti per tipologia

        var listProdotti = [];

        {% for modelloProdotto in modelliProdotto %}
            {% if modelloProdotto.tipologia == tipologia.nome %}

                var listProdotti.push(['{{modelloProdotto.marchio}}', '{{modelloProdotto.nome}}',
                                        '{{modelloProdotto.prodotto}}']);

            {% endfor %}
        {% endfor %}

        listProdottiPerTipologia.push(['{{tipologia.nome}}', listProdotti ]);

    {% endfor %}


    {% for modelloProdotto in modelliProdotto %}
        // costruisco le liste dei distinti modelli e marchi esistenti

        var modelloToIns = true;
        var marchioToIns = true;

        listModelli.forEach(function(modello){

            if( modello == '{{modelloProdotto.nome}}' ){

                modelloToIns = false;

            }
        });


        listMarchi.forEach(function(marchio){

            if( marchio == '{{modelloProdotto.marchio}}' ){

                marchioToIns = false;

            }
        });

        if( marchioToIns ){

            listMarchi.push('{{modelloProdotto.marchio}}');
        }

        if( modelloToIns ){

            listModello.push('{{modelloProdotto.nome}}');
        }

    {% endfor %}


    aggiungiProdottiToSelectElement(listaProdottiPerTipologia, listMarchi, listModello);



    /******************************************************************************/


</script>

{% endblock %}