{% extends "paginaBase.html" %}

{% block content %}

    <div id="page-wrapper">

        <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

        <div id="schedaArtigiani" class="scheda">

            <div id="headerNewRow">
                <div id="tabellaContainerNewRow1">
                    <table class="tabella">
                        <tr class="sezioneTabella dimensionaTabella newRow">
                            <th class="primaCol"><a id="regNewRow" class="fa fa-check primaColIcon"></a><a id="delNewRow" class="fa fa-close primaColIcon"></a></th>
                            <th class="secondaCol" colspan="10">
                                <label>Selezionare/digitare il settore di lavorazione: </label>
                                <input id="impostaSettore" list="listaSettori" class="inputScheda" placeholder="settore di lavorazione..">
                            </th>
                        </tr>
                        <tr class="headerTabella dimensionaTabella newRow">
                            <th class="primaCol"></th>
                            <th> Tipologia lavorazione </th>
                            <th> Pertinenza </th>
                            <th class="numCell"> Unità </th>
                            <th class="numCell"> Fornitura </th>
                            <th class="numCell"> Posa </th>
                            <th class="numCell"> Costo (F+P) </th>
                            <th class="numCell"> Prezzo min </th>
                            <th class="numCell"> Prezzo max </th>
                            <th> Dimensioni </th>
                            <th class="note"> Note </th>
                        </tr>
                        <tr class="datiScheda dimensionaTabella newRow">
                            <td class="primaCol"></td>
                            <td class="tipologia_lavorazione no_cursor">
                                <textarea class="inputScheda" value="" placeholder="tipologia lavorazione..." ></textarea>
                            </td>
                            <td class="pertinenza no_cursor">
                                <select id="selectPertinenzaNewRow">
                                    {% for settore in settori %}
                                        <option>{{settore.nome}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="unitaMisura numCell no_cursor">
                                <select>
                                    <option>a corpo</option>
                                    <option>cad</option>
                                    <option>ml</option>
                                    <option>mq</option>
                                    <option>mc</option>

                                </select>
                            </td>
                            <td class="fornitura numCell no_cursor">
                                <label class="simpleAfterInputLabel">&euro;</label><input step="0.01" type="number" class="inputScheda numInput"  value="0">
                            </td>
                            <td class="posa numCell no_cursor">
                                <label class="simpleAfterInputLabel">&euro;</label><input step="0.01" type="number" class="inputScheda numInput" value="0">
                            </td>
                            <td class="fornituraPosa numCell no_cursor">
                                <label class="printedCalc">&euro; 0</label>
                            </td>
                            <td class="prezzoMin numCell no_cursor">
                                <label class="simpleAfterInputLabel">&euro;</label> <input step="0.01" type="number" class="inputScheda numInput" value="0">
                            </td>
                            <td class="prezzoMax numCell no_cursor">
                                <label class="simpleAfterInputLabel">&euro;</label> <input step="0.01" type="number" class="inputScheda numInput" value="0">
                            </td>
                            <td class="dimensione no_cursor">
                                <input class="inputScheda" value="" placeholder="dimensioni (L x H x P)..." >
                            </td>
                            <td class="note no_cursor">
                               <textarea></textarea>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="fc-toolbar fc-header-toolbar filterZoneScheda">

                <div id="filtersContainer">
                    <div class="containerTitle"><h2>Filtri di Ricerca</h2></div>
                    <div id="filters">
                        <div class="filterInputContainer settori">
                            <input id="filtraSettori" list="listaSettori" autocomplete="off" class="filterInput" placeholder="Selezionare il settore...">

                        </div>

                        <div class="filterInputContainer lavorazione">
                            <input id="filtraLavorazioni" list="listaLavorazioni" autocomplete="off" class="filterInput" placeholder="Selezionare la lavorazione...">

                        </div>
                    </div>
                </div>

                <div class="delModLists headerSection">
                    <div class="containerTitle"><h2>Modifica/cancella</h2></div>
                    <div class="filterInputContainer">
                        <label for="modDelSettore">Settore di lavorazione</label><br/>
                        <select id="modDelSettore" class="delModList">
                            {% for settore in settori %}
                                {% if settore.nome != 'Non definito' %}
                                    <option>{{settore.nome}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <a class="fa fa-plus addLista iconLista"></a>
                        <a class="fa fa-edit editLista iconLista"></a>
                        <a class="fa fa-trash delLista iconLista"></a>

                    </div>
                </div>


            </div>

            <div class="fc-view-container viewContainer">
                <div id="tabellaContainer">
                    <table class="tabella">
                        <tr class="headerDelHeader dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="10" class="secondaCol"></th>

                        </tr>
                        <tr class="headerTabella dimensionaTabella">
                            <th class="primaCol"><a class="fa fa-plus" id="addRow"></a></th>
                            <th> Tipologia lavorazione </th>
                            <th> Pertinenza </th>
                            <th class="numCell"> Unità </th>
                            <th class="numCell"> Fornitura </th>
                            <th class="numCell"> Posa </th>
                            <th class="numCell"> Costo (F+P) </th>
                            <th class="numCell"> Prezzo min </th>
                            <th class="numCell"> Prezzo max </th>
                            <th> Dimensioni </th>
                            <th class="note"> Note </th>
                        </tr>
                       <!-- <tr class="sezioneTabella dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="11">Settore di lavorazione: idraulico</th>
                        </tr>
                        <tr class="datiScheda dimensionaTabella">
                            <td class="primaCol"><a class="fa fa-warning primaColIcon"></a><a class="fa fa-trash primaColIcon"></a></td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="tipologia lavorazione..." >
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="pertinenza..." >
                            </td>
                            <td class="numCell"><label class="cellaDato"></label>
                                <select>
                                    <option>cad</option>
                                    <option>ml</option>
                                    <option>mq</option>
                                    <option>mc</option>

                                </select>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput"  value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="dimensioni (lxhxp)..." >
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                               <textarea style="display:none"></textarea>
                            </td>

                        </tr>-->
                    </table>

                </div>
            </div>
        </div>

        <datalist id="listaSettori">
            {% for settore in settori %}
                <option>{{settore.nome}}</option>
            {% endfor %}
        </datalist>

        <datalist id="listaLavorazioni">

        </datalist>

    </div>

    <script>

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketPrezzario= io.connect("{{sockUrl}}"+'/prezzario');

        var lavorazioneInListaLavorazioni = function(lavorazione){

            var toAdd = true;

            $('#listaLavorazioni').children('option').each(function(){
                if( $(this).val() == lavorazione ){
                    toAdd = false;
                }
            });

            if( toAdd ){
                $('#listaLavorazioni').append('<option>'+lavorazione+'</option>');
            }
        }

        var pulisciHeaderNewRow = function(){

            $('#headerNewRow input').each(function(){
                if( $(this).attr('type') == 'radio' )
                    $(this).attr('checked', '' );
                else if($(this).hasClass('numInput'))
                    $(this).val(0);
                else
                {
                    $(this).val('');

                }
            });

            $('#headerNewRow td.fornituraPosa').children('label').html('&euro; 0');

            $('#headerNewRow textarea').each(function(){

                $(this).val('');

            });

        }

        $('td.hiddenInput').click( function(){
            $(this).children('label').hide();
            $(this).children('input').show();
            $(this).children('select').show();
            $(this).children('textarea').show();
            $(this).children('label.simpleAfterInputLabel').show();

        });

        $('.primaCol').unbind('click');

        $('#delNewRow').click(function(){
            $('#headerNewRow').animate({'margin-top': '-=13%'});

            $('#addRow').click(function(){
                $(this).unbind('click');
                $('#headerNewRow').animate({'margin-top': '+=13%'});

            });

            pulisciHeaderNewRow();

        });


        $('#addRow').click(function(){
            $(this).unbind('click');
            $('#headerNewRow').animate({'margin-top': '+=13%'});

        });

        $('.iconLista').click(function(){

            var $selectEl=$(this).parent().children('select');
            var selectedVal=$(this).parent().children('select').val();
            var lista=$(this).parent().children('select').attr('id');

            if( $(this).hasClass('editLista') ){

                swal.withFormAsync({
                    title: 'Modifica valore "'+selectedVal+'"',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', value: selectedVal},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){
                      $selectEl.children('option').each(function(){
                        if($(this).val() == selectedVal ){
                            $(this).val(context.swalForm['valore'] );
                            $(this).text(context.swalForm['valore']);
                        }
                      });

                      $('#listaSettori').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text('');
                            }
                      });

                      $('#selectPertinenzaNewRow').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text(context.swalForm['valore']);
                            }

                      });



                      $('#tabellaContainer tbody.'+selectedVal).each(function(){
                        $(this).children('tr.sezioneTabella').children('.secondaCol').text('Tipologia lavorazione: '+context.swalForm['valore']);
                      });

                      $('#tabellaContainer td.pertinenza').children('select').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).text(context.swalForm['valore']);
                            }
                      });


                      $('tbody.'+selectedVal).each(function(){
                        $(this).removeClass(selectedVal);
                        $(this).addClass(context.swalForm['valore'])
                      });




                      socketPrezzario.emit('modifica_settore_lavorazione', {'oldNome': selectedVal, 'newNome': context.swalForm['valore']});
                    }

                });


            }
            else if( $(this).hasClass('delLista') ){
                swal({
                    title: 'Stai per eliminare "'+selectedVal+'" e le relative lavorazioni',
                    text: 'vuoi continuare?',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,

                }, function(isConfirm){
                    if( isConfirm ){

                        $selectEl.children('option').each(function(){

                            if($(this).val() == selectedVal )
                                $(this).remove();
                        });

                        $('#listaSettori').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });


                        $('#selectPertinenzaNewRow').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });

                        $('tbody.'+selectedVal).each(function(){
                            $(this).remove();
                        });

                        $('#tabellaContainer td.pertinenza').each(function(){

                            $(this).children('select').children('option').each(function(){
                                if( $(this).text() == selectedVal ){
                                    $(this).parent().val('Non definito');
                                    $(this).remove();
                                }
                            });
                        });

                        socketPrezzario.emit('elimina_settore_lavorazione', {'nome': selectedVal});

                    }


                });

            }
            else if($(this).hasClass('addLista')){

                swal.withFormAsync({
                    title: 'Nuovo settore di lavorazione',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', placeholder: 'settore di lavorazione...'},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){

                        socketPrezzario.emit('registra_settore_lavorazione', {'settore': context.swalForm['valore'] });
                        verificaSettorePresente(context.swalForm['valore'])
                    }

                });
           }
        });
        
        var verificaSettorePresente = function(settore, optionClass){
        
            var settorePresente=false;

            $('#listaSettori').children('option').each(function(){
                if( $(this).text() == settore )
                    settorePresente = true;
            });

            if( !settorePresente ){

                if( settore != '' ){
                    $('#selectPertinenzaNewRow').children('.tmpOption').remove();
                    if( optionClass == "tmpOption" ){

                        $('#selectPertinenzaNewRow').append('<option class="'+optionClass+'">'+ settore +'</option>');
                    }
                    else{
                        $('#listaSettori').append('<option>'+ settore +'</option>');
                        $('#modDelSettore').append('<option>'+ settore +'</option>');
                        $('#selectPertinenzaNewRow').append('<option>'+ settore +'</option>');
                    }
                }

            }



            $('#tabellaContainer td.pertinenza').each(function(){

                settorePresente=false;

                $(this).children('select').children('option').each(function(){
                    if( $(this).text() == settore )
                        settorePresente = true;
                });

                if( !settorePresente )
                    $(this).children('select').append('<option>'+settore+'</option>');
            });
           
        }



        $('#regNewRow').click(function(){

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $settore=$sezioneTabella1.children('th.primaCol').next('th').children('input');

            var $tipologia=$datiScheda1.children('td.tipologia_lavorazione').children('textarea');
            var $pertinenza=$datiScheda1.children('td.pertinenza').children('select');
            var $unita=$datiScheda1.children('td.unitaMisura').children('select');
            var $fornitura=$datiScheda1.children('td.fornitura').children('input');
            var $posa=$datiScheda1.children('td.posa').children('input');
            var $prezzoMin=$datiScheda1.children('td.prezzoMin').children('input');
            var $prezzoMax=$datiScheda1.children('td.prezzoMax').children('input');
            var $dimensioni=$datiScheda1.children('td.dimensione').children('input');
            var $note=$datiScheda1.children('td.note').children('textarea');

            if( $settore.val() == "" ){
                swal({
                    title: 'Il campo "settore di lavorazione" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            if( $tipologia.val() == "" ){
                swal({
                    title: 'Il campo "tipologia lavorazione" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            verificaSettorePresente($settore.val())

            socketPrezzario.emit("registra_lavorazione",
                {  "dip": "{{dipendente.username}}",
                   "settore": $settore.val(),
                   "tipologia" : $tipologia.val(),
                   "pertinenza": $pertinenza.val(),
                   "unita": $unita.val(),
                   "fornitura": $fornitura.val(),
                   "posa": $posa.val(),
                   "pMin" : $prezzoMin.val(),
                   "pMax": $prezzoMax.val(),
                   "dimensione": $dimensioni.val(),
                   "note": $note.val()
                }
            );

        });

        socketPrezzario.on('confermaRegistrazioneLavorazione', function(){

            aggiungiRiga(false);

            pulisciHeaderNewRow();
        })

        var hiddenInputAction = function($this){

            $('.inModifica').each(function(){
                $(this).removeClass('inModifica');
                $(this).children('label').show();
                $(this).children('input').hide();
                $(this).children('textarea').hide();
                $(this).children('label.simpleAfterInputLabel').hide();


            });


            $this.addClass('inModifica');
            $this.children('label').hide();
            $this.children('input').show();
            $this.children('textarea').show();
            $this.children('label.simpleAfterInputLabel').show();

        }

        var calcolaCostoFornituraPosa = function($row){

            var fornitura = parseFloat($row.children('td.fornitura').children('input').val());
            var posa = parseFloat($row.children('td.posa').children('input').val());

            var costo = fornitura + posa;

            costo = Math.round(costo*100)/100;

            $row.children('td.fornituraPosa').children('label').html('&euro; '+costo);

        }

        var aggiungiEventListenerCalcolaCosto = function($row){
            $row.children('td.fornitura').children('input').change(function(){
                calcolaCostoFornituraPosa($row);
            });

            $row.children('td.posa').children('input').change(function(){
                calcolaCostoFornituraPosa($row);
            });
        }

        var verificaSettoreVuoto = function(){

             /*se una sezione rimane senza lavorazione elimino il settore di lavorazione */
                var eliminaSettore= function($this){
                   var counter = 0;

                   $this.children('tr').each(function(){
                        counter++;

                   });


                   if( counter == 1 ){

                    $this.remove();
                   }

                }

                $('#tabellaContainer tbody').each(function(){
                   eliminaSettore($(this));
                });


        }

        var cancellaRiga = function($row){

            var settore=$row.parent().attr('class');
            var tipo_lav=$row.children('td.tipologia_lavorazione').children('textarea').val();

            socketPrezzario.emit('elimina_lavorazione', {

                'dip': '{{dipendente.username}}',
                'settore': settore,
                'tipologia': tipo_lav

            });

            socketPrezzario.on('conferma_elimina_lav', function(){

                $row.remove();

                verificaSettoreVuoto();

            });

        }

        var segnalaRiga = function($row){

                var settore = $row.parent().attr('class');
                var tipologia = $row.children('td.tipologia_lavorazione').children('textarea').val();
                var valore=false;


                if( $row.hasClass('daVerificare') ){
                    $row.removeClass('daVerificare');
                     $row.css('background', 'white');
                }
                else{
                    $row.addClass('daVerificare');
                    $row.css('background', 'yellow');
                    valore=true;
                }

                socketPrezzario.emit('settaLavorazioneDaVerificare', {
                    'settore': settore,
                    'tipologia': tipologia,
                    'valore': valore
                });

        }


        var aggiungiRiga = function(daVerificare){


            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $settore=$sezioneTabella1.children('th.primaCol').next('th').children('input');

            var $tipologia=$datiScheda1.children('td.tipologia_lavorazione').children('textarea');
            var $pertinenza=$datiScheda1.children('td.pertinenza').children('select');
            var $unita=$datiScheda1.children('td.unitaMisura').children('select');
            var $fornitura=$datiScheda1.children('td.fornitura').children('input');
            var $posa=$datiScheda1.children('td.posa').children('input');
            var $fornituraPosa=$datiScheda1.children('td.fornituraPosa').children('label').text().split(' ')[1];
            var $prezzoMin=$datiScheda1.children('td.prezzoMin').children('input');
            var $prezzoMax=$datiScheda1.children('td.prezzoMax').children('input');
            var $dimensioni=$datiScheda1.children('td.dimensione').children('input');
            var $note=$datiScheda1.children('td.note').children('textarea');


            var $table=$('#tabellaContainer').children('table');

            var tipoEsistente=false;

            $table.children('tbody').each(function(){
                if( $(this).attr('class') == $settore.val() ){
                    tipoEsistente = true;
                }
            });

            if( !tipoEsistente ){
                $table.append(
                    '<tbody class="'+$settore.val()+'"> \
                        <tr class="sezioneTabella dimensionaTabella""> \
                            <th class="primaCol"></th> \
                            <th class="secondaCol" colspan="11">Settore di lavorazione: '+$settore.val()+'</th> \
                        </tr> \
                    <tbody>'
                );

            }
            var $tbodyToExpand=null;

            $table.children('tbody').each(function(){
                if( $(this).attr('class') == $settore.val() ){
                    $tbodyToExpand=$(this);
                }
            });


            var datiSchedaNewRow=$(
                            '<tr class="datiScheda dimensionaTabella"> \
                                <td class="primaCol"><a class="fa fa-warning primaColIcon segnalaRow"></a><a class="fa fa-trash primaColIcon delRow"></a></td> \
                                 <td class="tipologia" style="display:none"> \
                                    <input class="inputScheda" value="'+$tipologia.val()+'"> \
                                </td> \
                                <td class="tipologia_lavorazione hiddenInput"><label class="cellaDato">'+$tipologia.val()+'</label> \
                                    <textarea style="display:none" class="inputScheda" placeholder="tipologia lavorazione..." >'+$tipologia.val()+'</textarea>\
                                </td> \
                                <td class="pertinenza hiddenInput"> \
                                    <select></select> \
                                </td> \
                                <td class="unitaMisura numCell">\
                                    <select> \
                                        <option>a corpo</option> \
                                        <option>cad</option> \
                                        <option>ml</option> \
                                        <option>mq</option> \
                                        <option>mc</option> \
                                    </select> \
                                </td> \
                                <td class="fornitura hiddenInput numCell"><label class="cellaDato">&euro; '+$fornitura.val()+'</label> \
                                   <label style="display:none" class="simpleAfterInputLabel">&euro;</label> <input type="number" step="0.01" style="display:none" class="inputScheda numInput"  value="'+$fornitura.val()+'"> \
                                </td> \
                                <td class="posa hiddenInput numCell"><label class="cellaDato">&euro; '+ $posa.val()+'</label> \
                                    <label style="display:none" class="simpleAfterInputLabel">&euro;</label> <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="'+ $posa.val()+'">  \
                                </td> \
                                <td class="fornituraPosa numCell no_cursor"> \
                                    <label class="cellaDato no_cursor">&euro; '+ $fornituraPosa +'</label> \
                                </td> \
                                <td class="prezzoMin hiddenInput numCell"><label class="cellaDato">&euro; '+ $prezzoMin.val()+'</label> \
                                    <label style="display:none" class="simpleAfterInputLabel">&euro;</label> <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="'+ $prezzoMin.val()+'"> \
                                </td> \
                                <td class="prezzoMax hiddenInput numCell"><label class="cellaDato">&euro; '+ $prezzoMax.val()+'</label> \
                                    <label style="display:none" class="simpleAfterInputLabel">&euro;</label> <input type="number" step="0.01"style="display:none" class="inputScheda numInput" value="'+ $prezzoMax.val()+'"> \
                                </td> \
                                <td class="dimensione hiddenInput"><label class="cellaDato">'+$dimensioni.val()+'</label> \
                                    <input style="display:none" class="inputScheda" value="'+$dimensioni.val()+'" placeholder="dimensioni (LXHXP)..." > \
                                </td> \
                                <td class="note hiddenInput"><label class="cellaDato">'+$note.val()+'</label> \
                                   <textarea style="display:none">'+$note.val()+'</textarea> \
                                </td> \
                            </tr>').appendTo($tbodyToExpand);

            lavorazioneInListaLavorazioni($tipologia.val());

            datiSchedaNewRow.children('td.unitaMisura').children('select').children('option').each(function(){
                if( $(this).text() == $unita.val() )
                    $(this).attr('selected', 'selected');
            });

            datiSchedaNewRow.children('td.pertinenza').children('select').each(function(){
                $whereToAppend = $(this);

                $('#selectPertinenzaNewRow').children('option').each(function(){

                    if( $(this).text() == $pertinenza.val() ){
                       $whereToAppend.append('<option selected="selected">'+$(this).text()+'</option>');
                    }
                    else{
                       $whereToAppend.append('<option>'+$(this).text()+'</option>');
                    }

                });
            });

            datiSchedaNewRow.children('td.primaCol').children('a.delRow').click(function(){

                cancellaRiga(datiSchedaNewRow);
            });

            datiSchedaNewRow.children('td.primaCol').children('a.segnalaRow').click(function(){

                segnalaRiga(datiSchedaNewRow);
            });


            $('td.hiddenInput').click( function(){
                hiddenInputAction($(this));

            });


            $('input').unbind('mouseover').mouseover(function(){
                $(this).focus();
            });

            $('textarea').unbind('mouseover').mouseover(function(){
                $(this).focus();
            });

            var changeValueLavorazione = function($this){

                var $container=$this.parent();
                var $row = $container.parent();
                var settore = $row.parent().attr('class');
                var tipologia=$row.children('td.tipologia').children('input').val();

                var attributoToEdit=$container.attr('class').split(' ')[0];
                var valore = $this.val()

                if( attributoToEdit == 'note' ){
                    valore= $this.val().replace( /\r?\n/gi, '');

                }


                socketPrezzario.emit('modifica_lavorazione',
                    {
                        'dip' : '{{dipendente.username}}',
                        'settore' : settore,
                        'tipologia' : tipologia,
                        'toEdit' : attributoToEdit,
                        'valore' : valore
                    }
                );

                socketPrezzario.on('conferma_modifica_lavorazione', function(){


                    $('.inModifica').each(function(){

                        $(this).children('label').show();
                        $(this).children('input').hide();
                        $(this).children('textarea').hide();

                        $(this).children('.simpleAfterInputLabel').hide();
                        $(this).removeClass('inModifica');
                    });


                    if( $this.is('input') || $this.is('textarea') ){
                        if( $container.hasClass('numCell') ){
                            if($container.hasClass('fornitura') || $container.hasClass('posa') ){
                                calcolaCostoFornituraPosa(datiSchedaNewRow);
                            }
                            $container.children('label.cellaDato').html('&euro; '+valore);
                        }
                        else{
                            $container.children('label.cellaDato').html(valore);
                        }
                    }

                    if( attributoToEdit == 'tipologia_lavorazione' ){
                        $row.children('td.tipologia').children('input').val(valore);
                    }

                });


            }

            $('#tabellaContainer input').unbind('change').change(function(){

                changeValueLavorazione($(this));
            });

            $('#tabellaContainer textarea').unbind('change').change(function(){

                changeValueLavorazione($(this));
            });

            $('#tabellaContainer select').unbind('change').change(function(){
                changeValueLavorazione($(this));

            });


        } // FINE AGGIUNGI RIGA

        {% for lavorazione in prezzario %}

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');

            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');



            $sezioneTabella1.children('th.primaCol').next('th').children('input').val('{{lavorazione.settore}}');

            $datiScheda1.children('td.tipologia_lavorazione').children('textarea').val('{{lavorazione.tipologia_lavorazione}}');
            $datiScheda1.children('td.pertinenza').children('select').val('{{lavorazione.pertinenza}}');
            $datiScheda1.children('td.unitaMisura').children('select').val('{{lavorazione.unitaMisura}}');
            $datiScheda1.children('td.fornitura').children('input').val('{{lavorazione.fornitura}}');
            $datiScheda1.children('td.posa').children('input').val('{{lavorazione.posa}}');
            $datiScheda1.children('td.prezzoMin').children('input').val('{{lavorazione.prezzoMin}}');
            $datiScheda1.children('td.prezzoMax').children('input').val('{{lavorazione.prezzoMax}}');
            $datiScheda1.children('td.dimensione').children('input').val('{{lavorazione.dimensione}}');

            $datiScheda1.children('td.note').children('textarea').val('{{lavorazione.note}}');

            calcolaCostoFornituraPosa($datiScheda1)

            aggiungiRiga(false);

            pulisciHeaderNewRow();

            if( '{{lavorazione.daVerificare}}' == 'True' ){

                $table1= $('#tabellaContainer').children('table');

                $table1.children('tbody').each(function(){

                    if( $(this).hasClass('{{lavorazione.settore}}') ){
                        $(this).children('tr').each(function(){

                            if( $(this).children('td.tipologia_lavorazione').children('label').text() == '{{lavorazione.tipologia_lavorazione}}' )
                            {
                                $(this).addClass('daVerificare')

                                $(this).css('background-color', 'yellow');

                            }
                        });

                    }


                });

            }



        {% endfor %}

        aggiungiEventListenerCalcolaCosto($('#tabellaContainerNewRow1 tr.datiScheda'));

        $('#impostaSettore').change(function(){
            var newVal = $(this).val();
            $('#selectPertinenzaNewRow').children('.tmpOption').remove();

            verificaSettorePresente(newVal, 'tmpOption');
        });

        var filtraTbody = function($tabella, classe){

            if( classe != '' ){
                $tabella.children('table').children('tbody').each(function(){
                    var tbodyClass = $(this).attr('class');

                    if( tbodyClass !== undefined ){

                        if( !tbodyClass.startsWith(classe) ){
                            $(this).hide();
                        }
                        else if( tbodyClass.startsWith(classe) ){
                            $(this).show();
                        }

                    }
                });
            }
            else{
                $tabella.children('table').children('tbody').each(function(){
                    $(this).show();
                });

            }
        }

        var filtraRighe = function($tabella, tipologia){

            if( tipologia != '' ){

                $tabella.children('table').children('tbody').each(function(){

                    var tbodyClass = $(this).attr('class');

                    if( tbodyClass !== undefined ){
                        var hideTbody = false;
                        var countRow = 0;
                        var countHiddenRow = 0;


                        $(this).children('tr.datiScheda').each( function(){
                            var trTipologia= $(this).children('td.tipologia').children('input').val();

                            countRow++;

                            if( trTipologia.startsWith(tipologia) ){
                                $(this).show();
                            }
                            else{
                                countHiddenRow++;
                                $(this).hide();
                            }

                        });

                        if( countRow == countHiddenRow ){
                            $(this).hide();

                        }
                    }
                });

            }
            else{

                $tabella.children('table').children('tbody').each(function(){

                    $(this).show();

                    $(this).children('tr.datiScheda').each( function(){
                        $(this).show();
                    });


                });


            }

        }

        $('#filtraSettori').change(function(){

            filtraTbody( $('#tabellaContainer'), $(this).val());
        });

        $('#filtraSettori').keydown(function(){


            $(this).trigger('change');

        });

        $('#filtraLavorazioni').change(function(){

            filtraRighe( $('#tabellaContainer'), $(this).val());
        });

        $('#filtraLavorazioni').keydown(function(){


            $(this).trigger('change');

        });

    </script>
{% endblock%}