{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Prezzario Edile
            </span>



            <form   class="contact100-form validate-form">

                <div class="row divFormContainer">
                    <div id="buttonsSettori" class="col-md-2 ">
                        <a id="addSettore" class="fa fa-plus"></a>
                    </div>

                    <div id="selectSettori" class="wrap-form input100-select bg1 fieldSettoreLav col-md-10">
                        <span class="label-input100">Settore di Lavorazione</span>
                        <div>
                            <select id="settoriDisponibili" class="js-select2" name="settoriDisponibili">
                                {% for settore in settori %}

                                    {% if settore.nome == settoreToSel %}
                                        <option selected="selected">{{settore.nome}}</option>
                                    {% else %}
                                <option>{{settore.nome}}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                           <div id="dropDownSettori" class="dropDownSelect2"></div>

                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div id="tabellaContainer" class="row">


                <table id="prezzario">
                    <thead id="headPrezzario">
                       <tr id="trIntestazione">

                            <th  class="tableIntestazione firstCol" colspan="2"  data-column="column1">Tipologia lavorazione</th>
                            <th  class="tableIntestazione" data-column="column3">Pertinenza</th>
                            <th  class="tableIntestazione" data-column="column4">Unità</th>
                            <th  class="tableIntestazione" data-column="column5">Fornitura</th>
                            <th  class="tableIntestazione" data-column="column6">Posa</th>
                           <th  class="tableIntestazione" data-column="column7"> <span> Costo &#10; <span class="toLower">(fornitura+posa) </span></span></th>
                            <th  class="tableIntestazione" data-column="column8">Prezzo min</th>
                            <th  class="tableIntestazione" data-column="column9">Prezzo max</th>
                           <th  class="tableIntestazione" data-column="column10"> <span> Dimensione &#10; <span class="toLower"> (cm) </span></span></th>
                            <th  class="tableIntestazione" data-column="column11">Note</th>
                            <th  class="tableIntestazione" colspan="2" data-column="column12"> <a id="showForm" class="fa fa-plus"></a> <a id="hideForm" class="fa fa-minus"></a></th>

                        </tr>
                        <tr id="trForm">

                            <th  class="tableForm" colspan="2"  data-column="column1"><textarea maxlength="200"  id="tipologiaTextarea"></textarea></th>
                            <th  class="tableForm" data-column="column3">
                                <select id="pertinenzaSelect" name="pertinenza">
                                {% for settore in settori %}

                                    {% if settore.nome == settoreToSel %}
                                        <option selected="selected">{{settore.nome}}</option>
                                    {% else %}
                                    <option>{{settore.nome}}</option>
                                    {% endif %}
                                {% endfor %}

                                </select>
                            </th>
                            <th  class="tableForm" data-column="column4">

                                <select id="unitaSelect" name="unita">
                                    <option>cad</option>
                                    <option>ml</option>
                                    <option>mq</option>
                                    <option>mc</option>
                                </select>

                            </th>
                            <th  class="tableForm" data-column="column5"><input id="fornituraInput" type="number" name="fornitura" placeholder="fornitura" value=0></th>
                            <th  class="tableForm" data-column="column6"><input id="posaInput" type="number" name="posa" placeholder="posa" value=0></th>
                            <th  class="tableForm" data-column="column7"><input id="costoInput" type="number" name="costo" placeholder="costo" value=0></th>
                            <th  class="tableForm" data-column="column8"><input id="pMinInput" type="number" name="prezzoMin" placeholder="prezzo min" value=0></th>
                            <th  class="tableForm" data-column="column9"><input id="pMaxInput" type="number" name="prezzoMax" placeholder="prezzo max" value=0></th>
                            <th  class="tableForm" data-column="column10"><input id="dimensioneInput" type="text" name="dimensione" placeholder="dimensione" value="0x0x0"></th>
                            <th  class="tableForm" data-column="column11"><textarea maxlength="500" id="noteTextarea"></textarea></th>
                            <th  class="tableForm" colspan="2" data-column="column12"><button  onclick="registraLavorazione()" class="buttonPrezzario" type="button">Inserisci</button></th>

                        </tr>

                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>

                </table>

        </div>

    </div>

   <script>
           /* console.log("il settore selezionato è: {{settoreToSel}}");*/

           //Script necessario per renderizzare corretamente il tag select di "settore"
            $.getScript("{{url_for('static', filename='form/js/main.js')}}");

            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
            });

              $('#showForm').click(function(){
                $('#trForm').show();
            });

            //codice per riempire il #bodyPrezzario
            {% for lavorazione in lavorazioni %}
                console.log("{{lavorazione.tipologia_lavorazione}}");
                if( "{{lavorazione.settore}}" == $("#settoriDisponibili").val()) {

                    {% if lavorazione.daVerificare %}
                        var classiTr="rowBodyTab daVerificare" ;
                        var inputToVer='<input class="toVerify" type="checkbox"  checked="checked">';
                    {% else %}
                        var classiTr="rowBodyTab";
                        var inputToVer='<input class="toVerify" type="checkbox" >';

                    {% endif %}

                    $("#bodyPrezzario").append(
                          '<tr class="'+ classiTr +'">'+

                                '<td class="doubleCol tipologia tdToLeft" colspan="2" data-column="column1">{{lavorazione.tipologia_lavorazione}}</td>'+

                                '<td  data-column="column3">{{lavorazione.pertinenza}}</td>'+
                                '<td  data-column="column4">{{lavorazione.unitaMisura}}</td>'+
                                '<td  data-column="column5">&euro; {{lavorazione.fornitura}} </td>'+
                                '<td  data-column="column6">&euro; {{lavorazione.posa}}  </td>'+
                                '<td  data-column="column7">&euro; {{lavorazione.costo}} </td>'+
                                '<td  data-column="column8">&euro; {{lavorazione.prezzoMin}} </td>'+
                                '<td  data-column="column9">&euro; {{lavorazione.prezzoMax}} </td>'+
                                '<td  data-column="column10">{{lavorazione.dimensione}}</td>'+
                                '<td  data-column="column11"> {{lavorazione.note}}</td>'+
                                '<td  class="controlCol" data-column="column12">'+

                                  '<div class="iconsDiv">'+
                                    '<a class="fa fa-trash iconsTab delLavorazione"></a>'+
                                  '</div>'+
                                  '<div class="iconsDiv">'+
                                    '<a  class="fa fa-edit iconsTab modLavorazione"></a>'+
                                  '</div>'+
                                  '<div class="iconsDiv">'+
                                    '<a  class="fa fa-warning iconsTab segnalaLavorazione"></a>'+
                                  '</div>'+
                               '</td>'+

                           '</tr>'
                    );
                }
            {% endfor %}

           /*Codice per aggiungere il cancella e il modifica alle opzioni del select #settoriDisponibili */

           $('#selectSettori').click(function(){
                 $('#dropDownSettori li').each(function(){
                    $(this).html(
                        '<div  class="optionSettori row">'+
                            '<div class="col-md-11">'+
                                $(this).html()+
                            '</div>'+
                            '<div class="col-md-1">'+
                              '<div class="row divDelModSelect">'+
                                '<div class="delSettore col-md-6">'+
                                    '<a class="downEdit fa fa-edit">'+
                                '</div>'+
                                '<div class="delSettore col-md-6">'+
                                    '<a class="fa fa-trash"></a>'+
                                '</div>'+
                              '</div>'+
                            '</div>'+
                        '</div>'
                    );
                 });

           });



   </script>

   <script>

            var socketHome = io.connect("{{sockUrl}}"+'/home');


            socketHome.on('connect', function() {
                console.log('connected listino');


                socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
            });


   </script>

    <script>

        //variabili globale per il meccanismo di modifica delle lavorazioni
        var modificaAttiva=false;
        var oldTipologia="";

        var socketPrezzario= io.connect("{{sockUrl}}"+'/prezzario');


        socketPrezzario.on('aggiornaPagina', function() {
            location.reload();

        });

        socketPrezzario.on('abortAggiorna', function(message) {
                swal({
                      title: message["what"] + " già presente",
                      type: 'error',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: "Ok",

                 });
        });

        $('#settoriDisponibili').change( function() {

          socketPrezzario.emit('cambia_settore_prezzario', {"dip": "{{dipendente.username}}", "settore": $(this).val() })

        });

        $('#addSettore').click(function() {

              swal.withForm({
                title: 'Aggiungi un nuovo settore',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                  { id: 'newSettore', placeholder: 'Inserire il nome del nuovo settore' }


                ]
              }, function (isConfirm) {

                      if (isConfirm) {
                            var form=this.swalForm
                            socketPrezzario.emit("registra_settore",
                               { 'dip': '{{dipendente.username}}', 'settore': form['newSettore'] });

                      }

              })

        });



        $('.delSettore').click(function() {

             var settoreSelezionato = $('#settoriDisponibili').val();

             function registraSettore () {
                  swal({
                    title: 'Eliminazione settore '+ settoreSelezionato,
                    text: 'sicuro di voler procedere?',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,

                  }, function (isConfirm) {

                          if (isConfirm) {

                               socketPrezzario.emit("elimina_settore", {'dip': '{{dipendente.username}}', 'settore': settoreSelezionato});

                          }

                  })
             }
             registraSettore();




        });


       function registraLavorazione() {
          swal({
            title: 'Si sta per aggiungere una nuova lavorazione',
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var textareaOfLavorazione = [];
                        var inputOfLavorazione =  [];
                        var selectOfLavorazione = [];

                         $("#trForm textarea").each(function(index){
                            textareaOfLavorazione.push($(this).val());

                        });

                        $("#trForm input").each(function(index){
                            inputOfLavorazione.push($(this).val());

                        });

                        $("#trForm select").each(function(index){
                            selectOfLavorazione.push($(this).val());

                        });

                         //se non è stato impostato il tipo di lavorazione non fare nulla
                        if( textareaOfLavorazione[0] == "" )
                            return;

                        // se forniture e posa vengono specificate setta costo come la loro somma
                        if( inputOfLavorazione[0] != 0 || inputOfLavorazione[1] != 0 )
                            inputOfLavorazione[2] = parseInt(inputOfLavorazione[0]) + parseInt(inputOfLavorazione[1]);

                        if(!modificaAttiva){

                            socketPrezzario.emit("registra_lavorazione", { "dip": "{{dipendente.username}}", "settore": $("#settoriDisponibili").val(),
                                                                           "tipologia" : textareaOfLavorazione[0],
                                                                            "pertinenza": selectOfLavorazione[0], "unita": selectOfLavorazione[1],
                                                                            "fornitura": inputOfLavorazione[0], "posa": inputOfLavorazione[1],
                                                                             "costo": inputOfLavorazione[2], "pMin" : inputOfLavorazione[3],
                                                                             "pMax": inputOfLavorazione[4], "dimensione": inputOfLavorazione[5],
                                                                              "note": textareaOfLavorazione[1]});
                        }
                        else{
                             socketPrezzario.emit("modifica_lavorazione", { "dip": "{{dipendente.username}}", "oldTipologia": oldTipologia,
                                                                                "settore": $("#settoriDisponibili").val(),
                                                                               "tipologia" : textareaOfLavorazione[0],
                                                                                "pertinenza": selectOfLavorazione[0], "unita": selectOfLavorazione[1],
                                                                                "fornitura": inputOfLavorazione[0], "posa": inputOfLavorazione[1],
                                                                                 "costo": inputOfLavorazione[2], "pMin" : inputOfLavorazione[3],
                                                                                 "pMax": inputOfLavorazione[4], "dimensione": inputOfLavorazione[5],
                                                                                  "note": textareaOfLavorazione[1]});
                             modificaAttiva=false;


                        }
                  }



          })
       }


        $(".delLavorazione").click(function() {
            var setDisp = $('#settoriDisponibili').val();
            var lavSel = $(this).closest('.rowBodyTab').children('.tipologia').text();
            swal({
                title: 'Eliminazione lavorazione '+ lavSel,
                text: 'sicuro di voler procedere?',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,

            }, function (isConfirm) {

                  if (isConfirm) {

                         socketPrezzario.emit('elimina_lavorazione', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                   'tipologia': lavSel });

                  }

            })


        });

        $(".segnalaLavorazione").click(function() {
            var setDisp = $('#settoriDisponibili').val();
            var lavSel = $(this).closest('.rowBodyTab').children('.tipologia').text();


            if(!$(this).closest('tr').hasClass('daVerificare') ){

                var setDisp = $('#settoriDisponibili').val();
                console.log("sono checkkato " + setDisp);
                socketPrezzario.emit('setta_daVerificare', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                           'tipologia': lavSel,'valore': true});
            }
            else {
              var setDisp = $('#settoriDisponibili').val();
              socketPrezzario.emit('setta_daVerificare', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                       'tipologia': lavSel,'valore': false});

            }

        });


        $(".modLavorazione").click(function() {
            $('#trForm').show();
            modificaAttiva=true;
            $(this).closest('tr').addClass("inModifica");

            var datiLavorazione=[]
            $(".inModifica td").each(function(index){
                datiLavorazione.push($(this).text());

            });

            console.log(datiLavorazione);

            oldTipologia = datiLavorazione[0];
            $("#tipologiaTextarea").val( datiLavorazione[0]);
            $("#pertinenzaSelect").val(datiLavorazione[1]);
            $("#unitaSelect").val(datiLavorazione[2]);

            $("#fornituraInput").attr('value', parseInt(datiLavorazione[3]));

            $("#posaInput").attr('value', parseInt(datiLavorazione[4]));

            $(this).closest('tr').removeClass("inModifica");




            $("#costoInput").val(parseInt(datiLavorazione[5]));
            $("#pMinInput").val(parseInt(datiLavorazione[6]));
            $("#pMaxInput").val(parseInt(datiLavorazione[7]));
            $("#dimensioneInput").val(datiLavorazione[8]);
            $("#noteTextarea").val(datiLavorazione[9]);




        });

    </script>

            var lavSel = $(this).closest('.rowBodyTab').children('.tipologia').text();
            swal({
                title: 'Eliminazione lavorazione '+ lavSel,
                text: 'sicuro di voler procedere?',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,


{% endblock %}