{% extends "paginaBase.html" %}

{% block content %}
    <div id="headerNewRow">
        <div id="tabellaContainerNewRow1">
            <table class="tabella">
                <tr class="sezioneTabella dimensionaTabella newRow">
                    <th class="primaCol"><a id="regNewRow" class="fa fa-check primaColIcon"></a><a id="delNewRow" class="fa fa-close primaColIcon"></a></th>
                    <th class="secondaCol" colspan="10">
                        <label>Selezionare/digitare il settore di lavorazione: </label>
                        <input id="impostaSettore" list="listaSettori" class="inputScheda" placeholder="settore di lavorazione..">
                    </th>
                </tr>
                <tr class="headerTabella dimensionaTabella newRow">
                    <th class="primaColNewRow"></th>
                    <th style="width:17%"> Tipologia lavorazione </th>
                    <th style="width:14%" > Pertinenza </th>
                    <th style="width:6%" > Unità </th>
                    <th style="width:6%" > Fornitura </th>
                    <th style="width:5%" > Posa </th>
                    <th style="width:5%" > Costo (F+P) </th>
                    <th style="width:5%" > Prezzo min </th>
                    <th style="width:5%" > Prezzo max </th>
                    <th style="width:14%" > Dimensioni </th>
                    <th style="width:17%" class="note"> Note </th>
                </tr>
                <tr class="datiScheda dimensionaTabella newRow">
                    <td class="primaColNewRow"></td>
                    <td style="width:17%" class="tipologia_lavorazione no_cursor">
                        <textarea class="inputScheda" value="" placeholder="tipologia lavorazione..." ></textarea>
                    </td>
                    <td style="width:14%" class="pertinenza no_cursor">
                        <select id="selectPertinenzaNewRow">
                            {% for settore in settori %}
                                <option>{{settore.nome}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width:6%" class="unitaMisura numCellBig no_cursor">
                        <select>
                            <option>a corpo</option>
                            <option>cad</option>
                            <option>ml</option>
                            <option>mq</option>
                            <option>mc</option>

                        </select>
                    </td>
                    <td style="width:6%" class="fornitura numCellBig no_cursor">
                        <label class="simpleAfterInputLabel">&euro;</label><input step="0.01" type="number" class="inputScheda numInput"  value="0">
                    </td>
                    <td style="width:5%" class="posa numCellSmall no_cursor">
                        <label class="simpleAfterInputLabel">&euro;</label><input step="0.01" type="number" class="inputScheda numInput" value="0">
                    </td>
                    <td style="width:5%" class="fornituraPosa numCellSmall no_cursor">
                        <label class="printedCalc">&euro; 0</label>
                    </td>
                    <td style="width:5%" class="prezzoMin numCellSmall no_cursor">
                        <label class="simpleAfterInputLabel">&euro;</label> <input step="0.01" type="number" class="inputScheda numInput" value="0">
                    </td>
                    <td style="width:5%" class="prezzoMax numCellSmall no_cursor">
                        <label class="simpleAfterInputLabel">&euro;</label> <input step="0.01" type="number" class="inputScheda numInput" value="0">
                    </td>
                    <td style="width:14%" class="dimensione no_cursor">
                        <input class="inputScheda" value="" placeholder="dimensioni (L x H x P)..." >
                    </td>
                    <td style="width:17%" class="note no_cursor">
                       <textarea></textarea>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div id="page-wrapper">

        <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>



        <div id="schedaArtigiani" class="scheda">

            <div class="fc-toolbar fc-header-toolbar filterZoneScheda">
                <div id="openCloseFilterSearch"><a class="fa fa-angle-double-up"></a></div>
                <div id="filtersContainer">
                    <div class="containerTitle"><h2>Filtri di Ricerca</h2></div>
                    <div id="filters">
                        <div class="filterInputContainer settori">
                            <input id="filtraSettori" list="listaSettori" autocomplete="off" class="filterInput" placeholder="Selezionare il settore...">

                        </div>

                        <div class="filterInputContainer lavorazione">
                            <input id="filtraLavorazioni" list="listaLavorazioni" autocomplete="off" class="filterInput" placeholder="Selezionare la lavorazione...">

                        </div>
                    </div>
                </div>

                <div class="delModLists headerSection">
                    <div class="containerTitle"><h2>Modifica/cancella</h2></div>

                    <div class="filterInputContainer settoreModContainer">
                        <label for="modDelSettore">Settore di lavorazione</label><br/>
                        <select id="modDelSettore" class="delModList">
                            {% for settore in settori %}
                                {% if settore.nome != 'Non definito' %}
                                    <option>{{settore.nome}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <a class="fa fa-plus addLista iconLista"></a>
                        <a class="fa fa-edit editLista iconLista"></a>
                        <a class="fa fa-trash delLista iconLista"></a>

                    </div>

                    <div class="filterInputContainer ricaricoContainer">
                        <label id="ricaricoLabel" for="ricarico">Ricarico azienda</label><br/>
                        <input type="number" id="ricarico" class="filterInput" value="{{prezzario.ricaricoAzienda}}">
                        <label class="percSimbol">%</label>
                    </div>
                </div>

            </div>

            <div id="headerTableContainer_1">
                 <div id="divHeaderTabella">
                    <table class="tabella">
                        <tr class="headerDelHeader dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="10" class="secondaCol"></th>

                        </tr>
                        <tr class="headerTabella dimensionaTabella">
                            <th class="primaCol"><a class="fa fa-plus" id="addRow"></a></th>
                            <th class="tipologia_lavorazione"> Tipologia lavorazione </th>
                            <th  class="pertinenza"> Pertinenza </th>
                            <th class="numCellBig"> Unità </th>
                            <th class="numCellBig"> Fornitura </th>
                            <th class="numCellSmall"> Posa </th>
                            <th class="numCellSmall"> Costo (F+P) </th>
                            <th class="numCellSmall"> Prezzo min </th>
                            <th class="numCellSmall"> Prezzo max </th>
                            <th class="dimensione"> Dimensioni </th>
                            <th class="note"> Note </th>
                        </tr>
                    </table>
                 </div>

            </div>

            <div class="fc-view-container viewContainer">
                <div id="tabellaContainer">
                    <table class="tabella">

                       <!-- <tr class="sezioneTabella dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="11">Settore di lavorazione: idraulico</th>
                        </tr>
                        <tr class="datiScheda dimensionaTabella">
                            <td class="primaCol"><a class="fa fa-warning primaColIcon"></a><a class="fa fa-trash primaColIcon"></a></td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="tipologia lavorazione..." >
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="pertinenza..." >
                            </td>
                            <td class="numCell"><label class="cellaDato"></label>
                                <select>
                                    <option>cad</option>
                                    <option>ml</option>
                                    <option>mq</option>
                                    <option>mc</option>

                                </select>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput"  value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput numCell"><label class="cellaDato"></label>
                                <input type="number" step="0.01" style="display:none" class="inputScheda numInput" value="0"> <label style="display:none" class="simpleAfterInputLabel">&euro;</label>
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                                <input style="display:none" class="inputScheda" value="" placeholder="dimensioni (lxhxp)..." >
                            </td>
                            <td class="hiddenInput"><label class="cellaDato"></label>
                               <textarea style="display:none"></textarea>
                            </td>

                        </tr>-->
                    </table>

                </div>
            </div>
        </div>

        <datalist id="listaSettori">
            {% for settore in settori %}
                <option>{{settore.nome}}</option>
            {% endfor %}
        </datalist>

        <datalist id="listaLavorazioni">

        </datalist>

    </div>

    <script>

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketPrezzario= io.connect("{{sockUrl}}"+'/prezzario');

        /*$('td.hiddenInput').click( function(){
            $(this).children('label').hide();
            $(this).children('input').show();
            $(this).children('select').show();
            $(this).children('textarea').show();
            $(this).children('label.simpleAfterInputLabel').show();

        });*/



        $('.iconLista').click(function(){

            var $selectEl=$(this).parent().children('select');
            var selectedVal=$(this).parent().children('select').val();
            var lista=$(this).parent().children('select').attr('id');

            if( $(this).hasClass('editLista') ){

                swal.withFormAsync({
                    title: 'Modifica valore "'+selectedVal+'"',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', value: selectedVal},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){
                      $selectEl.children('option').each(function(){
                        if($(this).val() == selectedVal ){
                            $(this).val(context.swalForm['valore'] );
                            $(this).text(context.swalForm['valore']);
                        }
                      });

                      $('#listaSettori').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text('');
                            }
                      });

                      $('#selectPertinenzaNewRow').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text(context.swalForm['valore']);
                            }

                      });



                      $('#tabellaContainer tbody.'+selectedVal).each(function(){
                        $(this).children('tr.sezioneTabella').children('.secondaCol').text('Tipologia lavorazione: '+context.swalForm['valore']);
                      });

                      $('#tabellaContainer td.pertinenza').children('select').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).text(context.swalForm['valore']);
                            }
                      });


                      $('tbody.'+selectedVal).each(function(){
                        $(this).removeClass(selectedVal);
                        $(this).addClass(context.swalForm['valore'])
                      });




                      socketPrezzario.emit('modifica_settore_lavorazione', {'oldNome': selectedVal, 'newNome': context.swalForm['valore']});
                    }

                });


            }
            else if( $(this).hasClass('delLista') ){
                swal({
                    title: 'Stai per eliminare "'+selectedVal+'" e le relative lavorazioni',
                    text: 'vuoi continuare?',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,

                }, function(isConfirm){
                    if( isConfirm ){

                        $selectEl.children('option').each(function(){

                            if($(this).val() == selectedVal )
                                $(this).remove();
                        });

                        $('#listaSettori').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });


                        $('#selectPertinenzaNewRow').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });

                        $('tbody.'+selectedVal).each(function(){
                            $(this).remove();
                        });

                        $('#tabellaContainer td.pertinenza').each(function(){

                            $(this).children('select').children('option').each(function(){
                                if( $(this).text() == selectedVal ){
                                    $(this).parent().val('Non definito');
                                    $(this).remove();
                                }
                            });
                        });

                        socketPrezzario.emit('elimina_settore_lavorazione', {'nome': selectedVal});

                    }


                });

            }
            else if($(this).hasClass('addLista')){

                swal.withFormAsync({
                    title: 'Nuovo settore di lavorazione',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', placeholder: 'settore di lavorazione...'},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){

                        socketPrezzario.emit('registra_settore_lavorazione', {'settore': context.swalForm['valore'] });
                        verificaSettorePresente(context.swalForm['valore'])
                    }

                });
           }
        });
        

        $('#regNewRow').click(function(){

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $settore=$sezioneTabella1.children('th.primaCol').next('th').children('input');

            var $tipologia=$datiScheda1.children('td.tipologia_lavorazione').children('textarea');
            var $pertinenza=$datiScheda1.children('td.pertinenza').children('select');
            var $unita=$datiScheda1.children('td.unitaMisura').children('select');
            var $fornitura=$datiScheda1.children('td.fornitura').children('input');
            var $posa=$datiScheda1.children('td.posa').children('input');
            var $prezzoMin=$datiScheda1.children('td.prezzoMin').children('input');
            var $prezzoMax=$datiScheda1.children('td.prezzoMax').children('input');
            var $dimensioni=$datiScheda1.children('td.dimensione').children('input');
            var $note=$datiScheda1.children('td.note').children('textarea');

            if( $settore.val() == "" ){
                swal({
                    title: 'Il campo "settore di lavorazione" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            if( $tipologia.val() == "" ){
                swal({
                    title: 'Il campo "tipologia lavorazione" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            verificaSettorePresente($settore.val())

            socketPrezzario.emit("registra_lavorazione",
                {  "dip": "{{dipendente.username}}",
                   "settore": $settore.val(),
                   "tipologia" : $tipologia.val().replace(/\n/g, ""),
                   "pertinenza": $pertinenza.val(),
                   "unita": $unita.val(),
                   "fornitura": $fornitura.val(),
                   "posa": $posa.val(),
                   "pMin" : $prezzoMin.val(),
                   "pMax": $prezzoMax.val(),
                   "dimensione": $dimensioni.val(),
                   "note": $note.val().replace(/\n/g, "")
                }
            );

        });

        socketPrezzario.on('confermaRegistrazioneLavorazione', function(){

            aggiungiRiga(false, '{{dipendente.username}}');
            regolaDimensioniForEachHeader();
            pulisciHeaderNewRow();
        })



        {% for lavorazione in lavorazioni %}

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');

            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');



            $sezioneTabella1.children('th.primaCol').next('th').children('input').val('{{lavorazione.settore}}');

            $datiScheda1.children('td.tipologia_lavorazione').children('textarea').val('{{lavorazione.tipologia_lavorazione}}');
            $datiScheda1.children('td.pertinenza').children('select').val('{{lavorazione.pertinenza}}');
            $datiScheda1.children('td.unitaMisura').children('select').val('{{lavorazione.unitaMisura}}');
            $datiScheda1.children('td.fornitura').children('input').val('{{lavorazione.fornitura}}');
            $datiScheda1.children('td.posa').children('input').val('{{lavorazione.posa}}');
            $datiScheda1.children('td.prezzoMin').children('input').val('{{lavorazione.prezzoMin}}');
            $datiScheda1.children('td.prezzoMax').children('input').val('{{lavorazione.prezzoMax}}');
            $datiScheda1.children('td.dimensione').children('input').val('{{lavorazione.dimensione}}');

            $datiScheda1.children('td.note').children('textarea').val('{{lavorazione.note}}');

            calcolaCostoFornituraPosa($datiScheda1)

            aggiungiRiga(false, '{{dipendente.username}}');

            pulisciHeaderNewRow();

            if( '{{lavorazione.daVerificare}}' == 'True' ){

                $table1= $('#tabellaContainer').children('table');

                $table1.children('tbody').each(function(){

                    if( $(this).hasClass('{{lavorazione.settore}}') ){
                        $(this).children('tr').each(function(){

                            if( $(this).children('td.tipologia_lavorazione').children('label').text() == '{{lavorazione.tipologia_lavorazione}}' )
                            {
                                $(this).addClass('daVerificare')

                                $(this).css('background-color', 'yellow');

                            }
                        });

                    }


                });

            }



        {% endfor %}

        aggiungiEventListenerCalcolaCosto($('#tabellaContainerNewRow1 tr.datiScheda'));




      //  regolaDimensioniHeader();
    </script>
{% endblock%}