{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Prezzario Prodotti
            </span>



            <form   class="contact100-form validate-form">

                <div class="row divFormContainer">
                    <div id="buttonsSelect" class="col-md-2 ">
                        <a id="addTipologiaProdotto" class="fa fa-plus"></a>
                    </div>

                    <div id="divTipologia" class="wrap-form input100-select bg1 fieldSelect col-md-10">
                        <span class="label-input100">Tipologia Prodotti</span>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="settoriDisponibili">
                                {% for tipo in tipoProdotto %}

                                    {% if tipo.nome == tipoToSel %}
                                        <option selected="selected">{{tipo.nome}}</option>
                                    {% else %}
                                <option>{{tipo.nome}}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                           <div id="dropDownSettori" class="dropDownSelect2 row"></div>

                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div id="tabellaContainer" class="row">


                <table id="prezzario">
                    <thead id="headPrezzario">

                       <tr id="headerIntestazioneProdotti">
                            <th  class="tableIntestazione" data-column="column1"></th>
                            <th  class="tableIntestazione "  data-column="column2"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column3"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column4"></th>
                            <th  class="tableIntestazione colMedium" data-column="column5"></th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column6"> </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column7"></th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column8"> </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column9"></th>
                            <th  class="tableIntestazione numColSmall intestazioneRosso" data-column="column10">  </th>
                            <th  class="tableIntestazione numColSmall intestazioneRosso" data-column="column11">  </th>
                            <th  class="tableIntestazione intestazioneBlu numColSmall" colspan="6" data-column="column12">Extra</th>
                            <th  class="tableIntestazione numColSmall" data-column="column18"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column19"> </th>
                       </tr>
                       <tr id="trIntestazione">
                            <th  class="tableIntestazione" data-column="column1"><a id="showForm" class="fa fa-plus"></a></th>
                            <th  class="tableIntestazione "  data-column="column2">Nome prodotto</th>
                            <th  class="tableIntestazione numColMedium" data-column="column3">Marchio</th>
                            <th  class="tableIntestazione numColMedium" data-column="column4">Codice</th>
                            <th  class="tableIntestazione colMedium" data-column="column5">Fornitore</th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column6"> &euro; Listino</th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column7"> &euro; netto <br/> (+%) </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column8">  (+%) </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column9">&euro; netto <br/> US</th>
                            <th  class="tableIntestazione numColSmall intestazioneRosso" data-column="column10"> Trasporto </th>
                            <th  class="tableIntestazione numColSmall intestazioneRosso" data-column="column11"> Montaggio </th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column12"> Sconto </th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column13">ex.1</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column14">ex.2</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column15">ex.3</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column16">Imballo</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column17">Trasporto</th>
                            <th  class="tableIntestazione numColSmall" data-column="column18">Rincaro</th>
                            <th  class="tableIntestazione numColMedium" data-column="column19">Totale cliente</th>
                        </tr>
                        <tr id="trForm">
                            <th  class="tableForm" data-column="column1"><a id="hideForm" class="fa fa-angle-double-up"></a><button  id="registraProdotto" class="buttonPrezzario" type="button">Inserisci</button></th>
                            <th  class="tableForm"  data-column="column2"><input id="nomeProdottoInput" type="text" name="nomeProdotto" placeholder="Inserire il nome del prodotto"></th>
                            <th  class="tableForm numColMedium" data-column="column3"><input id="marchioInput" type="text" name="marchio" placeholder="Inserire il marchio"> </th>
                            <th  class="tableForm numColMedium" data-column="column4"><input id="codiceInput" type="text" name="codice" placeholder="Inserire il codice"> </th>

                            <th  class="tableForm colMedium" data-column="column5">

                                <select id="fornitoreSelect" name="fornitore">
                                    {% for fornitore in fornitori %}
                                         <option>"{{fornitore.gruppo_azienda}} - {{fornitore.nome}}"</option>

                                    {% endfor %}
                                </select>

                            </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column6"><input id="listinoInput" class="numberInput colorBlack" type="number" name="listino" placeholder="listino" value=0> &euro; </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column7"><input id="listinoNettoInput" class="numberInput colorBlack" type="number" name="listinoNetto" placeholder="listino netto" value=0> &euro; </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column8"><input id="scontoPercentualeInput" class="numberInput colorBlack" type="number" name="scontoPercentuale" placeholder="sconto " value=0> % </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column9"><input id="nettoUsInput" class="numberInput colorBlack" type="number" name="nettoUs" placeholder="netto US" value=0> &euro; </th>

                            <th  class="tableForm numColSmall colorWhite intestazioneRosso" data-column="column10"><input id="trasportoInput" class="numberInput colorBlack" type="number" name="trasporto" placeholder="trasporto" value=0> &euro; </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneRosso" data-column="column11"><input id="montaggioInput" class="numberInput colorBlack" type="number" name="montaggio" placeholder="montaggio" value=0>&euro;</th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column12"><input id="scontoInput"  class="numberInput colorBlack" type="number" name="sconto" placeholder="sconto" value=0>%</th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column13"><input id="ex1Input"  class="numberInput colorBlack" type="number" name="ex1" placeholder="ex1" value=0></th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column14"><input id="ex2Input"  class="numberInput colorBlack" type="number" name="ex2" placeholder="ex2" value=0></th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column15"><input id="ex3Input"  class="numberInput colorBlack" type="number" name="ex3" placeholder="ex3" value=0></th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column16"><input id="imballoInput"  class="numberInput colorBlack" type="number" name="imballo" placeholder="imballo" value=0>%</th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column17"><input id="trasportoExtraInput"  class="numberInput colorBlack" type="number" name="trasportoExtra" placeholder="trasporto extra" value=0>&euro;</th>

                            <th  class="tableForm numColSmall colorWhite" data-column="column18"><input id="rincaroInput"  class="numberInput colorBlack" type="number" name="rincaro" placeholder="rincaro" value=0>%</th>
                            <th  class="tableForm numColMedium" data-column="column19"></th>

                        </tr>
                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>


                </table>

        </div>

    </div>
   <script>
           /* console.log("il settore selezionato è: {{settoreToSel}}");*/

           //Script necessario per renderizzare corretamente il tag select di "settore"
            $.getScript("{{url_for('static', filename='form/js/main.js')}}");

            /*Aggiungo funzionalità ai bottoni visualizza/nascondi form*/
            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
                $(showForm).addClass('fa');
                $(showForm).addClass('fa-plus');
                $('#bodyPrezzario').css('height', '88%');

            });

            $('#showForm').click(function(){
                $('#trForm').show();
                $(this).removeClass('fa');
                $(this).removeClass('fa-plus');
                $('#bodyPrezzario').css('height', '81%');

            });

            //codice per riempire il #bodyPrezzario
            {% for lavorazione in lavorazioni %}
                console.log("{{lavorazione.tipologia_lavorazione}}");
                if( "{{lavorazione.settore}}" == $("#settoriDisponibili").val()) {

                    {% if lavorazione.daVerificare %}
                        var classiTr="rowBodyTab daVerificare" ;
                        var inputToVer='<input class="toVerify" type="checkbox"  checked="checked">';
                    {% else %}
                        var classiTr="rowBodyTab";
                        var inputToVer='<input class="toVerify" type="checkbox" >';

                    {% endif %}

                    $("#bodyPrezzario").append(
                          '<tr class="'+ classiTr +'">'+
                                '<td class="controlCol" data-column="column1">'+

                                      '<div class="iconsDiv row">'+
                                          '<div class="col-md-4 iconContainer firstIconContainer" >'+
                                            '<a class="fa fa-trash iconsTab delLavorazione"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-edit iconsTab modLavorazione"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-warning iconsTab segnalaLavorazione"></a>'+
                                          '</div>'+
                                      '</div>'+

                                '</td>'+
                                '<td class="doubleCol firstCol tipologia tdToLeft" colspan="2" data-column="column2">{{lavorazione.tipologia_lavorazione}}</td>'+

                                '<td  data-column="column4">{{lavorazione.pertinenza}}</td>'+
                                '<td class="numColSmall" data-column="column5">{{lavorazione.unitaMisura}}</td>'+
                                '<td class="numColSmall" data-column="column6">&euro; {{lavorazione.fornitura}} </td>'+
                                '<td class="numColSmall" data-column="column7">&euro; {{lavorazione.posa}}  </td>'+
                                '<td  class="numColMedium" data-column="column8">&euro; {{lavorazione.costo}} </td>'+
                                '<td  class="numColSmall" data-column="column9">&euro; {{lavorazione.prezzoMin}} </td>'+
                                '<td  class="numColSmall" data-column="column10">&euro; {{lavorazione.prezzoMax}} </td>'+
                                '<td  data-column="column11">{{lavorazione.dimensione}}</td>'+
                                '<td  class="noteColumn"  colspan="2" data-column="column12"> {{lavorazione.note}}</td>'+
                               /* '<td  class="controlCol" data-column="column13">'+*/


                               '</td>'+

                           '</tr>'
                    );
                }
            {% endfor %}

      /*Codice per aggiungere il cancella e il modifica alle opzioni del select #settoriDisponibili */

          var firstTime = true;


          $('#selectSettori').click(function(){

               if($('#dropDownSettori').children().length > 0) {
                    if( firstTime )
                    {
                        firstTime = false;
                        $('.select2-results').addClass('resizedResults');

                        $('.select2-dropdown').addClass('dropDownEffettivo');


                        $('.select2-dropdown').append(
                            '<span class="delModResults"><ul class="controlSelectUl"></ul></span>'
                        );

                        $('ul.select2-results__options').addClass('togliOverflowUlSelect');

                        $('.select2-results li').each(function(){


                                $('.delModResults ul').append(

                                    '<li val="'+$(this).text() +'" class="controlSelectLi"><a class="fa fa-trash delSettore" ></a><a class="fa fa-edit leftIcon modSettore" ></a></li>'
                                );


                        });


                        $('.modSettore').click(function() {

                              var oldNome=$(this).parent().attr('val');

                              swal.withForm({
                                title: 'Modifica nome settore',
                                text: 'Inserire il nome modificato: ',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                  { id: 'newSettore', placeholder: 'Inserire il nome del nuovo settore', value: oldNome }


                                ]
                              }, function (isConfirm) {

                                      if (isConfirm) {
                                            var form=this.swalForm
                                            socketPrezzario.emit("registra_settore",
                                               { 'dip': '{{dipendente.username}}', 'settore': form['newSettore'] });

                                      }

                              })

                        });

                        $('.delSettore').click(function() {

                                 var settoreSelezionato = $(this).parent().attr('val') //$('#settoriDisponibili').val();

                                  swal({
                                    title: 'Eliminazione settore '+ settoreSelezionato,
                                    text: 'sicuro di voler procedere?',
                                    showCancelButton: true,
                                    confirmButtonColor: '#DD6B55',
                                    confirmButtonText: 'Ok',
                                    cancelButtonText: 'annulla',
                                    closeOnConfirm: true,

                                  }, function (isConfirm) {

                                          if (isConfirm) {

                                               socketPrezzario.emit("elimina_settore", {'dip': '{{dipendente.username}}', 'settore': settoreSelezionato});

                                          }

                                  })


                            });


                    }
                }




           });
   </script>


    <script>

        var rappresentanteDaRegistrare = false;

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketProdotto= io.connect("{{sockUrl}}"+'/prezzarioProdotti');


        socketProdotto.on('aggiornaPagina', function() {
            location.reload();


        });


        //Seguono due metodi diversi per stampare l'alert "prodotto già inserito"
        {% if rigaPresente %}
              swal({
                title: "{{tabellaRigaPresente}}" + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });

        {% endif %}

        socketProdotto.on('rigaPresente', function(message) {

              console.log("allora");
              swal({
                title: message['who'] + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });


        });

        $('#selectTipologia').change( function() {

          socketProdotto.emit('cambia_tipologia_prezzario', {"dip": "{{dipendente.username}}", "tipologia": $(this).val() })

        });


        $('#addTipologiaProdotto').click(function(){

               swal.withForm({
                title: 'Aggiungi una nuova tipologia di prodotto',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                  { id: 'newTipologia', placeholder: 'Inserire il nome della nuova tipologia' }


                ]
              }, function (isConfirm) {

                      if (isConfirm) {
                            var form=this.swalForm;
                            socketProdotto.emit("registra_tipologiaProdotto",
                               { 'dip': '{{dipendente.username}}', 'nomeTipo': form['newTipologia'] });


                      }

              })
        });


        //variabili globale per il meccanismo di modifica dei prodotti
        var modificaAttiva=false;
        var oldProdotto ="";


        /*funzione lanciata all'evento click del pulsante "inserisci fornitore"*/

       $('#registraProdotto').click( function() {


            if(modificaAttiva)
            {
                titleTxt="Si sta per modificare una voce prodotto già presente";
            }else
                titleTxt='Si sta per aggiungere un nuovo prodotto';

          swal({
            title: titleTxt,
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var inputOfProdotti =  [];
                        var selectOfProdotti = [];



                        $("#trForm input").each(function(index){
                            inputOfProdotti.push($(this).val());

                        });

                        $("#trForm select").each(function(index){

                            selectOfProdotti=$(this).val().split('-');

                        });


                         //se non è stato impostato il nome o tipo del prodotto non fare nulla
                        if( inputOfProdotti[0] == "" )
                            return;

                        if(!modificaAttiva){



                            socketProdotto.emit("registra_prodotto", { "dip": "{{dipendente.username}}",
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                            "fornitore_primo_gruppo": selectOfProdotti[0], "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                            "prezzoListino": inputOfProdotti[3], "prezzoNettoListino": inputOfProdotti[4],
                                                                             "rincaroNettoListino": inputOfProdotti[5], "rincaroListino" : inputOfProdotti[6],
                                                                             "nettoUs": inputOfProdotti[7], "rincaroTrasporto": inputOfProdotti[8],
                                                                              "rincaroMontaggio": inputOfProdotti[9], "scontoEx1": inputOfProdotti[10],
                                                                              "scontoEx2": inputOfProdotti[11], "scontoImballo": inputOfProdotti[12], "rincaroTrasporto2": inputOfProdotti[13],
                                                                              "rincaroCliente": inputOfProdotti[14] });


                        }
                        else{
                             socketProdotto.emit("modifica_prodotto", { "dip": "{{dipendente.username}}",
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                            "fornitore_primo_gruppo": selectOfProdotti[0], "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                            "prezzoListino": inputOfProdotti[3], "prezzoNettoListino": inputOfProdotti[4],
                                                                             "rincaroNettoListino": inputOfProdotti[5], "rincaroListino" : inputOfProdotti[6],
                                                                             "nettoUs": inputOfProdotti[7], "rincaroTrasporto": inputOfProdotti[8],
                                                                              "rincaroMontaggio": inputOfProdotti[9], "scontoEx1": inputOfProdotti[10],
                                                                              "scontoEx2": inputOfProdotti[11], "scontoImballo": inputOfProdotti[12], "rincaroTrasporto2": inputOfProdotti[13],
                                                                              "rincaroCliente": inputOfProdotti[14] });


                        }

                  }



          })
       });

    </script>



{% endblock %}