{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Prezzario Prodotti
            </span>



            <form   class="contact100-form validate-form">

                <div class="row divFormContainer">
                    <div id="buttonsSelect" class="col-md-2 ">
                        <a id="addTipologiaProdotto" class="fa fa-plus"></a>
                    </div>

                    <div id="divTipologia" class="wrap-form input100-select bg1 fieldSelect col-md-10">
                        <span class="label-input100">Tipologia Prodotti</span>
                        <div>
                            <select id="selectTipologia" class="js-select2" name="settoriDisponibili">
                                {% for tipo in tipoProdotto %}

                                    {% if tipo.nome == tipoToSel %}
                                        <option selected="selected">{{tipo.nome}}</option>
                                    {% else %}
                                <option>{{tipo.nome}}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                           <div id="dropDownTipologia" class="dropDownSelect2 row"></div>

                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div id="tabellaContainer" class="row">

                <table id="prezzario">
                    <thead id="headPrezzario">

                       <tr id="headerIntestazioneProdotti">
                            <th  class="tableIntestazione" data-column="column1"></th>
                            <th  class="tableIntestazione "  data-column="column2"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column3"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column4"></th>
                            <th  class="tableIntestazione colMedium" data-column="column5"></th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column6"> </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column7"></th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column8"> </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column9"></th>
                            <th  class="tableIntestazione colMedium intestazioneRosso" data-column="column10">  </th>
                            <th  class="tableIntestazione colMedium intestazioneRosso" data-column="column11">  </th>
                            <th  class="tableIntestazione intestazioneBlu numColSmall" colspan="5" data-column="column12">Extra</th>
                            <th  class="tableIntestazione numColSmall" data-column="column17"></th>
                            <th  class="tableIntestazione numColMedium" data-column="column18"> </th>
                       </tr>
                       <tr id="trIntestazione">
                            <th  class="tableIntestazione" data-column="column1"><a id="showForm" class="fa fa-plus"></a></th>
                            <th  class="tableIntestazione "  data-column="column2">Nome prodotto</th>
                            <th  class="tableIntestazione numColMedium" data-column="column3">Marchio</th>
                            <th  class="tableIntestazione numColMedium" data-column="column4">Codice</th>
                            <th  class="tableIntestazione colMedium" data-column="column5">Fornitore</th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column6"> &euro; Listino</th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column7"> &euro; netto <br/> (+%) </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column8">  (+%) </th>
                            <th  class="tableIntestazione numColSmall intestazioneOliva" data-column="column9">&euro; netto <br/> US</th>
                            <th  class="tableIntestazione colMedium intestazioneRosso" data-column="column10"> Trasporto </th>
                            <th  class="tableIntestazione colMedium intestazioneRosso" data-column="column11"> Montaggio </th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column12"> Sconto </th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column13">ex.1</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column14">ex.2</th>
                            <th  class="tableIntestazione numColSmall intestazioneBlu" data-column="column15">Imballo</th>
                            <th  class="tableIntestazione colMedium intestazioneBlu" data-column="column16">Trasporto</th>
                            <th  class="tableIntestazione numColSmall" data-column="column17">Rincaro</th>
                            <th  class="tableIntestazione numColMedium" data-column="column18">Totale cliente</th>
                        </tr>
                        <tr id="trForm">
                            <th  class="tableForm" data-column="column1"><a id="hideForm" class="fa fa-angle-double-up"></a><button  id="registraProdotto" class="buttonPrezzario" type="button">Inserisci</button></th>
                            <th  class="tableForm"  data-column="column2"><input id="nomeProdottoInput" type="text" name="nomeProdotto" placeholder="Inserire il nome del prodotto"></th>
                            <th  class="tableForm numColMedium" data-column="column3"><input id="marchioInput" type="text" name="marchio" placeholder="Inserire il marchio"> </th>
                            <th  class="tableForm numColMedium" data-column="column4"><input id="codiceInput" type="text" name="codice" placeholder="Inserire il codice"> </th>

                            <th  class="tableForm colMedium" data-column="column5">

                                <select id="fornitoreSelect" name="fornitore">
                                    {% for fornitore in fornitori %}
                                         <option>{{fornitore.gruppo_azienda}} - {{fornitore.nome}}</option>

                                    {% endfor %}
                                </select>

                            </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column6"><input id="listinoInput" class="numberInput colorBlack" type="number" name="listino" placeholder="listino" value=0> &euro; </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column7"><input id="listinoNettoInput" class="numberInput colorBlack" type="number" name="listinoNetto" placeholder="listino netto" value=0> &euro; </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column8"><input id="scontoPercentualeInput" class="numberInput colorBlack" type="number" name="scontoPercentuale" placeholder="sconto " value=0> % </th>
                            <th  class="tableForm numColSmall colorWhite intestazioneOliva" data-column="column9"><input id="nettoUsInput" class="numberInput colorBlack" type="number" name="nettoUs" placeholder="netto US" value=0> &euro; </th>

                            <th  class="tableForm colMedium colorWhite intestazioneRosso" data-column="column10"><input id="trasportoInput" class="numberInput colorBlack" type="number" name="trasporto" placeholder="trasporto" value=0> &euro; </th>
                            <th  class="tableForm colMedium colorWhite intestazioneRosso" data-column="column11"><input id="montaggioInput" class="numberInput colorBlack" type="number" name="montaggio" placeholder="montaggio" value=0>&euro;</th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column12"><input id="scontoInput"  class="numberInput colorBlack" type="number" name="sconto" placeholder="sconto" value=0>%</th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column13"><input id="ex1Input"  class="numberInput colorBlack" type="number" name="ex1" placeholder="ex1" value=0></th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column14"><input id="ex2Input"  class="numberInput colorBlack" type="number" name="ex2" placeholder="ex2" value=0></th>
                            <th  class="tableForm numColSmall colorWhite intestazioneBlu" data-column="column15"><input id="imballoInput"  class="numberInput colorBlack" type="number" name="imballo" placeholder="imballo" value=0>%</th>
                            <th  class="tableForm colMedium colorWhite intestazioneBlu" data-column="column16"><input id="trasportoExtraInput"  class="numberInput colorBlack" type="number" name="trasportoExtra" placeholder="trasporto extra" value=0>&euro;</th>

                            <th  class="tableForm numColSmall colorWhite" data-column="column17"><input id="rincaroInput"  class="numberInput colorBlack" type="number" name="rincaro" placeholder="rincaro" value=0>%</th>
                            <th  class="tableForm numColMedium" data-column="column18"></th>

                        </tr>
                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>


                </table>

        </div>

    </div>
   <script>
            var rappresentanteDaRegistrare = false;
            var oldNome="";

            var socketHome = io.connect("{{sockUrl}}"+'/home');


            socketHome.on('connect', function() {

                socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
            });

            var socketProdotto= io.connect("{{sockUrl}}"+'/prezzarioProdotti');


           //Script necessario per renderizzare corretamente il tag select di "settore"
            $.getScript("{{url_for('static', filename='form/js/main.js')}}");

            /*Aggiungo funzionalità ai bottoni visualizza/nascondi form*/
            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
                $(showForm).addClass('fa');
                $(showForm).addClass('fa-plus');
                $('#bodyPrezzario').css('height', '88%');

            });

            $('#showForm').click(function(){
                $('#trForm').show();
                $(this).removeClass('fa');
                $(this).removeClass('fa-plus');
                $('#bodyPrezzario').css('height', '81%');

            });


            //funzione che inserisce nel #bodyPrezzario il sibolo "-" al posto di valori numerici nulli
            function stampaValore(valore, colonna, unita,   classValues){

                 var where="column"+colonna

                 if( valore == 0 )
                    return '<td  class="'+ classValues +'" data-column="'+where+'"> - </td>';
                 else
                    if( unita == "%" )
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ valore  + ' ' + unita + '</td>';
                    else
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ unita + ' ' + valore  +'</td>';


            }

            //codice per riempire il #bodyPrezzario
            {% for prodotto in prodotti %}
                if( "{{prodotto.tipologia}}" == $("#selectTipologia").val()) {

                    {% if prodotto.daVerificare %}
                        var classiTr="rowBodyTab daVerificare" ;
                    {% else %}
                        var classiTr="rowBodyTab";

                    {% endif %}

                    $("#bodyPrezzario").append(
                          '<tr class="'+ classiTr +'">'+
                                '<td class="controlCol" data-column="column1">'+

                                      '<div class="iconsDiv row">'+
                                          '<div class="col-md-4 iconContainer firstIconContainer" >'+
                                            '<a class="fa fa-trash iconsTab delProdotto"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-edit iconsTab modProdotto"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-warning iconsTab segnalaProdotto"></a>'+
                                          '</div>'+
                                      '</div>'+

                                '</td>'+
                                '<td  class="nome_prodotto" data-column="column2">{{prodotto.nome}}</td>'+
                                '<td  class="numColMedium" data-column="column3">{{prodotto.marchio}}</td>'+
                                '<td  class="numColMedium" data-column="column4">{{prodotto.codice}}</td>'+
                                '<td  class="colMedium" data-column="column5">{{prodotto.fornitore_primo_gruppo}} - {{prodotto.fornitore_sotto_gruppo}}</td>'+
                                stampaValore( {{prodotto.prezzoListino}}, 6, "&euro;","numColSmall" )+
                                stampaValore( {{prodotto.prezzoNettoListino}}, 7, "&euro;","numColSmall"  )+
                                stampaValore( {{prodotto.rincaroListino}}, 8, "%","numColSmall"  )+
                                stampaValore( {{prodotto.nettoUs}}, 9, "&euro;","numColSmall"  )+
                                stampaValore( {{prodotto.rincaroTrasporto}}, 10, "&euro;","colMedium"  )+


                                stampaValore( {{prodotto.rincaroMontaggio}}, 11, "&euro;","colMedium"  )+
                                stampaValore( {{prodotto.scontoUs}}, 12, "%","numColSmall"  )+
                                stampaValore( {{prodotto.scontoEx1}}, 13, "&euro;","numColSmall"  )+
                                stampaValore( {{prodotto.scontoEx2}}, 14, "&euro;","numColSmall"  )+
                                stampaValore( {{prodotto.scontoImballo}}, 15, "%","numColSmall"  )+
                                stampaValore( {{prodotto.rincaroTrasporto2}}, 16, "&euro;","colMedium"  )+
                                stampaValore( {{prodotto.rincaroCliente}}, 17, "%","numColSmall"  )+
                                '<td  class="numColMedium" data-column="column18">Totale cliente</td>'+
                                '</td>'+

                          '</tr>'

                    );


                }
            {% endfor %}


      /*Codice per aggiungere il cancella e il modifica alle opzioni del select #selectTipologia */

          var firstTime = true;


          $('#divTipologia').click(function(){

               /* il dropdown della libreria bootstrap viene costruito una sola volta al click sul
                   select predefinito. If 'firstTime' previene che vengano aggiunti continaumente
                   le icone di controllo ad ogni click */
               if($('#dropDownTipologia').children().length > 0) {
                    if( firstTime )
                    {
                        firstTime = false;
                        $('.select2-results').addClass('resizedResults');

                        $('.select2-dropdown').addClass('dropDownEffettivo');


                        $('.select2-dropdown').append(
                            '<span class="delModResults"><ul class="controlSelectUl"></ul></span>'
                        );

                        $('ul.select2-results__options').addClass('togliOverflowUlSelect');

                        $('.select2-results li').each(function(){


                                $('.delModResults ul').append(

                                    '<li val="'+$(this).text() +'" class="controlSelectLi"><a class="fa fa-trash delTipologia" ></a><a class="fa fa-edit leftIcon modTipologia" ></a></li>'
                                );


                        });


                        $('.modTipologia').click(function() {

                              var oldTipo=$(this).parent().attr('val');

                              swal.withForm({
                                title: 'Modifica nome settore',
                                text: 'Inserire il nome modificato: ',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                  { id: 'newTipologia', placeholder: 'Inserire il nome della nuova tipologia', value: oldTipo }


                                ]
                              }, function (isConfirm) {

                                      if (isConfirm) {
                                            var form=this.swalForm
                                            socketProdotto.emit("modifica_tipologia_prodotto",
                                               { 'dip': '{{dipendente.username}}', 'tipologia': form['newTipologia'], 'oldTipologia': oldTipo });

                                      }

                              })

                        });

                        $('.delTipologia').click(function() {

                                 var tipologiaSelezionata = $(this).parent().attr('val')

                                  swal({
                                    title: 'Eliminazione tipologia '+ tipologiaSelezionata,
                                    text: 'sicuro di voler procedere?',
                                    showCancelButton: true,
                                    confirmButtonColor: '#DD6B55',
                                    confirmButtonText: 'Ok',
                                    cancelButtonText: 'annulla',
                                    closeOnConfirm: true,

                                  }, function (isConfirm) {

                                          if (isConfirm) {

                                               socketProdotto.emit("elimina_tipologia_prodotto", {'dip': '{{dipendente.username}}', 'tipologia': tipologiaSelezionata});

                                          }

                                  })


                            });


                    }
                }




           });


        socketProdotto.on('aggiornaPagina', function() {
            location.reload();


        });


        //Seguono due metodi diversi per stampare l'alert "prodotto già inserito"
        {% if rigaPresente %}
              swal({
                title: "{{tabellaRigaPresente}}" + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });

        {% endif %}

        socketProdotto.on('rigaPresente', function(message) {

              console.log("allora");
              swal({
                title: message['who'] + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });


        });

        $('#selectTipologia').change( function() {

          socketProdotto.emit('cambia_tipologia_prezzario', {"dip": "{{dipendente.username}}", "tipologia": $(this).val() })

        });


        $('#addTipologiaProdotto').click(function(){

               swal.withForm({
                title: 'Aggiungi una nuova tipologia di prodotto',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                  { id: 'newTipologia', placeholder: 'Inserire il nome della nuova tipologia' }


                ]
              }, function (isConfirm) {

                      if (isConfirm) {
                            var form=this.swalForm;
                            socketProdotto.emit("registra_tipologiaProdotto",
                               { 'dip': '{{dipendente.username}}', 'nomeTipo': form['newTipologia'] });


                      }

              })
        });


        //variabili globale per il meccanismo di modifica dei prodotti
        var modificaAttiva=false;
        var oldProdotto ="";


        /*funzione lanciata all'evento click del pulsante "inserisci fornitore"*/

       $('#registraProdotto').click( function() {


            if(modificaAttiva)
            {
                titleTxt="Si sta per modificare una voce prodotto già presente";
            }else
                titleTxt='Si sta per aggiungere un nuovo prodotto';

          swal({
            title: titleTxt,
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var inputOfProdotti =  [];
                        var selectOfProdotti = [];



                        $("#trForm input").each(function(index){
                            inputOfProdotti.push($(this).val());

                        });

                        $("#trForm select").each(function(index){

                            selectOfProdotti=$(this).val().split('-');

                            /*tolgo degli spazi extra*/

                            selectOfProdotti[0]=selectOfProdotti[0].substring(0, selectOfProdotti[0].length-1 );
                            selectOfProdotti[1]=selectOfProdotti[1].substring(1, selectOfProdotti[1].length );

                        });


                         //se non è stato impostato il nome o tipo del prodotto non fare nulla
                        if( inputOfProdotti[0] == "" )
                            return;

                        if(!modificaAttiva){



                            socketProdotto.emit("registra_prodotto", { "dip": "{{dipendente.username}}", "tipologia":  $('#selectTipologia').val(),
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                            "fornitore_primo_gruppo": selectOfProdotti[0], "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                            "prezzoListino": inputOfProdotti[3], "prezzoNettoListino": inputOfProdotti[4],
                                                                             "rincaroListino" : inputOfProdotti[5],
                                                                             "nettoUs": inputOfProdotti[6], "rincaroTrasporto": inputOfProdotti[7],
                                                                              "rincaroMontaggio": inputOfProdotti[8], "scontoUs": inputOfProdotti[9],
                                                                              "scontoEx1": inputOfProdotti[10],
                                                                              "scontoEx2": inputOfProdotti[11], "scontoImballo": inputOfProdotti[12], "rincaroTrasporto2": inputOfProdotti[13],
                                                                              "rincaroCliente": inputOfProdotti[14] });


                        }
                        else{
                             socketProdotto.emit("modifica_prodotto", { "dip": "{{dipendente.username}}", "oldNome": oldNome,
                                                                           "tipologia":  $('#selectTipologia').val(),
                                                                           "nome": inputOfProdotti[0], "marchio": inputOfProdotti[1],
                                                                           "codice" : inputOfProdotti[2],
                                                                            "fornitore_primo_gruppo": selectOfProdotti[0], "fornitore_sotto_gruppo": selectOfProdotti[1],
                                                                            "prezzoListino": inputOfProdotti[3], "prezzoNettoListino": inputOfProdotti[4],
                                                                             "rincaroListino" : inputOfProdotti[5],
                                                                             "nettoUs": inputOfProdotti[6], "rincaroTrasporto": inputOfProdotti[7],
                                                                              "rincaroMontaggio": inputOfProdotti[8], "scontoUs": inputOfProdotti[9],
                                                                              "scontoEx1": inputOfProdotti[10],
                                                                              "scontoEx2": inputOfProdotti[11], "scontoImballo": inputOfProdotti[12], "rincaroTrasporto2": inputOfProdotti[13],
                                                                              "rincaroCliente": inputOfProdotti[14] });


                        }

                  }



          })
       });


       $('.delProdotto').click(function(){

            var tipoProdotto = $('#selectTipologia').val();
            var prodotto = $(this).closest('.rowBodyTab').children('.nome_prodotto').text();
            swal({
                title: 'Eliminazione prodotto '+ prodotto,
                text: 'sicuro di voler procedere?',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,

            }, function (isConfirm) {

                  if (isConfirm) {

                         socketProdotto.emit('elimina_prodotto', {'dip': '{{dipendente.username}}', 'prodotto': prodotto,
                                                   'tipologia': tipoProdotto });

                  }

            })

       });

       $('.modProdotto').click(function(){

           //se qualche altro prodotto e' gia' stato selezionato per la modifica deselezionalo
           if( modificaAttiva ){
                $('.inModifica').removeClass('inModifica');


           }
            else {

                modificaAttiva=true;
                $('#trForm').show();
                $('#showForm').removeClass('fa');
                $('#showForm').removeClass('fa-plus');
                /*$('#bodyPrezzario').css('height', '81%');*/
           }


           $(this).closest('tr').addClass("inModifica");

           var datiProdotto=[];

           $(".inModifica td").each(function(index){

               if( $(this).text() == " - " )
                datiProdotto.push(0);
               else
                datiProdotto.push($(this).text());

           });

            console.log(datiProdotto);

            oldNome = datiProdotto[1];


            $("#nomeProdottoInput").val( datiProdotto[1]);
            $("#marchioInput").val(datiProdotto[2]);
            $("#codiceInput").val(datiProdotto[3]);
            $("#fornitoreSelect").val(datiProdotto[4]);
            $("#listinoInput").val(datiProdotto[5]);
            $("#listinoNettoInput").val(datiProdotto[6]);
            $("#scontoPercentualeInput").val(datiProdotto[7]);
            $("#nettoUsInput").val(datiProdotto[8]);
            $("#trasportoInput").val(datiProdotto[9]);
            $("#montaggioInput").val(datiProdotto[10]);
            $("#scontoInput").val(datiProdotto[11]);
            $("#ex1Input").val(datiProdotto[12]);
            $("#ex2Input").val(datiProdotto[13]);
            $("#imballoInput").val(datiProdotto[14]);
            $("#trasportoExtraInput").val(datiProdotto[15]);
            $("#rincaroInput").val(datiProdotto[16]);




            $(this).closest('tr').removeClass("inModifica");

       });


       $('.segnalaProdotto').click(function(){

            var tipo = $('#selectTipologia').val();
            var prodotto = $(this).closest('.rowBodyTab').children('.nome_prodotto').text();


            if(!$(this).closest('tr').hasClass('daVerificare') ){


                socketProdotto.emit('settaProdottoDaVerificare', {'dip': '{{dipendente.username}}', 'tipo': tipo,
                                                           'prodotto': prodotto, 'valore': true});
            }
            else {
                socketProdotto.emit('settaProdottoDaVerificare', {'dip': '{{dipendente.username}}', 'tipo': tipo,
                                                       'prodotto': prodotto, 'valore': false});

            }

       });

    </script>



{% endblock %}