{% extends "paginaBase_noChat.html" %}

{% block content %}

	<div id="page-wrapper">


	  <div class="container" id="page-content">

		<div class="row" id="row-content">

		  <div id="colonnaSx" class="col-md-3 hidden-sm">



		  </div> <!-- fine colonnaSx -->


		  <div class="col-md-6 col-sm-12 content-holder" id="colonnaCentrale">
			<div id="menu-container">

			  <div id="menu-1" class="row homepage registraDip-section text-center">
				<div class="container-contact100 container-completaProfilo" id="container-contact100">
					<div class="wrap-contact100" id="wrap-contact100">
						<form id="form-reg" class="contact100-form validate-form" method="post" action="registraDipendente">
							{{form.hidden_tag()}}

							<span class="contact100-form-title">
								Benvenuto! Registrati nel sistema.
							</span>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Nome<span class="asteriscoRosso">*</span></span>

									{{form.nome}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Cognome<span class="asteriscoRosso">*</span></span>

									{{form.cognome}}
								</div>


								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Codice Fiscale<span class="asteriscoRosso">*</span></span>

									{{form.cf}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Data di nascita<span class="asteriscoRosso">*</span></span>

									{{form.dataNascita}}
								</div>

								<div class="wrap-input100 residenzaDiv">
									<h4>RESIDENZA</h4>
									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Via<span class="asteriscoRosso">*</span></span>
										{{form.residenzaVia}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Num.<span class="asteriscoRosso">*</span></span>
										{{form.residenzaNum}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Città<span class="asteriscoRosso">*</span></span>
										{{form.residenzaCitta}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">CAP<span class="asteriscoRosso">*</span></span>
										{{form.residenzaCap}}
									</div>

									<div class="wrap-input100  bg1 ">
										<span class="label-input100">Regione<span class="asteriscoRosso">*</span></span>
										{{form.residenzaRegione}}
									</div>
								</div>
								<div class="wrap-contact100-form-check">
									<div class="contact100-form-check m-t-15">
										{{form.resEDomUguali}}
										<label class="label-check100" for="resEDomUguali">
										   <span>residenza e domicilio coincidono</span>
										</label>
									</div>
								</div>

								<div class="wrap-input100 domicilioDiv">
									<h4>DOMICILIO</h4>
									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Via</span>
										{{form.domicilioVia}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Num</span>
										{{form.domicilioNum}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">Città</span>
										{{form.domicilioCitta}}
									</div>

									<div class="wrap-input100  bg1 rs1-wrap-input100">
										<span class="label-input100">CAP</span>
										{{form.domicilioCap}}
									</div>

									<div class="wrap-input100  bg1">
										<span class="label-input100">Regione</span>
										{{form.domicilioRegione}}
									</div>
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Telefono<span class="asteriscoRosso">*</span></span>
									{{form.telefono}}
								</div>


								<div class="wrap-input100  bg1 rs1-wrap-input100" >
									<span class="label-input100">Email personale</span>
									{{form.email_personale}}
								</div>

								<div class="wrap-input100  bg1">
								  <span class="label-input100">Email aziendale<span class="asteriscoRosso">*</span></span>
								  {{form.email_aziendale}}
								</div>

								<div class="wrap-input100  bg1">
									<span class="label-input100">Password<span class="asteriscoRosso">*</span></span>

									{{form.password}}
								</div>



								<div class="wrap-input100  bg1">
									<span class="label-input100">IBAN</span>
									{{form.iban}}
								</div>

								<div class="wrap-input100  bg1">
									<span class="label-input100">Partita Iva</span>
									{{form.partitaIva}}
								</div>





						</form>

						<div class="container-contact100-form-btn">
							<button class="contact100-form-btn">
								{{form.submit}}
							</button>
						</div>


					</div>
				</div>

			  </div> <!-- fine homepage -->


			</div> <!-- fine menu-container -->
		  </div> <!-- fine colonnaCentrale -->



		</div> <!-- fine row-content -->
	  </div> <!-- fine page content -->
	</div> <!-- fine page-wrapper -->

	<script>


	/*
		I tag "input" all'interno del form vengono inseriti da flask. Il codice sottostante
		sistema gli attributi di questi tag per potergli applicare lo styiling corretto.
	*/

		$("input").addClass("input100");

    	$('input#resEDomUguali').addClass("input-check100");
    	$('input#iban').addClass("upper");
    	$('input#cf').addClass("upper");

		$("input#dataNascita").attr("type", "date");

		$("input#nome").attr("placeholder", "Inserire il proprio nome");
		$("input#cognome").attr("placeholder", "Inserire il proprio cognome");

		$("input#password").attr("placeholder", "Inserire una password per il login");

		$("input#residenza").attr("placeholder", "via, numero, città, regione, cap" );

		$("input#domicilio").attr("placeholder", "via, numero, città, regione, cap");


		$("input#telefono").attr("placeholder", "Inserire un recapito telefonico");

		$("input#email_aziendale").attr("placeholder", "Inserire la propria email di lavoro");

		$("input#email_personale").attr("placeholder", "Inserire la propria email personale" );

		$("input#iban").attr("placeholder", "Inserire il proprio IBAN (opzionale)");

		$("input#partitaIva").attr("placeholder", "Inserire la propria partita Iva (opzionale)");

		$("input#cf").attr("placeholder", "Inserire il proprio codice fiscale");
		$("input#regione").attr("placeholder", "Inserire la propria regione di residenza");
		$("input#dataNascita").attr("placeholder", "Inserire la propria data di nascita");

		form=$('form#form-reg');

		function JSalert(){


			swal({
              title: "AUTORIZZAZIONE AL TRATTAMENTO\nDEI DATI PERSONALI",
              text:  "Procedendo autorizzo il trattamento dei miei dati"+
					" personali ai sensi del\nDecreto Legislativo 30 giugno 2003, " +
					  ' n.196\n"Codice in materia di protezione dei dati personali"',
              type: 'warning',
              showCancelButton: true,
              cancelButtonColor: '#d33',
         	  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Accetto",
			  cancelButtonText: "Indietro",
            }).then((result) => {
              if (result.value) {
                form.submit();
              }else {
                swal("", "Operazione Annullata", "error");
              }
            });
		}

		$('input#submit').attr('onclick', 'JSalert()');


		// y e n sono invertiti per comodita' di sviluppo
		// (di default viene assegnato value y alla checkbox non cliccata
		$('input#resEDomUguali').click(function(){
			if($('input#resEDomUguali').attr('value') == 'y'){
				$('div.domicilioDiv').hide();
				$('input#resEDomUguali').attr('value', 'n')
				$('#domicilioNum').val('0')
				$('#domicilioCap').val('0')

			}
			else{
				$('div.domicilioDiv').show();
				$('input#resEDomUguali').attr('value', 'y')

			}
		});

		if ($('input#resEDomUguali').is(':checked')) {
			$('div.domicilioDiv').hide();
			$('input#resEDomUguali').attr('value', 'n')
			$('#domicilioNum').val('0')
			$('#domicilioCap').val('0')
		}

	</script>

   <script src="{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}"></script>
   <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/vendor/select2/select2.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/js/main.js') }}"></script>

	<script>
	/*
		Questo script permette di stampare gli errori di compilazione del form rilevati nel lato server.
		Poichè lo script viene modificato da flask è necessario inserirlo qua.
	*/

	   function showValidate(input) {
			var thisAlert = $(input).parent();

			$(thisAlert).addClass('alert-validate');

			$(thisAlert).append('<span class="btn-hide-validate">&#xf136;</span>')
			$('.btn-hide-validate').each(function(){
				$(this).on('click',function(){
				   hideValidate(this);
				});
			});
		}

		function hideValidate(input) {
			var thisAlert = $(input).parent();
			$(thisAlert).removeClass('alert-validate');
			$(thisAlert).find('.btn-hide-validate').remove();
		}

	/*Variabile necessaria per evitare che nel ciclo for di flask venga continuamente aggiunta
	classe "validate-input" ai tag input*/
		var notValidated;

/*=================================Imposta stampa errore nome=====================================================*/

		notValidated=true;
		{% for error in form.nome.errors %}

		if(notValidated){
			$("div:has(> input#nome)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#nome)").attr("data-validate", "{{error}}");
		showValidate($("input#nome"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore cognome=====================================================*/

		notValidated=true;
		{% for error in form.cognome.errors %}

		if(notValidated){
			$("div:has(> input#cognome)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#cognome)").attr("data-validate", "{{error}}");
		showValidate($("input#cognome"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore cf=====================================================*/

		notValidated=true;
		{% for error in form.cf.errors %}

		if(notValidated){
			$("div:has(> input#cf)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#cf)").attr("data-validate", "{{error}}");
		showValidate($("input#cf"));

		{% endfor %}
		{% if errCf %}

			if(notValidated){
				$("div:has(> input#cf)").addClass("validate-input");
				notValidated=false;
			}
			$("div:has(> input#cf)").attr("data-validate", "Il codice fiscale inserito è già presente!");
			showValidate($("input#cf"));


		{% endif %}
/*====================================================================================================================*/
/*=================================Imposta stampa errore data nascita=====================================================*/

		notValidated=true;
		{% for error in form.dataNascita.errors %}

		if(notValidated){
			$("div:has(> input#dataNascita)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#dataNascita)").attr("data-validate", "{{error}}");
		showValidate($("input#dataNascita"));

		{% endfor %}

/*====================================================================================================================*/

/*=================================Imposta stampa errore telefono=====================================================*/

		notValidated=true;
		{% for error in form.telefono.errors %}

		if(notValidated){
			$("div:has(> input#telefono)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#telefono)").attr("data-validate", "{{error}}");
		showValidate($("input#telefono"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore password=====================================================*/

		notValidated=true;
		{% for error in form.password.errors %}

		if(notValidated){
			$("div:has(> input#password)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#password)").attr("data-validate", "{{error}}");
		showValidate($("input#password"));

		{% endfor %}


/*====================================================================================================================*/


/*=================================Imposta stampa errore email aziendale=====================================================*/

		notValidated=true;
		{% for error in form.email_aziendale.errors %}

		if(notValidated){
			$("div:has(> input#email_aziendale)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#email_aziendale)").attr("data-validate", "{{error}}");
		showValidate($("input#email_aziendale"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore email personale=====================================================*/

		notValidated=true;
		{% for error in form.email_personale.errors %}

		if(notValidated){
			$("div:has(> input#email_personale)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#email_personale)").attr("data-validate", "{{error}}");
		showValidate($("input#email_personale"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore iban=====================================================*/

		notValidated=true;
		{% for error in form.iban.errors %}

		if(notValidated){
			$("div:has(> input#iban)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#iban)").attr("data-validate", "{{error}}");
		showValidate($("input#iban"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore partita iva=====================================================*/

		notValidated=true;
		{% for error in form.partitaIva.errors %}

		if(notValidated){
			$("div:has(> input#partitaIva)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#partitaIva)").attr("data-validate", "{{error}}");
		showValidate($("input#partitaIva"));

		{% endfor %}


/*====================================================================================================================*/





	</script>

{% endblock %}

