{% extends "paginaBase.html" %}

{% block content %}

	<div id="page-wrapper">


	  <div class="container" id="page-content">

		<div class="row" id="row-content">

		  <div id="colonnaSx" class="col-md-3 hidden-sm">



		  </div> <!-- fine colonnaSx -->


		  <div class="col-md-6 col-sm-12 content-holder" id="colonnaCentrale">
			<div id="menu-container">

			  <div id="menu-1" class="row homepage registraDip-section text-center">
				<div class="container-contact100 container-completaProfilo" id="container-contact100">
					<div class="wrap-contact100" id="wrap-contact100">
						<form class="contact100-form validate-form" method="post" action="registraDipendente">
							{{form.hidden_tag()}}

							<span class="contact100-form-title">
								Benvenuto! Registrati nel sistema.
							</span>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Nome</span>

									{{form.nome(size=30)}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Cognome</span>

									{{form.cognome(size=30)}}
								</div>


								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Codice Fiscale</span>

									{{form.cf(size=16)}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Data di nascita</span>

									{{form.dataNascita}}
								</div>

								<div class="wrap-input100 input100-select bg1">
									<span class="label-input100">Sesso</span>
									<div>
										{{form.sesso}}
										<div class="dropDownSelect2"></div>
									</div>
								</div>


								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Via</span>
									{{form.via}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Civico</span>
									{{form.civico}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">CAP</span>
									{{form.cap}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Città</span>
									{{form.citta}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Regione</span>
									{{form.regione}}
								</div>


								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Telefono</span>
									{{form.telefono}}
								</div>

							    <div class="wrap-input100 bg1 validate-input">
									<span class="label-input100">Username</span>
									{{form.username(size=30)}}

								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100">
									<span class="label-input100">Password</span>

									{{form.password(size=30)}}
								</div>



								<div class="wrap-input100  bg1 rs1-wrap-input100">
								  <span class="label-input100">Email</span>
								  {{form.email}}
								</div>

								<div class="wrap-input100  bg1 rs1-wrap-input100" >
									<span class="label-input100">Password email</span>
									{{form.pass_email}}
								</div>


								<div class="wrap-input100  bg1">
									<span class="label-input100">IBAN</span>
									{{form.iban}}
								</div>

								<div class="wrap-input100  bg1">
									<span class="label-input100">Partita Iva</span>
									{{form.partitaIva}}
								</div>



								<div class="container-contact100-form-btn">
									<button class="contact100-form-btn">
										{{form.submit}}
									</button>
								</div>


						</form>
					</div>
				</div>

			  </div> <!-- fine homepage -->


			</div> <!-- fine menu-container -->
		  </div> <!-- fine colonnaCentrale -->



		</div> <!-- fine row-content -->
	  </div> <!-- fine page content -->
	</div> <!-- fine page-wrapper -->

	<script>
	/*
		I tag "input" all'interno del form vengono inseriti da flask. Il codice sottostante
		sistema gli attributi di questi tag per potergli applicare lo styiling corretto.
	*/

		$("input").addClass("input100");
		$("select#sesso").addClass("js-select2");
		$("input#dataNascita").attr("type", "date");

		$("input#nome").attr("placeholder", "Inserire il proprio nome");
		$("input#cognome").attr("placeholder", "Inserire il proprio cognome");

		$("input#username").attr("placeholder", "Inserire uno username a scelta per il login");

		$("input#password").attr("placeholder", "Inserire una password per il login");

		$("input#citta").attr("placeholder", "Inserire la propria città di residenza");

		$("input#via").attr("placeholder", "Inserire la propria via di residenza" );

		$("input#civico").attr("placeholder", "Inserire il proprio civico");

		$("input#cap").attr("placeholder", "Inserire il CAP della città di residenza");

		$("input#telefono").attr("placeholder", "Inserire un recapito telefonico");

		$("input#email").attr("placeholder", "Inserire la propria email di lavoro");

		$("input#pass_email").attr("placeholder", "Inserire la password dalla email di lavoro" );

		$("input#iban").attr("placeholder", "Inserire il proprio IBAN");

		$("input#partitaIva").attr("placeholder", "Inserire la propria partita Iva (opzionale)");

		$("input#cf").attr("placeholder", "Inserire il proprio codice fiscale");
		$("input#regione").attr("placeholder", "Inserire la propria regione di residenza");
		$("input#dataNascita").attr("placeholder", "Inserire la propria data di nascita");





	</script>

   <script src="{{url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}"></script>
   <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/vendor/select2/select2.min.js') }}"></script>
   <script src="{{url_for('static', filename='form/js/main.js') }}"></script>

	<script>
	/*
		Questo script permette di stampare gli errori di compilazione del form rilevati nel lato server.
		Poichè lo script viene modificato da flask è necessario inserirlo qua.
	*/

	   function showValidate(input) {
			var thisAlert = $(input).parent();

			$(thisAlert).addClass('alert-validate');

			$(thisAlert).append('<span class="btn-hide-validate">&#xf136;</span>')
			$('.btn-hide-validate').each(function(){
				$(this).on('click',function(){
				   hideValidate(this);
				});
			});
		}

		function hideValidate(input) {
			var thisAlert = $(input).parent();
			$(thisAlert).removeClass('alert-validate');
			$(thisAlert).find('.btn-hide-validate').remove();
		}

	/*Variabile necessaria per evitare che nel ciclo for di flask venga continuamente aggiunta
	classe "validate-input" ai tag input*/
		var notValidated;

/*=================================Imposta stampa errore nome=====================================================*/

		notValidated=true;
		{% for error in form.nome.errors %}

		if(notValidated){
			$("div:has(> input#nome)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#nome)").attr("data-validate", "{{error}}");
		showValidate($("input#nome"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore cognome=====================================================*/

		notValidated=true;
		{% for error in form.cognome.errors %}

		if(notValidated){
			$("div:has(> input#cognome)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#cognome)").attr("data-validate", "{{error}}");
		showValidate($("input#cognome"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore cf=====================================================*/

		notValidated=true;
		{% for error in form.cf.errors %}

		if(notValidated){
			$("div:has(> input#cf)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#cf)").attr("data-validate", "{{error}}");
		showValidate($("input#cf"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore data nascita=====================================================*/

		notValidated=true;
		{% for error in form.dataNascita.errors %}

		if(notValidated){
			$("div:has(> input#dataNascita)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#dataNascita)").attr("data-validate", "{{error}}");
		showValidate($("input#dataNascita"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore via=====================================================*/

		notValidated=true;
		{% for error in form.via.errors %}

		if(notValidated){
			$("div:has(> input#via)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#via)").attr("data-validate", "{{error}}");
		showValidate($("input#via"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore civico=====================================================*/

		notValidated=true;
		{% for error in form.civico.errors %}

		if(notValidated){
			$("div:has(> input#civico)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#civico)").attr("data-validate", "{{error}}");
		showValidate($("input#civico"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore CAP=====================================================*/

		notValidated=true;
		{% for error in form.cap.errors %}

		if(notValidated){
			$("div:has(> input#cap)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#cap)").attr("data-validate", "{{error}}");
		showValidate($("input#cap"));

		{% endfor %}

/*====================================================================================================================*/
/*=================================Imposta stampa errore città=====================================================*/

		notValidated=true;
		{% for error in form.citta.errors %}

		if(notValidated){
			$("div:has(> input#citta)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#citta)").attr("data-validate", "{{error}}");
		showValidate($("input#citta"));

		{% endfor %}


/*====================================================================================================================*/
/*=================================Imposta stampa errore città=====================================================*/

		notValidated=true;
		{% for error in form.citta.errors %}

		if(notValidated){
			$("div:has(> input#citta)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#citta)").attr("data-validate", "{{error}}");
		showValidate($("input#citta"));

		{% endfor %}


/*====================================================================================================================*/
/*=================================Imposta stampa errore regione=====================================================*/

		notValidated=true;
		{% for error in form.regione.errors %}

		if(notValidated){
			$("div:has(> input#regione)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#regione)").attr("data-validate", "{{error}}");
		showValidate($("input#regione"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore telefono=====================================================*/

		notValidated=true;
		{% for error in form.telefono.errors %}

		if(notValidated){
			$("div:has(> input#telefono)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#telefono)").attr("data-validate", "{{error}}");
		showValidate($("input#telefono"));

		{% endfor %}


/*====================================================================================================================*/
/*=================================Imposta stampa errore username=====================================================*/

		notValidated=true;
		{% for error in form.username.errors %}

		if(notValidated){
			$("div:has(> input#username)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#username)").attr("data-validate", "{{error}}");
		showValidate($("input#username"));

		{% endfor %}

		{% if usernameError %}
			if(notValidated){
				$("div:has(> input#username)").addClass("validate-input");
				notValidated=false;
			}
			$("div:has(> input#username)").attr("data-validate", "{{usernameError}}");
			showValidate($("input#username"));
		{% endif %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore password=====================================================*/

		notValidated=true;
		{% for error in form.password.errors %}

		if(notValidated){
			$("div:has(> input#password)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#password)").attr("data-validate", "{{error}}");
		showValidate($("input#password"));

		{% endfor %}

/*====================================================================================================================*/


/*=================================Imposta stampa errore email=====================================================*/

		notValidated=true;
		{% for error in form.email.errors %}

		if(notValidated){
			$("div:has(> input#email)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#email)").attr("data-validate", "{{error}}");
		showValidate($("input#email"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore pass_email=====================================================*/

		notValidated=true;
		{% for error in form.pass_email.errors %}

		if(notValidated){
			$("div:has(> input#pass_email)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#pass_email)").attr("data-validate", "{{error}}");
		showValidate($("input#pass_email"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore iban=====================================================*/

		notValidated=true;
		{% for error in form.iban.errors %}

		if(notValidated){
			$("div:has(> input#iban)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#iban)").attr("data-validate", "{{error}}");
		showValidate($("input#iban"));

		{% endfor %}


/*====================================================================================================================*/

/*=================================Imposta stampa errore partita iva=====================================================*/

		notValidated=true;
		{% for error in form.partitaIva.errors %}

		if(notValidated){
			$("div:has(> input#partitaIva)").addClass("validate-input");
			notValidated=false;
		}
		$("div:has(> input#partitaIva)").attr("data-validate", "{{error}}");
		showValidate($("input#partitaIva"));

		{% endfor %}


/*====================================================================================================================*/





	</script>
{% endblock %}

