{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaFornitori">

        <div id="divIntestazione" >
            <span class="contact100-form-title">
               Scheda Fornitori
            </span>
            <form id="searchFornitore">
              <div id="searchContainer">
                 <span id="spanAddFornitore"><a id="addFornitore" class="fa fa-plus"></a></span>
                  <input list="listFornitori" id="cercaFornitore" autocomplete="off" name="q" type="text" size="300" placeholder="Cerca fornitore..." />
                  <datalist id="listFornitori">
                      {% for fornitoreSottoGruppo in listaFornitoriSottoGruppo %}
                      <option value="{{fornitoreSottoGruppo.gruppo_azienda}} - {{fornitoreSottoGruppo.nome}}"></option>
                      {% endfor %}
                  </datalist>
              </div>
            </form>

        </div>

        <div id="tableSection" >
            <div class="tabContainer">


            </div>
        </div>

    </div>

    <script>


        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketFornitore= io.connect("{{sockUrl}}"+'/fornitore');

       socketFornitore.on('aggiornaGiorniPagamento', function(message){
            $('#listaGiorniPagamento').children().remove();
            for( i=0; i<parseInt(message['length']); i++){
                $('#listaGiorniPagamento').append(
                     '<option value="'+message[i.toString()]+'"></option>'
                );
            }

       });

       socketFornitore.on('aggiornaModalitaPagamento', function(message){
            $('#listaModalitaPagamento').children().remove();
            for( i=0; i<parseInt(message['length']); i++){
                $('#listaModalitaPagamento').append(
                     '<option value="'+message[i.toString()]+'"></option>'
                );
            }

       });

       socketFornitore.on('aggiornaTipologiaPagamento', function(message){
            $('#listaTipologiaPagamento').children().remove();
            for( i=0; i<parseInt(message['length']); i++){
                $('#listaTipologiaPagamento').append(
                     '<option value="'+message[i.toString()]+'"></option>'
                );
            }

       });


        //Seguono due metodi diversi per stampare l'alert "sottogruppo presente"
        {% if rigaPresente %}
              swal({
                title: "Il {{tabellaRigaPresente}} inserito è già presente",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });

        {% endif %}


        function viewPage(nomeFornitoreToPrint){

            {% for fornitoreSottoGruppo in listaFornitoriSottoGruppo %}

                if( "{{fornitoreSottoGruppo.nome}}" == nomeFornitoreToPrint.split(' - ')[1]){

                    var strCancellaFornitore="";
                    var strModificaFornitore="";

                    var nomeFornitoreToSend = "{{fornitoreSottoGruppo.nome}}";
                    var nomeRappresentanteToSend = "";

                    {% for rappresentante in listaRappresentanti %}
                        {% if fornitoreSottoGruppo.gruppo_azienda == rappresentante.azienda %}
                            nomeRappresentanteToSend = "{{rappresentante.nome}}";
                        {% endif %}
                    {% endfor %}

                    if( "{{fornitoreSottoGruppo.nome}}" == "" )
                        nomeFornitoreToSend = "spazio";



                    nomeRappresentanteToSend= "cci";


                   strCancellaFornitore='<a href="'+
                                         '{{url_for("cancellaFornitore", nomeFornitore=nomeFornitoreToSend, primoGruppo=fornitoreSottoGruppo.gruppo_azienda)}}" class="ctrlBtn fa fa-trash"></a>';

                   strModificaFornitore='<a href="modificaFornitore/'+nomeFornitoreToSend+'/{{fornitoreSottoGruppo.gruppo_azienda}}/'+nomeRappresentanteToSend+'" class="ctrlBtn fa fa-edit"></a>';


                    $('.tabContainer').html(

                        '<div id="ctrlBtnContainer">'+
                            '<span class="firstCtrlBtn">'+
                               strCancellaFornitore +
                               strModificaFornitore +
                            '</span>'+

                        '</div>'+


                        '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th class="centerText" colspan="4">Dati Fornitore</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Primo gruppo</th>'+
                                '<th>Sotto gruppo</th>'+
                                '<th>Settore merceologico</th>'+
                                '<th>Stato</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                              '<td >{{fornitoreSottoGruppo.gruppo_azienda}}</td>'+
                               '<td >{{fornitoreSottoGruppo.nome}}</td>'+
                               '<td >{{fornitoreSottoGruppo.settoreMerceologico}}</td>'+
                               '<td>{{fornitoreSottoGruppo.stato}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+

                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="4">Recapito azienda</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Indirizzo</th>'+
                                '<th>Provincia</th>'+
                                '<th>Telefono</th>'+
                                '<th>Sito</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{fornitoreSottoGruppo.indirizzo}}</td>'+
                                '<td>{{fornitoreSottoGruppo.provincia}}</td>'+
                                '<td>{{fornitoreSottoGruppo.telefono}}</td>'+
                                '<td>{{fornitoreSottoGruppo.sito}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+

                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Rappresentante</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Nominativo</th>'+
                                '<th>Telefono</th>'+
                                '<th>Email</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+

                             {%for  rappresentante in listaRappresentanti%}
                                    {% if rappresentante.azienda == fornitoreSottoGruppo.gruppo_azienda %}
                                        '<tr>'+
                                            '<td>{{rappresentante.nome}}</td>'+
                                            '<td>{{rappresentante.telefono}}</td>'+
                                            '<td>{{rappresentante.email}}</td>'+
                                            '<td>{{rappresentante.stato}}</td>'+
                                        '</tr>'+
                                    {% endif %}
                             {% endfor %}
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Sconti</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Standard</th>'+
                                '<th>Extra 1</th>'+
                                '<th>Extra 2</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                                '<tr>'+

                                    '<td  >{{fornitoreSottoGruppo.scontoStandard}} %</td>'+
                                    '<td >{{fornitoreSottoGruppo.scontoExtra1}} %</td>'+
                                    '<td >{{fornitoreSottoGruppo.scontoExtra2}} %</td>'+

                                '</tr>'+
                        '</tbody>'+
                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Pagamenti</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Giorni</th>'+
                                '<th>Modalità</th>'+
                                '<th>Tipologia</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{fornitoreSottoGruppo.giorniPagamenti}}</td>'+
                                '<td>{{fornitoreSottoGruppo.modalitaPagamenti}}</td>'+
                                '<td>{{fornitoreSottoGruppo.tipologiaPagamenti}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th>Tempi di consegna</th>'+
                                '<th></th>'+
                                '<th>Prezzi netti</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{fornitoreSottoGruppo.tempiDiConsegna}}</td>'+
                                '<td></td>'+
                                '<td>{{fornitoreSottoGruppo.prezziNetti}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th>Trasporto</th>'+
                                '<th>Imballo</th>'+
                                '<th>Montaggio</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>&euro; {{fornitoreSottoGruppo.trasporto}}</td>'+
                                '<td>&euro; {{fornitoreSottoGruppo.imballo}}</td>'+
                                '<td>&euro; {{fornitoreSottoGruppo.montaggio}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>' );



                }
                else
                    console.log("Che palle!:_{{fornitoreSottoGruppo.nome}}_"+ nomeFornitoreToPrint.split(' - ')[1] )
            {% endfor %}

        }

        $('#cercaFornitore').change(function(){
            viewPage($(this).val());
        });


        $('#addFornitore').click(function(){

            $('#searchFornitore').remove();
            $('#divIntestazione').append(
                '<div id="searchContainer">'+
                    '<span id="spanBackTo"><a id="back" class="fa fa-reply"></a></span>'+
                    '<button id="submitFormFornitore" class="button button--antiman button--text-thick button--text-upper button--size-s button--inverted-alt button--round-l button--border-thick"><i class="button__icon icon icon-plus"></i><span>Aggiungi</span></button>'+
                '</div>'
            );

            $('#back').click(function(){
                window.location="{{url_for('schedaFornitori')}}"
            });

            $('.tabContainer').html(

                '<form id="formFornitore" method="post" action="schedaFornitori">'+
                    '{{form.hidden_tag()}}'+

                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th class="centerText" colspan="4">Dati Fornitore</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Primo gruppo</th>'+
                                '<th>Sotto gruppo</th>'+
                                '<th>Settore merceologico</th>'+
                                '<th>Stato</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.gruppo_azienda(placeholder="primo gruppo", list="listaFornitori", autocomplete="nope")}}</td>'+
                                  '<datalist id="listaFornitori">'+
                                          {% for fornitore in listaFornitoriPrimoGruppo %}
                                          '<option value="{{fornitore.nome_gruppo}}"></option>'+
                                          {% endfor %}
                                      '</datalist>'+
                                '<td >{{form.nomeFornitore(placeholder="sotto gruppo")}}</td>'+
                                '<td >{{form.settoreMerceologico( placeholder="settore")}}</td>'+
                                '<td>{{form.stato}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+

                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="4">Recapito azienda</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Indirizzo</th>'+
                                '<th>Provincia</th>'+
                                '<th>Telefono</th>'+
                                '<th>Sito</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.indirizzo(placeholder="indirizzo")}}</td>'+
                                '<td>{{form.provincia(placeholder="provincia")}}</td>'+
                                '<td>{{form.telefono(placeholder="telefono")}}</td>'+
                                '<td>{{form.sito(placeholder="sito")}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+

                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Rappresentante</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Nominativo</th>'+
                                '<th>Telefono</th>'+
                                '<th>Email</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.nomeRappresentante(placeholder="referente")}}</td>'+
                                '<td>{{form.telefonoRappresentante(placeholder="telefono referente")}}</td>'+
                                '<td>{{form.emailRappresentante(placeholder="email referente")}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Sconti</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Standard</th>'+
                                '<th>Extra 1</th>'+
                                '<th>Extra 2</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.scontoStandard(placeholder="standard")}} %</td>'+
                                '<td>{{form.scontoExtra1(placeholder="extra 1")}} %</td>'+
                                '<td>{{form.scontroExtra2(placeholder="extra 2")}} %</td>'+
                            '</tr>'+
                        '</tbody>'+
                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th colspan="3">Pagamenti</th>'+
                            '</tr>'+

                            '<tr>'+
                                '<th>Giorni</th>'+
                                '<th>Modalità</th>'+
                                '<th>Tipologia</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>'+
                                    '<a id="giorniPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>'+
                                    '{{form.giorniPagamenti(placeholder="giorni pagamento", list="listaGiorniPagamento", autocomplete="nope")}}'+
                                    '<datalist id="listaGiorniPagamento">'+
                                    {% for giorno in giorniPagamento %}
                                    '<option value="{{giorno.nome}}"></option>'+
                                    {% endfor %}
                                    '</datalist>'+
                                '</td>'+
                                '<td>'+
                                    '<a id="modalitaPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>'+
                                    '{{form.modalitaPagamenti( placeholder="modalita pagamento", list="listaModalitaPagamento", autocomplete="nope")}}'+
                                        '<datalist id="listaModalitaPagamento">'+
                                              {% for modalita in modalitaPagamento %}
                                              '<option value="{{modalita.nome}}"></option>'+
                                              {% endfor %}
                                        '</datalist>'+
                                '</td>'+
                                '<td>'+
                                    '<a id="tipologiaPagamentiBtn" class="modificaPagamenti fa fa-edit"></a>'+
                                    '{{form.tipologiaPagamenti(placeholder="tipologia pagamento", list="listaTipologiaPagamento", autocomplete="nope")}}'+
                                       '<datalist id="listaTipologiaPagamento">'+
                                              {% for tipologia in tipologiaPagamento %}
                                              '<option value="{{tipologia.nome}}"></option>'+
                                              {% endfor %}
                                       '</datalist>'+
                                 '</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th>Tempi di consegna</th>'+
                                '<th></th>'+
                                '<th>Prezzi netti</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.tempiDiConsegna(placeholder="tempi di consegna")}}</td>'+
                                '<td></td>'+
                                '<td>{{form.prezziNetti}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                    '<table class="tableFornitore">'+
                        '<thead class="headFornitore">'+

                            '<tr>'+
                                '<th>Trasporto</th>'+
                                '<th>Imballo</th>'+
                                '<th>Montaggio</th>'+
                            '</tr>'+

                        '</thead>'+
                        '<tbody class="bodyFornitore">'+
                            '<tr>'+
                                '<td>{{form.trasporto(placeholder="costo di trasporto")}} {{form.trasportoUnitaMisura}}</td>'+
                                '<td>{{form.imballo(placeholder="costo di imballo")}} {{form.imballoUnitaMisura}}</td>'+
                                '<td>{{form.montaggio(placeholder="costo di posa")}} {{form.montaggioUnitaMisura}}</td>'+
                            '</tr>'+
                        '</tbody>'+

                    '</table>'+
                '</form>'

            );

            $('#submitFormFornitore').click(function(){
                $('#formFornitore').submit();
            });

            $('#giorniPagamentiBtn').click(function(){

                 var giorniPagamentoOptions=[];
                 $('#listaGiorniPagamento').children().each(function(){
                    giorniPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
                 });



                 swal.withFormAsync({
                    title: 'Modifica/elimina <br/> giorno pagamento',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: false,
                    formFields: [

                      {
                        id: 'select',
                        type: 'select',
                        options: giorniPagamentoOptions

                      },

                     { name: 'modDel', value: 'modifica', type: 'radio' },
                     { name: 'modDel', value: 'elimina', type: 'radio' },


                    ]
                 }).then(function (context) {

                    var giornoSelected=context.swalForm['select'];

                    if(context._isConfirm){

                        if( context.swalForm['modDel'] == 'modifica' ){
                            swal.withFormAsync({
                                title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                 { name: 'toMod', value: giornoSelected, placeholder: 'Modifica campo: ' + giornoSelected },


                                ]
                            }).then(function (context) {
                                if(context._isConfirm){
                                    socketFornitore.emit("modifica_giornoPagamento", { "dip": "{{dipendente.username}}",
                                                   "oldNome": giornoSelected, "newNome": context.swalForm['toMod'] } );

                                }
                            });
                        }
                        else if( context.swalForm['modDel'] == 'elimina' ) {
                             socketFornitore.emit("elimina_giornoPagamento", { "dip": "{{dipendente.username}}",
                                                   "nome": giornoSelected } );
                             swal({
                                title: 'Campo eliminato',
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: true
                             });

                        }


                    }

                 });

            });



            $('#modalitaPagamentiBtn').click(function(){

                 var modalitaPagamentoOptions=[];
                 $('#listaModalitaPagamento').children().each(function(){
                    modalitaPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
                 });



                 swal.withFormAsync({
                    title: 'Modifica/elimina <br/> modalità pagamento',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: false,
                    formFields: [

                      {
                        id: 'select',
                        type: 'select',
                        options: modalitaPagamentoOptions

                      },

                     { name: 'modDel', value: 'modifica', type: 'radio' },
                     { name: 'modDel', value: 'elimina', type: 'radio' },


                    ]
                 }).then(function (context) {

                    var modalitaSelected=context.swalForm['select'];

                    if(context._isConfirm){

                        if( context.swalForm['modDel'] == 'modifica' ){
                            swal.withFormAsync({
                                title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                 { name: 'toMod', value: modalitaSelected, placeholder: 'Modifica campo: ' + modalitaSelected },


                                ]
                            }).then(function (context) {
                                if(context._isConfirm){
                                    socketFornitore.emit("modifica_modalitaPagamento", { "dip": "{{dipendente.username}}",
                                                   "oldNome": modalitaSelected, "newNome": context.swalForm['toMod'] } );

                                }
                            });
                        }
                        else if( context.swalForm['modDel'] == 'elimina' ) {
                             socketFornitore.emit("elimina_modalitaPagamento", { "dip": "{{dipendente.username}}",
                                                   "nome": modalitaSelected } );
                             swal({
                                title: 'Campo eliminato',
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: true
                             });

                        }


                    }

                 });

            });

            $('#tipologiaPagamentiBtn').click(function(){

                 var tipologiaPagamentoOptions=[];
                 $('#listaTipologiaPagamento').children().each(function(){
                    tipologiaPagamentoOptions.push( {value: $(this).attr('value'), text: $(this).attr('value')} );
                 });



                 swal.withFormAsync({
                    title: 'Modifica/elimina <br/> tipologia pagamento',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: false,
                    formFields: [

                      {
                        id: 'select',
                        type: 'select',
                        options: tipologiaPagamentoOptions

                      },

                     { name: 'modDel', value: 'modifica', type: 'radio' },
                     { name: 'modDel', value: 'elimina', type: 'radio' },


                    ]
                 }).then(function (context) {

                    var tipologiaSelected=context.swalForm['select'];

                    if(context._isConfirm){

                        if( context.swalForm['modDel'] == 'modifica' ){
                            swal.withFormAsync({
                                title: 'Apportare le dovute modifiche al campo selezionato e premere ok.',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                 { name: 'toMod', value: tipologiaSelected, placeholder: 'Modifica campo: ' + tipologiaSelected },


                                ]
                            }).then(function (context) {
                                if(context._isConfirm){
                                    socketFornitore.emit("modifica_tipologiaPagamento", { "dip": "{{dipendente.username}}",
                                                   "oldNome": tipologiaSelected, "newNome": context.swalForm['toMod'] } );

                                }
                            });
                        }
                        else if( context.swalForm['modDel'] == 'elimina' ) {
                             socketFornitore.emit("elimina_tipologiaPagamento", { "dip": "{{dipendente.username}}",
                                                   "nome": tipologiaSelected } );
                             swal({
                                title: 'Campo eliminato',
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: true
                             });

                        }


                    }

                 });

            });



        });


        {% if error %}
              swal({
                title: "{{errorMessage}}",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              });
               $('#addFornitore').trigger('click');
        {% endif %}

    </script>
{% endblock %}