{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Scheda Fornitori
            </span>

        </div>

        <div id="tabellaContainer" class="row">

                <table id="prezzario">
                    <thead id="headPrezzario">

                      <tr id="groupHeaderIntestazioneProdotti">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"></th>
                            <th  class="tableIntestazione whiteBorder" colspan="3" data-column="column2">Dati</th>

                            <th  class="tableIntestazione intestazioneOliva" colspan="4" data-column="column5">Rappresentante</th>

                            <th  class="tableIntestazione intestazioneArancio colBigMedium" data-column="column9"> Tempi di consegna</th>
                            <th  class="tableIntestazione intestazioneArancio colBigMedium" data-column="column10">Prezzi netti</th>
                            <th  class="tableIntestazione intestazioneVerde" colspan="3" data-column="column11"> Sconto</th>
                            <th  class="tableIntestazione intestazioneRosso colMedium" data-column="column14"> Trasporto </th>
                            <th  class="tableIntestazione intestazioneBlu" colspan="3" data-column="column15">Pagamenti</th>
                            <th  class="tableIntestazione intestazioneOliva" colspan="4" data-column="column18">Dove</th>

                       </tr>

                       <tr id="headerIntestazioneProdotti">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"><a id="showForm" class="fa fa-plus"></a></th>
                            <th  class="tableIntestazione whiteBorder" colspan="2" data-column="column2">Fornitore</th>

                            <th  class="tableIntestazione whiteBorder"  data-column="column4">Settore merceologico</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column5">Referente</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column6">Recapito</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column7">Email</th>
                            <th  class="tableIntestazione intestazioneOliva colBigMedium" data-column="column8">Stato</th>
                            <th  class="tableIntestazione intestazioneArancio colBigMedium" data-column="column9"> </th>
                            <th  class="tableIntestazione intestazioneArancio colBigMedium" data-column="column10">  </th>
                            <th  class="tableIntestazione  intestazioneVerde colMedium" data-column="column11"> Standard </th>
                            <th  class="tableIntestazione intestazioneVerde colMedium" data-column="column12">Extra 1</th>
                            <th  class="tableIntestazione intestazioneVerde colMedium" data-column="column13">Extra 2</th>

                            <th  class="tableIntestazione intestazioneRosso colMedium" data-column="column14"></th>
                            <th  class="tableIntestazione intestazioneBlu colMedium" data-column="column15">Giorni </th>
                            <th  class="tableIntestazione intestazioneBlu colBigMedium" data-column="column16">Modalità</th>
                            <th  class="tableIntestazione intestazioneBlu colBigMedium" data-column="column17">Tipologia</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column18">Provincia</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column19">Indirizzo</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column20">Telefono</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column21">Sito</th>

                       </tr>

                      <tr id="trIntestazione">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"></th>
                            <th  class="tableIntestazione whiteBorder"  data-column="column2">Primo gruppo</th>
                            <th  class="tableIntestazione whiteBorder"  data-column="column3">Sotto gruppo</th>
                            <th  class="tableIntestazione whiteBorder"  data-column="column4"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column5"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column6">Telefono</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column7"></th>
                            <th  class="tableIntestazione intestazioneOliva colBigMedium" data-column="column8"> </th>
                            <th  class="tableIntestazione intestazioneArancio colBigMedium " data-column="column9"> </th>
                            <th  class="tableIntestazione intestazioneArancio colBigMedium" data-column="column10">  </th>
                            <th  class="tableIntestazione  intestazioneVerde colMedium" data-column="column11">  </th>
                            <th  class="tableIntestazione intestazioneVerde colMedium" data-column="column12"></th>
                            <th  class="tableIntestazione intestazioneVerde colMedium" data-column="column13"></th>

                            <th  class="tableIntestazione intestazioneRosso colMedium" data-column="column14"></th>
                            <th  class="tableIntestazione intestazioneBlu colMedium" data-column="column15"> </th>
                            <th  class="tableIntestazione intestazioneBlu colBigMedium" data-column="column16"></th>
                            <th  class="tableIntestazione intestazioneBlu colBigMedium" data-column="column17"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column18"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column19"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column20"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column21"></th>
                        </tr>
                        <tr id="trForm">
                            <th  class="tableForm intestazionePino" data-column="column1"><a id="hideForm" class="fa fa-angle-double-up"></a><button  id="registraFornitore" class="buttonPrezzario" type="button">Inserisci</button></th>
                            <th  class="tableForm whiteBorder"  data-column="column2"><input id="primoGruppoInput" type="text" name="primoGruppo" placeholder="primo gruppo" value=""> </th>
                            <th  class="tableForm whiteBorder" data-column="column3"><input id="sottoGruppoInput" type="text" name="sottoGruppo" placeholder="sotto gruppo" value=""> </th>
                            <th  class="tableForm whiteBorder" data-column="column4"><input id="settoreMerceInput" type="text" name="settoreMerce" placeholder="settore" value=""> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column5"><input id="referenteInput" type="text" name="referente" placeholder="referente" value=""> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column6"><input id="telReferenteInput" type="tel" name="telReferente" placeholder="telefono referente"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column7"><input id="emailReferenteInput" type="email" name="emailReferente" placeholder="email referente"> </th>
                            <th  class="tableForm intestazioneOliva colBigMedium" data-column="column8">
                                 <select id="selectTempiConsegna">
                                    <option> Collabora </option>
                                    <option> Potenziale </option>
                                </select>

                            </th>
                            <th  class="tableForm intestazioneArancio colBigMedium" data-column="column9">
                                <select id="selectStatoRappresentante">
                                    <option> 30 </option>
                                    <option> 30/60 </option>
                                    <option> 30/60/90 </option>
                                    <option> 60 </option>
                                    <option> 60/90 </option>
                                    <option> 60/90/120 </option>
                                    <option> 90 </option>
                                    <option> 90/120 </option>
                                    <option> 120 </option>
                                </select> gg
                            </th>
                            <th  class="tableForm intestazioneArancio colBigMedium" data-column="column10">

                                <select id="selectPrezziNetti">
                                    <option> Sì </option>
                                    <option> No </option>
                                </select>

                            </th>
                            <th  class="tableForm intestazioneVerde colMedium" data-column="column11"><input class="numberInput"  id="scontoStandardInput" type="number" name="scontoStandard" placeholder="standard" value="0"> % </th>
                            <th  class="tableForm intestazioneVerde colMedium" data-column="column12"><input class="numberInput"  id="extra1Input" type="number" name="scontoEx1" placeholder="extra 1" value="0"> % </th>
                            <th  class="tableForm intestazioneVerde colMedium" data-column="column13"><input class="numberInput"  id="extra2Input" type="number" name="scontoEx2" placeholder="extra 2" value="0"> % </th>
                            <th  class="tableForm intestazioneRosso colMedium" data-column="column14"><input class="numberInput" id="trasportoUnitaInput" type="number" name="trasportoUnita" placeholder="trasporto unita" value="0">
                                    <select id="selectUnitaMisuraTrasporto">
                                        <option>%</option>
                                        <option>cad</option>
                                    </select>
                            </th>
                            <th  class="tableForm intestazioneBlu colMedium" data-column="column15">
                               <select id="selectGiorniPagamento">
                                    <option> 30 </option>
                                    <option> 30/60 </option>
                                    <option> 30/60/90 </option>
                                    <option> 60 </option>
                                    <option> 60/90 </option>
                                    <option> 60/90/120 </option>
                                    <option> 90 </option>
                                    <option> 90/120 </option>
                                    <option> 120 </option>
                                </select>
                            </th>
                            <th  class="tableForm intestazioneBlu colBigMedium" data-column="column16">

                                <select id="selectModalitaPagamento">
                                    <option> RIBA DF </option>
                                    <option> RIBA FM </option>
                                    <option> RD titoli allo scarico </option>
                                    <option> RD DF </option>
                                </select>
                            </th>

                            <th  class="tableForm intestazioneBlu colBigMedium" data-column="column17">


                                <select id="selectTipologiaPagamenti">
                                    <option> DISTRIBUTORE </option>
                                    <option> RIVENDITORE </option>
                                    <option> PRODUTTORE </option>
                                </select>
                            </th>
                            <th  class="tableForm intestazioneOliva" data-column="column18"><input id="doveProvinciaInput" type="text" name="doveProvincia" placeholder="provincia"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column19"><input id="doveIndirizzoInput" type="text" name="doveIndirizzo" placeholder="indirizzo"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column20"><input id="doveTelInput" type="tel" name="doveTel" placeholder="telefono"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column21"><input id="doveSitoInput" type="url" name="doveSito" placeholder="sito"> </th>


                        </tr>
                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>


                </table>
        </div>

    </div>

   <script>

            /*Aggiungo funzionalità ai bottoni visualizza/nascondi form*/
            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
                $(showForm).addClass('fa');
                $(showForm).addClass('fa-plus');
                $('#bodyPrezzario').css('height', '88%');

            });

            $('#showForm').click(function(){
                $('#trForm').show();
                $(this).removeClass('fa');
                $(this).removeClass('fa-plus');
                $('#bodyPrezzario').css('height', '81%');

            });


            //funzione che inserisce nel #bodyPrezzario il sibolo "-" al posto di valori numerici nulli
            function stampaValore(valore, colonna, unita,   classValues){
                console.log("almeno qua " + unita);
                 var where="column"+colonna

                 if( valore == 0 )
                    return '<td  class="'+ classValues +'" data-column="'+where+'"> - </td>';
                 else if( unita == "cad" ){
                     console.log("entrato!");
                     return '<td  class="'+ classValues +'" data-column="'+where+'"> &euro; '+ valore +' cad </td>';

                 }
                 else
                    if( unita == "%" )
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ valore  + ' ' + unita + '</td>';
                    else
                     return '<td  class="'+ classValues +'" data-column="'+where+'">'+ unita + ' ' + valore  +'</td>';


            }


            //codice per riempire il #bodyPrezzario
            {% for fornitorePrimoGruppo in listaFornitoriPrimoGruppo %}
                    var rappresentantiStr="";

                    {% for fornitoreSottoGruppo in listaFornitoriSottoGruppo %}
                        {% if fornitoreSottoGruppo.gruppo_azienda == fornitorePrimoGruppo.nome_gruppo %}


                            {% for rappresentante in listaRappresentanti %}
                                {% if rappresentante.azienda == fornitorePrimoGruppo %}
                                    rappresentantiStr = '<td  data-column="column5">{{rappresentante.nome}}</td>'+
                                                        '<td  data-column="column6">{{rappresentante.telefono}}</td>'+
                                                        '<td  data-column="column7">{{rappresentante.email}}</td>'+
                                                        '<td  class="colBigMedium" data-column="column8">{{rappresentante.stato}}</td>';
                                {% else %}
                                    rappresentantiStr = '<td  data-column="column5"></td>'+
                                        '<td  data-column="column6"></td>'+
                                        '<td  data-column="column7"></td>'+
                                        '<td  class="colBigMedium" data-column="column8"></td>';

                                {% endif %}
                            {% endfor %}


                            {% if fornitoreSottoGruppo.daVerificare %}
                                var classiTr="rowBodyTab daVerificare" ;
                                var inputToVer='<input class="toVerify" type="checkbox"  checked="checked">';
                            {% else %}
                                var classiTr="rowBodyTab";
                                var inputToVer='<input class="toVerify" type="checkbox" >';
                            {% endif %}

                            $("#bodyPrezzario").append(
                                  '<tr class="'+ classiTr +'">'+
                                    '<td class="controlCol" data-column="column1"></td>'+
                                    '<td  class="rowPrimoGruppo" colspan="3" data-column="column2">{{fornitorePrimoGruppo.nome_gruppo}}</td>'+
                                    rappresentantiStr +
                                    '<td colspan="13" data-column="column9"></td>'+
                                  '</tr>'+
                                  '<tr class="'+ classiTr +'">'+
                                        '<td class="controlCol" data-column="column1">'+

                                              '<div class="iconsDiv row">'+
                                                  '<div class="col-md-4 iconContainer firstIconContainer" >'+
                                                    '<a class="fa fa-trash iconsTab delFornitore"></a>'+
                                                  '</div>'+
                                                  '<div class="col-md-4 iconContainer">'+
                                                    '<a  class="fa fa-edit iconsTab modFornitore"></a>'+
                                                  '</div>'+
                                                  '<div class="col-md-4 iconContainer">'+
                                                    '<a  class="fa fa-warning iconsTab segnalaFornitore"></a>'+
                                                  '</div>'+
                                              '</div>'+

                                        '</td>'+

                                        '<td  data-column="column2"></td>'+
                                        '<td  data-column="column3">{{fornitoreSottoGruppo.nome}}</td>'+
                                        '<td  data-column="column4">{{fornitoreSottoGruppo.settoreMerceologico}}</td>'+
                                        '<td  data-column="column5"></td>'+
                                        '<td  data-column="column6"></td>'+
                                        '<td  data-column="column7"></td>'+
                                        '<td   class="colBigMedium" data-column="column8"></td>'+
                                        '<td   class="colBigMedium" data-column="column9">{{fornitoreSottoGruppo.tempiDiConsegna}}</td>'+
                                        '<td   class="colBigMedium" data-column="column10">{{fornitoreSottoGruppo.prezziNetti}}</td>'+
                                        '<td   class="colMedium"    data-column="column11">{{fornitoreSottoGruppo.scontoStandard}} %</td>'+
                                        '<td   class="colMedium"    data-column="column12">{{fornitoreSottoGruppo.scontoExtra1}} %</td>'+
                                        '<td   class="colMedium"    data-column="column13">{{fornitoreSottoGruppo.scontroExtra2}} %</td>'+

                                        stampaValore("{{fornitoreSottoGruppo.trasporto}}", 14,
                                                         "{{fornitoreSottoGruppo.trasportoUnitaMisura}}", "colMedium" ) +
                                        '<td  class="colMedium" data-column="column15">{{fornitoreSottoGruppo.giorniPagamenti}} gg</td>'+
                                        '<td  class="colBigMedium" data-column="column16">{{fornitoreSottoGruppo.modalitaPagamenti}}</td>'+
                                        '<td  class="colBigMedium" data-column="column17">{{fornitoreSottoGruppo.tipologiaPagamenti}}</td>'+
                                        '<td   data-column="column18">{{fornitoreSottoGruppo.provincia}}</td>'+

                                        '<td   data-column="column19">{{fornitoreSottoGruppo.indirizzo}}</td>'+
                                        '<td   data-column="column20">{{fornitoreSottoGruppo.telefono}}</td>'+
                                        '<td   data-column="column21">{{fornitoreSottoGruppo.sito}}</td>'+

                                  '</tr>'
                            );

                        {% endif %}

                    {% endfor %}

            {% endfor %}

   </script>


    <script>

        var rappresentanteDaRegistrare = false;

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketFornitore= io.connect("{{sockUrl}}"+'/fornitore');


        socketFornitore.on('aggiornaPagina', function() {
            location.reload();

        });

        socketFornitore.on('rigaPresente', function(message) {

              swal({
                title: message['who'] + ' inserito è già presente',
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                closeOnConfirm: true

              })


        });

        socketFornitore.on('regRappresentante', function() {
            console.log("dai ci siamo");
            if( rappresentanteDaRegistrare ){

                var inputOfFornitori =  [];
                var selectOfFornitori = [];



                $("#trForm input").each(function(index){
                    inputOfFornitori.push($(this).val());

                });

                $("#trForm select").each(function(index){
                    selectOfFornitori.push($(this).val());

                });

                rappresentanteDaRegistrare = false;
                 socketFornitore.emit("registra_referente", { "dip": "{{dipendente.username}}",
                                                   "nome": inputOfFornitori[3], "azienda": inputOfFornitori[0],
                                                   "telefono": inputOfFornitori[4], "email": inputOfFornitori[5], "stato": selectOfFornitori[0],} );

            }
        });

        //variabili globale per il meccanismo di modifica delle lavorazioni
        var modificaAttiva=false;
        var oldFornitore_PrimoG ="";
        var oldFornitore_SottoG="";


        /*funzione lanciata all'evento click del pulsante "inserisci fornitore"*/

       $('#registraFornitore').click( function() {


            if(modificaAttiva)
            {
                titleTxt="Si sta per modificare una voce fornitore già presente";
            }else
                titleTxt='Si sta per aggiungere una nuovo fornitore';

          swal({
            title: titleTxt,
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var inputOfFornitori =  [];
                        var selectOfFornitori = [];



                        $("#trForm input").each(function(index){
                            inputOfFornitori.push($(this).val());

                        });

                        $("#trForm select").each(function(index){
                            selectOfFornitori.push($(this).val());

                        });

                         //se non è stato impostato il referente
                         if( inputOfFornitori[3] == "" )
                            rappresentanteDaRegistrare=false;
                         else
                            rappresentanteDaRegistrare=true;


                         //se non è stato impostato il gruppo del fornitore non fare nulla
                        if( inputOfFornitori[0] == "" )
                            return;
                        else
                            socketFornitore.emit("registra_fornitore", { "dip": "{{dipendente.username}}", "nome":  inputOfFornitori[0] })

                        if(!modificaAttiva){



                            socketFornitore.emit("registra_gruppoFornitore", { "dip": "{{dipendente.username}}",
                                                                            "rappresentante": rappresentanteDaRegistrare,
                                                                           "gruppo_azienda": inputOfFornitori[0], "nome": inputOfFornitori[1],
                                                                           "settore_merceologico" : inputOfFornitori[2],
                                                                            "tempi_consegna": selectOfFornitori[1], "prezziNetti": selectOfFornitori[2],
                                                                            "scontoStandard": inputOfFornitori[6], "scontoExtra1": inputOfFornitori[7],
                                                                             "scontroExtra2": inputOfFornitori[8], "trasporto" : inputOfFornitori[9],
                                                                             "trasportoUnitaMisura": selectOfFornitori[3], "giorniPagamenti": selectOfFornitori[4],
                                                                              "modalitaPagamenti": selectOfFornitori[5], "tipologiaPagamenti": selectOfFornitori[6],
                                                                              "provincia": inputOfFornitori[10], "indirizzo": inputOfFornitori[11], "telefono": inputOfFornitori[12],
                                                                              "sito": inputOfFornitori[13] });


                        }
                        else{
                             socketFornitore.emit("modifica_fornitore", { "dip": "{{dipendente.username}}", "oldFornitore" : oldFornitore, "oldFornitore_SottoG" : oldFornitore_SottoG,
                                                                           "primo_gruppo": inputOfFornitori[0], "sotto_gruppo": inputOfFornitori[1],
                                                                           "settore_merceologico" : inputOfFornitori[2],
                                                                            "tempi_consegna": selectOfFornitori[1], "prezziNetti": selectOfFornitori[2],
                                                                            "scontoStandard": inputOfFornitori[6], "scontoExtra1": inputOfFornitori[7],
                                                                             "scontroExtra2": inputOfFornitori[8], "trasporto" : inputOfFornitori[9],
                                                                             "trasportoUnitaMisura": selectOfFornitori[3], "giorniPagamenti": selectOfFornitori[4],
                                                                              "modalitaPagamenti": selectOfFornitori[5], "tipologiaPagamenti": selectOfFornitori[6],
                                                                              "provincia": inputOfFornitori[10], "indirizzo": inputOfFornitori[11], "telefono": inputOfFornitori[12],
                                                                              "sito": inputOfFornitori[13] });


                        }

                  }



          })
       });

    </script>



{% endblock %}