{% extends "paginaBase.html" %}

{% block content %}

    <div id="headerNewRow">
        <div id="tabellaContainerNewRow1">
            <table class="tabella">
                <tr class="sezioneTabella dimensionaTabella newRow">
                    <th class="primaCol"><a id="regNewRow" class="fa fa-check primaColIcon"></a><a id="delNewRow" class="fa fa-close primaColIcon"></a></th>
                    <th class="secondaCol" colspan="6">
                        <label>Selezionare/digitare l'impiego dell'artigiano: </label>
                        <input id="impostaImpieghi" list="listaImpieghi" class="inputScheda" placeholder="impiego artigiano..">
                    </th>
                </tr>
                <tr class="headerTabella dimensionaTabella newRow">
                    <th class="primaCol"></th>
                    <th > Nominativo </th>
                    <th class="numCell"> Valutazione </th>
                    <th> Contatti 1 </th>
                    <th> Contatti 2 </th>
                    <th> Email </th>
                    <th> Note </th>
                </tr>
                 <tr class="datiScheda dimensionaTabella newRow">
                    <td class="primaCol"></td>
                    <td class="nominativo no_cursor">
                        <input class="inputScheda" value="" placeholder="tipologia lavorazione..." >
                    </td>
                    <td class="valutazione no_cursor numCell">
                        <input class="inputScheda inputNum" type="number" value=0 >
                    </td>
                    <td class="contatti1 no_cursor">
                        <input class="inputScheda" value="" placeholder="contatti 1..." >
                    </td>
                    <td class="contatti2 no_cursor">
                        <input class="inputScheda" value="" placeholder="contatti 2..." >
                    </td>
                    <td class="email no_cursor">
                        <input class="inputScheda" value="" placeholder="email..." >
                    </td>
                    <td class="note no_cursor">
                        <textarea class="inputScheda" value="" placeholder="note..." ></textarea>
                    </td>
                 </tr>

            </table>
        </div>
    </div>

    <div id="page-wrapper">

        <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

        <div id="schedaArtigiani" class="scheda">

            <div class="fc-toolbar fc-header-toolbar filterZoneScheda">
                <div id="openCloseFilterSearch"><a class="fa fa-angle-double-up"></a></div>
                <div id="filtersContainer">
                    <div class="containerTitle"><h2>Filtri di Ricerca</h2></div>
                    <div id="filters">
                        <div class="filterInputContainer mansioni">
                            <input id="filtraImpieghi" list="listaImpieghi" autocomplete="off" class="filterInput" placeholder="Selezionare l'impiego...">

                        </div>

                        <div class="filterInputContainer artigiani">
                            <input id="filtraArtigiani" list="listArtigiani" autocomplete="off" class="filterInput" placeholder="Selezionare l'artigiano...">

                        </div>
                    </div>
                </div>
                <div class="delModLists headerSection">
                    <div class="containerTitle"><h2>Modifica/cancella</h2></div>
                    <div class="filterInputContainer">
                        <label for="modDelImpiego">Impieghi</label><br/>
                        <select id="modDelImpiego" class="delModList">
                            {% for impiego in impieghi %}

                                <option>{{impiego.nome}}</option>

                            {% endfor %}
                        </select>
                        <a class="fa fa-edit editLista iconLista"></a>
                        <a class="fa fa-trash delLista iconLista"></a>

                    </div>
                </div>



            </div>

            <div id="headerTableContainer_1">
                 <div id="divHeaderTabella">
                    <table class="tabella">
                        <tr class="headerDelHeader dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="6" class="secondaCol"></th>

                        </tr>
                        <tr class="headerTabella dimensionaTabella">
                            <th class="primaCol"><a class="fa fa-plus" id="addRow"></a></th>
                            <th class="normal_string"> Nominativo </th>
                            <th class="numCellBig"> Valutazione </th>
                            <th class="normal_string"> Contatti 1 </th>
                            <th class="normal_string"> Contatti 2 </th>
                            <th class="normal_string"> Email </th>
                            <th class="note"> Note </th>

                        </tr>
                    </table>
                 </div>
            </div>

            <div class="fc-view-container viewContainer">
                <div id="tabellaContainer">
                    <table class="tabella">

                       <!--  <tr class="sezioneTabella dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="7">Impiego: idraulico</th>
                        </tr>
                        <tr class="datiScheda dimensionaTabella">
                            <td class="primaCol"><a class="fa fa-trash primaColIcon"></a></td>
                            <td><label class="cellaDato">Beghini Marco</label><input style="display:none" class="inputScheda" value="Beghini Marco" placeholder="nome artigiano..." ></td>
                            <td><label class="cellaDato">3</label><input style="display:none" type="number" class="inputScheda" value="3" placeholder="valutazione artigiano..." ></td>
                            <td><label class="cellaDato">328 9773545</label><input style="display:none" type="tel" class="inputScheda" value="328 9773545" placeholder="contatto 1..." ></td>
                            <td><label class="cellaDato"></label><input style="display:none" type="tel" class="inputScheda" value="Beghini Marco" placeholder="contatto 2..." ></td>
                            <td><label class="cellaDato">termoidraula@gmail.com</label><input style="display:none" type="email" class="inputScheda" value="termoidraula@gmail.com" placeholder="email artigiano..." ></td>
                            <td><label class="cellaDato"></label><input style="display:none" class="inputScheda" value="" placeholder="nome artigiano..." ></td>

                        </tr> -->
                    </table>

                </div>
            </div>
        </div>

        <datalist id="listaImpieghi">
            {% for impiego in impieghi %}
                <option>{{impiego.nome}}</option>
            {% endfor %}
        </datalist>

        <datalist id="listArtigiani">
        </datalist>
    </div>

    <script>

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketArtigiani = io.connect("{{sockUrl}}"+'/artigiani');


        $('.iconLista').click(function(){

            var $selectEl=$(this).parent().children('select');
            var selectedVal=$(this).parent().children('select').val();
            var lista=$(this).parent().children('select').attr('id');

            if( $(this).hasClass('editLista') ){

                swal.withFormAsync({
                    title: 'Modifica valore "'+selectedVal+'"',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', value: selectedVal},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){
                      $selectEl.children('option').each(function(){
                        if($(this).val() == selectedVal ){
                            $(this).val(context.swalForm['valore'] );
                            $(this).text(context.swalForm['valore']);
                        }
                      });

                      $('#listaImpieghi').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text('');
                            }
                      });


                      $('#tabellaContainer tbody.'+selectedVal).each(function(){
                        $(this).children('tr.sezioneTabella').children('.secondaCol').text('Impiego: '+context.swalForm['valore']);
                      });


                      $('tbody.'+selectedVal).each(function(){
                        $(this).removeClass(selectedVal);
                        $(this).addClass(context.swalForm['valore'])
                      });




                      socketArtigiani.emit('modifica_impiego', {'oldNome': selectedVal, 'newNome': context.swalForm['valore']});
                    }

                });


            }
            else if( $(this).hasClass('delLista') ){
                swal({
                    title: 'Stai per eliminare "'+selectedVal+'" e i relativi artigiani',
                    text: 'vuoi continuare?',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,

                }, function(isConfirm){
                    if( isConfirm ){

                        $selectEl.children('option').each(function(){

                            if($(this).val() == selectedVal )
                                $(this).remove();
                        });

                        $('#listaImpieghi').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });

                        $('tbody.'+selectedVal).each(function(){
                            $(this).remove();
                        });

                        socketArtigiani.emit('elimina_impiego', {'nome': selectedVal});

                    }


                });

            }
        });


        $('#regNewRow').click(function(){

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $impiego = $sezioneTabella1.children('th.primaCol').next('th').children('input');
            var $nominativo = $datiScheda1.children('td.nominativo').children('input');
            var $valutazione = $datiScheda1.children('td.valutazione').children('input');
            var $contatti1 = $datiScheda1.children('td.contatti1').children('input');
            var $contatti2 = $datiScheda1.children('td.contatti2').children('input');
            var $email = $datiScheda1.children('td.email').children('input');
            var $note = $datiScheda1.children('td.note').children('textarea');

            if( $impiego.val() == "" ){
                swal({
                    title: 'Il campo "impiego" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            if( $nominativo.val() == "" ){
                swal({
                    title: 'Il campo "nominativo" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }


            socketArtigiani.emit('registra_artigiano', {
                'dip' : '{{dipendente.username}}',
                'impiego' : $impiego.val(),
                'nominativo' : $nominativo.val(),
                'valutazione' : $valutazione.val(),
                'contatti1' : $contatti1.val(),
                'contatti2' : $contatti2.val(),
                'email' : $email.val(),
                'note' : $note.val()

            });



        });

        socketArtigiani.on('confermaRegistrazioneArtigiano', function(){

            aggiungiRiga('{{dipendente.username}}');

            pulisciHeaderNewRow();

        });

        {% for artigiano in artigiani %}

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');

            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');


            $sezioneTabella1.children('th.primaCol').next('th').children('input').val('{{artigiano.impiego}}');

            $datiScheda1.children('td.nominativo').children('input').val('{{artigiano.nominativo}}');
            $datiScheda1.children('td.valutazione').children('input').val('{{artigiano.valutazione}}');
            $datiScheda1.children('td.contatti1').children('input').val('{{artigiano.contatti1}}');
            $datiScheda1.children('td.contatti2').children('input').val('{{artigiano.contatti2}}');
            $datiScheda1.children('td.email').children('input').val('{{artigiano.email}}');
            $datiScheda1.children('td.note').children('textarea').val('{{artigiano.note}}');

            var $riga= aggiungiRiga('{{dipendente.username}}');

            $riga.children('td.primaCol').children('div').children('span.{{artigiano.colore}}').trigger('click');

            pulisciHeaderNewRow();


        {% endfor %}





    </script>
{% endblock%}