{% extends "paginaBase.html" %}

{% block content %}

    <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/static/headerAndForm/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>



    <div id="paginaPrezzario">

        <div id="divIntestazione" class="row">
            <span class="contact100-form-title">
               Scheda Fornitori
            </span>

        </div>

        <div id="tabellaContainer" class="row">


                <table id="prezzario">
                    <thead id="headPrezzario">

                      <tr id="groupHeaderIntestazioneProdotti">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"></th>
                            <th  class="tableIntestazione" colspan="3" data-column="column2">Dati</th>

                            <th  class="tableIntestazione intestazioneOliva" colspan="3" data-column="column5">Rappresentante</th>
                            <th  class="tableIntestazione intestazioneNocciola" data-column="column8">Stato</th>
                            <th  class="tableIntestazione intestazioneArancio" data-column="column9"> Tempi di consegna</th>
                            <th  class="tableIntestazione intestazioneArancio" data-column="column10">Prezzi netti</th>
                            <th  class="tableIntestazione intestazioneVerde" colspan="3" data-column="column11"> Sconto</th>
                            <th  class="tableIntestazione intestazioneRosso" data-column="column14"> Trasporto Unità </th>
                            <th  class="tableIntestazione intestazioneBlu" colspan="3" data-column="column15">Pagamenti</th>
                            <th  class="tableIntestazione intestazioneOliva" colspan="4" data-column="column18">Dove</th>

                       </tr>

                       <tr id="headerIntestazioneProdotti">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"><a id="showForm" class="fa fa-plus"></a></th>
                            <th  class="tableIntestazione" colspan="2" data-column="column2">Fornitore</th>

                            <th  class="tableIntestazione "  data-column="column4">Settore merceologico</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column5">Referente</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column6">Recapito</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column7">Email</th>
                            <th  class="tableIntestazione intestazioneNocciola" data-column="column8"> </th>
                            <th  class="tableIntestazione intestazioneArancio " data-column="column9"> </th>
                            <th  class="tableIntestazione intestazioneArancio" data-column="column10">  </th>
                            <th  class="tableIntestazione  intestazioneVerde" data-column="column11"> Standard </th>
                            <th  class="tableIntestazione intestazioneVerde" data-column="column12">Extra 1</th>
                            <th  class="tableIntestazione intestazioneVerde" data-column="column13">Extra 2</th>

                            <th  class="tableIntestazione intestazioneRosso" data-column="column14"></th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column15">Giorni </th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column16">Modalità</th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column17">Tipologia</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column18">Provincia</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column19">Indirizzo</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column20">Telefono</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column21">Sito</th>

                       </tr>

                      <tr id="trIntestazione">
                            <th  class="tableIntestazione intestazionePino" data-column="column1"></th>
                            <th  class="tableIntestazione"  data-column="column2">Primo gruppo</th>
                            <th  class="tableIntestazione"  data-column="column3">Sotto gruppo</th>
                            <th  class="tableIntestazione "  data-column="column4"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column5"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column6">Telefono</th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column7"></th>
                            <th  class="tableIntestazione intestazioneNocciola" data-column="column8"> </th>
                            <th  class="tableIntestazione intestazioneArancio " data-column="column9"> </th>
                            <th  class="tableIntestazione intestazioneArancio" data-column="column10">  </th>
                            <th  class="tableIntestazione  intestazioneVerde" data-column="column11">  </th>
                            <th  class="tableIntestazione intestazioneVerde" data-column="column12"></th>
                            <th  class="tableIntestazione intestazioneVerde" data-column="column13"></th>

                            <th  class="tableIntestazione intestazioneRosso" data-column="column14"></th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column15"> </th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column16"></th>
                            <th  class="tableIntestazione intestazioneBlu" data-column="column17"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column18"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column19"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column20"></th>
                            <th  class="tableIntestazione intestazioneOliva" data-column="column21"></th>
                        </tr>
                        <tr id="trForm">
                            <th  class="tableForm intestazionePino" data-column="column1"><a id="hideForm" class="fa fa-angle-double-up"></a><button  onclick="registraLavorazione()" class="buttonPrezzario" type="button">Inserisci</button></th>
                            <th  class="tableForm"  data-column="column2"><input id="primoGruppoInput" type="text" name="primoGruppo" placeholder="primo gruppo"></th>
                            <th  class="tableForm" data-column="column3"><input id="sottoGruppoInput" type="text" name="sottoGruppo" placeholder="sotto gruppo"> </th>
                            <th  class="tableForm " data-column="column4"><input id="settoreMerceInput" type="text" name="settoreMerce" placeholder="settore"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column5"><input id="referenteInput" type="text" name="referente" placeholder="referente"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column6"><input id="telReferenteInput" type="tel" name="telReferente" placeholder="telefono referente"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column7"><input id="emailReferenteInput" type="email" name="emailReferente" placeholder="email referente"> </th>
                            <th  class="tableForm intestazioneNocciola" data-column="column8"><input id="statoInput" type="text" name="stato" placeholder="stato"> </th>
                            <th  class="tableForm intestazioneArancio" data-column="column9"><input id="tempiConsegnaInput" type="text" name="tempiConsegna" placeholder="tempi consegna"> </th>
                            <th  class="tableForm intestazioneArancio" data-column="column10"><input id="prezziNettiInput" type="text" name="prezziNetti" placeholder="prezzi netti"> </th>
                            <th  class="tableForm intestazioneVerde" data-column="column11"><input id="scontoStandardInput" type="number" name="scontoStandard" placeholder="standard" value="0"> </th>
                            <th  class="tableForm intestazioneVerde" data-column="column12"><input id="extra1Input" type="number" name="scontoEx1" placeholder="extra 1" value="0"> </th>
                            <th  class="tableForm intestazioneVerde" data-column="column13"><input id="extra2Input" type="number" name="scontoEx2" placeholder="extra 2" value="0"> </th>
                            <th  class="tableForm intestazioneRosso" data-column="column14"><input id="trasportoUnitaInput" type="number" name="trasportoUnita" placeholder="trasporto unita" val="0"> </th>
                            <th  class="tableForm intestazioneBlu" data-column="column15"><input id="pagamamentiGiorniInput" type="date" name="pagamentiGiorni" placeholder="giorni"> </th>
                            <th  class="tableForm intestazioneBlu" data-column="column16"><input id="pagamentiModalitaInput" type="text" name="pagamentiModalita" placeholder="modalita"> </th>

                            <th  class="tableForm intestazioneBlu" data-column="column17"><input id="pagamentiTipologiaInput" type="text" name="pagamentiTipologia" placeholder="tipologia"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column18"><input id="doveProvinciaInput" type="text" name="doveProvincia" placeholder="provincia"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column19"><input id="doveIndirizzoInput" type="text" name="doveIndirizzo" placeholder="indirizzo"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column20"><input id="doveTelInput" type="tel" name="doveTel" placeholder="telefono"> </th>
                            <th  class="tableForm intestazioneOliva" data-column="column21"><input id="doveSitoInput" type="url" name="doveSito" placeholder="sito"> </th>


                        </tr>
                    </thead>
                    <tbody id="bodyPrezzario">
                 <!--  <tr>
                        <td colspan="2" data-column="column1">C'era una volta un re seduto su un sofa che disse al</td>
                    </tr>-->


                    </tbody>


                </table>

        </div>

    </div>

   <script>
           /* console.log("il settore selezionato è: {{settoreToSel}}");*/

           //Script necessario per renderizzare corretamente il tag select di "settore"
            $.getScript("{{url_for('static', filename='form/js/main.js')}}");

            /*Aggiungo funzionalità ai bottoni visualizza/nascondi form*/
            $('#trForm').hide();

            $('#hideForm').click(function(){
                $('#trForm').hide();
                $(showForm).addClass('fa');
                $(showForm).addClass('fa-plus');
                $('#bodyPrezzario').css('height', '88%');

            });

            $('#showForm').click(function(){
                $('#trForm').show();
                $(this).removeClass('fa');
                $(this).removeClass('fa-plus');
                $('#bodyPrezzario').css('height', '81%');

            });

            //codice per riempire il #bodyPrezzario
            {% for lavorazione in lavorazioni %}
                console.log("{{lavorazione.tipologia_lavorazione}}");
                if( "{{lavorazione.settore}}" == $("#settoriDisponibili").val()) {

                    {% if lavorazione.daVerificare %}
                        var classiTr="rowBodyTab daVerificare" ;
                        var inputToVer='<input class="toVerify" type="checkbox"  checked="checked">';
                    {% else %}
                        var classiTr="rowBodyTab";
                        var inputToVer='<input class="toVerify" type="checkbox" >';

                    {% endif %}

                    $("#bodyPrezzario").append(
                          '<tr class="'+ classiTr +'">'+
                                '<td class="controlCol" data-column="column1">'+

                                      '<div class="iconsDiv row">'+
                                          '<div class="col-md-4 iconContainer firstIconContainer" >'+
                                            '<a class="fa fa-trash iconsTab delLavorazione"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-edit iconsTab modLavorazione"></a>'+
                                          '</div>'+
                                          '<div class="col-md-4 iconContainer">'+
                                            '<a  class="fa fa-warning iconsTab segnalaLavorazione"></a>'+
                                          '</div>'+
                                      '</div>'+

                                '</td>'+
                                '<td class="doubleCol firstCol tipologia tdToLeft" colspan="2" data-column="column2">{{lavorazione.tipologia_lavorazione}}</td>'+

                                '<td  data-column="column4">{{lavorazione.pertinenza}}</td>'+
                                '<td class="numColSmall" data-column="column5">{{lavorazione.unitaMisura}}</td>'+
                                '<td class="numColSmall" data-column="column6">&euro; {{lavorazione.fornitura}} </td>'+
                                '<td class="numColSmall" data-column="column7">&euro; {{lavorazione.posa}}  </td>'+
                                '<td  class="numColMedium" data-column="column8">&euro; {{lavorazione.costo}} </td>'+
                                '<td  class="numColSmall" data-column="column9">&euro; {{lavorazione.prezzoMin}} </td>'+
                                '<td  class="numColSmall" data-column="column10">&euro; {{lavorazione.prezzoMax}} </td>'+
                                '<td  data-column="column11">{{lavorazione.dimensione}}</td>'+
                                '<td  class="noteColumn"  colspan="2" data-column="column12"> {{lavorazione.note}}</td>'+
                               /* '<td  class="controlCol" data-column="column13">'+*/


                               '</td>'+

                           '</tr>'
                    );
                }
            {% endfor %}

           /*Codice per aggiungere il cancella e il modifica alle opzioni del select #settoriDisponibili */

          var firstTime = true;


          $('#selectSettori').click(function(){

               if($('#dropDownSettori').children().length > 0) {
                    if( firstTime )
                    {
                        firstTime = false;
                        $('.select2-results').addClass('resizedResults');

                        $('.select2-dropdown').addClass('dropDownEffettivo');


                        $('.select2-dropdown').append(
                            '<span class="delModResults"><ul class="controlSelectUl"></ul></span>'
                        );

                        $('ul.select2-results__options').addClass('togliOverflowUlSelect');

                        $('.select2-results li').each(function(){


                                $('.delModResults ul').append(

                                    '<li val="'+$(this).text() +'" class="controlSelectLi"><a class="fa fa-trash delSettore" ></a><a class="fa fa-edit leftIcon modSettore" ></a></li>'
                                );


                        });


                        $('.modSettore').click(function() {

                              var oldNome=$(this).parent().attr('val');

                              swal.withForm({
                                title: 'Modifica nome settore',
                                text: 'Inserire il nome modificato: ',
                                showCancelButton: true,
                                confirmButtonColor: '#DD6B55',
                                confirmButtonText: 'Ok',
                                cancelButtonText: 'annulla',
                                closeOnConfirm: true,
                                formFields: [

                                  { id: 'newSettore', placeholder: 'Inserire il nome del nuovo settore', value: oldNome }


                                ]
                              }, function (isConfirm) {

                                      if (isConfirm) {
                                            var form=this.swalForm
                                            socketPrezzario.emit("registra_settore",
                                               { 'dip': '{{dipendente.username}}', 'settore': form['newSettore'] });

                                      }

                              })

                        });

                        $('.delSettore').click(function() {

                                 var settoreSelezionato = $(this).parent().attr('val') //$('#settoriDisponibili').val();

                                  swal({
                                    title: 'Eliminazione settore '+ settoreSelezionato,
                                    text: 'sicuro di voler procedere?',
                                    showCancelButton: true,
                                    confirmButtonColor: '#DD6B55',
                                    confirmButtonText: 'Ok',
                                    cancelButtonText: 'annulla',
                                    closeOnConfirm: true,

                                  }, function (isConfirm) {

                                          if (isConfirm) {

                                               socketPrezzario.emit("elimina_settore", {'dip': '{{dipendente.username}}', 'settore': settoreSelezionato});

                                          }

                                  })


                            });


                    }
                }




           });

   </script>

   <script>

            var socketHome = io.connect("{{sockUrl}}"+'/home');


            socketHome.on('connect', function() {
                console.log('connected listino');


                socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
            });


   </script>

    <script>

        //variabili globale per il meccanismo di modifica delle lavorazioni
        var modificaAttiva=false;
        var oldTipologia="";

        var socketPrezzario= io.connect("{{sockUrl}}"+'/prezzario');


        socketPrezzario.on('aggiornaPagina', function() {
            location.reload();

        });

        socketPrezzario.on('abortAggiorna', function(message) {
                swal({
                      title: message["what"] + " già presente",
                      type: 'error',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: "Ok",

                 });
        });

        $('#settoriDisponibili').change( function() {

          socketPrezzario.emit('cambia_settore_prezzario', {"dip": "{{dipendente.username}}", "settore": $(this).val() })

        });

        $('#addSettore').click(function() {

              swal.withForm({
                title: 'Aggiungi un nuovo settore',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,
                formFields: [

                  { id: 'newSettore', placeholder: 'Inserire il nome del nuovo settore' }


                ]
              }, function (isConfirm) {

                      if (isConfirm) {
                            var form=this.swalForm
                            socketPrezzario.emit("registra_settore",
                               { 'dip': '{{dipendente.username}}', 'settore': form['newSettore'] });

                      }

              })

        });




       function registraLavorazione() {

            var titleTxt="";

            if(modificaAttiva)
            {
                titleTxt="Si sta per modificare una lavorazione già presente";
            }else
                titleTxt='Si sta per aggiungere una nuova lavorazione';

          swal({
            title: titleTxt,
            text: 'Sicuro di voler continuare?',
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ok',
            cancelButtonText: 'annulla',
            closeOnConfirm: true

          }, function (isConfirm) {

                  if (isConfirm) {

                        var textareaOfLavorazione = [];
                        var inputOfLavorazione =  [];
                        var selectOfLavorazione = [];

                         $("#trForm textarea").each(function(index){
                            textareaOfLavorazione.push($(this).val());

                        });


                        $("#trForm input").each(function(index){
                            inputOfLavorazione.push($(this).val());

                        });

                        $("#trForm select").each(function(index){
                            selectOfLavorazione.push($(this).val());

                        });

                         //se non è stato impostato il tipo di lavorazione non fare nulla
                        if( textareaOfLavorazione[0] == "" )
                            return;

                        // se forniture e posa vengono specificate setta costo come la loro somma
                        if( inputOfLavorazione[0] != 0 || inputOfLavorazione[1] != 0 )
                            inputOfLavorazione[2] = parseInt(inputOfLavorazione[0]) + parseInt(inputOfLavorazione[1]);

                        if(!modificaAttiva){

                            socketPrezzario.emit("registra_lavorazione", { "dip": "{{dipendente.username}}", "settore": $("#settoriDisponibili").val(),
                                                                           "tipologia" : textareaOfLavorazione[0],
                                                                            "pertinenza": selectOfLavorazione[0], "unita": selectOfLavorazione[1],
                                                                            "fornitura": inputOfLavorazione[0], "posa": inputOfLavorazione[1],
                                                                             "costo": inputOfLavorazione[2], "pMin" : inputOfLavorazione[3],
                                                                             "pMax": inputOfLavorazione[4], "dimensione": inputOfLavorazione[5],
                                                                              "note": textareaOfLavorazione[1]});
                        }
                        else{
                             socketPrezzario.emit("modifica_lavorazione", { "dip": "{{dipendente.username}}", "oldTipologia": oldTipologia,
                                                                                "settore": $("#settoriDisponibili").val(),
                                                                               "tipologia" : textareaOfLavorazione[0],
                                                                                "pertinenza": selectOfLavorazione[0], "unita": selectOfLavorazione[1],
                                                                                "fornitura": inputOfLavorazione[0], "posa": inputOfLavorazione[1],
                                                                                 "costo": inputOfLavorazione[2], "pMin" : inputOfLavorazione[3],
                                                                                 "pMax": inputOfLavorazione[4], "dimensione": inputOfLavorazione[5],
                                                                                  "note": textareaOfLavorazione[1]});
                             modificaAttiva=false;


                        }
                  }



          })
       }


        $(".delLavorazione").click(function() {
            var setDisp = $('#settoriDisponibili').val();
            var lavSel = $(this).closest('.rowBodyTab').children('.tipologia').text();
            swal({
                title: 'Eliminazione lavorazione '+ lavSel,
                text: 'sicuro di voler procedere?',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok',
                cancelButtonText: 'annulla',
                closeOnConfirm: true,

            }, function (isConfirm) {

                  if (isConfirm) {

                         socketPrezzario.emit('elimina_lavorazione', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                   'tipologia': lavSel });

                  }

            })


        });

        $(".segnalaLavorazione").click(function() {
            var setDisp = $('#settoriDisponibili').val();
            var lavSel = $(this).closest('.rowBodyTab').children('.tipologia').text();


            if(!$(this).closest('tr').hasClass('daVerificare') ){

                var setDisp = $('#settoriDisponibili').val();
                console.log("sono checkkato " + setDisp);
                socketPrezzario.emit('setta_daVerificare', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                           'tipologia': lavSel,'valore': true});
            }
            else {
              var setDisp = $('#settoriDisponibili').val();
              socketPrezzario.emit('setta_daVerificare', {'dip': '{{dipendente.username}}', 'settore': setDisp,
                                                       'tipologia': lavSel,'valore': false});

            }

        });



        $(".modLavorazione").click(function() {

           if( modificaAttiva ){
                $('.inModifica').removeClass('inModifica');


           }
            else {

                modificaAttiva=true;
                $('#trForm').show();
                $('#showForm').removeClass('fa');
                $('#showForm').removeClass('fa-plus');
                /*$('#bodyPrezzario').css('height', '81%');*/
           }


           $(this).closest('tr').addClass("inModifica");





            var datiLavorazione=[]
            $(".inModifica td").each(function(index){
                datiLavorazione.push($(this).text());

            });

            console.log(datiLavorazione);

            oldTipologia = datiLavorazione[1];
            $("#tipologiaTextarea").val( datiLavorazione[1]);
            $("#pertinenzaSelect").val(datiLavorazione[2]);
            $("#unitaSelect").val(datiLavorazione[3]);



            $( "#fornituraInput", parseInt(datiLavorazione[4].substring(1, datiLavorazione[4].length)) );


            $( "#posaInput", parseInt(datiLavorazione[5].substring(1, datiLavorazione[5].length)));
            $( "#costoInput",  parseInt(datiLavorazione[6].substring(1, datiLavorazione[6].length)));
            $( "#pMinInput",  parseInt(datiLavorazione[7].substring(1, datiLavorazione[7].length)));
            $( "#pMaxInput",  parseInt(datiLavorazione[8].substring(1, datiLavorazione[8].length)));
            $( "#dimensioneInput",  datiLavorazione[9]);
            $( "#noteTextarea",   datiLavorazione[10]);

            $(this).closest('tr').removeClass("inModifica");



        });

    </script>



{% endblock %}