{% extends "paginaBase.html" %}

{% block content %}

    <div id="page-wrapper">

        <header id="header" data-ng-include="'header'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'sidebarLeft'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

        <div id="schedaArtigiani" class="scheda">

            <div id="headerNewRow">
                <div id="tabellaContainerNewRow1">
                    <table class="tabella">
                        <tr class="sezioneTabella dimensionaTabella newRow">
                            <th class="primaCol"><a id="regNewRow" class="fa fa-check primaColIcon"></a><a id="delNewRow" class="fa fa-close primaColIcon"></a></th>
                            <th class="secondaCol" colspan="6">
                                <label>Selezionare/digitare l'impiego dell'artigiano: </label>
                                <input id="impostaImpieghi" list="listaImpieghi" class="inputScheda" placeholder="impiego artigiano..">
                            </th>
                        </tr>
                        <tr class="headerTabella dimensionaTabella newRow">
                            <th class="primaCol"></th>
                            <th > Nominativo </th>
                            <th class="numCell"> Valutazione </th>
                            <th> Contatti 1 </th>
                            <th> Contatti 2 </th>
                            <th> Email </th>
                            <th> Note </th>
                        </tr>
                         <tr class="datiScheda dimensionaTabella newRow">
                            <td class="primaCol"></td>
                            <td class="nominativo no_cursor">
                                <input class="inputScheda" value="" placeholder="tipologia lavorazione..." >
                            </td>
                            <td class="valutazione no_cursor numCell">
                                <input class="inputScheda inputNum" type="number" value=0 >
                            </td>
                            <td class="contatti1 no_cursor">
                                <input class="inputScheda" value="" placeholder="contatti 1..." >
                            </td>
                            <td class="contatti2 no_cursor">
                                <input class="inputScheda" value="" placeholder="contatti 2..." >
                            </td>
                            <td class="email no_cursor">
                                <input class="inputScheda" value="" placeholder="email..." >
                            </td>
                            <td class="note no_cursor">
                                <textarea class="inputScheda" value="" placeholder="note..." ></textarea>
                            </td>
                         </tr>

                    </table>
                </div>
            </div>

            <div class="fc-toolbar fc-header-toolbar filterZoneScheda">

                <div id="filtersContainer">
                    <div class="containerTitle"><h2>Filtri di Ricerca</h2></div>
                    <div id="filters">
                        <div class="filterInputContainer mansioni">
                            <input id="filtraImpieghi" list="listaImpieghi" autocomplete="off" class="filterInput" placeholder="Selezionare l'impiego...">

                        </div>

                        <div class="filterInputContainer artigiani">
                            <input id="filtraArtigiani" list="listArtigiani" autocomplete="off" class="filterInput" placeholder="Selezionare l'artigiano...">

                        </div>
                    </div>
                </div>
                <div class="delModLists headerSection">
                    <div class="containerTitle"><h2>Modifica/cancella</h2></div>
                    <div class="filterInputContainer">
                        <label for="modDelImpiego">Impieghi</label><br/>
                        <select id="modDelImpiego" class="delModList">
                            {% for impiego in impieghi %}

                                <option>{{impiego.nome}}</option>

                            {% endfor %}
                        </select>
                        <a class="fa fa-edit editLista iconLista"></a>
                        <a class="fa fa-trash delLista iconLista"></a>

                    </div>
                </div>



            </div>
            <div class="fc-view-container viewContainer">
                <div id="tabellaContainer">
                    <table class="tabella">
                        <tr class="headerDelHeader dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="6" class="secondaCol"></th>

                        </tr>
                        <tr class="headerTabella dimensionaTabella">
                            <th class="primaCol"><a class="fa fa-plus" id="addRow"></a></th>
                            <th> Nominativo </th>
                            <th class="numCell"> Valutazione </th>
                            <th> Contatti 1 </th>
                            <th> Contatti 2 </th>
                            <th> Email </th>
                            <th> Note </th>

                        </tr>
                       <!--  <tr class="sezioneTabella dimensionaTabella">
                            <th class="primaCol"></th>
                            <th colspan="7">Impiego: idraulico</th>
                        </tr>
                        <tr class="datiScheda dimensionaTabella">
                            <td class="primaCol"><a class="fa fa-trash primaColIcon"></a></td>
                            <td><label class="cellaDato">Beghini Marco</label><input style="display:none" class="inputScheda" value="Beghini Marco" placeholder="nome artigiano..." ></td>
                            <td><label class="cellaDato">3</label><input style="display:none" type="number" class="inputScheda" value="3" placeholder="valutazione artigiano..." ></td>
                            <td><label class="cellaDato">328 9773545</label><input style="display:none" type="tel" class="inputScheda" value="328 9773545" placeholder="contatto 1..." ></td>
                            <td><label class="cellaDato"></label><input style="display:none" type="tel" class="inputScheda" value="Beghini Marco" placeholder="contatto 2..." ></td>
                            <td><label class="cellaDato">termoidraula@gmail.com</label><input style="display:none" type="email" class="inputScheda" value="termoidraula@gmail.com" placeholder="email artigiano..." ></td>
                            <td><label class="cellaDato"></label><input style="display:none" class="inputScheda" value="" placeholder="nome artigiano..." ></td>

                        </tr> -->
                    </table>

                </div>
            </div>
        </div>

        <datalist id="listaImpieghi">
            {% for impiego in impieghi %}
                <option>{{impiego.nome}}</option>
            {% endfor %}
        </datalist>

        <datalist id="listArtigiani">
        </datalist>
    </div>

    <script>

        var socketHome = io.connect("{{sockUrl}}"+'/home');


        socketHome.on('connect', function() {

            socketHome.emit('registra_sid',   {'username': '{{dipendente.username}}'} );
        });

        var socketArtigiani = io.connect("{{sockUrl}}"+'/artigiani');

        var artigianoInListaArtigiani = function(artigiano){

            var toAdd = true;

            $('#listArtigiani').children('option').each(function(){
                if( $(this).val() == artigiano ){
                    toAdd = false;
                }
            });

            if( toAdd ){
                $('#listArtigiani').append('<option>'+artigiano+'</option>');
            }
        }

        $('.datiScheda td').click( function(){
            $(this).children('label').hide();
            $(this).children('input').show();
        });

        $('.primaCol').unbind('click');


        $('.iconLista').click(function(){

            var $selectEl=$(this).parent().children('select');
            var selectedVal=$(this).parent().children('select').val();
            var lista=$(this).parent().children('select').attr('id');

            if( $(this).hasClass('editLista') ){

                swal.withFormAsync({
                    title: 'Modifica valore "'+selectedVal+'"',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,
                    formFields: [
                        { id: 'valore', name: 'valore', value: selectedVal},

                    ]
                }).then(function (context) {
                    if(context._isConfirm){
                      $selectEl.children('option').each(function(){
                        if($(this).val() == selectedVal ){
                            $(this).val(context.swalForm['valore'] );
                            $(this).text(context.swalForm['valore']);
                        }
                      });

                      $('#listaImpieghi').children('option').each(function(){
                            if($(this).text() == selectedVal ){
                                $(this).val(context.swalForm['valore']);
                                $(this).text('');
                            }
                      });


                      $('#tabellaContainer tbody.'+selectedVal).each(function(){
                        $(this).children('tr.sezioneTabella').children('.secondaCol').text('Impiego: '+context.swalForm['valore']);
                      });


                      $('tbody.'+selectedVal).each(function(){
                        $(this).removeClass(selectedVal);
                        $(this).addClass(context.swalForm['valore'])
                      });




                      socketArtigiani.emit('modifica_impiego', {'oldNome': selectedVal, 'newNome': context.swalForm['valore']});
                    }

                });


            }
            else if( $(this).hasClass('delLista') ){
                swal({
                    title: 'Stai per eliminare "'+selectedVal+'" e i relativi artigiani',
                    text: 'vuoi continuare?',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'annulla',
                    closeOnConfirm: true,

                }, function(isConfirm){
                    if( isConfirm ){

                        $selectEl.children('option').each(function(){

                            if($(this).val() == selectedVal )
                                $(this).remove();
                        });

                        $('#listaImpieghi').children('option').each(function(){
                            if($(this).text() == selectedVal )
                                $(this).remove();
                        });

                        $('tbody.'+selectedVal).each(function(){
                            $(this).remove();
                        });

                        socketArtigiani.emit('elimina_impiego', {'nome': selectedVal});

                    }


                });

            }
        });

        var pulisciHeaderNewRow = function(){

            $('#headerNewRow input').each(function(){
                if($(this).hasClass('inputNum'))
                    $(this).val(0);
                else
                {
                    $(this).val('');

                }
            });

            $('#headerNewRow textarea').each(function(){

                $(this).val('');

            });

        }

        $('#delNewRow').click(function(){


            $('#headerNewRow').animate({'margin-top': '-=11%'});

            $('#addRow').click(function(){
                $(this).unbind('click');
                $('#headerNewRow').animate({'margin-top': '+=11%'});

            });

            pulisciHeaderNewRow();

        });

        $('#addRow').click(function(){
            $(this).unbind('click');
            $('#headerNewRow').animate({'margin-top': '+=11%'});

        });

        var hiddenInputAction = function($this){

            $('.inModifica').each(function(){
                $(this).removeClass('inModifica');
                $(this).children('label').show();
                $(this).children('input').hide();
                $(this).children('textarea').hide();


            });


            $this.addClass('inModifica');
            $this.children('label').hide();
            $this.children('input').show();
            $this.children('textarea').show();

        }

        var verificaImpiegoVuoto = function(){

             /*se una sezione rimane senza artigiano elimino l'impiego*/
                var eliminaImpiego= function($this){
                   var counter = 0;

                   $this.children('tr').each(function(){
                        counter++;

                   });


                   if( counter == 1 ){

                    $this.remove();
                   }

                }

                $('#tabellaContainer tbody').each(function(){
                   eliminaImpiego($(this));
                });


        }

        var cancellaRiga = function($row){

            var impiego=$row.parent().attr('class');
            var nominativo=$row.children('td.nominativo_saved').children('input').val();

            socketArtigiani.emit('elimina_artigiano', {

                'dip': '{{dipendente.username}}',
                'impiego': impiego,
                'nominativo': nominativo

            });

            socketArtigiani.on('conferma_elimina_artigiano', function(){

                $row.remove();

                verificaImpiegoVuoto();

            });

        }

        var aggiungiRiga = function(){

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $impiego = $sezioneTabella1.children('th.primaCol').next('th').children('input');
            var $nominativo = $datiScheda1.children('td.nominativo').children('input');
            var $valutazione = $datiScheda1.children('td.valutazione').children('input');
            var $contatti1 = $datiScheda1.children('td.contatti1').children('input');
            var $contatti2 = $datiScheda1.children('td.contatti2').children('input');
            var $email = $datiScheda1.children('td.email').children('input');
            var $note = $datiScheda1.children('td.note').children('textarea');


             var $table=$('#tabellaContainer').children('table');

            var impiegoEsistente=false;

            $table.children('tbody').each(function(){
                if( $(this).attr('class') == $impiego.val() ){
                    impiegoEsistente = true;
                }
            });

            if( !impiegoEsistente ){
                $table.append(
                    '<tbody class="'+$impiego.val()+'"> \
                        <tr class="sezioneTabella dimensionaTabella""> \
                            <th class="primaCol"></th> \
                            <th class="secondaCol" colspan="6">Impiego: '+$impiego.val()+'</th> \
                        </tr> \
                    <tbody>'
                );

            }
            var $tbodyToExpand=null;

            $table.children('tbody').each(function(){
                if( $(this).attr('class') == $impiego.val() ){
                    $tbodyToExpand=$(this);
                }
            });

            artigianoInListaArtigiani($nominativo.val())

            var datiSchedaNewRow=$(
                        '<tr class="datiScheda dimensionaTabella"> \
                            <td class="primaCol"> \
                                <a class="fa fa-trash primaColIcon delRow"></a> \
                                <div class="divColorChoose"> \
                                    <input type="radio" name="colorChoose" class="yellow" value="yellow"> \
                                    <input type="radio" name="colorChoose" class="blue" value="blue"> \
                                    <input type="radio" name="colorChoose" class="green" value="green"> \
                                    <input type="radio" name="colorChoose" class="gray" value="gray"> \
                                    <input type="radio" name="colorChoose" class="white" value="white"> \
                                    <span class="spanColorChoose yellow"> </span> \
                                    <span class="spanColorChoose blue"> </span> \
                                    <span class="spanColorChoose green"> </span> \
                                    <span class="spanColorChoose gray"> </span> \
                                    <span class="spanColorChoose white"> </span> \
                                </div> \
                            </td> \
                            <td class="nominativo_saved" style="display:none"> \
                                <input  class="inputScheda" value="'+$nominativo.val()+'" placeholder="nome artigiano..." > \
                            </td> \
                            <td class="nominativo hiddenInput"> \
                                <label class="cellaDato">'+$nominativo.val()+'</label> \
                                <input style="display:none" class="inputScheda" value="'+$nominativo.val()+'" placeholder="nome artigiano..." > \
                            </td> \
                            <td class="valutazione hiddenInput numCell"> \
                                <label class="cellaDato">'+$valutazione.val()+'</label> \
                                <input style="display:none" type="number" class="inputScheda inputNum" value="'+$valutazione.val()+'" placeholder="valutazione artigiano..." > \
                            </td> \
                            <td class="contatti1 hiddenInput"> \
                                <label class="cellaDato">'+$contatti1.val()+'</label> \
                                <input style="display:none" type="tel" class="inputScheda" value="'+$contatti1.val()+'" placeholder="contatto 1..." > \
                            </td> \
                            <td class="contatti2 hiddenInput"> \
                                <label class="cellaDato">'+$contatti2.val()+'</label> \
                                <input style="display:none" type="tel" class="inputScheda" value="'+$contatti2.val()+'" placeholder="contatto 2..." > \
                            </td> \
                            <td class="email hiddenInput"> \
                                <label class="cellaDato">'+$email.val()+'</label> \
                                <input style="display:none" type="email" class="inputScheda" value="'+$email.val()+'" placeholder="email artigiano..." > \
                            </td> \
                            <td class="note hiddenInput"> \
                                <label class="cellaDato">'+$note.val()+'</label> \
                                <input style="display:none" class="inputScheda" value="'+$note.val()+'" placeholder="note artigiano..." > \
                            </td> \
                        </tr>').appendTo($tbodyToExpand);


            $('td.hiddenInput').click( function(){
                hiddenInputAction($(this));

            });


            datiSchedaNewRow.children('td.primaCol').children('div').children('input').change(function(){



                var color = $(this).attr('class');

                datiSchedaNewRow.css('background', color);

                if( color != 'yellow' && color != 'white' ){
                    datiSchedaNewRow.css('color', 'white');
                }
                else
                    datiSchedaNewRow.css('color', '#797877');


                var $riga=$(this).parent().parent().parent();
                var impiego= $riga.parent().attr('class');
                var nominativo = $riga.children('td.nominativo_saved').children('input').val();

                socketArtigiani.emit('modifica_colore_artigiano', {

                    'impiego': impiego,
                    'nominativo': nominativo,
                    'colore': color

                });

            });

            datiSchedaNewRow.children('td.primaCol').children('div').children('span.spanColorChoose').click(function(){

                var color = $(this).attr('class').split(' ')[1];
                $(this).parent().children('input.'+color).trigger('click');
                $(this).parent().children('input.'+color).trigger('change');

            });


            datiSchedaNewRow.children('td.primaCol').children('a.delRow').click(function(){

                cancellaRiga(datiSchedaNewRow);
            });

            $('input').unbind('mouseover').mouseover(function(){
                $(this).focus();
            });

            $('textarea').unbind('mouseover').mouseover(function(){
                $(this).focus();
            });

            var changeValueArtigiano = function($this){

                var $container=$this.parent();
                var $row = $container.parent();
                var impiego = $row.parent().attr('class');
                var nominativo=$row.children('td.nominativo_saved').children('input').val();

                var attributoToEdit=$container.attr('class').split(' ')[0];
                var valore = $this.val()

                if( attributoToEdit == 'note' ){
                    valore= $this.val().replace( /\r?\n/gi, '');

                }

                socketArtigiani.emit('modifica_artigiano',
                    {
                        'dip' : '{{dipendente.username}}',
                        'impiego' : impiego,
                        'nominativo' : nominativo,
                        'toEdit' : attributoToEdit,
                        'valore' : valore
                    }
                );

                socketArtigiani.on('conferma_modifica_artigiano', function(){

                    $('.inModifica').each(function(){

                        $(this).children('label').show();
                        $(this).children('input').hide();
                        $(this).children('textarea').hide();

                        $(this).removeClass('inModifica');
                    });


                    if( $container.hasClass('numCell') ){
                        if($container.hasClass('fornitura') || $container.hasClass('posa') ){
                            calcolaCostoFornituraPosa(datiSchedaNewRow);
                        }
                        $container.children('label.cellaDato').html('&euro; '+valore);
                    }
                    else{
                        $container.children('label.cellaDato').html(valore);
                    }


                    if( attributoToEdit == 'nominativo' ){
                        $row.children('td.nominativo_saved').children('input').val(valore);
                    }

                });


            }

            $('#tabellaContainer input').each(function(){

                if( $(this).attr('type') != 'radio' ){
                    $(this).unbind('change').change(function(){

                        changeValueArtigiano($(this));
                    });
                }


            });

            $('#tabellaContainer textarea').unbind('change').change(function(){

                changeValueArtigiano($(this));
            });

            return datiSchedaNewRow;

        } //FINE AGGIUNGI RIGA

        $('#regNewRow').click(function(){

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');
            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');
            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $impiego = $sezioneTabella1.children('th.primaCol').next('th').children('input');
            var $nominativo = $datiScheda1.children('td.nominativo').children('input');
            var $valutazione = $datiScheda1.children('td.valutazione').children('input');
            var $contatti1 = $datiScheda1.children('td.contatti1').children('input');
            var $contatti2 = $datiScheda1.children('td.contatti2').children('input');
            var $email = $datiScheda1.children('td.email').children('input');
            var $note = $datiScheda1.children('td.note').children('textarea');

            if( $impiego.val() == "" ){
                swal({
                    title: 'Il campo "impiego" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }

            if( $nominativo.val() == "" ){
                swal({
                    title: 'Il campo "nominativo" non può essere lasciato vuoto',
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok',
                    closeOnConfirm: true,

                });

                return;
            }


            socketArtigiani.emit('registra_artigiano', {
                'dip' : '{{dipendente.username}}',
                'impiego' : $impiego.val(),
                'nominativo' : $nominativo.val(),
                'valutazione' : $valutazione.val(),
                'contatti1' : $contatti1.val(),
                'contatti2' : $contatti2.val(),
                'email' : $email.val(),
                'note' : $note.val()

            });



        });

        socketArtigiani.on('confermaRegistrazioneArtigiano', function(){

            aggiungiRiga();

            pulisciHeaderNewRow();

        });

        {% for artigiano in artigiani %}

            var $tbodyNewRow1=$('#tabellaContainerNewRow1').children('table').children('tbody');

            var $sezioneTabella1=$tbodyNewRow1.children('.sezioneTabella');

            var $datiScheda1=$tbodyNewRow1.children('.datiScheda');


            $sezioneTabella1.children('th.primaCol').next('th').children('input').val('{{artigiano.impiego}}');

            $datiScheda1.children('td.nominativo').children('input').val('{{artigiano.nominativo}}');
            $datiScheda1.children('td.valutazione').children('input').val('{{artigiano.valutazione}}');
            $datiScheda1.children('td.contatti1').children('input').val('{{artigiano.contatti1}}');
            $datiScheda1.children('td.contatti2').children('input').val('{{artigiano.contatti2}}');
            $datiScheda1.children('td.email').children('input').val('{{artigiano.email}}');
            $datiScheda1.children('td.note').children('textarea').val('{{artigiano.note}}');

            var $riga= aggiungiRiga();

            $riga.children('td.primaCol').children('div').children('span.{{artigiano.colore}}').trigger('click');

            pulisciHeaderNewRow();


        {% endfor %}

        var filtraTbody = function($tabella, classe){

            if( classe != '' ){
                $tabella.children('table').children('tbody').each(function(){
                    var tbodyClass = $(this).attr('class');

                    if( tbodyClass !== undefined ){

                        if( !tbodyClass.startsWith(classe) ){
                            $(this).hide();
                        }
                        else if( tbodyClass.startsWith(classe) ){
                            $(this).show();
                        }

                    }
                });
            }
            else{
                $tabella.children('table').children('tbody').each(function(){
                    $(this).show();
                });

            }
        }

        var filtraRighe = function($tabella, nominativo){

            if( nominativo != '' ){

                $tabella.children('table').children('tbody').each(function(){

                    var tbodyClass = $(this).attr('class');

                    if( tbodyClass !== undefined ){
                        var hideTbody = false;
                        var countRow = 0;
                        var countHiddenRow = 0;


                        $(this).children('tr.datiScheda').each( function(){
                            var trNominativo = $(this).children('td.nominativo_saved').children('input').val();

                            countRow++;

                            if( trNominativo.startsWith(nominativo) ){
                                $(this).show();
                            }
                            else{
                                countHiddenRow++;
                                $(this).hide();
                            }

                        });

                        if( countRow == countHiddenRow ){
                            $(this).hide();

                        }
                    }
                });

            }
            else{

                $tabella.children('table').children('tbody').each(function(){

                    $(this).show();

                    $(this).children('tr.datiScheda').each( function(){
                        $(this).show();
                    });


                });


            }

        }

        $('#filtraImpieghi').change(function(){

            filtraTbody( $('#tabellaContainer'), $(this).val());
        });

        $('#filtraImpieghi').keydown(function(){


            $(this).trigger('change');

        });

        $('#filtraArtigiani').change(function(){

            filtraRighe( $('#tabellaContainer'), $(this).val());
        });

        $('#filtraArtigiani').keydown(function(){


            $(this).trigger('change');

        });

    </script>
{% endblock%}