<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="{{url_for('static', filename='immaginiProfilo/'+dipendente.immagine_profilo ) }}" alt="">
            </div>

            <div class="profile-info">
                {{dipendente.nome}} {{dipendente.cognome}}

            </div>
        </a>

    </div>

    <ul class="main-menu">
        <li>
            <a href="{{url_for('paginaProfilo')}}"><i class="zmdi zmdi-account"></i> Pagina Profilo</a>
        </li>

        {%if dipendente.dirigente %}
        <li class="sub-menu" >
            <a href="" toggle-submenu><i class="zmdi zmdi-storage"></i> Database </a>
            <ul>
                <li><a href="{{ url_for('prezzarioEdile') }}">Prezzario Edile</a></li>
                <li><a href="{{ url_for('prezzarioProdotti') }}">Prezzario Prodotti</a></li>
                <li><a href="{{ url_for('prezzarioProdotti2') }}">Prezzario Prodotti2</a></li>
                <li><a href="{{ url_for('schedaFornitori') }}">Scheda Fornitori</a></li>
                <li><a href="{{ url_for('schedaFornitori2') }}">Scheda Fornitori2</a></li>
                <li><a href="{{ url_for('schedaArtigiani') }}">Scheda Artigiani</a></li>
            </ul>
        </li>
        {% endif %}
        <li>
        <li>
            <a href="{{ url_for('logout') }}"><i class="zmdi zmdi-time-restore"></i> Logout</a>
        </li>

    </ul>


</div>
