.headerTable {
    background-color: indigo;
}

.titleTable {
    background-color: #0d156f;
}

div#tabReults {
    width: 100%;
}

.featuresContabilita {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    margin: 0 0 0.5em 0;
}

input.inputNumber {
    width: 45%;
    color: black;
}

.red{
    color: red;
}

.green{
    color: #05ff05;
}

#aggiungiImprevisti{
    cursor: pointer;
}

.eliminaImprevisto{
    cursor: pointer;
}

td.tdArtigiano {
    width: 15%;
}
